.component{
  &:focus-visible {
    animation-name: outward-grow, outward-shrink;
    animation-delay: 0s, calc(var(--motion-duration-long4) * 0.25);
    animation-duration: calc(var(--motion-duration-long4) * 0.25), calc(var(--motion-duration-long4) * 0.75);
    animation-timing-function: var(--motion-easing-emphasized);

    outline: 3px solid var(--color-secondary);
    outline-offset: -2px;
  } 

  &::-moz-focus-inner {
    outline: none;
  }
}

a:not(.component):focus-visible {
  text-decoration: underline;
} 

@keyframes outward-grow {
  from {
    outline-width: 0px;
  }
  to {
    outline-width: 8px;
  }
}

@keyframes outward-shrink {
  from {
    outline-width: 8px;
  }
}