:not(.dark).high-contrast {
  /* SHARED MC,HC */
  --color-on-primary-fixed:             var(--palette-primary-100);
  --color-on-primary-fixed-variant:     var(--palette-primary-100);
  --color-on-secondary-fixed:           var(--palette-secondary-100);
  --color-on-secondary-fixed-variant:   var(--palette-secondary-100);
  --color-on-tertiary-fixed:            var(--palette-tertiary-100);
  --color-on-tertiary-fixed-variant:    var(--palette-tertiary-100);
  --color-on-primary-container:         var(--palette-primary-100);
  --color-on-secondary-container:       var(--palette-secondary-100);
  --color-on-tertiary-container:        var(--palette-tertiary-100);
  --color-on-error-container:           var(--palette-error-100);
  
  /* || Add on color roles */

  /* Fixed Accent Colors */
  --color-primary-fixed:                var(--palette-primary-30);
  --color-primary-fixed-dim:            var(--palette-primary-20);
  --color-secondary-fixed:              var(--palette-secondary-30);
  --color-secondary-fixed-dim:          var(--palette-secondary-20);
  --color-tertiary-fixed:               var(--palette-tertiary-30);
  --color-tertiary-fixed-dim:           var(--palette-tertiary-20);
  
  --color-on-surface-variant:           var(--palette-neutral-variant-10);
  --color-inverse-on-surface:           var(--palette-neutral-100);
  --color-inverse-primary:              var(--palette-primary-95);
  
  /* || Main */

  /* Primary */
  --color-primary:                      var(--palette-primary-10);
  --color-primary-container:            var(--palette-primary-30);
  
  /* Secondary */
  --color-secondary:                    var(--palette-secondary-10);
  --color-secondary-container:          var(--palette-secondary-30);
  
  /* Tertiary */
  --color-tertiary:                     var(--palette-tertiary-10);
  --color-tertiary-container:           var(--palette-tertiary-30);
  
  /* Error */
  --color-error:                        var(--palette-error-10);
  --color-error-container:              var(--palette-error-30);

  /* || Surface */
  
  /* On surface roles */
  --color-on-surface:                   var(--palette-neutral-10);
  
  
  /* Outline */
  --color-outline:                      var(--palette-neutral-variant-30);
  --color-outline-variant:              var(--palette-neutral-variant-30);

  /* || Semantic */
  
  /* Warning */
  --color-warning:                      var(--palette-warning-10);
  --color-warning-container:            var(--palette-warning-30);
  --color-on-warning-container:         var(--palette-warning-100);
  
  /* Caution */
  --color-caution:                      var(--palette-caution-10);
  --color-caution-container:            var(--palette-caution-30);
  --color-on-caution-container:         var(--palette-caution-100);
  
  /* Important */
  --color-important:                    var(--palette-important-10);
  --color-important-container:          var(--palette-important-30);
  --color-on-important-container:       var(--palette-important-100);
  
  /* Pinned */
  --color-pinned:                       var(--palette-pinned-10);
  --color-pinned-container:             var(--palette-pinned-30);
  --color-on-pinned-container:          var(--palette-pinned-100);
  
  /* Verse */
  --color-verse:                        var(--palette-verse-10);
  --color-verse-container:              var(--palette-verse-30);
  --color-on-verse-container:           var(--palette-verse-100);
  
  /* Export */
  --color-export:                       var(--palette-export-10);
  --color-export-container:             var(--palette-export-30);
  --color-on-export-container:          var(--palette-export-100);
  
  /* Query */
  --color-query:                        var(--palette-query-10);
  --color-query-container:              var(--palette-query-30);
  --color-on-query-container:           var(--palette-query-100);
  
  /* Note */
  --color-note:                         var(--palette-note-10);
  --color-note-container:               var(--palette-note-30);
  --color-on-note-container:            var(--palette-note-100);
  
  /* Tip */
  --color-tip:                          var(--palette-tip-10);
  --color-tip-container:                var(--palette-tip-30);
  --color-on-tip-container:             var(--palette-tip-100);
  
  /* Example */
  --color-example:                      var(--palette-example-10);
  --color-example-container:            var(--palette-example-30);
  --color-on-example-container:         var(--palette-example-100);
  
  /* Comment */
  --color-comment:                      var(--palette-comment-10);
  --color-comment-container:            var(--palette-comment-30);
  --color-on-comment-container:         var(--palette-comment-100);
  
  /* Quote */
  --color-quote:                        var(--palette-quote-10);
  --color-quote-container:              var(--palette-quote-30);
  --color-on-quote-container:           var(--palette-quote-100);

  /* || Classic */

  /* 30 */
  --color-sub30:                        var(--palette-sub30-10);
  --color-sub30-container:              var(--palette-sub30-30);
  --color-on-sub30-container:           var(--palette-sub30-100);
  --color-add30:                        var(--palette-add30-10);
  --color-add30-container:              var(--palette-add30-30);
  --color-on-add30-container:           var(--palette-add30-100);
  
  /* 60 */
  --color-sub60:                        var(--palette-sub60-10);
  --color-sub60-container:              var(--palette-sub60-30);
  --color-on-sub60-container:           var(--palette-sub60-100);
  --color-add60:                        var(--palette-add60-10);
  --color-add60-container:              var(--palette-add60-30);
  --color-on-add60-container:           var(--palette-add60-100);
  
  /* 90 */
  --color-sub90:                        var(--palette-sub90-10);
  --color-sub90-container:              var(--palette-sub90-30);
  --color-on-sub90-container:           var(--palette-sub90-100);
  --color-add90:                        var(--palette-add90-10);
  --color-add90-container:              var(--palette-add90-30);
  --color-on-add90-container:           var(--palette-add90-100);
  
  /* 120 */
  --color-sub120:                       var(--palette-sub120-10);
  --color-sub120-container:             var(--palette-sub120-30);
  --color-on-sub120-container:          var(--palette-sub120-100);
  --color-add120:                       var(--palette-add120-10);
  --color-add120-container:             var(--palette-add120-30);
  --color-on-add120-container:          var(--palette-add120-100);
  
  /* 150 */
  --color-sub150:                       var(--palette-sub150-10);
  --color-sub150-container:             var(--palette-sub150-30);
  --color-on-sub150-container:          var(--palette-sub150-100);
  --color-add150:                       var(--palette-add150-10);
  --color-add150-container:             var(--palette-add150-30);
  --color-on-add150-container:          var(--palette-add150-100);
  
  /* 180 */
  --color-sub180:                       var(--palette-sub180-10);
  --color-sub180-container:             var(--palette-sub180-30);
  --color-on-sub180-container:          var(--palette-sub180-100);
  --color-add180:                       var(--palette-add180-10);
  --color-add180-container:             var(--palette-add180-30);
  --color-on-add180-container:          var(--palette-add180-100);
  
  /* Complementary - No harmonization */
  --color-complementary:                var(--palette-complementary-10);
  --color-complementary-container:      var(--palette-complementary-30);
  --color-on-complementary-container:   var(--palette-complementary-100);

  /* || Custom headings */
  --color-heading-2: var(--palette-neutral-90)
}

.high-contrast.dark {
  /* SHARED MC,HC */
  --color-on-primary-fixed:             var(--palette-primary-0);
  --color-on-secondary-fixed:           var(--palette-secondary-0);
  --color-on-tertiary-fixed:            var(--palette-tertiary-0);

  --color-on-primary:                   var(--palette-primary-0);
  --color-on-primary-container:         var(--palette-primary-0);
  --color-on-secondary:                 var(--palette-secondary-0);
  --color-on-secondary-container:       var(--palette-secondary-0);
  --color-on-tertiary:                  var(--palette-tertiary-0);
  --color-on-tertiary-container:        var(--palette-tertiary-0);
  --color-on-error-container:           var(--palette-error-0);

  /* */
  --color-secondary:                    var(--palette-secondary-100);
  --color-tertiary:                     var(--palette-tertiary-100);
  --color-inverse-on-surface:           var(--palette-neutral-0);
  --color-primary-fixed:                var(--palette-primary-95);
  --color-primary-fixed-dim:            var(--palette-primary-70);
  --color-secondary-fixed:              var(--palette-secondary-95);
  --color-tertiary-fixed:               var(--palette-tertiary-95);

  /* || Main */
  
  /* || Add on color roles */

  /* Fixed Accent Colors */
  --color-on-primary-fixed-variant:     var(--palette-primary-0);
  --color-on-secondary-fixed-variant:   var(--palette-secondary-0);
  --color-on-tertiary-fixed-variant:    var(--palette-tertiary-0);

  --color-secondary-fixed-dim:          var(--palette-secondary-80);
  --color-tertiary-fixed-dim:           var(--palette-tertiary-80);

  /* Primary */
  --color-primary:                      var(--palette-primary-100);
  --color-primary-container:            var(--palette-primary-70);
  
  /* Secondary */
  --color-secondary-container:          var(--palette-secondary-80);
  
  /* Tertiary */
  --color-tertiary-container:           var(--palette-tertiary-80);
  
  /* Error */
  --color-error:                        var(--palette-error-100);
  --color-on-error:                     var(--palette-error-0);
  --color-error-container:              var(--palette-error-30);

  /* || Surface */

  /* On surface roles */
  --color-on-surface-variant:           var(--palette-neutral-variant-100);
  
  /* Inverse */
  --color-inverse-primary:              var(--palette-primary-20);
  
  /* Outline */
  --color-outline:                      var(--palette-neutral-variant-80);
  --color-outline-variant:              var(--palette-neutral-variant-80);

  /* || Semantic */

  /* Warning */
  --color-warning:                      var(--palette-warning-100);
  --color-on-warning:                   var(--palette-warning-0);
  --color-warning-container:            var(--palette-warning-70);
  --color-on-warning-container:         var(--palette-warning-0);
  
  /* Caution */
  --color-caution:                      var(--palette-caution-100);
  --color-on-caution:                   var(--palette-caution-0);
  --color-caution-container:            var(--palette-caution-70);
  --color-on-caution-container:         var(--palette-caution-0);
  
  /* Important */
  --color-important:                    var(--palette-important-100);
  --color-on-important:                 var(--palette-important-0);
  --color-important-container:          var(--palette-important-70);
  --color-on-important-container:       var(--palette-important-0);
  
  /* Pinned */
  --color-pinned:                       var(--palette-pinned-100);
  --color-on-pinned:                    var(--palette-pinned-0);
  --color-pinned-container:             var(--palette-pinned-70);
  --color-on-pinned-container:          var(--palette-pinned-0);
  
  /* Verse */
  --color-verse:                        var(--palette-verse-100);
  --color-on-verse:                     var(--palette-verse-0);
  --color-verse-container:              var(--palette-verse-70);
  --color-on-verse-container:           var(--palette-verse-0);
  
  /* Export */
  --color-export:                       var(--palette-export-100);
  --color-on-export:                    var(--palette-export-0);
  --color-export-container:             var(--palette-export-70);
  --color-on-export-container:          var(--palette-export-0);
  
  /* Query */
  --color-query:                        var(--palette-query-100);
  --color-on-query:                     var(--palette-query-0);
  --color-query-container:              var(--palette-query-70);
  --color-on-query-container:           var(--palette-query-0);
  
  /* Note */
  --color-note:                         var(--palette-note-100);
  --color-on-note:                      var(--palette-note-0);
  --color-note-container:               var(--palette-note-70);
  --color-on-note-container:            var(--palette-note-0);
  
  /* Tip */
  --color-tip:                          var(--palette-tip-100);
  --color-on-tip:                       var(--palette-tip-0);
  --color-tip-container:                var(--palette-tip-70);
  --color-on-tip-container:             var(--palette-tip-0);
  
  /* Example */
  --color-example:                      var(--palette-example-100);
  --color-on-example:                   var(--palette-example-0);
  --color-example-container:            var(--palette-example-70);
  --color-on-example-container:         var(--palette-example-0);
  
  /* Comment */
  --color-comment:                      var(--palette-comment-100);
  --color-on-comment:                   var(--palette-comment-0);
  --color-comment-container:            var(--palette-comment-70);
  --color-on-comment-container:         var(--palette-comment-0);
  
  /* Quote */
  --color-quote:                        var(--palette-quote-100);
  --color-on-quote:                     var(--palette-quote-0);
  --color-quote-container:              var(--palette-quote-70);
  --color-on-quote-container:           var(--palette-quote-0);

  /* || Classic */

  /* 30 */
  --color-sub30:                        var(--palette-sub30-100);
  --color-on-sub30:                     var(--palette-sub30-0);
  --color-sub30-container:              var(--palette-sub30-70);
  --color-on-sub30-container:           var(--palette-sub30-0);
  --color-add30:                        var(--palette-add30-100);
  --color-on-add30:                     var(--palette-add30-0);
  --color-add30-container:              var(--palette-add30-70);
  --color-on-add30-container:           var(--palette-add30-0);
  
  /* 90 */
  --color-sub90:                        var(--palette-sub90-100);
  --color-on-sub90:                     var(--palette-sub90-0);
  --color-sub90-container:              var(--palette-sub90-70);
  --color-on-sub90-container:           var(--palette-sub90-0);
  --color-add90:                        var(--palette-add90-100);
  --color-on-add90:                     var(--palette-add90-0);
  --color-add90-container:              var(--palette-add90-70);
  --color-on-add90-container:           var(--palette-add90-0);
  
  /* 60 */
  --color-sub60:                        var(--palette-sub60-100);
  --color-on-sub60:                     var(--palette-sub60-0);
  --color-sub60-container:              var(--palette-sub60-70);
  --color-on-sub60-container:           var(--palette-sub60-0);
  --color-add60:                        var(--palette-add60-100);
  --color-on-add60:                     var(--palette-add60-0);
  --color-add60-container:              var(--palette-add60-70);
  --color-on-add60-container:           var(--palette-add60-0);
  
  /* 120 */
  --color-sub120:                       var(--palette-sub120-100);
  --color-on-sub120:                    var(--palette-sub120-0);
  --color-sub120-container:             var(--palette-sub120-70);
  --color-on-sub120-container:          var(--palette-sub120-0);
  --color-add120:                       var(--palette-add120-100);
  --color-on-add120:                    var(--palette-add120-0);
  --color-add120-container:             var(--palette-add120-70);
  --color-on-add120-container:          var(--palette-add120-0);
  
  /* 150 */
  --color-sub150:                       var(--palette-sub150-100);
  --color-on-sub150:                    var(--palette-sub150-0);
  --color-sub150-container:             var(--palette-sub150-70);
  --color-on-sub150-container:          var(--palette-sub150-0);
  --color-add150:                       var(--palette-add150-100);
  --color-on-add150:                    var(--palette-add150-0);
  --color-add150-container:             var(--palette-add150-70);
  --color-on-add150-container:          var(--palette-add150-0);
  
  /* 180 */
  --color-sub180:                       var(--palette-sub180-100);
  --color-on-sub180:                    var(--palette-sub180-0);
  --color-sub180-container:             var(--palette-sub180-70);
  --color-on-sub180-container:          var(--palette-sub180-0);
  --color-add180:                       var(--palette-add180-100);
  --color-on-add180:                    var(--palette-add180-0);
  --color-add180-container:             var(--palette-add180-70);
  --color-on-add180-container:          var(--palette-add180-0);
  
  /* Complementary - No harmonization */
  --color-complementary:                var(--palette-complementary-100);
  --color-on-complementary:             var(--palette-complementary-0);
  --color-complementary-container:      var(--palette-complementary-70);
  --color-on-complementary-container:   var(--palette-complementary-0);
}
