.component {
  position: relative;
  border: var(--container-outline, initial);
  box-shadow: var(--container-elevation, initial);
 
  & * {
    z-index: 2;
  }

  &:not(
    .top-app-bar,
    .bottom-app-bar,
    .badge,
    .date-picker,
    .divider,
    .bottom-sheets,
    .tooltip,
    progress,
    .search.view
  )::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 0;
    z-index: 1;
    background-image: radial-gradient(circle, var(--state-color, initial) 1%, transparent 1%);
    background-position: center;
    opacity: 0;
    inline-size: 100%;
    block-size: 100%;
    transition: none;  
  }
  
  /* TODO Dragged */
}
