.component {
  position: relative;
  border: var(--container-outline, initial);
  box-shadow: var(--container-elevation, initial);
 
  & * {
    z-index: 2;
  }

  &:not(
    .badge,
    .bottom-app-bar,
    .bottom-sheets,
    .date-picker,
    .divider,
    .tooltip,
    .top-app-bar,
    progress,
    .search.view
  )::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 0;
    z-index: 1;
    background-image: radial-gradient(circle, var(--state-color, initial) 1%, transparent 1%);
    background-position: center;
    opacity: 0;
    inline-size: 100%;
    block-size: 100%;
    transition: none;  
  }
  
  /* TODO Dragged */
}

/* All components
.button
.common-button
.common-button.filled
.common-button.filled-tonal
.common-button.elevated
.common-button.outlined
.fab
.fab[small
.fab[large
.fab[extended
.icon-button
.icon-button.filled
.icon-button.filled-tonal
.icon-button.outlined
.segmented-buttons

.badge
.badge.large
progress
progress.linear
progress.circular
.snackbar
.snackbar[with-action
.snackbar[with-close-button
.snackbar[two
.snackbar[with-longer-action
.tooltip
.tooltip.rich

.bottom-sheet
.bottom-sheet.modal
.card.elevated
.card.filled
.card.outlined
.carousel
.carousel.uncontained
.carousel.full
.dialog
.dialog.full
.divider
.divider.mid
.divider.start
.divider.end
.divider.vertical.mid
.divider.vertical.start
.divider.vertical.end
.list-item.one
.list-item.two
.list-item.three
.side-sheet
.side-sheet.modal

.bottom-app-bar
.navigation-bar
.navigation-drawer
.navigation-rail
.navigation-rail.middle
.navigation-rail.bottom
.search.bar
.search.view.modal
.search.view.full
.tabs.primary
.tabs.secondary
.top-app-bar.small
.top-app-bar.medium
.top-app-bar.large
.top-app-bar.center.small
.top-app-bar.center.medium
.top-app-bar.center.large

.checkbox
.checkbox.error-check
.checkbox.indeterminate
.chip
.chip.input
.chip.outlined
.chip.elevated
.date-picker.input
.date-picker.docked
.date-picker.modal
.menu-item
.radio-button
.slider
.slider.continuous
.slider.centered
.slider.discrete
.slider.range
.switch
.switch.both
.switch.select
.time-picker.input
.time-picker.modal

.text-field[filled
.text-field[outlined
*/