.component:not(
    .navigation-bar,
    .navigation-item,
    .navigation-rail,
    .navigation-drawer,
    .tabs,
    .dialog,
    .side-sheets,
    .radio-button,
    .checkbox
  ):not(:disabled):focus {
  border: var(--container-outline-focus);
  box-shadow: var(--container-elevation-focus);

  &::after {
    opacity: var(--state-focus-opacity);
    background-size: 50000%;
  }
}
