.component:not(
    .snackbar,
    .navigation-bar,
    .navigation-bar .navigation-item,
    .navigation-rail,
    .navigation-rail .navigation-item,
    .navigation-drawer,
    .tabs,
    .dialog,
    .side-sheets,
    .menus,
    .radio-button,
    .checkbox
  ):not(:disabled):hover {
  border: var(--container-outline-hover);
  box-shadow: var(--container-elevation-hover);

  &::after {
    opacity: var(--state-hover-opacity);
    background-size: 50000%;
    animation: rippleHover var(--motion-duration-extra-long4) var(--motion-easing-emphasized) both;
  }
}

@keyframes rippleHover {
  from {
    background-size: 0%;
  }
  to {
    background-size: 50000%;
  }
}
