.layout {
  --flex: initial;
  --display: initial;
  --flex-flow: initial;
  --align-items: initial;
  --align-content: initial;
  --justify-content: initial;
  --width: initial;
  --height: initial;
  --min-height: initial;
  --padding: initial;
  --margin: initial;
  --gap: initial;

  --shape: initial;
  --border: initial;

  --bg: initial;
}

.layout {
  flex:             var(--flex,);
  display:          var(--display,);
  flex-flow:        var(--flex-flow,);
  align-items:      var(--align-items,);
  align-content:    var(--align-content,);
  justify-content:  var(--justify-content,);
  width:            var(--width,);
  height:           var(--height,);
  min-height:       var(--min-height,);
  padding:          var(--padding,);
  margin:           var(--margin,);
  gap:              var(--gap,);

  border-radius:    var(--shape,);
  border:           var(--border,);

  background-color: var(--bg,);
}
