.theme-controls {
  position: relative;

  & .divider {
    margin-block: var(--size-5);
  }

  & .theme-controls-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-block: var(--size-3);
    padding: var(--size-2);
  }

  & .controls {
    position: absolute;
    z-index: 20;
    top: auto;
    right: 0;
    
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    
    border: none;
    
    padding: var(--size-3);
    
    overflow-y: auto;
    
    color: var(--color-on-surface);
    background-color: var(--color-surface-container-low);
    max-height: calc(100dvh - var(--size-16));
    min-height: 0%;

    visibility: hidden;
    width: var(--size-100);
    height: 0%;
    transition: all var(--motion-duration-medium4);
  }

  & input#theme-controls {
    display: none;
  }

  &:has(input#theme-controls[type="checkbox"]:checked) {
    & .controls {
      visibility: visible;
      width: var(--size-100);
      height: calc(100dvh - var(--size-16));
      min-height: 100%;
      transition: height var(--motion-duration-medium4);
    }
  }

  & .typography-fieldset {
    display: flex;
    flex-flow: column nowrap;

    & label,
    & legend {
      display: flex;
      flex-flow: row nowrap;
      text-wrap: nowrap;
      align-items: center;
      text-overflow: ellipsis;
    }
  }

  & label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  & .slider {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    margin-block: var(--size-2);

    & input {
      width: 100%;
    }

    & label {
      margin-top: var(--size-2);
    }

    & output {
      display: flex;
      width: 100%;
    }
  }

  & fieldset {
    margin-top: var(--size-3);

    & legend {
      margin-bottom: var(--size-2);
    }
  }

  & #theme-hues,
  & #theme-chromas,
  & #theme-lightness {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    height: var(--size-5);
    margin-bottom: var(--size-3);
    border-radius: var(--shape-corner-full);
  }

  & #theme-hues {
    background: linear-gradient(
      0.25turn,
      var(--palette-hue-0),
      var(--palette-hue-30),
      var(--palette-hue-60),
      var(--palette-hue-90),
      var(--palette-hue-120),
      var(--palette-hue-150),
      var(--palette-hue-180),
      var(--palette-hue-210),
      var(--palette-hue-240),
      var(--palette-hue-270),
      var(--palette-hue-300),
      var(--palette-hue-330)
    );
  }

  & #theme-chromas {
    background: linear-gradient(
      0.25turn,
      var(--palette-chroma-0),
      var(--palette-chroma-10),
      var(--palette-chroma-20),
      var(--palette-chroma-30),
      var(--palette-chroma-40),
      var(--palette-chroma-50),
      var(--palette-chroma-60),
      var(--palette-chroma-70),
      var(--palette-chroma-80),
      var(--palette-chroma-90),
      var(--palette-chroma-100)
    );
  }

  & #theme-lightness {
    margin-top: var(--size-3);
    background: linear-gradient(
      0.25turn,
      var(--palette-primary-10),
      var(--palette-primary-20),
      var(--palette-primary-30),
      var(--palette-primary-40),
      var(--palette-primary-50),
      var(--palette-primary-60),
      var(--palette-primary-70),
      var(--palette-primary-80),
      var(--palette-primary-90)
    );
  }
}

[id*="-selector-container"] {
  border-radius: var(--shape-corner-xl);
  background-color: var(--color-surface-container-lowest);
  padding: var(--size-7);
  margin-bottom: var(--size-4);
  gap: var(--size-3);
}

#dim-images-selector-container,
#tertiary-temperature-selector-container,
#contrast-selector-container,
#max-width-selector-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: stretch;

  & div {
    width: 100%;
    margin-bottom: var(--size-4);
  }

  & > .segmented-buttons .segmented {
    width: 100%;
  }
}

#typography-selector {
  & .example {
    text-align: right;
  }
}

#tertiary-temperature-selector-container {
  & .color-temp-reference {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  & #primary,
  & #tertiary {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
    padding: var(--size-3);
  }

  & #primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-radius: var(--shape-corner-m-start);
  }
  
  & #tertiary {
    background-color: var(--color-tertiary);
    color: var(--color-on-tertiary);
    border-radius: var(--shape-corner-m-end);
  }
}
