<div class="component bottom-app-bar">
  <span class="start">
    {{ with .icon_1 }}
      <button class="component button icon-button">
        <i>{{ . }}</i>
      </button>
    {{ end }}
    {{ with .icon_2 }}
      <button class="component button icon-button">
        <i>{{ . }}</i>
      </button>
    {{ end }}
    {{ with .icon_3 }}
      <button class="component button icon-button">
        <i>{{ . }}</i>
      </button>
    {{ end }}
    {{ with .icon_4 }}
      <button class="component button icon-button">
        <i>{{ . }}</i>
      </button>
    {{ end }}
  </span>

  {{ with .fab }}
    <span class="end">
      <button class="component fab primary">
        <i>{{ . }}</i>
      </button>
    </span>
  {{ end }}
</div>
