.component {
  --container-display: initial;
  --container-flex-flow: initial;
  --container-justify-content: initial;
  --container-align-items: initial;
  --container-gap: initial;
  --container-height: initial;
  --container-width: initial;
  --container-padding: initial;

  --container-outline: initial;
  --container-elevation: initial;
  --container-shape: initial;

  --bg-color: initial;
  
  --text-color: initial;
  --icon-color: initial;
}

.component {
  display:          var(--container-display,);
  flex-flow:        var(--container-flex-flow,);
  justify-content:  var(--container-justify-content,);
  align-items:      var(--container-align-items,);
  gap:              var(--container-gap,);
  height:           var(--container-height,);
  width:            var(--container-width,);
  padding:          var(--container-padding,);

  border:           var(--container-outline,);
  border-radius:    var(--container-shape,);
  box-shadow:       var(--container-elevation,);

  background-color: var(--bg-color,);

  color:            var(--icon-color, var(--text-color),);
}

.component {
  position: relative;
}

.component * {
  z-index: 2;
}

.component {
  border: var(--container-outline,);
  box-shadow: var(--container-elevation,);
}

.component:hover {
  border: var(--container-outline-hover,);
  box-shadow: var(--container-elevation-hover,);
}

.component:focus,
.component:focus-visible {
  border: var(--container-outline-focus,);
  box-shadow: var(--container-elevation-focus,);
}

.component:active {
  border: var(--container-outline-press,);
  box-shadow: var(--container-elevation-press,);
}
