<section class="component-group">
  <div class="sub-component-group-header">Plain tooltip</div>
  {{ partial "components/tooltip.html" (dict "text" "Plain tooltip") }}
  {{ partial "components/tooltip.html" (dict "text" "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste obcaecati dignissimos iure perferendis, amet error alias hic ab eius minus ipsum nam voluptatem quos, veniam quod cumque. Voluptas, distinctio provident?") }}

  <div class="sub-component-group-header">Rich tooltip</div>
  {{ partial "components/tooltip.html" (dict "rich" true "title" "Rich tooltip" "text" "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste obcaecati dignissimos iure perferendis, amet error alias hic ab eius minus ipsum nam voluptatem quos, veniam quod cumque. Voluptas, distinctio provident?" "actions" true) }}
  {{ partial "components/tooltip.html" (dict "rich" true "title" "Rich tooltip" "text" "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste obcaecati dignissimos iure perferendis, amet error alias hic ab eius minus ipsum nam voluptatem quos, veniam quod cumque. Voluptas, distinctio provident?") }}
</section>
