#page-colors {
  h1, h2, h3 {
    margin-bottom: 0.5em;
  }

  h1, h2 {
    margin-top: 1em;
  }

  .key-color {
    background-color: var(--palette-primary55);
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: unset;
  }
}

.reference-palette {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  background-color: unset;
  color: var(--palette-white);

  &::before {
    color: var(--color-on-surface);
    
    z-index: 1;
    display: flex;
    min-width: 100%;
    grid-column: span 2;
    
    padding: 0 1rem;

    font-family: var(--typeface-mono);
    font-size: var(--typescale-title-small-size);
  }

  &.primary::before { content: 'Primary'; }
  &.secondary::before { content: 'Secondary'; }
  &.tertiary::before { content: 'Tertiary'; }
  &.neutral::before { content: 'Neutral'; }
  &.neutral-variant::before { content: 'Neutral Variant'; }
  &.error::before { content: 'Error'; }
  &.warning::before { content: 'Warning'; }
  &.caution::before { content: 'Caution'; }
  &.important::before { content: 'Important'; }
  &.pinned::before { content: 'Pinned'; }
  &.verse::before { content: 'Verse'; }
  &.export::before { content: 'Export'; }
  &.query::before { content: 'Query'; }
  &.note::before { content: 'Note'; }
  &.tip::before { content: 'Tip'; }
  &.example::before { content: 'Example'; }
  &.comment::before { content: 'Comment'; }
  &.quote::before { content: 'Quote'; }
  &.sub30::before { content: '-30'; }
  &.sub60::before { content: '-60'; }
  &.sub90::before { content: '-90'; }
  &.sub120::before { content: '-120'; }
  &.sub150::before { content: '-150'; }
  &.sub180::before { content: '-180'; }
  &.complementary::before { content: 'Complementary'; }
  &.add180::before { content: '+180'; }
  &.add150::before { content: '+150'; }
  &.add120::before { content: '+120'; }
  &.add90::before { content: '+90'; }
  &.add60::before { content: '+60'; }
  &.add30::before { content: '+30'; }

  div:nth-child(7),
  div:nth-child(8),
  div:nth-child(9),
  div:nth-child(10),
  div:nth-child(11) {
    color: var(--palette-black);
  }
}

.reference-palette * {
  flex: 1 1 0;

  display: flex;
  flex-flow: column nowrap;
  
  min-height: 3rem;
  align-items: center;
  justify-content: center;
  font-family: var(--typeface-mono);

  opacity: 0.4;

  border-radius: unset;

  &:hover {
    opacity: 1;
    z-index: 1;
  }
}

.ref-default-palette,
.ref-admon-palette,
.ref-classic-palette,
.ref-hue-reference {
  display: flex;
  flex-flow: column nowrap;

  padding: calc(var(--spacing-panes) * 2);
  margin-bottom: 2em;
  background-color: var(--color-surface-container-lowest);

  h3 {
    padding-bottom: 1em;
  }
}

/* Hue Palette */
.reference-palette.hue {
  padding:var(--spacing-xl);
  grid-template-columns: repeat(12, 1fr);

  div:nth-child(1) { 
    border-radius: var(--shape-corner-l-start);

    background-color: var(--palette-hue-0); 
  }

  div:nth-child(2) { background-color: var(--palette-hue-30); }
  div:nth-child(3) { background-color: var(--palette-hue-60); }
  div:nth-child(4) { background-color: var(--palette-hue-90); }
  div:nth-child(5) { background-color: var(--palette-hue-120); }
  div:nth-child(6) { background-color: var(--palette-hue-150); }
  div:nth-child(7) { background-color: var(--palette-hue-180); }
  div:nth-child(8) { background-color: var(--palette-hue-210); }
  div:nth-child(9) { background-color: var(--palette-hue-240); }
  div:nth-child(10) { background-color: var(--palette-hue-270); }
  div:nth-child(11) { background-color: var(--palette-hue-300); }

  div:nth-child(12) { 
    border-radius: var(--shape-corner-l-end);

    background-color: var(--palette-hue-330); 
  }

  * {
    opacity: unset;
    color: var(--palette-black);
    font-weight: var(--typeface-weight-bold);
  }
}

.primary,
.secondary,
.tertiary,
.error,
.neutral,
.neutral-variant {
  div:nth-child(9),
  div:nth-child(10) {
    opacity: 1
  }
}

.primary,
.secondary,
.tertiary,
.error,
.neutral-variant {
  div:nth-child(4) {
    opacity: 1;
  }
}

.primary,
.secondary,
.tertiary,
.error,
.neutral {
  div:nth-child(2),
  div:nth-child(3) {
    opacity: 1;
  }
}

.primary,
.secondary,
.tertiary,
.error {
  div:nth-child(5),
  div:nth-child(11) {
    opacity: 1;
  }
}

.neutral {
  div:nth-child(1),
  div:nth-child(11) {
    opacity: 1;
  }
}

.neutral-variant {
  div:nth-child(6),
  div:nth-child(7) {
    opacity: 1;
  }
}

.error,
.warning,
.caution,
.important,
.pinned,
.verse,
.export,
.query,
.note,
.tip,
.example,
.comment,
.quote,
.sub30,
.sub60,
.sub90,
.sub120,
.sub150,
.sub180,
.add30,
.add60,
.add90,
.add120,
.add150,
.add180,
.complementary {
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4),
  div:nth-child(5),
  div:nth-child(9),
  div:nth-child(10),
  div:nth-child(11) {
    opacity: 1;
  }
}

.primary div:nth-child(1) { background-color: var(--palette-primary0); }
.primary div:nth-child(2) { background-color: var(--palette-primary10); } 
.primary div:nth-child(3) { background-color: var(--palette-primary20); }
.primary div:nth-child(4) { background-color: var(--palette-primary30); }
.primary div:nth-child(5) { background-color: var(--palette-primary40); }
.primary div:nth-child(6) { background-color: var(--palette-primary50); }
.primary div:nth-child(7) { background-color: var(--palette-primary60); }
.primary div:nth-child(8) { background-color: var(--palette-primary70); }
.primary div:nth-child(9) { background-color: var(--palette-primary80); }
.primary div:nth-child(10) { background-color: var(--palette-primary90); }
.primary div:nth-child(11) { background-color: var(--palette-primary100); }

.secondary div:nth-child(1) { background-color: var(--palette-secondary0); }
.secondary div:nth-child(2) { background-color: var(--palette-secondary10); }
.secondary div:nth-child(3) { background-color: var(--palette-secondary20); }  
.secondary div:nth-child(4) { background-color: var(--palette-secondary30); }
.secondary div:nth-child(5) { background-color: var(--palette-secondary40); }
.secondary div:nth-child(6) { background-color: var(--palette-secondary50); }
.secondary div:nth-child(7) { background-color: var(--palette-secondary60); }
.secondary div:nth-child(8) { background-color: var(--palette-secondary70); }
.secondary div:nth-child(9) { background-color: var(--palette-secondary80); }
.secondary div:nth-child(10) { background-color: var(--palette-secondary90); }
.secondary div:nth-child(11) { background-color: var(--palette-secondary100); }

.tertiary div:nth-child(1) { background-color: var(--palette-tertiary0); }
.tertiary div:nth-child(2) { background-color: var(--palette-tertiary10); }
.tertiary div:nth-child(3) { background-color: var(--palette-tertiary20); }
.tertiary div:nth-child(4) { background-color: var(--palette-tertiary30); }
.tertiary div:nth-child(5) { background-color: var(--palette-tertiary40); }
.tertiary div:nth-child(6) { background-color: var(--palette-tertiary50); }
.tertiary div:nth-child(7) { background-color: var(--palette-tertiary60); }
.tertiary div:nth-child(8) { background-color: var(--palette-tertiary70); }
.tertiary div:nth-child(9) { background-color: var(--palette-tertiary80); }
.tertiary div:nth-child(10) { background-color: var(--palette-tertiary90); }
.tertiary div:nth-child(11) { background-color: var(--palette-tertiary100); }

.error div:nth-child(1) { background-color: var(--palette-error0); }
.error div:nth-child(2) { background-color: var(--palette-error10); }
.error div:nth-child(3) { background-color: var(--palette-error20); }
.error div:nth-child(4) { background-color: var(--palette-error30); }
.error div:nth-child(5) { background-color: var(--palette-error40); }
.error div:nth-child(6) { background-color: var(--palette-error50); }
.error div:nth-child(7) { background-color: var(--palette-error60); }
.error div:nth-child(8) { background-color: var(--palette-error70); }
.error div:nth-child(9) { background-color: var(--palette-error80); }
.error div:nth-child(10) { background-color: var(--palette-error90); }
.error div:nth-child(11) { background-color: var(--palette-error100); }

.neutral div:nth-child(1) { background-color: var(--palette-neutral0); }
.neutral div:nth-child(2) { background-color: var(--palette-neutral10); }
.neutral div:nth-child(3) { background-color: var(--palette-neutral20); }
.neutral div:nth-child(4) { background-color: var(--palette-neutral30); }
.neutral div:nth-child(5) { background-color: var(--palette-neutral40); }
.neutral div:nth-child(6) { background-color: var(--palette-neutral50); }
.neutral div:nth-child(7) { background-color: var(--palette-neutral60); }
.neutral div:nth-child(8) { background-color: var(--palette-neutral70); }
.neutral div:nth-child(9) { background-color: var(--palette-neutral80); }
.neutral div:nth-child(10) { background-color: var(--palette-neutral90); }
.neutral div:nth-child(11) { background-color: var(--palette-neutral100); }

.neutral-variant div:nth-child(1) { background-color: var(--palette-neutral-variant0); }  
.neutral-variant div:nth-child(2) { background-color: var(--palette-neutral-variant10); }
.neutral-variant div:nth-child(3) { background-color: var(--palette-neutral-variant20); }
.neutral-variant div:nth-child(4) { background-color: var(--palette-neutral-variant30); }  
.neutral-variant div:nth-child(5) { background-color: var(--palette-neutral-variant40); }
.neutral-variant div:nth-child(6) { background-color: var(--palette-neutral-variant50); }
.neutral-variant div:nth-child(7) { background-color: var(--palette-neutral-variant60); }
.neutral-variant div:nth-child(8) { background-color: var(--palette-neutral-variant70); }
.neutral-variant div:nth-child(9) { background-color: var(--palette-neutral-variant80); }
.neutral-variant div:nth-child(10) { background-color: var(--palette-neutral-variant90); }
.neutral-variant div:nth-child(11) { background-color: var(--palette-neutral-variant100); }

.warning div:nth-child(1) { background-color: var(--palette-warning0); }
.warning div:nth-child(2) { background-color: var(--palette-warning10); }
.warning div:nth-child(3) { background-color: var(--palette-warning20); }
.warning div:nth-child(4) { background-color: var(--palette-warning30); }
.warning div:nth-child(5) { background-color: var(--palette-warning40); }
.warning div:nth-child(6) { background-color: var(--palette-warning50); }
.warning div:nth-child(7) { background-color: var(--palette-warning60); }
.warning div:nth-child(8) { background-color: var(--palette-warning70); }
.warning div:nth-child(9) { background-color: var(--palette-warning80); }
.warning div:nth-child(10) { background-color: var(--palette-warning90); }
.warning div:nth-child(11) { background-color: var(--palette-warning100); }

.caution div:nth-child(1) { background-color: var(--palette-caution0); }
.caution div:nth-child(2) { background-color: var(--palette-caution10); }
.caution div:nth-child(3) { background-color: var(--palette-caution20); }
.caution div:nth-child(4) { background-color: var(--palette-caution30); }
.caution div:nth-child(5) { background-color: var(--palette-caution40); }
.caution div:nth-child(6) { background-color: var(--palette-caution50); }
.caution div:nth-child(7) { background-color: var(--palette-caution60); }
.caution div:nth-child(8) { background-color: var(--palette-caution70); }
.caution div:nth-child(9) { background-color: var(--palette-caution80); }
.caution div:nth-child(10) { background-color: var(--palette-caution90); }
.caution div:nth-child(11) { background-color: var(--palette-caution100); }

.important div:nth-child(1) { background-color: var(--palette-important0); }
.important div:nth-child(2) { background-color: var(--palette-important10); }
.important div:nth-child(3) { background-color: var(--palette-important20); }
.important div:nth-child(4) { background-color: var(--palette-important30); }
.important div:nth-child(5) { background-color: var(--palette-important40); }
.important div:nth-child(6) { background-color: var(--palette-important50); }
.important div:nth-child(7) { background-color: var(--palette-important60); }
.important div:nth-child(8) { background-color: var(--palette-important70); }
.important div:nth-child(9) { background-color: var(--palette-important80); }
.important div:nth-child(10) { background-color: var(--palette-important90); }
.important div:nth-child(11) { background-color: var(--palette-important100); }
 
.pinned div:nth-child(1) { background-color: var(--palette-pinned0); }
.pinned div:nth-child(2) { background-color: var(--palette-pinned10); }  
.pinned div:nth-child(3) { background-color: var(--palette-pinned20); }
.pinned div:nth-child(4) { background-color: var(--palette-pinned30); } 
.pinned div:nth-child(5) { background-color: var(--palette-pinned40); }
.pinned div:nth-child(6) { background-color: var(--palette-pinned50); }
.pinned div:nth-child(7) { background-color: var(--palette-pinned60); }
.pinned div:nth-child(8) { background-color: var(--palette-pinned70); }
.pinned div:nth-child(9) { background-color: var(--palette-pinned80); }
.pinned div:nth-child(10) { background-color: var(--palette-pinned90); }
.pinned div:nth-child(11) { background-color: var(--palette-pinned100); }
 
.verse div:nth-child(1) { background-color: var(--palette-verse0); }
.verse div:nth-child(2) { background-color: var(--palette-verse10); }
.verse div:nth-child(3) { background-color: var(--palette-verse20); }
.verse div:nth-child(4) { background-color: var(--palette-verse30); }
.verse div:nth-child(5) { background-color: var(--palette-verse40); }
.verse div:nth-child(6) { background-color: var(--palette-verse50); }
.verse div:nth-child(7) { background-color: var(--palette-verse60); }
.verse div:nth-child(8) { background-color: var(--palette-verse70); }
.verse div:nth-child(9) { background-color: var(--palette-verse80); }
.verse div:nth-child(10) { background-color: var(--palette-verse90); }
.verse div:nth-child(11) { background-color: var(--palette-verse100); }

.export div:nth-child(1) { background-color: var(--palette-export0); }
.export div:nth-child(2) { background-color: var(--palette-export10); }
.export div:nth-child(3) { background-color: var(--palette-export20); }
.export div:nth-child(4) { background-color: var(--palette-export30); }
.export div:nth-child(5) { background-color: var(--palette-export40); }
.export div:nth-child(6) { background-color: var(--palette-export50); }
.export div:nth-child(7) { background-color: var(--palette-export60); } 
.export div:nth-child(8) { background-color: var(--palette-export70); }
.export div:nth-child(9) { background-color: var(--palette-export80); }
.export div:nth-child(10) { background-color: var(--palette-export90); }
.export div:nth-child(11) { background-color: var(--palette-export100); }

.query div:nth-child(1) { background-color: var(--palette-query0); }
.query div:nth-child(2) { background-color: var(--palette-query10); }  
.query div:nth-child(3) { background-color: var(--palette-query20); }
.query div:nth-child(4) { background-color: var(--palette-query30); }
.query div:nth-child(5) { background-color: var(--palette-query40); }  
.query div:nth-child(6) { background-color: var(--palette-query50); }
.query div:nth-child(7) { background-color: var(--palette-query60); }
.query div:nth-child(8) { background-color: var(--palette-query70); }
.query div:nth-child(9) { background-color: var(--palette-query80); }
.query div:nth-child(10) { background-color: var(--palette-query90); }
.query div:nth-child(11) { background-color: var(--palette-query100); }

.note div:nth-child(1) { background-color: var(--palette-note0); }
.note div:nth-child(2) { background-color: var(--palette-note10); }
.note div:nth-child(3) { background-color: var(--palette-note20); }  
.note div:nth-child(4) { background-color: var(--palette-note30); }
.note div:nth-child(5) { background-color: var(--palette-note40); }
.note div:nth-child(6) { background-color: var(--palette-note50); }
.note div:nth-child(7) { background-color: var(--palette-note60); }
.note div:nth-child(8) { background-color: var(--palette-note70); }
.note div:nth-child(9) { background-color: var(--palette-note80); }
.note div:nth-child(10) { background-color: var(--palette-note90); } 
.note div:nth-child(11) { background-color: var(--palette-note100); }

.tip div:nth-child(1) { background-color: var(--palette-tip0); }
.tip div:nth-child(2) { background-color: var(--palette-tip10); }
.tip div:nth-child(3) { background-color: var(--palette-tip20); }
.tip div:nth-child(4) { background-color: var(--palette-tip30); }
.tip div:nth-child(5) { background-color: var(--palette-tip40); }  
.tip div:nth-child(6) { background-color: var(--palette-tip50); }
.tip div:nth-child(7) { background-color: var(--palette-tip60); }
.tip div:nth-child(8) { background-color: var(--palette-tip70); }
.tip div:nth-child(9) { background-color: var(--palette-tip80); }
.tip div:nth-child(10) { background-color: var(--palette-tip90); }
.tip div:nth-child(11) { background-color: var(--palette-tip100); }

.example div:nth-child(1) { background-color: var(--palette-example0); }
.example div:nth-child(2) { background-color: var(--palette-example10); }
.example div:nth-child(3) { background-color: var(--palette-example20); }
.example div:nth-child(4) { background-color: var(--palette-example30); }
.example div:nth-child(5) { background-color: var(--palette-example40); }
.example div:nth-child(6) { background-color: var(--palette-example50); }
.example div:nth-child(7) { background-color: var(--palette-example60); }
.example div:nth-child(8) { background-color: var(--palette-example70); }
.example div:nth-child(9) { background-color: var(--palette-example80); }
.example div:nth-child(10) { background-color: var(--palette-example90); }
.example div:nth-child(11) { background-color: var(--palette-example100); }

.comment div:nth-child(1) { background-color: var(--palette-comment0); }
.comment div:nth-child(2) { background-color: var(--palette-comment10); }
.comment div:nth-child(3) { background-color: var(--palette-comment20); }
.comment div:nth-child(4) { background-color: var(--palette-comment30); }
.comment div:nth-child(5) { background-color: var(--palette-comment40); }
.comment div:nth-child(6) { background-color: var(--palette-comment50); }
.comment div:nth-child(7) { background-color: var(--palette-comment60); }
.comment div:nth-child(8) { background-color: var(--palette-comment70); }
.comment div:nth-child(9) { background-color: var(--palette-comment80); }
.comment div:nth-child(10) { background-color: var(--palette-comment90); }
.comment div:nth-child(11) { background-color: var(--palette-comment100); }

.quote div:nth-child(1) { background-color: var(--palette-quote0); }
.quote div:nth-child(2) { background-color: var(--palette-quote10); }
.quote div:nth-child(3) { background-color: var(--palette-quote20); }
.quote div:nth-child(4) { background-color: var(--palette-quote30); }
.quote div:nth-child(5) { background-color: var(--palette-quote40); }
.quote div:nth-child(6) { background-color: var(--palette-quote50); }
.quote div:nth-child(7) { background-color: var(--palette-quote60); }
.quote div:nth-child(8) { background-color: var(--palette-quote70); }
.quote div:nth-child(9) { background-color: var(--palette-quote80); }
.quote div:nth-child(10) { background-color: var(--palette-quote90); }
.quote div:nth-child(11) { background-color: var(--palette-quote100); }

.sub30 div {
  &:nth-child(1) { background-color: var(--palette-sub30-0); }
  &:nth-child(2) { background-color: var(--palette-sub30-10); }
  &:nth-child(3) { background-color: var(--palette-sub30-20); }
  &:nth-child(4) { background-color: var(--palette-sub30-30); }
  &:nth-child(5) { background-color: var(--palette-sub30-40); }
  &:nth-child(6) { background-color: var(--palette-sub30-50); }
  &:nth-child(7) { background-color: var(--palette-sub30-60); }
  &:nth-child(8) { background-color: var(--palette-sub30-70); }
  &:nth-child(9) { background-color: var(--palette-sub30-80); }
  &:nth-child(10) { background-color: var(--palette-sub30-90); }
  &:nth-child(11) { background-color: var(--palette-sub30-100); }
}

.sub60 div {
  &:nth-child(1) { background-color: var(--palette-sub60-0); }
  &:nth-child(2) { background-color: var(--palette-sub60-10); }
  &:nth-child(3) { background-color: var(--palette-sub60-20); }
  &:nth-child(4) { background-color: var(--palette-sub60-30); }
  &:nth-child(5) { background-color: var(--palette-sub60-40); }
  &:nth-child(6) { background-color: var(--palette-sub60-50); }
  &:nth-child(7) { background-color: var(--palette-sub60-60); }
  &:nth-child(8) { background-color: var(--palette-sub60-70); }
  &:nth-child(9) { background-color: var(--palette-sub60-80); }
  &:nth-child(10) { background-color: var(--palette-sub60-90); }
  &:nth-child(11) { background-color: var(--palette-sub60-100); }
}

.sub90 div {
  &:nth-child(1) { background-color: var(--palette-sub90-0); }
  &:nth-child(2) { background-color: var(--palette-sub90-10); }
  &:nth-child(3) { background-color: var(--palette-sub90-20); }
  &:nth-child(4) { background-color: var(--palette-sub90-30); }
  &:nth-child(5) { background-color: var(--palette-sub90-40); }
  &:nth-child(6) { background-color: var(--palette-sub90-50); }
  &:nth-child(7) { background-color: var(--palette-sub90-60); }
  &:nth-child(8) { background-color: var(--palette-sub90-70); }
  &:nth-child(9) { background-color: var(--palette-sub90-80); }
  &:nth-child(10) { background-color: var(--palette-sub90-90); }
  &:nth-child(11) { background-color: var(--palette-sub90-100); }
}

.sub120 div {
  &:nth-child(1) { background-color: var(--palette-sub120-0); }
  &:nth-child(2) { background-color: var(--palette-sub120-10); }
  &:nth-child(3) { background-color: var(--palette-sub120-20); }
  &:nth-child(4) { background-color: var(--palette-sub120-30); }
  &:nth-child(5) { background-color: var(--palette-sub120-40); }
  &:nth-child(6) { background-color: var(--palette-sub120-50); }
  &:nth-child(7) { background-color: var(--palette-sub120-60); }
  &:nth-child(8) { background-color: var(--palette-sub120-70); }
  &:nth-child(9) { background-color: var(--palette-sub120-80); }
  &:nth-child(10) { background-color: var(--palette-sub120-90); }
  &:nth-child(11) { background-color: var(--palette-sub120-100); }
}

.sub150 div {
  &:nth-child(1) { background-color: var(--palette-sub150-0); }
  &:nth-child(2) { background-color: var(--palette-sub150-10); }
  &:nth-child(3) { background-color: var(--palette-sub150-20); }
  &:nth-child(4) { background-color: var(--palette-sub150-30); }
  &:nth-child(5) { background-color: var(--palette-sub150-40); }
  &:nth-child(6) { background-color: var(--palette-sub150-50); }
  &:nth-child(7) { background-color: var(--palette-sub150-60); }
  &:nth-child(8) { background-color: var(--palette-sub150-70); }
  &:nth-child(9) { background-color: var(--palette-sub150-80); }
  &:nth-child(10) { background-color: var(--palette-sub150-90); }
  &:nth-child(11) { background-color: var(--palette-sub150-100); }
}

.sub180 div {
  &:nth-child(1) { background-color: var(--palette-sub180-0); }
  &:nth-child(2) { background-color: var(--palette-sub180-10); }
  &:nth-child(3) { background-color: var(--palette-sub180-20); }
  &:nth-child(4) { background-color: var(--palette-sub180-30); }
  &:nth-child(5) { background-color: var(--palette-sub180-40); }
  &:nth-child(6) { background-color: var(--palette-sub180-50); }
  &:nth-child(7) { background-color: var(--palette-sub180-60); }
  &:nth-child(8) { background-color: var(--palette-sub180-70); }
  &:nth-child(9) { background-color: var(--palette-sub180-80); }
  &:nth-child(10) { background-color: var(--palette-sub180-90); }
  &:nth-child(11) { background-color: var(--palette-sub180-100); }
}

.add30 div {
  &:nth-child(1) { background-color: var(--palette-add30-0); }
  &:nth-child(2) { background-color: var(--palette-add30-10); }
  &:nth-child(3) { background-color: var(--palette-add30-20); }
  &:nth-child(4) { background-color: var(--palette-add30-30); }
  &:nth-child(5) { background-color: var(--palette-add30-40); }
  &:nth-child(6) { background-color: var(--palette-add30-50); }
  &:nth-child(7) { background-color: var(--palette-add30-60); }
  &:nth-child(8) { background-color: var(--palette-add30-70); }
  &:nth-child(9) { background-color: var(--palette-add30-80); }
  &:nth-child(10) { background-color: var(--palette-add30-90); }
  &:nth-child(11) { background-color: var(--palette-add30-100); }
}

.add60 div {
  &:nth-child(1) { background-color: var(--palette-add60-0); }
  &:nth-child(2) { background-color: var(--palette-add60-10); }
  &:nth-child(3) { background-color: var(--palette-add60-20); }
  &:nth-child(4) { background-color: var(--palette-add60-30); }
  &:nth-child(5) { background-color: var(--palette-add60-40); }
  &:nth-child(6) { background-color: var(--palette-add60-50); }
  &:nth-child(7) { background-color: var(--palette-add60-60); }
  &:nth-child(8) { background-color: var(--palette-add60-70); }
  &:nth-child(9) { background-color: var(--palette-add60-80); }
  &:nth-child(10) { background-color: var(--palette-add60-90); }
  &:nth-child(11) { background-color: var(--palette-add60-100); }
}

.add90 div {
  &:nth-child(1) { background-color: var(--palette-add90-0); }
  &:nth-child(2) { background-color: var(--palette-add90-10); }
  &:nth-child(3) { background-color: var(--palette-add90-20); }
  &:nth-child(4) { background-color: var(--palette-add90-30); }
  &:nth-child(5) { background-color: var(--palette-add90-40); }
  &:nth-child(6) { background-color: var(--palette-add90-50); }
  &:nth-child(7) { background-color: var(--palette-add90-60); }
  &:nth-child(8) { background-color: var(--palette-add90-70); }
  &:nth-child(9) { background-color: var(--palette-add90-80); }
  &:nth-child(10) { background-color: var(--palette-add90-90); }
  &:nth-child(11) { background-color: var(--palette-add90-100); }
}

.add120 div {
  &:nth-child(1) { background-color: var(--palette-add120-0); }
  &:nth-child(2) { background-color: var(--palette-add120-10); }
  &:nth-child(3) { background-color: var(--palette-add120-20); }
  &:nth-child(4) { background-color: var(--palette-add120-30); }
  &:nth-child(5) { background-color: var(--palette-add120-40); }
  &:nth-child(6) { background-color: var(--palette-add120-50); }
  &:nth-child(7) { background-color: var(--palette-add120-60); }
  &:nth-child(8) { background-color: var(--palette-add120-70); }
  &:nth-child(9) { background-color: var(--palette-add120-80); }
  &:nth-child(10) { background-color: var(--palette-add120-90); }
  &:nth-child(11) { background-color: var(--palette-add120-100); }
}

.add150 div {
  &:nth-child(1) { background-color: var(--palette-add150-0); }
  &:nth-child(2) { background-color: var(--palette-add150-10); }
  &:nth-child(3) { background-color: var(--palette-add150-20); }
  &:nth-child(4) { background-color: var(--palette-add150-30); }
  &:nth-child(5) { background-color: var(--palette-add150-40); }
  &:nth-child(6) { background-color: var(--palette-add150-50); }
  &:nth-child(7) { background-color: var(--palette-add150-60); }
  &:nth-child(8) { background-color: var(--palette-add150-70); }
  &:nth-child(9) { background-color: var(--palette-add150-80); }
  &:nth-child(10) { background-color: var(--palette-add150-90); }
  &:nth-child(11) { background-color: var(--palette-add150-100); }
}

.add180 div {
  &:nth-child(1) { background-color: var(--palette-add180-0); }
  &:nth-child(2) { background-color: var(--palette-add180-10); }
  &:nth-child(3) { background-color: var(--palette-add180-20); }
  &:nth-child(4) { background-color: var(--palette-add180-30); }
  &:nth-child(5) { background-color: var(--palette-add180-40); }
  &:nth-child(6) { background-color: var(--palette-add180-50); }
  &:nth-child(7) { background-color: var(--palette-add180-60); }
  &:nth-child(8) { background-color: var(--palette-add180-70); }
  &:nth-child(9) { background-color: var(--palette-add180-80); }
  &:nth-child(10) { background-color: var(--palette-add180-90); }
  &:nth-child(11) { background-color: var(--palette-add180-100); }
}

.complementary div {
  &:nth-child(1) { background-color: var(--palette-complementary-0); }
  &:nth-child(2) { background-color: var(--palette-complementary-10); }
  &:nth-child(3) { background-color: var(--palette-complementary-20); }
  &:nth-child(4) { background-color: var(--palette-complementary-30); }
  &:nth-child(5) { background-color: var(--palette-complementary-40); }
  &:nth-child(6) { background-color: var(--palette-complementary-50); }
  &:nth-child(7) { background-color: var(--palette-complementary-60); }
  &:nth-child(8) { background-color: var(--palette-complementary-70); }
  &:nth-child(9) { background-color: var(--palette-complementary-80); }
  &:nth-child(10) { background-color: var(--palette-complementary-90); }
  &:nth-child(11) { background-color: var(--palette-complementary-100); }
}

/* Base palette */
.color-palette {
  display: flex;
  flex-flow: column nowrap;
  border-radius: var(--shape-corner-none);

  div {
    display: flex;
    flex-flow: column nowrap;
    border-radius: inherit;
    padding: 1rem;
  }
}

/* Semantic/admonition palettes */
.admonitions-palette {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-bottom: 2rem;

  .custom {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;

    .admonition {
      margin-block: 0;
      max-width: unset;
      gap: 0;
      box-shadow: unset;
    }

    &.on-container {
      div {
        &:nth-child(2) {
          background-color: var(--color-on-warning-container);
          color: var(--color-warning-container);
        }
        &:nth-child(3) {
          background-color: var(--color-on-caution-container);
          color: var(--color-caution-container);
        }
        &:nth-child(4) {
          background-color: var(--color-on-important-container);
          color: var(--color-important-container);
        }
        &:nth-child(5) {
          background-color: var(--color-on-pinned-container);
          color: var(--color-pinned-container);
        }
        &:nth-child(6) {
          background-color: var(--color-on-verse-container);
          color: var(--color-verse-container);
        }
        &:nth-child(7) {
          background-color: var(--color-on-export-container);
          color: var(--color-export-container);
        }
        &:nth-child(8) {
          background-color: var(--color-on-query-container);
          color: var(--color-query-container);
        }
        &:nth-child(9) {
          background-color: var(--color-on-note-container);
          color: var(--color-note-container);
        }
        &:nth-child(10) {
          background-color: var(--color-on-tip-container);
          color: var(--color-tip-container);
        }
        &:nth-child(11) {
          background-color: var(--color-on-example-container);
          color: var(--color-example-container);
        }
        &:nth-child(12) {
          background-color: var(--color-on-comment-container);
          color: var(--color-comment-container);
        }
        &:nth-child(13) {
          background-color: var(--color-on-quote-container);
          color: var(--color-quote-container);
        }
      }
    }

    &.on-element {
      div {
        &:nth-child(2) {
          background-color: var(--color-on-warning);
          color: var(--color-warning);
        }
        &:nth-child(3) {
          background-color: var(--color-on-caution);
          color: var(--color-caution);
        }
        &:nth-child(4) {
          background-color: var(--color-on-important);
          color: var(--color-important);
        }
        &:nth-child(5) {
          background-color: var(--color-on-pinned);
          color: var(--color-pinned);
        }
        &:nth-child(6) {
          background-color: var(--color-on-verse);
          color: var(--color-verse);
        }
        &:nth-child(7) {
          background-color: var(--color-on-export);
          color: var(--color-export);
        }
        &:nth-child(8) {
          background-color: var(--color-on-query);
          color: var(--color-query);
        }
        &:nth-child(9) {
          background-color: var(--color-on-note);
          color: var(--color-note);
        }
        &:nth-child(10) {
          background-color: var(--color-on-tip);
          color: var(--color-tip);
        }
        &:nth-child(11) {
          background-color: var(--color-on-example);
          color: var(--color-example);
        }
        &:nth-child(12) {
          background-color: var(--color-on-comment);
          color: var(--color-comment);
        }
        &:nth-child(13) {
          background-color: var(--color-on-quote);
          color: var(--color-quote);
        }
      }
    }
  }

  .admon-containers,
  .admon-elements {
    flex: 1 1 0;
    display: flex; 
    flex-flow: row nowrap;
    gap: var(--spacing-xs);

    background-color: var(--color-surface-container-lowest);
    padding: calc(var(--spacing-panes) * 2);

    h3 {
      padding-bottom: 1em;
    }
  }
}

/* Classical color wheel palettes */
.classics-palette {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-bottom: 2rem;

  .classic-containers,
  .classic-elements {
    flex: 1 1 0;
    display: flex; 
    flex-flow: row nowrap;
    gap: var(--spacing-xs);
    background-color: var(--color-surface-container-lowest);
    padding: calc(var(--spacing-panes) * 2);

    h3 {
      padding-bottom: 1em;
    }
  }

  .classic-wheel {
    flex: 1 1 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;

    h2 {
      grid-column: span 2;
    }

    .primary-test {
      background-color: var(--color-primary);
      color: var(--color-on-primary);
      grid-column: span 2;
    }
  
    .primary-container-test {
      background-color: var(--color-primary-container);
      color: var(--color-on-primary-container);
      grid-column: span 2;
    }
  
    .complementary {
      grid-column: span 2;
    }
  
    .complementary-container {
      grid-column: span 2;
    }  

    &.on-container {
      div {
        &:nth-child(1) {
          grid-column: span 2;
        }
        &:nth-child(2) {
          grid-column: span 2;
          background-color: var(--color-on-primary-container);
          color: var(--color-primary-container);
        }
        &:nth-child(3) {
          background-color: var(--color-on-sub30-container);
          color: var(--color-sub30-container);
        }
        &:nth-child(4) {
          background-color: var(--color-on-add30-container);
          color: var(--color-add30-container);
        }
        &:nth-child(5) {
          background-color: var(--color-on-sub60-container);
          color: var(--color-sub60-container);
        }
        &:nth-child(6) {
          background-color: var(--color-on-add60-container);
          color: var(--color-add60-container);
        }
        &:nth-child(7) {
          background-color: var(--color-on-sub90-container);
          color: var(--color-sub90-container);
        }
        &:nth-child(8) {
          background-color: var(--color-on-add90-container);
          color: var(--color-add90-container);
        }
        &:nth-child(9) {
          background-color: var(--color-on-sub120-container);
          color: var(--color-sub120-container);
        }
        &:nth-child(10) {
          background-color: var(--color-on-add120-container);
          color: var(--color-add120-container);
        }
        &:nth-child(11) {
          background-color: var(--color-on-sub150-container);
          color: var(--color-sub150-container);
        }
        &:nth-child(12) {
          background-color: var(--color-on-add150-container);
          color: var(--color-add150-container);
        }
        &:nth-child(13) {
          background-color: var(--color-on-sub180-container);
          color: var(--color-sub180-container);
        }
        &:nth-child(14) {
          background-color: var(--color-on-add180-container);
          color: var(--color-add180-container);
        }
        &:nth-child(15) {
          grid-column: span 2;
          background-color: var(--color-on-complementary-container);
          color: var(--color-complementary-container);
        }
      }
    }

    &.on-element {
      div {
        &:nth-child(1) {
          grid-column: span 2;
        }
        &:nth-child(2) {
          grid-column: span 2;
          background-color: var(--color-on-primary);
          color: var(--color-primary);
        }
        &:nth-child(3) {
          background-color: var(--color-on-sub30);
          color: var(--color-sub30);
        }
        &:nth-child(4) {
          background-color: var(--color-on-add30);
          color: var(--color-add30);
        }
        &:nth-child(5) {
          background-color: var(--color-on-sub60);
          color: var(--color-sub60);
        }
        &:nth-child(6) {
          background-color: var(--color-on-add60);
          color: var(--color-add60);
        }
        &:nth-child(7) {
          background-color: var(--color-on-sub90);
          color: var(--color-sub90);
        }
        &:nth-child(8) {
          background-color: var(--color-on-add90);
          color: var(--color-add90);
        }
        &:nth-child(9) {
          background-color: var(--color-on-sub120);
          color: var(--color-sub120);
        }
        &:nth-child(10) {
          background-color: var(--color-on-add120);
          color: var(--color-add120);
        }
        &:nth-child(11) {
          background-color: var(--color-on-sub150);
          color: var(--color-sub150);
        }
        &:nth-child(12) {
          background-color: var(--color-on-add150);
          color: var(--color-add150);
        }
        &:nth-child(13) {
          background-color: var(--color-on-sub180);
          color: var(--color-sub180);
        }
        &:nth-child(14) {
          background-color: var(--color-on-add180);
          color: var(--color-add180);
        }
        &:nth-child(15) {
          grid-column: span 2;
          background-color: var(--color-on-complementary);
          color: var(--color-complementary);
        }
      }
    }
  }
}

/* System Tokens */
.system-tokens {
  align-self: stretch;
  display: flex;
  flex-flow: column nowrap;

  gap: 16px;
  padding: var(--spacing-xl);

  font-size: var(--typescale-body-medium-size);
  font-family: var(--typescale-body-medium-font);

  border-radius: var(--shape-corner-none);

  background-color: var(--palette-white);

  [class*="swatch"] {
    display: flex;
    flex-flow: row nowrap;
    padding: var(--spacing-m);
    align-self: stretch;
  }

  .swatch-group {
    flex: 1 1 0;
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    align-self: stretch;
  }

  .role {
    font-weight: var(--typeface-weight-bold);
  }
}

.top-row {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-xs);

  [class*="tokens"] {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-xs);

    .swatch-group {
      div:nth-child(1) {
        height: 4rem;
      }

      div:nth-child(2) {
        height: 3rem;
      }
    }
  }
}

.fixed-colors {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-xs);

  .swatch-group {
    [class*="swatch"] {
      height: 3rem;
    }
  }

  .base-fixed {
    display: flex;
    flex-flow: row nowrap;
   
    [class*="swatch"] {
      height: 4rem;
    }
  }

}

.bottom-row {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-s);

  .surfaces {
    flex: 6;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-xs);

    .surface-group {
      flex: 6;
      display: flex;
      flex-flow: row wrap;
    }

    .on-surfaces {
      flex: 1;
      display: flex;
      flex-flow: row nowrap;
      color: var(--color-surface);
    }
  }

  .other {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    align-items: stretch;
    gap: var(--spacing-l);
    
    .inverses {
      flex: 6;
      display: flex;
      flex-flow: column nowrap;
      
      .swatch-group {
        display: flex;
        flex-flow: column nowrap;

        [class*="swatch"] {
          flex: 1 1 0;
        }
      }
    }

    .scrim-and-shadow {
      flex: 1;
      display: flex;
      flex-flow: row nowrap;

      color: var(--palette-white);
      gap: var(--spacing-xs);
      height: 3rem;
    }
  }
}

.swatch {
  background-color: var(--color-error);
  color: var(--color-on-error);
}
.swatch1 {
  background-color: var(--color-on-error);
  color: var(--color-error);
}
.swatch2 {
  background-color: var(--color-error-container);
}
.swatch3 {
  background-color: var(--color-on-error-container);
  color: var(--color-error-container);
}

.swatch4 {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
.swatch5 {
  background-color: var(--color-on-primary);
  color: var(--color-primary);
}
.swatch6 {
  background-color: var(--color-primary-container);
  color: var(--color-on-primary-container);
}
.swatch7 {
  background-color: var(--color-on-primary-container);
  color: var(--color-primary-container);
}

.swatch8 {
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
}
.swatch9 {
  background-color: var(--color-on-secondary);
  color: var(--color-secondary);
}
.swatch10 {
  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
}
.swatch11 {
  background-color: var(--color-on-secondary-container);
  color: var(--color-secondary-container);
}

.swatch12 {
  background-color: var(--color-tertiary);
  color: var(--color-on-tertiary);
}
.swatch13 {
  background-color: var(--color-on-tertiary);
  color: var(--color-tertiary);
}
.swatch14 {
  background-color: var(--color-tertiary-container);
  color: var(--color-on-tertiary-container);
}
.swatch15 {
  background-color: var(--color-on-tertiary-container);
  color: var(--color-tertiary-container);
}

.swatch16 {
  background-color: var(--color-primary-fixed);
  color: var(--color-on-primary-fixed);
}
.swatch17 {
  background-color: var(--color-primary-fixed-dim);
  color: var(--color-on-primary-fixed);
}
.swatch18 {
  background-color: var(--color-on-primary-fixed);
  color: var(--color-primary-fixed);
}
.swatch19 {
  background-color: var(--color-on-primary-fixed-variant);
  color: var(--color-primary-fixed);
}


.swatch20 {
  background-color: var(--color-secondary-fixed);
  color: var(--color-on-secondary-fixed);
}
.swatch21 {
  background-color: var(--color-secondary-fixed-dim);
  color: var(--color-on-secondary-fixed);
}
.swatch22 {
  background-color: var(--color-on-secondary-fixed);
  color: var(--color-secondary-fixed);
}
.swatch23 {
  background-color: var(--color-on-secondary-fixed-variant);
  color: var(--color-secondary-fixed);
}


.swatch24 {
  background-color: var(--color-tertiary-fixed);
  color: var(--color-on-tertiary-fixed);
}
.swatch25 {
  background-color: var(--color-tertiary-fixed-dim);
  color: var(--color-on-tertiary-fixed);
}
.swatch26 {
  background-color: var(--color-on-tertiary-fixed);
  color: var(--color-tertiary-fixed);
}
.swatch27 {
  background-color: var(--color-on-tertiary-fixed-variant);
  color: var(--color-tertiary-fixed);
}


.swatch28 {
  background-color: var(--color-surface-dim);
}
.swatch29 {
  background-color: var(--color-surface-bright);
}
.swatch30 {
  background-color: var(--color-surface);
}

.swatch31 {
  background-color: var(--color-surface-container-lowest);
}
.swatch32 {
  background-color: var(--color-surface-container-low);
}
.swatch33 {
  background-color: var(--color-surface-container);
}
.swatch34 {
  background-color: var(--color-surface-container-high);
}
.swatch35 {
  background-color: var(--color-surface-container-highest);
}

.swatch36 {
  background-color: var(--color-on-surface);
}
.swatch37 {
  background-color: var(--color-on-surface-variant);
}
.swatch38 {
  background-color: var(--color-outline);
}
.swatch39 {
  background-color: var(--color-outline-variant);
  color: var(--color-inverse-surface);
}

/* Fixed containers */
.swatch16,
.swatch17,
.swatch20,
.swatch21,
.swatch24,
.swatch25,
/* Surface */
.swatch28,
.swatch29,
.swatch30,
.swatch31,
.swatch32,
.swatch33,
.swatch34,
.swatch35,
/* Other */
.swatch36,
.swatch37,
.swatch38,
.swatch39 {
  flex: 1 1 0;
}


.swatch40 {
  background-color: var(--color-inverse-surface);
  color: var(--color-inverse-on-surface);
}
.swatch41 {
  background-color: var(--color-inverse-on-surface);
  color: var(--color-inverse-surface);
}
.swatch42 {
  background-color: var(--color-inverse-primary);
  color: var(--color-inverse-surface);
}
.swatch43 {
  background-color: var(--color-shadow);
}
