#page-colors {
  h1, h2, h3 {
    margin-bottom: 0.5em;
  }

  h1, h2 {
    margin-top: 1em;
  }

  .key-color {
    background-color: var(--palette-primary55);
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--shape-corner-s);
  }
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: var(--shape-corner-l);
  gap: 0.5rem;
  padding: 2rem;
  border: 1px solid var(--color-outline);

  div {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: inherit;
    padding: 1rem;
  }

  h3 {
    grid-column: span 2;
  }
}

.system-colors-palette {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin-bottom: 2rem;

  .color-palette {
    flex: 1 1 0;
  }
}

.admonitions-palette {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin-bottom: 2rem;

  .custom {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;

    .admonition {
      margin-block: 0;
      max-width: unset;
      gap: 0;
      box-shadow: unset;
    }
  }
}

.classics-palette {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin-bottom: 2rem;

  .classic-wheel {
    flex: 1 1 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;

    h2 {
      grid-column: span 2;
    }

    .primary-test {
      background-color: var(--color-primary);
      color: var(--color-on-primary);
      grid-column: span 2;
    }
  
    .primary-container-test {
      background-color: var(--color-primary-container);
      color: var(--color-on-primary-container);
      grid-column: span 2;
    }
  
    .complementary {
      grid-column: span 2;
    }
  
    .complementary-container {
      grid-column: span 2;
    }  
  }
}

.reference-palette {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  background-color: unset;
  color: var(--palette-white);
  border-radius: var(--shape-corner-s);
  gap: 0.2rem;
  margin-block: 0.1rem;

  &::before {
    color: var(--color-on-surface);
    
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 100%;
    grid-column: span 2;
    
    padding: 0 1rem;

    font-family: var(--typeface-mono);
    font-size: var(--typescale-title-small-size);
    font-weight: var(--typescale-headline-small-weight);
  }

  &.primary::before { content: 'Primary'; }
  &.secondary::before { content: 'Secondary'; }
  &.tertiary::before { content: 'Tertiary'; }
  &.neutral::before { content: 'Neutral'; }
  &.neutral-variant::before { content: 'Neutral Variant'; }
  &.error::before { content: 'Error'; }
  &.warning::before { content: 'Warning'; }
  &.caution::before { content: 'Caution'; }
  &.important::before { content: 'Important'; }
  &.pinned::before { content: 'Pinned'; }
  &.verse::before { content: 'Verse'; }
  &.export::before { content: 'Export'; }
  &.query::before { content: 'Query'; }
  &.note::before { content: 'Note'; }
  &.tip::before { content: 'Tip'; }
  &.example::before { content: 'Example'; }
  &.comment::before { content: 'Comment'; }
  &.quote::before { content: 'Quote'; }
  &.sub30::before { content: '-30'; }
  &.sub60::before { content: '-60'; }
  &.sub90::before { content: '-90'; }
  &.sub120::before { content: '-120'; }
  &.sub150::before { content: '-150'; }
  &.sub180::before { content: '-180'; }
  &.complementary::before { content: 'Complementary'; }
  &.add180::before { content: '+180'; }
  &.add150::before { content: '+150'; }
  &.add120::before { content: '+120'; }
  &.add90::before { content: '+90'; }
  &.add60::before { content: '+60'; }
  &.add30::before { content: '+30'; }

  div:nth-child(7),
  div:nth-child(8),
  div:nth-child(9),
  div:nth-child(10),
  div:nth-child(11) {
    color: var(--palette-black);
  }
}

.reference-palette * {
  flex: 1 1 0;

  display: flex;
  flex-flow: column nowrap;
  
  min-height: 3rem;
  align-items: center;
  justify-content: center;
  font-family: var(--typeface-mono);
  font-weight: var(--typeface-weight-extra-light);
  opacity: 0.5;

  &:hover {
    opacity: 1;
    z-index: 1;
  }
}

.ref-default-palette,
.ref-admon-palette,
.ref-classic-palette {
  padding: 2rem;
  border: 1px solid var(--color-outline);
  margin-bottom: 2em;
}

.primary,
.secondary,
.tertiary,
.error {
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4),
  div:nth-child(5),
  div:nth-child(9),
  div:nth-child(10),
  div:nth-child(11) {
    font-weight: 900;
    opacity: 1;
  }
}

.neutral {
  div:nth-child(1),
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(9),
  div:nth-child(10),
  div:nth-child(11) {
    font-weight: 900;
    opacity: 1;
  }
}

.neutral-variant {
  div:nth-child(4),
  div:nth-child(6),
  div:nth-child(7),
  div:nth-child(9),
  div:nth-child(10) {
    font-weight: 900;
    opacity: 1;
  }
}

.error,
.warning,
.caution,
.important,
.pinned,
.verse,
.export,
.query,
.note,
.tip,
.example,
.comment,
.quote,
.sub30,
.sub60,
.sub90,
.sub120,
.sub150,
.sub180,
.add30,
.add60,
.add90,
.add120,
.add150,
.add180,
.complementary {
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4),
  div:nth-child(5),
  div:nth-child(9),
  div:nth-child(10),
  div:nth-child(11) {
    font-weight: 900;
    opacity: 1;
  }
}

.primary div:nth-child(1) { background-color: var(--palette-primary0); }
.primary div:nth-child(2) { background-color: var(--palette-primary10); } 
.primary div:nth-child(3) { background-color: var(--palette-primary20); }
.primary div:nth-child(4) { background-color: var(--palette-primary30); }
.primary div:nth-child(5) { background-color: var(--palette-primary40); }
.primary div:nth-child(6) { background-color: var(--palette-primary50); }
.primary div:nth-child(7) { background-color: var(--palette-primary60); }
.primary div:nth-child(8) { background-color: var(--palette-primary70); }
.primary div:nth-child(9) { background-color: var(--palette-primary80); }
.primary div:nth-child(10) { background-color: var(--palette-primary90); }
.primary div:nth-child(11) { background-color: var(--palette-primary100); }

.secondary div:nth-child(1) { background-color: var(--palette-secondary0); }
.secondary div:nth-child(2) { background-color: var(--palette-secondary10); }
.secondary div:nth-child(3) { background-color: var(--palette-secondary20); }  
.secondary div:nth-child(4) { background-color: var(--palette-secondary30); }
.secondary div:nth-child(5) { background-color: var(--palette-secondary40); }
.secondary div:nth-child(6) { background-color: var(--palette-secondary50); }
.secondary div:nth-child(7) { background-color: var(--palette-secondary60); }
.secondary div:nth-child(8) { background-color: var(--palette-secondary70); }
.secondary div:nth-child(9) { background-color: var(--palette-secondary80); }
.secondary div:nth-child(10) { background-color: var(--palette-secondary90); }
.secondary div:nth-child(11) { background-color: var(--palette-secondary100); }

.tertiary div:nth-child(1) { background-color: var(--palette-tertiary0); }
.tertiary div:nth-child(2) { background-color: var(--palette-tertiary10); }
.tertiary div:nth-child(3) { background-color: var(--palette-tertiary20); }
.tertiary div:nth-child(4) { background-color: var(--palette-tertiary30); }
.tertiary div:nth-child(5) { background-color: var(--palette-tertiary40); }
.tertiary div:nth-child(6) { background-color: var(--palette-tertiary50); }
.tertiary div:nth-child(7) { background-color: var(--palette-tertiary60); }
.tertiary div:nth-child(8) { background-color: var(--palette-tertiary70); }
.tertiary div:nth-child(9) { background-color: var(--palette-tertiary80); }
.tertiary div:nth-child(10) { background-color: var(--palette-tertiary90); }
.tertiary div:nth-child(11) { background-color: var(--palette-tertiary100); }

.error div:nth-child(1) { background-color: var(--palette-error0); }
.error div:nth-child(2) { background-color: var(--palette-error10); }
.error div:nth-child(3) { background-color: var(--palette-error20); }
.error div:nth-child(4) { background-color: var(--palette-error30); }
.error div:nth-child(5) { background-color: var(--palette-error40); }
.error div:nth-child(6) { background-color: var(--palette-error50); }
.error div:nth-child(7) { background-color: var(--palette-error60); }
.error div:nth-child(8) { background-color: var(--palette-error70); }
.error div:nth-child(9) { background-color: var(--palette-error80); }
.error div:nth-child(10) { background-color: var(--palette-error90); }
.error div:nth-child(11) { background-color: var(--palette-error100); }

.neutral div:nth-child(1) { background-color: var(--palette-neutral0); }
.neutral div:nth-child(2) { background-color: var(--palette-neutral10); }
.neutral div:nth-child(3) { background-color: var(--palette-neutral20); }
.neutral div:nth-child(4) { background-color: var(--palette-neutral30); }
.neutral div:nth-child(5) { background-color: var(--palette-neutral40); }
.neutral div:nth-child(6) { background-color: var(--palette-neutral50); }
.neutral div:nth-child(7) { background-color: var(--palette-neutral60); }
.neutral div:nth-child(8) { background-color: var(--palette-neutral70); }
.neutral div:nth-child(9) { background-color: var(--palette-neutral80); }
.neutral div:nth-child(10) { background-color: var(--palette-neutral90); }
.neutral div:nth-child(11) { background-color: var(--palette-neutral100); }

.neutral-variant div:nth-child(1) { background-color: var(--palette-neutral-variant0); }  
.neutral-variant div:nth-child(2) { background-color: var(--palette-neutral-variant10); }
.neutral-variant div:nth-child(3) { background-color: var(--palette-neutral-variant20); }
.neutral-variant div:nth-child(4) { background-color: var(--palette-neutral-variant30); }  
.neutral-variant div:nth-child(5) { background-color: var(--palette-neutral-variant40); }
.neutral-variant div:nth-child(6) { background-color: var(--palette-neutral-variant50); }
.neutral-variant div:nth-child(7) { background-color: var(--palette-neutral-variant60); }
.neutral-variant div:nth-child(8) { background-color: var(--palette-neutral-variant70); }
.neutral-variant div:nth-child(9) { background-color: var(--palette-neutral-variant80); }
.neutral-variant div:nth-child(10) { background-color: var(--palette-neutral-variant90); }
.neutral-variant div:nth-child(11) { background-color: var(--palette-neutral-variant100); }

.warning div:nth-child(1) { background-color: var(--palette-warning0); }
.warning div:nth-child(2) { background-color: var(--palette-warning10); }
.warning div:nth-child(3) { background-color: var(--palette-warning20); }
.warning div:nth-child(4) { background-color: var(--palette-warning30); }
.warning div:nth-child(5) { background-color: var(--palette-warning40); }
.warning div:nth-child(6) { background-color: var(--palette-warning50); }
.warning div:nth-child(7) { background-color: var(--palette-warning60); }
.warning div:nth-child(8) { background-color: var(--palette-warning70); }
.warning div:nth-child(9) { background-color: var(--palette-warning80); }
.warning div:nth-child(10) { background-color: var(--palette-warning90); }
.warning div:nth-child(11) { background-color: var(--palette-warning100); }

.caution div:nth-child(1) { background-color: var(--palette-caution0); }
.caution div:nth-child(2) { background-color: var(--palette-caution10); }
.caution div:nth-child(3) { background-color: var(--palette-caution20); }
.caution div:nth-child(4) { background-color: var(--palette-caution30); }
.caution div:nth-child(5) { background-color: var(--palette-caution40); }
.caution div:nth-child(6) { background-color: var(--palette-caution50); }
.caution div:nth-child(7) { background-color: var(--palette-caution60); }
.caution div:nth-child(8) { background-color: var(--palette-caution70); }
.caution div:nth-child(9) { background-color: var(--palette-caution80); }
.caution div:nth-child(10) { background-color: var(--palette-caution90); }
.caution div:nth-child(11) { background-color: var(--palette-caution100); }

.important div:nth-child(1) { background-color: var(--palette-important0); }
.important div:nth-child(2) { background-color: var(--palette-important10); }
.important div:nth-child(3) { background-color: var(--palette-important20); }
.important div:nth-child(4) { background-color: var(--palette-important30); }
.important div:nth-child(5) { background-color: var(--palette-important40); }
.important div:nth-child(6) { background-color: var(--palette-important50); }
.important div:nth-child(7) { background-color: var(--palette-important60); }
.important div:nth-child(8) { background-color: var(--palette-important70); }
.important div:nth-child(9) { background-color: var(--palette-important80); }
.important div:nth-child(10) { background-color: var(--palette-important90); }
.important div:nth-child(11) { background-color: var(--palette-important100); }
 
.pinned div:nth-child(1) { background-color: var(--palette-pinned0); }
.pinned div:nth-child(2) { background-color: var(--palette-pinned10); }  
.pinned div:nth-child(3) { background-color: var(--palette-pinned20); }
.pinned div:nth-child(4) { background-color: var(--palette-pinned30); } 
.pinned div:nth-child(5) { background-color: var(--palette-pinned40); }
.pinned div:nth-child(6) { background-color: var(--palette-pinned50); }
.pinned div:nth-child(7) { background-color: var(--palette-pinned60); }
.pinned div:nth-child(8) { background-color: var(--palette-pinned70); }
.pinned div:nth-child(9) { background-color: var(--palette-pinned80); }
.pinned div:nth-child(10) { background-color: var(--palette-pinned90); }
.pinned div:nth-child(11) { background-color: var(--palette-pinned100); }
 
.verse div:nth-child(1) { background-color: var(--palette-verse0); }
.verse div:nth-child(2) { background-color: var(--palette-verse10); }
.verse div:nth-child(3) { background-color: var(--palette-verse20); }
.verse div:nth-child(4) { background-color: var(--palette-verse30); }
.verse div:nth-child(5) { background-color: var(--palette-verse40); }
.verse div:nth-child(6) { background-color: var(--palette-verse50); }
.verse div:nth-child(7) { background-color: var(--palette-verse60); }
.verse div:nth-child(8) { background-color: var(--palette-verse70); }
.verse div:nth-child(9) { background-color: var(--palette-verse80); }
.verse div:nth-child(10) { background-color: var(--palette-verse90); }
.verse div:nth-child(11) { background-color: var(--palette-verse100); }

.export div:nth-child(1) { background-color: var(--palette-export0); }
.export div:nth-child(2) { background-color: var(--palette-export10); }
.export div:nth-child(3) { background-color: var(--palette-export20); }
.export div:nth-child(4) { background-color: var(--palette-export30); }
.export div:nth-child(5) { background-color: var(--palette-export40); }
.export div:nth-child(6) { background-color: var(--palette-export50); }
.export div:nth-child(7) { background-color: var(--palette-export60); } 
.export div:nth-child(8) { background-color: var(--palette-export70); }
.export div:nth-child(9) { background-color: var(--palette-export80); }
.export div:nth-child(10) { background-color: var(--palette-export90); }
.export div:nth-child(11) { background-color: var(--palette-export100); }

.query div:nth-child(1) { background-color: var(--palette-query0); }
.query div:nth-child(2) { background-color: var(--palette-query10); }  
.query div:nth-child(3) { background-color: var(--palette-query20); }
.query div:nth-child(4) { background-color: var(--palette-query30); }
.query div:nth-child(5) { background-color: var(--palette-query40); }  
.query div:nth-child(6) { background-color: var(--palette-query50); }
.query div:nth-child(7) { background-color: var(--palette-query60); }
.query div:nth-child(8) { background-color: var(--palette-query70); }
.query div:nth-child(9) { background-color: var(--palette-query80); }
.query div:nth-child(10) { background-color: var(--palette-query90); }
.query div:nth-child(11) { background-color: var(--palette-query100); }

.note div:nth-child(1) { background-color: var(--palette-note0); }
.note div:nth-child(2) { background-color: var(--palette-note10); }
.note div:nth-child(3) { background-color: var(--palette-note20); }  
.note div:nth-child(4) { background-color: var(--palette-note30); }
.note div:nth-child(5) { background-color: var(--palette-note40); }
.note div:nth-child(6) { background-color: var(--palette-note50); }
.note div:nth-child(7) { background-color: var(--palette-note60); }
.note div:nth-child(8) { background-color: var(--palette-note70); }
.note div:nth-child(9) { background-color: var(--palette-note80); }
.note div:nth-child(10) { background-color: var(--palette-note90); } 
.note div:nth-child(11) { background-color: var(--palette-note100); }

.tip div:nth-child(1) { background-color: var(--palette-tip0); }
.tip div:nth-child(2) { background-color: var(--palette-tip10); }
.tip div:nth-child(3) { background-color: var(--palette-tip20); }
.tip div:nth-child(4) { background-color: var(--palette-tip30); }
.tip div:nth-child(5) { background-color: var(--palette-tip40); }  
.tip div:nth-child(6) { background-color: var(--palette-tip50); }
.tip div:nth-child(7) { background-color: var(--palette-tip60); }
.tip div:nth-child(8) { background-color: var(--palette-tip70); }
.tip div:nth-child(9) { background-color: var(--palette-tip80); }
.tip div:nth-child(10) { background-color: var(--palette-tip90); }
.tip div:nth-child(11) { background-color: var(--palette-tip100); }

.example div:nth-child(1) { background-color: var(--palette-example0); }
.example div:nth-child(2) { background-color: var(--palette-example10); }
.example div:nth-child(3) { background-color: var(--palette-example20); }
.example div:nth-child(4) { background-color: var(--palette-example30); }
.example div:nth-child(5) { background-color: var(--palette-example40); }
.example div:nth-child(6) { background-color: var(--palette-example50); }
.example div:nth-child(7) { background-color: var(--palette-example60); }
.example div:nth-child(8) { background-color: var(--palette-example70); }
.example div:nth-child(9) { background-color: var(--palette-example80); }
.example div:nth-child(10) { background-color: var(--palette-example90); }
.example div:nth-child(11) { background-color: var(--palette-example100); }

.comment div:nth-child(1) { background-color: var(--palette-comment0); }
.comment div:nth-child(2) { background-color: var(--palette-comment10); }
.comment div:nth-child(3) { background-color: var(--palette-comment20); }
.comment div:nth-child(4) { background-color: var(--palette-comment30); }
.comment div:nth-child(5) { background-color: var(--palette-comment40); }
.comment div:nth-child(6) { background-color: var(--palette-comment50); }
.comment div:nth-child(7) { background-color: var(--palette-comment60); }
.comment div:nth-child(8) { background-color: var(--palette-comment70); }
.comment div:nth-child(9) { background-color: var(--palette-comment80); }
.comment div:nth-child(10) { background-color: var(--palette-comment90); }
.comment div:nth-child(11) { background-color: var(--palette-comment100); }

.quote div:nth-child(1) { background-color: var(--palette-quote0); }
.quote div:nth-child(2) { background-color: var(--palette-quote10); }
.quote div:nth-child(3) { background-color: var(--palette-quote20); }
.quote div:nth-child(4) { background-color: var(--palette-quote30); }
.quote div:nth-child(5) { background-color: var(--palette-quote40); }
.quote div:nth-child(6) { background-color: var(--palette-quote50); }
.quote div:nth-child(7) { background-color: var(--palette-quote60); }
.quote div:nth-child(8) { background-color: var(--palette-quote70); }
.quote div:nth-child(9) { background-color: var(--palette-quote80); }
.quote div:nth-child(10) { background-color: var(--palette-quote90); }
.quote div:nth-child(11) { background-color: var(--palette-quote100); }

.sub30 div:nth-child(1) { background-color: var(--palette-sub30-0); }
.sub30 div:nth-child(2) { background-color: var(--palette-sub30-10); }
.sub30 div:nth-child(3) { background-color: var(--palette-sub30-20); }
.sub30 div:nth-child(4) { background-color: var(--palette-sub30-30); }
.sub30 div:nth-child(5) { background-color: var(--palette-sub30-40); }
.sub30 div:nth-child(6) { background-color: var(--palette-sub30-50); }
.sub30 div:nth-child(7) { background-color: var(--palette-sub30-60); }
.sub30 div:nth-child(8) { background-color: var(--palette-sub30-70); }
.sub30 div:nth-child(9) { background-color: var(--palette-sub30-80); }
.sub30 div:nth-child(10) { background-color: var(--palette-sub30-90); }
.sub30 div:nth-child(11) { background-color: var(--palette-sub30-100); }

.add30 div:nth-child(1) { background-color: var(--palette-add30-0); }
.add30 div:nth-child(2) { background-color: var(--palette-add30-10); }
.add30 div:nth-child(3) { background-color: var(--palette-add30-20); }
.add30 div:nth-child(4) { background-color: var(--palette-add30-30); }
.add30 div:nth-child(5) { background-color: var(--palette-add30-40); }
.add30 div:nth-child(6) { background-color: var(--palette-add30-50); }
.add30 div:nth-child(7) { background-color: var(--palette-add30-60); }
.add30 div:nth-child(8) { background-color: var(--palette-add30-70); }
.add30 div:nth-child(9) { background-color: var(--palette-add30-80); }
.add30 div:nth-child(10) { background-color: var(--palette-add30-90); }
.add30 div:nth-child(11) { background-color: var(--palette-add30-100); }

.sub60 div:nth-child(1) { background-color: var(--palette-sub60-0); }
.sub60 div:nth-child(2) { background-color: var(--palette-sub60-10); }
.sub60 div:nth-child(3) { background-color: var(--palette-sub60-20); }
.sub60 div:nth-child(4) { background-color: var(--palette-sub60-30); }
.sub60 div:nth-child(5) { background-color: var(--palette-sub60-40); }
.sub60 div:nth-child(6) { background-color: var(--palette-sub60-50); }
.sub60 div:nth-child(7) { background-color: var(--palette-sub60-60); }
.sub60 div:nth-child(8) { background-color: var(--palette-sub60-70); }
.sub60 div:nth-child(9) { background-color: var(--palette-sub60-80); }
.sub60 div:nth-child(10) { background-color: var(--palette-sub60-90); }
.sub60 div:nth-child(11) { background-color: var(--palette-sub60-100); }

.add60 div:nth-child(1) { background-color: var(--palette-add60-0); }
.add60 div:nth-child(2) { background-color: var(--palette-add60-10); }
.add60 div:nth-child(3) { background-color: var(--palette-add60-20); }
.add60 div:nth-child(4) { background-color: var(--palette-add60-30); }
.add60 div:nth-child(5) { background-color: var(--palette-add60-40); }
.add60 div:nth-child(6) { background-color: var(--palette-add60-50); }
.add60 div:nth-child(7) { background-color: var(--palette-add60-60); }
.add60 div:nth-child(8) { background-color: var(--palette-add60-70); }
.add60 div:nth-child(9) { background-color: var(--palette-add60-80); }
.add60 div:nth-child(10) { background-color: var(--palette-add60-90); }
.add60 div:nth-child(11) { background-color: var(--palette-add60-100); }

.sub90 div:nth-child(1) { background-color: var(--palette-sub90-0); }
.sub90 div:nth-child(2) { background-color: var(--palette-sub90-10); }
.sub90 div:nth-child(3) { background-color: var(--palette-sub90-20); }
.sub90 div:nth-child(4) { background-color: var(--palette-sub90-30); }
.sub90 div:nth-child(5) { background-color: var(--palette-sub90-40); }
.sub90 div:nth-child(6) { background-color: var(--palette-sub90-50); }
.sub90 div:nth-child(7) { background-color: var(--palette-sub90-60); }
.sub90 div:nth-child(8) { background-color: var(--palette-sub90-70); }
.sub90 div:nth-child(9) { background-color: var(--palette-sub90-80); }
.sub90 div:nth-child(10) { background-color: var(--palette-sub90-90); }
.sub90 div:nth-child(11) { background-color: var(--palette-sub90-100); }

.add90 div:nth-child(1) { background-color: var(--palette-add90-0); }
.add90 div:nth-child(2) { background-color: var(--palette-add90-10); }
.add90 div:nth-child(3) { background-color: var(--palette-add90-20); }
.add90 div:nth-child(4) { background-color: var(--palette-add90-30); }
.add90 div:nth-child(5) { background-color: var(--palette-add90-40); }
.add90 div:nth-child(6) { background-color: var(--palette-add90-50); }
.add90 div:nth-child(7) { background-color: var(--palette-add90-60); }
.add90 div:nth-child(8) { background-color: var(--palette-add90-70); }
.add90 div:nth-child(9) { background-color: var(--palette-add90-80); }
.add90 div:nth-child(10) { background-color: var(--palette-add90-90); }
.add90 div:nth-child(11) { background-color: var(--palette-add90-100); }

.sub120 div:nth-child(1) { background-color: var(--palette-sub120-0); }
.sub120 div:nth-child(2) { background-color: var(--palette-sub120-10); }
.sub120 div:nth-child(3) { background-color: var(--palette-sub120-20); }
.sub120 div:nth-child(4) { background-color: var(--palette-sub120-30); }
.sub120 div:nth-child(5) { background-color: var(--palette-sub120-40); }
.sub120 div:nth-child(6) { background-color: var(--palette-sub120-50); }
.sub120 div:nth-child(7) { background-color: var(--palette-sub120-60); }
.sub120 div:nth-child(8) { background-color: var(--palette-sub120-70); }
.sub120 div:nth-child(9) { background-color: var(--palette-sub120-80); }
.sub120 div:nth-child(10) { background-color: var(--palette-sub120-90); }
.sub120 div:nth-child(11) { background-color: var(--palette-sub120-100); }

.add120 div:nth-child(1) { background-color: var(--palette-add120-0); }
.add120 div:nth-child(2) { background-color: var(--palette-add120-10); }
.add120 div:nth-child(3) { background-color: var(--palette-add120-20); }
.add120 div:nth-child(4) { background-color: var(--palette-add120-30); }
.add120 div:nth-child(5) { background-color: var(--palette-add120-40); }
.add120 div:nth-child(6) { background-color: var(--palette-add120-50); }
.add120 div:nth-child(7) { background-color: var(--palette-add120-60); }
.add120 div:nth-child(8) { background-color: var(--palette-add120-70); }
.add120 div:nth-child(9) { background-color: var(--palette-add120-80); }
.add120 div:nth-child(10) { background-color: var(--palette-add120-90); }
.add120 div:nth-child(11) { background-color: var(--palette-add120-100); }

.sub150 div:nth-child(1) { background-color: var(--palette-sub150-0); }
.sub150 div:nth-child(2) { background-color: var(--palette-sub150-10); }
.sub150 div:nth-child(3) { background-color: var(--palette-sub150-20); }
.sub150 div:nth-child(4) { background-color: var(--palette-sub150-30); }
.sub150 div:nth-child(5) { background-color: var(--palette-sub150-40); }
.sub150 div:nth-child(6) { background-color: var(--palette-sub150-50); }
.sub150 div:nth-child(7) { background-color: var(--palette-sub150-60); }
.sub150 div:nth-child(8) { background-color: var(--palette-sub150-70); }
.sub150 div:nth-child(9) { background-color: var(--palette-sub150-80); }
.sub150 div:nth-child(10) { background-color: var(--palette-sub150-90); }
.sub150 div:nth-child(11) { background-color: var(--palette-sub150-100); }

.add150 div:nth-child(1) { background-color: var(--palette-add150-0); }
.add150 div:nth-child(2) { background-color: var(--palette-add150-10); }
.add150 div:nth-child(3) { background-color: var(--palette-add150-20); }
.add150 div:nth-child(4) { background-color: var(--palette-add150-30); }
.add150 div:nth-child(5) { background-color: var(--palette-add150-40); }
.add150 div:nth-child(6) { background-color: var(--palette-add150-50); }
.add150 div:nth-child(7) { background-color: var(--palette-add150-60); }
.add150 div:nth-child(8) { background-color: var(--palette-add150-70); }
.add150 div:nth-child(9) { background-color: var(--palette-add150-80); }
.add150 div:nth-child(10) { background-color: var(--palette-add150-90); }
.add150 div:nth-child(11) { background-color: var(--palette-add150-100); }

.sub180 div:nth-child(1) { background-color: var(--palette-sub180-0); }
.sub180 div:nth-child(2) { background-color: var(--palette-sub180-10); }
.sub180 div:nth-child(3) { background-color: var(--palette-sub180-20); }
.sub180 div:nth-child(4) { background-color: var(--palette-sub180-30); }
.sub180 div:nth-child(5) { background-color: var(--palette-sub180-40); }
.sub180 div:nth-child(6) { background-color: var(--palette-sub180-50); }
.sub180 div:nth-child(7) { background-color: var(--palette-sub180-60); }
.sub180 div:nth-child(8) { background-color: var(--palette-sub180-70); }
.sub180 div:nth-child(9) { background-color: var(--palette-sub180-80); }
.sub180 div:nth-child(10) { background-color: var(--palette-sub180-90); }
.sub180 div:nth-child(11) { background-color: var(--palette-sub180-100); }

.add180 div:nth-child(1) { background-color: var(--palette-add180-0); }
.add180 div:nth-child(2) { background-color: var(--palette-add180-10); }
.add180 div:nth-child(3) { background-color: var(--palette-add180-20); }
.add180 div:nth-child(4) { background-color: var(--palette-add180-30); }
.add180 div:nth-child(5) { background-color: var(--palette-add180-40); }
.add180 div:nth-child(6) { background-color: var(--palette-add180-50); }
.add180 div:nth-child(7) { background-color: var(--palette-add180-60); }
.add180 div:nth-child(8) { background-color: var(--palette-add180-70); }
.add180 div:nth-child(9) { background-color: var(--palette-add180-80); }
.add180 div:nth-child(10) { background-color: var(--palette-add180-90); }
.add180 div:nth-child(11) { background-color: var(--palette-add180-100); }

.complementary div:nth-child(1) { background-color: var(--palette-complementary-0); }
.complementary div:nth-child(2) { background-color: var(--palette-complementary-10); }
.complementary div:nth-child(3) { background-color: var(--palette-complementary-20); }
.complementary div:nth-child(4) { background-color: var(--palette-complementary-30); }
.complementary div:nth-child(5) { background-color: var(--palette-complementary-40); }
.complementary div:nth-child(6) { background-color: var(--palette-complementary-50); }
.complementary div:nth-child(7) { background-color: var(--palette-complementary-60); }
.complementary div:nth-child(8) { background-color: var(--palette-complementary-70); }
.complementary div:nth-child(9) { background-color: var(--palette-complementary-80); }
.complementary div:nth-child(10) { background-color: var(--palette-complementary-90); }
.complementary div:nth-child(11) { background-color: var(--palette-complementary-100); }
