.contact-form {
  display: flex;
  flex-flow: column nowrap;
  padding: var(--spacing-xl);
  gap: var(--spacing-m);
  
  border-radius: var(--shape-corner-xs);
  box-shadow: var(--elevation1);

  background: var(--color-surface-container);

  color: var(--color-on-surface);

  textarea {
    resize: vertical;
    background: var(--color-surface-container-high);
    color: var(--color-on-surface-variant);
    box-shadow: var(--elevation2);
    padding: var(--spacing-l);
  }

  input[type="text"],
  input[type="email"] {
    height: 56px;
    padding: 0 var(--spacing-l);

    box-shadow: var(--elevation2);
    
    background: var(--color-surface-container-high);

    color: var(--color-on-surface-variant);
  }

  button[type="submit"] {
    margin: var(--spacing-s) 0;
    padding: var(--spacing-s) var(--spacing-l);
    align-self: center;
    
    border-radius: var(--shape-corner-xl);
    box-shadow: var(--elevation1);

    background-color: var(--color-primary);

    color: var(--color-on-primary);
    
    cursor: pointer;
  }

  .error {
    color: var(--color-on-error);
  }

  .status {
    color: var(--color-inverse-primary);
  }

  .hidden {
    display: none;
  }
}
