.contact-form {
  display: flex;
  flex-flow: column nowrap;
  padding: var(--size-8);
  gap: var(--size-4);
  border-radius: var(--shape-corner-xl);
  box-shadow: var(--elevation1);
  background: var(--color-surface-container);
  color: var(--color-on-surface);

  [type="submit"] {
    cursor: pointer;
    margin-top: var(--size-8);
  }

  label {
    margin-top: var(--size-4);
  }

  .error {
    color: var(--color-on-error);
  }

  .status {
    color: var(--color-inverse-primary);
  }

  .hidden {
    display: none;
  }
}
