#home {
  img {
    border-radius: var(--shape-corner-xl);
    object-fit: cover;
  }

  .pane {
    --bg-color: var(--color-surface-container-lowest);
    --width: 100%;
    gap: 1rem;

    * {
      width: 100%;
    }

    .home-image img {
      min-height: 33dvh;
    }

    h1,
    .home-image {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 0;
    }

    h1 {
      color: var(--color-inverse-on-surface);
      background-color: var(--color-inverse-surface);
      padding: var(--spacing-panes);
    }

    .home-buttons {
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;
    }
  }

  .showcase-panel {
    display: flex;
    flex-flow: column nowrap;
    padding: var(--spacing-panes);
    background-color: var(--color-surface-container-low);
    gap: 2rem;
    border-radius: var(--shape-corner-xl);
    margin-top: 4em;
  }
}
