#home {
  .pane {
    --bg-color: var(--color-surface-container-lowest);
    --width: 100%;
    gap: 1rem;

    * {
      width: 100%;
    }
  }

  .home-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    gap: 2em;

    img {
      align-self: center;
      border-radius: var(--shape-corner-xl);
      object-fit: cover;
      aspect-ratio: 1 / 1;
      height: auto;
      max-width: fit-content;
    }

    .home-image {
      max-width: fit-content;
    }


    .home-image,
    .home-left {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
    }

    .home-left {
      background-color: var(--color-surface-container-low);
      border-radius: var(--shape-corner-xl);
      padding: 1em;
      gap: 2em;

      h1 {
        flex: 1 1 0;
        color: var(--color-secondary);
        padding: var(--spacing-panes);
        margin: 0;
      }
  
      .home-buttons {
        flex: 1 1 0;
        display: flex;
        flex-flow: column nowrap;
        gap: 1em;
      }  
    }
  }

  .showcase-panel {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: var(--size-12);
    background-color: var(--color-surface-container);
    gap: 2rem;
    border-radius: var(--shape-corner-xl);
    margin-top: 4em;
    
    h2 {
      text-align: center;
    }
  }
}
