.shapes-container {
    display: flex;
    flex-flow: row wrap;

    border-radius: var(--shape-corner-xl);
    gap: var(--spacing-l);
    
    background-color: var(--color-surface-container-lowest);
    padding: calc(var(--spacing-panes) * 2);

    *[class^="shape-"] {
        flex: 1 1 0;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        padding: var(--spacing-xl);
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 64px;
        background-color: var(--color-secondary-container);
        color: var(--color-on-secondary-container);
    }

    .shape-none,
    .shape-full {
        flex: 0 0 auto;
        min-width: 64px;
        align-self: stretch;
        align-items: center;
        justify-content: center;
    }

    h2 {
        flex: 0 0 auto;
        width: 100%;
    }
    
    h2:not(:first-child) {
        margin-top: 1em;
    }
}