.sitemap {
  display: flex;
  flex-flow: column nowrap;
  padding: var(--size-1);

  h3,
  h4,
  h5,
  h6,
  a,
  div {
    display: block;
    width: 100%;
    padding: var(--size-1) 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  * {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--size-3);
  }
}
