.typeface-weights-container {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    .typeface-weights:nth-child(1) h3 { font-family: var(--typeface-brand); }
    .typeface-weights:nth-child(2) h3 { font-family: var(--typeface-plain); }
    .typeface-weights:nth-child(3) h3 { font-family: var(--typeface-mono); }

    .typeface-weights {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        padding: var(--spacing-panes);

        background-color: var(--color-surface-container-lowest);

        h6 {
            min-height: 8rem;
            background-color: var(--color-surface-container);
            border-radius: var(--shape-corner-m);
            align-items: flex-start;
            justify-content: flex-start;
            padding: 1rem;
        }
    
        div:nth-child(2) { font-weight: var(--typeface-weight-black); }
        div:nth-child(3) { font-weight: var(--typeface-weight-extra-bold); }
        div:nth-child(4) { font-weight: var(--typeface-weight-bold); }
        div:nth-child(5) { font-weight: var(--typeface-weight-semi-bold); }
        div:nth-child(6) { font-weight: var(--typeface-weight-medium); }
        div:nth-child(7) { font-weight: var(--typeface-weight-regular); }
        div:nth-child(8) { font-weight: var(--typeface-weight-light); }
        div:nth-child(9) { font-weight: var(--typeface-weight-extra-light); }
        div:nth-child(10) { font-weight: var(--typeface-weight-thin); }
        
        * {
            flex: 1 1 0;
            display: flex;
            align-self: stretch;
            padding: 0.5rem;
        }
    }
}

.typescale-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;

    [class*="typescale-"] {
        display: flex;
        flex-flow: column nowrap;
        gap: 1em;
        padding: 1em;
        border: 1px solid var(--color-outline);
        border-radius: var(--shape-corner-m);
    }
}