.text-field {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-justify-content: initial;
  --container-align-items: center;
  --container-gap: var(--size-4);
  --container-height: initial;
  min-height: var(--size-14);
  --container-width: 100%;
  --container-padding: var(--size-2) var(--size-4);
  --container-outline: initial;
  --container-elevation: initial;

  & input {
    flex: 1 1 auto;
    color: var(--color-on-surface);
    outline: none;
    background-color: transparent;
    z-index: 8;
    color: transparent;

    &::placeholder {
      color: var(--color-on-surface-variant);
    }
  }

  & label {
    position: absolute;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    white-space: nowrap;
    left: 0;
    color: var(--color-on-surface-variant);
    padding-left: var(--size-4);
    background-color: transparent;
    z-index: 1;
  }

  &:has(i:first-child) {
    & label {
      padding-inline-start: var(--size-13);
    }
  }

  &[filled] {
    --container-shape: var(--shape-corner-xs-top);
    --bg-color: var(--color-surface-container-highest);
    --text-color: var(--color-on-surface);
    --icon-color: var(--color-on-surface);
    
    & i.icon,
& .icon:last-child {
      display: none;
    }

    & hr {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:hover {
      & hr {
        height: 1px;
        color: var(--color-on-surface);
      }
    }

    &:focus,
    &:focus-within,
    &:focus-visible {
      & hr {
        height: 3px;
        color: var(--color-primary);
      }

      &:has(label) { 
        & input {
          flex: 1 1 auto;
          padding-block-start: var(--size-2);
          color: var(--color-on-surface);

          &::placeholder {
            color: transparent;
          }
        }
          
        & label {
          top: 0px;
          color: var(--color-primary);
          font-size: var(--typescale-body-small-size);
          line-height: var(--typescale-body-small-line-height);
          font-weight: var(--typescale-body-small-weight);
          font-family: var(--typescale-body-small-font);    
        }
      }

      & input {
        flex: 1 1 auto;
        color: var(--color-on-surface);

        &::placeholder {
          color: transparent;
        }
      }
    }
  }

  &[outlined] {
    --container-outline: 1px solid var(--color-outline);
    --container-shape: var(--shape-corner-xs);
    --bg-color: inherit;
    --text-color: var(--color-on-surface-variant);
    --icon-color: var(--color-on-surface-variant);

    --container-outline-hover: 1px solid var(--color-on-surface);
    --container-outline-focus: 2px solid var(--color-primary);
    --container-outline-press: 1px solid var(--color-primary);

    &:focus,
    &:focus-within,
    &:focus-visible {
      --container-outline: var(--container-outline-focus);

      &:has(label) { 
        & input {
          flex: 1 1 auto;
          padding-block-start: var(--size-2);
          color: var(--color-on-surface);

          &::placeholder {
            color: transparent;
          }
        }

        & label {
          top: calc(-1 * var(--size-2));
          color: var(--color-primary);
          margin-inline: var(--size-2);
          padding-inline: var(--size-1);
          background-color: var(--color-surface-container-lowest);

          &::before,
          &::after {
            content: "";
            position: absolute;
            top: calc(-1 * var(--size-2));
            width: 100%;
            height: 2px;
            background-color: var(--color-surface-container-lowest);
          }

          &::before {
            left: 0;
          }

          &::after {
            right: 0;
          }
        }
      }

      & input {
        flex: 1 1 auto;
        color: var(--color-on-surface);

        &::placeholder {
          color: transparent;
        }
      }
    }
  }

  & .suffix-content {
    display: none;
  }

  &.suffix {
    &:focus,
    &:focus-within,
    &:focus-visible {
      & .suffix-content {
        display: inline
      }
    }
  }

  & .supporting-text {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    height: var(--size-5);
    padding: var(--size-1) var(--size-4) 0px var(--size-4);
    align-items: flex-start;
    gap: 10px;

    font-size: var(--typescale-body-small-size);
    line-height: var(--typescale-body-small-line-height);
    font-weight: var(--typescale-body-small-weight);
    font-family: var(--typescale-body-small-font);      

    color: var(--color-on-surface-variant);
  }
  
  /* Multi line input */
  &:has(textarea) {
    padding: var(--size-4);
    height: auto;
    color: transparent;

    & textarea {
      flex: 1 1 auto;
      resize: vertical;
      min-height: var(--size-14);
      z-index: 8;

      &::placeholder {
        color: transparent;
      }
    }

    & label {
      align-items: flex-start;
      top: var(--size-4);
    }
    
    &:focus,
    &:focus-within,
    &:focus-visible {
      & textarea {
        padding-block-start: var(--size-2);
        color: var(--color-on-surface);
      
        &::placeholder {
          color: var(--color-on-surface);
        }
      }
    }
  }


  &:has(i:last-child) {
    padding-right: var(--size-3);
  }

  &:has(i:first-child) {
    padding-left: var(--size-3);
  }

  & i.icon,
& .icon {
    color: var(--color-on-surface-variant);

    &:last-child {
      margin-left: auto;
    }
  }
}
