/* Resting */
.elevation0 {
  box-shadow: var(--elevation-level0);
}

.elevation1 {
  box-shadow: var(--elevation-level1);
}

.elevation2 {
  box-shadow: var(--elevation-level2);
}

.elevation3 {
  box-shadow: var(--elevation-level3);
}

/* Interactions */
.elevation4 {
  box-shadow: var(--elevation-level4);
}

.elevation5 {
  box-shadow: var(--elevation-level5);
}
