.search {
  &[bar] {
    --container-display: flex;
    --container-flex-flow: row nowrap;
    --container-align-items: center;
    --container-justify-content: flex-start;
    --container-gap: var(--size-1);

    --container-elevation: var(--elevation3);

    --container-height: var(--size-14);
    --container-shape: var(--shape-corner-full);
    --container-padding: var(--size-1);

    --bg-color: var(--color-surface-container-high);
    --icon-color: var(--color-on-surface);

    width: 100%;

    & > .icon-button,
    & > #searchIcon {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      width: var(--size-10);
      height: var(--size-10);
      font-size: var(--size-6);

      color: var(--color-on-surface);

      &:first-of-type {
        margin-inline-start: var(--size-3);
      }

      &:last-of-type {
        margin-inline-end: var(--size-3);
      }
    }

    & input#searchInput {
      flex: 1 1 auto;
      border-radius: unset;
      color: var(--color-on-surface);

      &::placeholder {
        color: var(--color-on-surface-variant);
      }
    }

    & .avatar {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      color: var(--color-surface);
      width: 30px;
      height: 30px;
      border-radius: var(--shape-corner-full);
      font-size: initial;

      background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    }

    & i {
      color: var(--color-on-surface-variant);
    }
  }
}
