.search {
  &[bar] {
    --container-display: flex;
    --container-flex-flow: row nowrap;
    --container-align-items: center;
    --container-justify-content: flex-start;

    --container-elevation: var(--elevation3);

    --container-height: 56px;
    --container-shape: var(--shape-corner-full);
    --container-padding: 0 var(--size-4);

    --bg-color: var(--color-surface-container-high);
    --icon-color: var(--color-on-surface);
    
    width: 100%;
    
    & > #searchIcon {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      
      border-radius: unset;
      
      width: 24px;
      height: 24px;
      font-size: 24px;

      color: var(--color-on-surface);
      
      margin-right: var(--size-4);
    }

    & input#searchInput {
      flex: 1 1 auto;
      border-radius: unset;
      color: var(--color-on-surface);
          
      &::placeholder {
        color: var(--color-on-surface-variant);
      }
    }
  }
}