.component {
  border: var(--container-outline,);
  box-shadow: var(--container-elevation,);

  &:hover {
    border: var(--container-outline-hover,);
    box-shadow: var(--container-elevation-hover,);
  }

  &:focus,
  &:focus-visible {
    border: var(--container-outline-focus,);
    box-shadow: var(--container-elevation-focus,);
  }

  &:active {
    border: var(--container-outline-press,);
    box-shadow: var(--container-elevation-press,);
  }
}
