<button
  class="component button icon-button"
  id="random-button"
  accesskey="r"
  title="Random page (ALT + SHIFT + R)"
  onclick="navigateToRandomPage(); return false;">
  <i>ifl</i>
</button>

<script defer>
  {{ $pages := where site.RegularPages "RelPermalink" "ne" "/graph/" }}
  {{ $pagesLen := len $pages }}
  {{ $randomIndex := math.Rand | mul $pagesLen | math.Floor | int }}
  {{ $randomPages := shuffle $pages }}
  {{ $randomPage := index $randomPages $randomIndex }}
 
  function navigateToRandomPage() {
    window.location.href = "{{ $randomPage.RelPermalink }}";
  }
</script>