.hugo_build.lock
.DS_Store
publicExport*
*.zip
tasks*
node_modules
~TASKS.txt
.vscode/extensions.json
nester.py
scraper.py
classes.md
ids.md
output.md
partials.md
content/test.md
utils.tsx
