footer {
  position: relative;

  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  padding-block: 21dvh 3dvh;
  padding-inline: 8dvw;
  gap: 5dvh;
}

.footer-links {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  & .footer-links-list {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    padding: var(--spacing-panes);

    & span:first-child {
      color: var(--color-on-surface-variant);
    }
  }

  & a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    min-height: var(--size-8);
  }

  & span {
    margin-block: var(--spacing-panes);
  }
}

#connect-links {
  display: flex; 
  flex-flow: column nowrap;
  gap: var(--size-2);

  & .button {
    justify-content: flex-start;
  }
}

.copyright {
  flex: 1 1 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  & #copyright-button {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-on-surface-variant);

    &:hover {
      color: var(--color-on-surface);
      text-decoration: underline;
    }
  }
}

.sub-sections-container {
  & a:first-child {
    margin-inline-start: 0;
    font-weight: bolder;
  }

  & a {
    margin-inline-start: var(--size-2);
  }
}

/* Compact: add space for scrollbar */
@media screen and (max-width: 599px) {
  footer {
    margin-right: var(--size-2)
  }
}