a {
  text-decoration: none;

  &:not(.component) {
    color: var(--color-primary);
  
    &[rel*="external"] {
      color: var(--color-tertiary);
    }
    
    &:hover {
      color: var(--color-add30);

      &[rel*="external"] {
        color: var(--color-sub30);
      }
    }
  }
  
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  
  & .anchor {
    display: flex;
    position: absolute;
    right: 100%;
    top: 0%;
    bottom: 0%;
    align-items: center;
    padding-inline: var(--size-1);

    flex: 1 1 0;

    color: var(--color-on-surface-variant);
    user-select: none;
    opacity: 0;
    transition: opacity var(--motion-duration-medium2) var(--motion-easing-emphasized);
  }

  &:hover .anchor {
    opacity: 1;
  }
}