a {
  text-decoration: none;

  &:not(.component) {
    color: var(--color-primary);
  
    &[rel*="external"] {
      color: var(--color-tertiary);
    }
    
    &:hover {
      color: var(--color-add30);

      &[rel*="external"] {
        color: var(--color-sub30);
      }
    }
  }
  
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  
  & .anchor {
    display: none;
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 80%;
    color: var(--color-on-surface-variant);
    margin-inline-end: var(--size-2);
    user-select: none;
  }

  &:hover .anchor {
    display: inline;
  }
}