.highlight {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  overflow: auto;
  padding-block: var(--size-2);

  & * {
    font-size: var(--typescale-body-small-size);
    line-height: var(--typescale-body-small-line-height);
    font-weight: var(--typescale-body-small-weight);
    font-family: var(--typeface-mono);
  }

  & span {
    display: flex;
    flex-flow: row nowrap;

    & a {
      color: var(--color-secondary) !important;

      &:hover {
        color: var(--color-primary-fixed-dim) !important;
      }
    }
  }
}

:not(pre, .highlight) > code {
  display: inline-flex;
  display: inline flex;
  flex-flow: row nowrap;
  background-color: var(--color-sub120-container);
  color: var(--color-on-sub120-container);
  border-radius: var(--shape-corner-xs);
  padding-inline: 3px;

  & * {
    font-size: var(--typeface-body-small-size);
    font-weight: var(--typeface-body-small-weight);
    line-height: var(--typeface-body-small-line-height);
    font-family: var(--typeface-mono);
  }
}
