/* Basic text */
p,
a {
  font-size: var(--typescale-body-large-size);
  line-height: var(--typescale-body-large-line-height);
  font-weight: var(--typescale-body-large-weight);
  font-family: var(--typescale-body-large-font);
}

label {
  font-size: var(--typescale-label-large-size);
  line-height: var(--typescale-label-large-line-height);
  font-weight: var(--typescale-label-large-weight);
  font-family: var(--typescale-label-large-font);
}

/* Headings */
h1 {
  font-size: var(--typescale-display-large-size);
  line-height: var(--typescale-display-large-line-height);
  font-weight: var(--typescale-display-large-weight);
  font-family: var(--typescale-display-large-font);
}

h2 {
  font-size: var(--typescale-display-medium-size);
  line-height: var(--typescale-display-medium-line-height);
  font-weight: var(--typescale-display-medium-weight);
  font-family: var(--typescale-display-medium-font);
}

h3 {
  font-size: var(--typescale-display-small-size);
  line-height: var(--typescale-display-small-line-height);
  font-weight: var(--typescale-display-small-weight);
  font-family: var(--typescale-display-small-font);
}

h4 {
  font-size: var(--typescale-headline-large-size);
  line-height: var(--typescale-headline-large-line-height);
  font-weight: var(--typescale-headline-large-weight);
  font-family: var(--typescale-headline-large-font);
}

h5 {
  font-size: var(--typescale-headline-medium-size);
  line-height: var(--typescale-headline-medium-line-height);
  font-weight: var(--typescale-headline-medium-weight);
  font-family: var(--typescale-headline-medium-font);
}

h6 {
  font-size: var(--typescale-headline-small-size);
  line-height: var(--typescale-headline-small-line-height);
  font-weight: var(--typescale-headline-small-weight);
  font-family: var(--typescale-headline-small-font);
}

/* Styles */
strong,
b {
  font-weight: var(--typeface-weight-bold);
}

em {
  font-style: italic;
}

/* Content */
#post-content {
  & p {
    margin-block-start: var(--size-2);
  }

  & h2:not(:first-child) {
    margin-block-start: var(--size-21);
    margin-block-end: var(--size-3);
  }

  & h3,
  & h4,
  & h5,
  & h6 {
    margin-block-start: var(--size-8);
    margin-block-end: var(--size-2);
  }

  & ul,
  & ol,
  & li {
    list-style-type: disc;
    margin-inline-start: var(--size-3);
  }
}

/* Code */
.highlight {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  overflow: auto;
  padding-block: var(--size-2);
  font-size: var(--typescale-body-large-size);
  line-height: var(--typescale-body-large-line-height);
  font-weight: var(--typescale-body-large-weight);
  font-family: var(--typeface-mono);
  
  & span {
    display: flex;
    flex-flow: row nowrap;
    
    & a {
      color: var(--color-secondary) !important;

      &:hover {
        color: var(--color-primary-fixed-dim) !important;
      }
    }
  }
}

:not(pre, .highlight) > code {
  display: inline-flex;
  display: inline flex;
  flex-flow: row nowrap;
  line-height: unset;
  font-family: var(--typeface-mono);
  font-size: inherit;
  font-weight: inherit;  
  background-color: var(--color-sub90-container);
  color: var(--color-on-sub90-container);
  letter-spacing: 1;
  margin-inline: 1px;
  padding-inline: var(--size-1);
  border-radius: var(--shape-corner-s);
}