.set.menus {
  --set-display: flex;
  --set-flex-flow: column nowrap;
  --set-justify-content: center;
  --set-align-items: flex-start;
  --set-height: auto;
  --set-width: auto;
  
  & .divider {
    color: var(--color-surface-variant);
  }
}

.menu.item {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-justify-content: flex-start;
  --container-align-items: center;
  --container-height: var(--size-12);
  --container-width: 100%;
  --container-padding: var(--size-2) var(--size-3);
  --container-gap: var(--size-3);

  --container-color: var(--color-surface-container);
  --text-color: var(--color-on-surface);
  --icon-color: var(--color-on-surface-variant);
}

.leading.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-6);
  width: var(--size-6);
  height: var(--size-6);
}

.leading.indent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-6);
  height: var(--size-6);
}

.trailing.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-6);
  width: var(--size-6);
  height: var(--size-6);
}

.trailing.keyboard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 13px;
}

.trailing.icon.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-6);
  width: var(--size-6);
  height: var(--size-6);
}

.trailing.keyboard.selected {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 13px;
}
