.menus {
  --container-display: flex;
  --container-flex-flow: column nowrap;
  --container-justify-content: center;
  --container-align-items: flex-start;
  --container-gap: initial;
  --container-height: auto;
  --container-width: auto;

  --container-outline: initial;
  --container-elevation: initial;
  --container-shape: initial;

  --container-color: initial;

  --text-color: initial;
  --icon-color: initial;

  & .menu-item {
    --container-display: flex;
    --container-flex-flow: row nowrap;
    --container-justify-content: flex-start;
    --container-align-items: center;
    --container-height: var(--size-12);
    --container-width: 100%;
    --container-padding: var(--size-2) var(--size-3);
    --container-gap: var(--size-3);

    --container-color: var(--color-surface-container);
    --text-color: var(--color-on-surface);
    --icon-color: var(--color-on-surface-variant);
  }
  
  & .divider {
    color: var(--color-surface-variant);
  }
}
