.picker.date {
  --container-padding: var(--size-4) var(--size-6);

  min-width: var(--size-82);
  max-height: var(--size-128);
  
  &.docked {
    --container-width: 328px;
    --container-height: 428px;
  }

  &.modal {
    --container-width: 328px;
    --container-height: 512px;
  }

  & .header {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    height: 100%;
    max-width: var(--size-82);
    max-height: var(--size-30);
    
    & .supporting-text {
      color: var(--color-on-surface-variant);
      font-size: var(--typescale-label-large-size);
      font-weight: var(--typescale-label-large-weight);
      font-family: var(--typescale-label-large-family);
      line-height: var(--typescale-label-large-line-height);
    }

    & .headline-container {
      flex: 1 1 auto;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-top: var(--size-9);

      & .headline {
        color: var(--color-on-surface-variant);
        font-size: var(--typescale-headline-large-size);
        font-weight: var(--typescale-headline-large-weight);
        font-family: var(--typescale-headline-large-family);
        line-height: var(--typescale-headline-large-line-height);
      }

      & .button.icon {
        margin-left: auto;
        font-size: var(--size-6);
      }
    }
  }

  & .divider {
    margin-top: 10px;
  }

  & .text-field-container {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--size-4);
    align-self: stretch;

    & .text-field {
      max-width: calc(50% - var(--size-2));
    }
  }

  & .text-field {
    margin-top: 10px;
  }

  & .date-picker-actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: auto;
    gap: var(--size-4);
    min-height: var(--size-4);
    margin-top: var(--size-6);
  }
}
