<!--
    This code snippet represents an HTML image element with lazy loading and optional title attribute.
    
    Attributes:
    - loading: Specifies that the image should be loaded lazily.
    - src: Specifies the source URL of the image. The ".Destination" variable is used to dynamically generate the URL.
    - alt: Specifies the alternative text for the image.
    - title: (Optional) Specifies the title text for the image. The ".Title" variable is used to dynamically generate the title.
-->
<img    loading="lazy" 
        src="{{ .Destination | safeURL }}#center" 
        alt="{{ .Text }}" 
        {{ with .Title}} 
            title="{{ . }}" 
        {{ end }} />
