footer {
  position: relative;

  flex: 0 1 auto;
  display: flex;
  flex-flow: row wrap;

  width: 100%;
  padding: 12dvh 8dvw 4dvh 8dvw;
  gap: 8dvh;
}

.footer-links {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  justify-content: space-evenly;

  ul {
    display: flex;
    flex-flow: column nowrap;
  }

  a {
    display: flex;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.copyright {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  align-items: center;
  justify-content: center;
}
