.layout.page-header {
  --flex: initial;
  --display: flex;
  --flex-flow: column nowrap;
  --align-items: stretch;
  --align-content: initial;
  --justify-content: initial;
  --width: 100%;
  --height: auto;
  --min-height: auto;
  --border: inherit;
  --padding: var(--size-16);
  --gap: var(--size-4);
}

.title,
.description {
  display: inline;
  word-wrap: break-word;
  white-space: normal;
}

.description {
  max-width: 60ch;
  white-space: normal;
  overflow-wrap: break-word;
}

.breadcrumbs {
  ol {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  li::after {
    content: ' / ';
  }
}

.metadata {
  color: var(--color-on-surface-variant);
}