.layout.page-links {
  --flex: initial;
  --display: flex;
  --flex-flow: column nowrap;
  --align-items: stretch;
  --align-content: initial;
  --justify-content: initial;
  --width: 100%;
  --height: auto;
  --min-height: auto;
  --padding: var(--spacing-panes);
  --margin: 0;
  --gap: var(--size-4);

  --border: inherit;
}

.layout.page-links {
  nav#share-links,
  nav#backlinks {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    border-radius: var(--shape-corner-m);
    padding: var(--size-5);

    a {
      display: flex;
      align-items: center;
      padding-inline: var(--size-1);
      min-height: 42px;

      &:hover {
        background-color: var(--color-surface-container-highest);
      }
    }
  }
}

/* Medium */
@media screen and (min-width: 600px) {
  .layout.page-links {
    flex-flow: row nowrap;
  }
}
