#top-link {
  position: fixed;
  bottom: var(--spacing-s);
  right: var(--spacing-m);
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  border-radius: 28px;
  --bg-color: var(--color-primary);
  --icon-color: var(--color-on-primary);

  i {
    color: var(--icon-color);
  }
}
