.component {
  position: relative;
  border: var(--container-outline, initial);
  box-shadow: var(--container-elevation, initial);
 
  & * {
    z-index: 2;
  }
 
  &:hover {
    border: var(--container-outline-hover, initial);
    box-shadow: var(--container-elevation-hover, initial);
  }
 
  &:focus,
  &:focus-within {
    border: var(--container-outline-focus, initial);
    box-shadow: var(--container-elevation-focus, initial);
  }

  &:active {
    border: var(--container-outline-press, initial);
    box-shadow: var(--container-elevation-press, initial);
  }

  &:not(.top-app-bar)::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 0;
    z-index: 1;
    background-image: radial-gradient(circle, var(--state-color, initial) 1%, transparent 1%);
    background-position: center;
    background-size: 0%;
    opacity: 0;
    inline-size: 100%;
    block-size: 100%;
    transition: none;  
  }
  
  &:hover::after {
    opacity: var(--state-hover-opacity);
    animation: rippleHover var(--motion-duration-extra-long3) var(--motion-easing-emphasized) forwards;
  }
  
  &:active::after {
    opacity: var(--state-press-opacity);
    animation: ripplePress var(--motion-duration-extra-long4) var(--motion-easing-emphasized) forwards;
  }
  
  &:focus-within::after {
    opacity: var(--state-focus-opacity);
    background-size: 50000%;
  }
}

@keyframes rippleHover {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 50000%;
  }
}

@keyframes ripplePress {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 50000%;
  }
}
