.component{
  &:focus-visible {
    --start-width: calc(var(--size-1) / 2);

    color: var(--color-secondary);

    animation-name: outward-grow, outward-shrink;
    animation-delay: 0s, calc(var(--motion-duration-long2) * 0.25);
    animation-duration: calc(var(--motion-duration-long2) * 0.25), calc(var(--motion-duration-long2) * 0.75);
    animation-timing-function: var(--motion-easing-emphasized);

    outline: var(--start-width) solid currentColor;
    outline-offset: calc(-2 * var(--start-width));
  } 

  &::-moz-focus-inner {
    outline: none;
  }
}

a:not(.component):focus-visible {
  text-decoration: underline;
} 

@keyframes outward-grow {
  from {
    outline-width: 0px;
  }
  to {
    outline-width: var(--size-1);
  }
}

@keyframes outward-shrink {
  from {
    outline-width: var(--size-1);
  }
}