.component {
  &:not(
    .badge,
    progress,
    .top-app-bar, 
    .bottom-app-bar,
    .navigation-bar,
    .navigation-rail,
    .navigation-drawer,
    .tabs,
    .dialog,
    .bottom-sheets,
    .side-sheets):focus {
    border: var(--container-outline-focus, initial);
    box-shadow: var(--container-elevation-focus, initial);
    
    &::after {
      opacity: var(--state-focus-opacity);
      background-size: 50000%;
    }
  }
}
