.box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface-container-highest);
  border-radius: var(--shape-corner-xs);
  padding: var(--size-4);

  &.skeleton {
    background-color: var(--color-surface-bright);
    animation: pulse calc(var(--motion-duration-extra-long4) * 1.5) infinite;
    min-height: 100px;
  }

  &:hover {
    &.fade {
      opacity: 0;
      transition-property: opacity;
    }
  }
}

.box-container {
  flex: 1 1 0;
  display: flex;
  flex-flow: column nowrap;
  padding: var(--spacing-panes);
  gap: var(--spacing-panes);
  align-items: stretch;

  &#motions {
    flex-flow: row wrap;
  }

  & * {
    flex: 1 1 0;
  }
}

@keyframes pulse {
  0% {
    background-color: var(--color-surface-bright);
  }
  50% {
    background-color: var(--color-surface-dim);
  }
  100% {
    background-color: var(--color-surface-bright);
  }
}
