.carousel {
  overflow-x: auto;

  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-align-items: flex-start;
  --container-gap: var(--size-2);
  --container-width: 100%;
  --container-padding: var(--size-2) var(--size-4);

  &.uncontained {
    & .carousel-item {
      min-width: var(--size-32);
      align-self: stretch;
      
      &:last-of-type {
        flex: 0 1 auto;
      }
    }

  }

  &.full {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: var(--size-50);

    --container-flex-flow: column nowrap;
    --container-padding: unset;

    & .carousel-item {
      align-self: stretch;
      --container-width: 100%;
      --container-height: 100%;
    }
  }
  
  & .carousel-item {
    flex: 1 0 0;
    min-width: var(--size-10);
    min-height: var(--size-50);
  
    --container-display: flex;
    --container-flex-flow: column nowrap;
    --container-justify-content: center;
    --container-align-items: center;
  
    --container-outline: none;
    --container-elevation: none;
    --container-shape: var(--shape-corner-xl);
  
    --container-color: none;
  
    background: url(<path-to-image>) darkgray 50% / cover no-repeat;
    background-blend-mode: multiply;
    color: black;
  
    &.small {
      min-width: var(--size-10);
      max-width: var(--size-14);
    }
  
    &.medium {
      min-width: var(--size-30);
    }
  }
}
