/* FABs */
.fab {
  width: var(--size-14);
  height: var(--size-14);
  border-radius: var(--shape-corner-l);
  padding: var(--size-4);
  box-shadow: var(--elevation3);

  &.small {
    width: var(--size-12);
    height: var(--size-12);
    border-radius: var(--shape-corner-m);
    padding: 0;

    & i.icon,
    & .icon {
      font-size: var(--size-5);
    }
  }

  &.large {
    width: var(--size-24);
    height: var(--size-24);
    border-radius: var(--size-9);
    padding: var(--size-4);

    & i.icon,
    & .icon {
      font-size: var(--size-9);
    }
  }

  &.extended {
    min-width: var(--size-20);
    width: auto;
    height: var(--size-14);
    border-radius: var(--shape-corner-l);
    padding: var(--size-4);
    gap: var(--size-4);

    & i.icon,
    & .icon {
      font-size: var(--size-6);
    }
  }

  & i.icon,
  & .icon {
    font-size: var(--size-6);
  }
}
