.segmented-button {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-align-items: center;
  --container-padding: 0;

  overflow-x: auto;
  
  & .button {
    --bg-color: var(--color-surface);
    --icon-color: var(--color-on-surface);
    --text-color: var(--color-on-surface);
    --container-shape: unset;
    --container-padding: 0 var(--size-4);
    --container-outline: 1px solid var(--color-outline);
    --container-outline-hover: 1px solid var(--color-outline);
    --container-outline-focus: 1px solid var(--color-outline);
    --container-outline-press: 1px solid var(--color-outline);
    border-inline-end: 0px;
    cursor: pointer;
    min-width: fit-content;

    &:first-of-type {
      --container-shape: var(--shape-corner-xl-start);
    }
    
    &:last-of-type {
      border-inline-end: 1px solid var(--color-outline);
      --container-shape: var(--shape-corner-xl-end);
    }

    &:not(:last-of-type):hover {
      border-inline-end: 0px;
    }
  }
  
  & input[type="radio"] {
    display: none;
    
    &:checked + .button {
      --bg-color: var(--color-secondary-container);
      --icon-color: var(--color-on-secondary-container);
      --text-color: var(--color-on-secondary-container);
    }
  }
}

.segmented-button {
  width: 100%;
}