.segmented-buttons {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-align-items: center;
  --container-padding: 0;

  overflow-x: auto;

  & label.button,
  & .button {
    --bg-color: var(--color-surface);
    --icon-color: var(--color-on-surface);
    --text-color: var(--color-on-surface);
    --container-gap: var(--size-2);
    --container-shape: unset;
    --container-padding: 0 var(--size-4);
    --container-outline: 1px solid var(--color-outline);
    cursor: pointer;
    min-width: fit-content;
    border-inline-end: 0px solid transparent;

    & i.icon,
    & .icon {
      font-size: 18px;
      color: var(--color-on-surface);
      display: none;
    }

    &:first-of-type {
      --container-shape: var(--shape-corner-xl-start);
    }

    &:last-of-type {
      border-inline-end: 1px solid var(--color-outline);
      --container-shape: var(--shape-corner-xl-end);

      &:hover {
        border-right: 1px solid var(--color-outline) !important;
      }
    }

    &:hover,
    &:focus,
    &:active {
      border: 1px solid var(--color-outline) !important;
      border-right: 0px solid var(--color-outline) !important;
    }

    & input {
      display: none;
    }

    &:has(input:checked) {
      --bg-color: var(--color-secondary-container);
      --icon-color: var(--color-on-secondary-container);
      --text-color: var(--color-on-secondary-container);
      
      &:has(.icon) {
        padding-left: var(--size-2);
      }

      & i.icon,
      & .icon {
        display: block;
        color: var(--color-on-secondary-container);
      }
    }

    &:has(input:disabled) {
      --container-outline: 1px solid var(--color-outline-disabled);
      --container-elevation: var(--elevation-disabled);
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

.segmented-buttons {
  width: 100%;
}
