:root {
    /* Fonts */
    --typeface-brand:   'Raleway', sans-serif;
    --typeface-plain:   'Roboto Flex', sans-serif;
    --typeface-mono:    'Roboto Mono', monospace;

    /* Weights */
    --typeface-weight-bold:         700;
    --typeface-weight-medium:       500;
    --typeface-weight-regular:      400;
}
