:root {
    /* Fonts */
    --typeface-brand:   Helvetica, Arial, sans-serif;
    --typeface-plain:   Helvetica, Arial, sans-serif;
    --typeface-mono:    "Courier New", Courier, monospace;

    /* Weights */
    --typeface-weight-bold:         700;
    --typeface-weight-medium:       500;
    --typeface-weight-regular:      400;
}
