:root {
    /* || Hues (0-360) */

    /* Key Hues */
    --hue-primary:  298deg;
    --hue-tertiary: calc(var(--hue-primary) - 60deg);
    
    /* Semantic Hues */
    --hue-error:        calc(25deg  + ((25  / 360) * var(--hue-primary)));
    --hue-warning:      calc(15deg  + ((15  / 360) * var(--hue-primary)));
    --hue-caution:      calc(45deg  + ((45  / 360) * var(--hue-primary)));
    --hue-important:    calc(75deg  + ((75  / 360) * var(--hue-primary)));
    --hue-pinned:       calc(105deg + ((105 / 360) * var(--hue-primary)));
    --hue-verse:        calc(135deg + ((135 / 360) * var(--hue-primary)));
    --hue-export:       calc(165deg + ((165 / 360) * var(--hue-primary)));
    --hue-query:        calc(195deg + ((195 / 360) * var(--hue-primary)));
    --hue-note:         calc(225deg + ((225 / 360) * var(--hue-primary)));
    --hue-tip:          calc(255deg + ((255 / 360) * var(--hue-primary)));
    --hue-example:      calc(285deg + ((285 / 360) * var(--hue-primary)));
    --hue-comment:      calc(315deg + ((315 / 360) * var(--hue-primary)));
    --hue-quote:        calc(345deg + ((345 / 360) * var(--hue-primary)));

    /* Classic Palette Hues */
    --hue-complementary: calc(var(--hue-primary) + 180deg);
    --hue-sub30: calc((var(--hue-primary) - 30deg) + (30deg / 36));
    --hue-sub60: calc((var(--hue-primary) - 60deg) + (60deg / 36));
    --hue-sub90: calc((var(--hue-primary) - 90deg) + (90deg / 36));
    --hue-sub120: calc((var(--hue-primary) - 120deg) + (120deg / 36));
    --hue-sub150: calc((var(--hue-primary) - 150deg) + (150deg / 36));
    --hue-sub180: calc((var(--hue-primary) - 180deg) + (180deg / 36));
    --hue-add30: calc((var(--hue-primary) + 30deg) - (30deg / 36));
    --hue-add60: calc((var(--hue-primary) + 60deg) - (60deg / 36));
    --hue-add90: calc((var(--hue-primary) + 90deg) - (90deg / 36));
    --hue-add120: calc((var(--hue-primary) + 120deg) - (120deg / 36));
    --hue-add150: calc((var(--hue-primary) + 150deg) - (150deg / 36));
    --hue-add180: calc((var(--hue-primary) + 180deg) - (180deg / 36));
    
    /* || Chromas (0-150) */
    --chroma-primary:           80;
    --chroma-error:             80;
    --chroma-other:             48;
    --chroma-tertiary:          calc(var(--chroma-primary) / 2);
    --chroma-secondary:         calc(var(--chroma-primary) / 3);
    --chroma-neutral-variant:   calc(var(--chroma-primary) / 5);
    --chroma-neutral:           calc(var(--chroma-primary) / 8);
    --chroma-admonition:        calc(var(--chroma-primary) / var(--scale-fibonacci));

    /* Primary */
    --palette-primary0:  lch(0% var(--chroma-primary) var(--hue-primary));
    --palette-primary10: lch(10% var(--chroma-primary) var(--hue-primary));
    --palette-primary20: lch(20% var(--chroma-primary) var(--hue-primary));
    --palette-primary30: lch(30% var(--chroma-primary) var(--hue-primary));
    --palette-primary40: lch(40% var(--chroma-primary) var(--hue-primary));
    --palette-primary50: lch(50% var(--chroma-primary) var(--hue-primary));
    --palette-primary60: lch(60% var(--chroma-primary) var(--hue-primary));
    --palette-primary70: lch(70% var(--chroma-primary) var(--hue-primary));
    --palette-primary80: lch(80% var(--chroma-primary) var(--hue-primary));
    --palette-primary90: lch(90% var(--chroma-primary) var(--hue-primary));
    --palette-primary100: lch(100% var(--chroma-primary) var(--hue-primary));

    /* Secondary */
    --palette-secondary0: lch(0% var(--chroma-secondary) var(--hue-primary));
    --palette-secondary10: lch(10% calc(var(--chroma-secondary)) var(--hue-primary));
    --palette-secondary20: lch(20% calc(var(--chroma-secondary)) var(--hue-primary));
    --palette-secondary30: lch(30% calc(var(--chroma-secondary)) var(--hue-primary));
    --palette-secondary40: lch(40% calc(var(--chroma-secondary)) var(--hue-primary));
    --palette-secondary50: lch(50% calc(var(--chroma-secondary)) var(--hue-primary));
    --palette-secondary60: lch(60% calc(var(--chroma-secondary)) var(--hue-primary));
    --palette-secondary70: lch(70% calc(var(--chroma-secondary)) var(--hue-primary));
    --palette-secondary80: lch(80% calc(var(--chroma-secondary)) var(--hue-primary));
    --palette-secondary90: lch(90% calc(var(--chroma-secondary)) var(--hue-primary));
    --palette-secondary100: lch(100% calc(var(--chroma-secondary)) var(--hue-primary));

    /* Tertiary */
    --palette-tertiary0: lch(0% var(--chroma-tertiary) var(--hue-tertiary));
    --palette-tertiary10: lch(10% calc(var(--chroma-tertiary)) var(--hue-tertiary));
    --palette-tertiary20: lch(20% calc(var(--chroma-tertiary)) var(--hue-tertiary));
    --palette-tertiary30: lch(30% calc(var(--chroma-tertiary)) var(--hue-tertiary));
    --palette-tertiary40: lch(40% calc(var(--chroma-tertiary)) var(--hue-tertiary));
    --palette-tertiary50: lch(50% calc(var(--chroma-tertiary)) var(--hue-tertiary));
    --palette-tertiary60: lch(60% calc(var(--chroma-tertiary)) var(--hue-tertiary));
    --palette-tertiary70: lch(70% calc(var(--chroma-tertiary)) var(--hue-tertiary));
    --palette-tertiary80: lch(80% calc(var(--chroma-tertiary)) var(--hue-tertiary));
    --palette-tertiary90: lch(90% calc(var(--chroma-tertiary)) var(--hue-tertiary));
    --palette-tertiary100: lch(100% calc(var(--chroma-tertiary)) var(--hue-tertiary));

    /* Neutral */
    --palette-neutral0:  lch(0% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral2:  lch(2% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral4:  lch(4% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral6:  lch(6% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral8:  lch(8% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral10: lch(10% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral12: lch(12% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral14: lch(14% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral16: lch(16% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral18: lch(18% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral20: lch(20% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral25: lch(25% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral30: lch(30% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral35: lch(35% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral40: lch(40% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral45: lch(45% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral50: lch(50% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral55: lch(55% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral60: lch(60% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral65: lch(65% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral70: lch(70% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral75: lch(75% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral80: lch(80% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral82: lch(82% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral84: lch(84% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral86: lch(86% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral88: lch(88% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral90: lch(90% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral92: lch(92% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral94: lch(94% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral96: lch(96% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral98: lch(98% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral99: lch(99% var(--chroma-neutral) var(--hue-primary));
    --palette-neutral100: lch(100% var(--chroma-neutral) var(--hue-primary));

    /* Neutral Variant */
    --palette-neutral-variant0:  lch(0% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant2:  lch(2% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant4:  lch(4% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant6:  lch(6% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant8:  lch(8% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant10: lch(10% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant12: lch(12% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant14: lch(14% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant16: lch(16% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant18: lch(18% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant20: lch(20% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant25: lch(25% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant30: lch(30% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant35: lch(35% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant40: lch(40% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant45: lch(45% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant50: lch(50% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant55: lch(55% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant60: lch(60% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant65: lch(65% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant70: lch(70% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant75: lch(75% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant80: lch(80% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant82: lch(82% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant84: lch(84% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant86: lch(86% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant88: lch(88% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant90: lch(90% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant92: lch(92% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant94: lch(94% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant96: lch(96% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant98: lch(98% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant99: lch(99% var(--chroma-neutral-variant) var(--hue-primary));
    --palette-neutral-variant100: lch(100% var(--chroma-neutral-variant) var(--hue-primary));

    /* || Semantic colors */

    /* Error */
    --palette-error0:       lch(0% var(--chroma-error) var(--hue-error));
    --palette-error10:      lch(10% var(--chroma-error) var(--hue-error));
    --palette-error20:      lch(20% var(--chroma-error) var(--hue-error));
    --palette-error30:      lch(30% var(--chroma-error) var(--hue-error));
    --palette-error40:      lch(40% var(--chroma-error) var(--hue-error));
    --palette-error50:      lch(50% var(--chroma-error) var(--hue-error));
    --palette-error60:      lch(60% var(--chroma-error) var(--hue-error));
    --palette-error70:      lch(70% var(--chroma-error) var(--hue-error));
    --palette-error80:      lch(80% var(--chroma-error) var(--hue-error));
    --palette-error90:      lch(90% var(--chroma-error) var(--hue-error));
    --palette-error100:     lch(100% var(--chroma-error) var(--hue-error));

    
    /* Warning */
    --palette-warning0:     lch(0% var(--chroma-admonition) var(--hue-warning));
    --palette-warning10:    lch(10% var(--chroma-admonition) var(--hue-warning));
    --palette-warning20:    lch(20% var(--chroma-admonition) var(--hue-warning));
    --palette-warning30:    lch(30% var(--chroma-admonition) var(--hue-warning));
    --palette-warning40:    lch(40% var(--chroma-admonition) var(--hue-warning));
    --palette-warning50:    lch(50% var(--chroma-admonition) var(--hue-warning));
    --palette-warning60:    lch(60% var(--chroma-admonition) var(--hue-warning));
    --palette-warning70:    lch(70% var(--chroma-admonition) var(--hue-warning));
    --palette-warning80:    lch(80% var(--chroma-admonition) var(--hue-warning));
    --palette-warning90:    lch(90% var(--chroma-admonition) var(--hue-warning));
    --palette-warning100:   lch(100% var(--chroma-admonition) var(--hue-warning));
    
    /* Caution */
    --palette-caution0:     lch(0% var(--chroma-admonition) var(--hue-caution));
    --palette-caution10:    lch(10% var(--chroma-admonition) var(--hue-caution));
    --palette-caution20:    lch(20% var(--chroma-admonition) var(--hue-caution));
    --palette-caution30:    lch(30% var(--chroma-admonition) var(--hue-caution));
    --palette-caution40:    lch(40% var(--chroma-admonition) var(--hue-caution));
    --palette-caution50:    lch(50% var(--chroma-admonition) var(--hue-caution));
    --palette-caution60:    lch(60% var(--chroma-admonition) var(--hue-caution));
    --palette-caution70:    lch(70% var(--chroma-admonition) var(--hue-caution));
    --palette-caution80:    lch(80% var(--chroma-admonition) var(--hue-caution));
    --palette-caution90:    lch(90% var(--chroma-admonition) var(--hue-caution));
    --palette-caution100:   lch(100% var(--chroma-admonition) var(--hue-caution));
    
    /* Important */
    --palette-important0:   lch(0% var(--chroma-admonition) var(--hue-important));
    --palette-important10:  lch(10% var(--chroma-admonition) var(--hue-important));
    --palette-important20:  lch(20% var(--chroma-admonition) var(--hue-important));
    --palette-important30:  lch(30% var(--chroma-admonition) var(--hue-important));
    --palette-important40:  lch(40% var(--chroma-admonition) var(--hue-important));
    --palette-important50:  lch(50% var(--chroma-admonition) var(--hue-important));
    --palette-important60:  lch(60% var(--chroma-admonition) var(--hue-important));
    --palette-important70:  lch(70% var(--chroma-admonition) var(--hue-important));
    --palette-important80:  lch(80% var(--chroma-admonition) var(--hue-important));
    --palette-important90:  lch(90% var(--chroma-admonition) var(--hue-important));
    --palette-important100: lch(100% var(--chroma-admonition) var(--hue-important));

    /* Pinned */    
    --palette-pinned0:      lch(0% var(--chroma-admonition) var(--hue-pinned));
    --palette-pinned10:     lch(10% var(--chroma-admonition) var(--hue-pinned));
    --palette-pinned20:     lch(20% var(--chroma-admonition) var(--hue-pinned));
    --palette-pinned30:     lch(30% var(--chroma-admonition) var(--hue-pinned));
    --palette-pinned40:     lch(40% var(--chroma-admonition) var(--hue-pinned));
    --palette-pinned50:     lch(50% var(--chroma-admonition) var(--hue-pinned));
    --palette-pinned60:     lch(60% var(--chroma-admonition) var(--hue-pinned));
    --palette-pinned70:     lch(70% var(--chroma-admonition) var(--hue-pinned));
    --palette-pinned80:     lch(80% var(--chroma-admonition) var(--hue-pinned));
    --palette-pinned90:     lch(90% var(--chroma-admonition) var(--hue-pinned));
    --palette-pinned100:    lch(100% var(--chroma-admonition) var(--hue-pinned));
    
    /* Verse */
    --palette-verse0:       lch(0% var(--chroma-admonition) var(--hue-verse));
    --palette-verse10:      lch(10% var(--chroma-admonition) var(--hue-verse));
    --palette-verse20:      lch(20% var(--chroma-admonition) var(--hue-verse));
    --palette-verse30:      lch(30% var(--chroma-admonition) var(--hue-verse));
    --palette-verse40:      lch(40% var(--chroma-admonition) var(--hue-verse));
    --palette-verse50:      lch(50% var(--chroma-admonition) var(--hue-verse));
    --palette-verse60:      lch(60% var(--chroma-admonition) var(--hue-verse));
    --palette-verse70:      lch(70% var(--chroma-admonition) var(--hue-verse));
    --palette-verse80:      lch(80% var(--chroma-admonition) var(--hue-verse));
    --palette-verse90:      lch(90% var(--chroma-admonition) var(--hue-verse));
    --palette-verse100:     lch(100% var(--chroma-admonition) var(--hue-verse));

    /* Export */    
    --palette-export0:      lch(0% var(--chroma-admonition) var(--hue-export));
    --palette-export10:     lch(10% var(--chroma-admonition) var(--hue-export));
    --palette-export20:     lch(20% var(--chroma-admonition) var(--hue-export));
    --palette-export30:     lch(30% var(--chroma-admonition) var(--hue-export));
    --palette-export40:     lch(40% var(--chroma-admonition) var(--hue-export));
    --palette-export50:     lch(50% var(--chroma-admonition) var(--hue-export));
    --palette-export60:     lch(60% var(--chroma-admonition) var(--hue-export));
    --palette-export70:     lch(70% var(--chroma-admonition) var(--hue-export));
    --palette-export80:     lch(80% var(--chroma-admonition) var(--hue-export));
    --palette-export90:     lch(90% var(--chroma-admonition) var(--hue-export));
    --palette-export100:    lch(100% var(--chroma-admonition) var(--hue-export));
 
    /* Query */ 
    --palette-query0:       lch(0% var(--chroma-admonition) var(--hue-query));
    --palette-query10:      lch(10% var(--chroma-admonition) var(--hue-query));
    --palette-query20:      lch(20% var(--chroma-admonition) var(--hue-query));
    --palette-query30:      lch(30% var(--chroma-admonition) var(--hue-query));
    --palette-query40:      lch(40% var(--chroma-admonition) var(--hue-query));
    --palette-query50:      lch(50% var(--chroma-admonition) var(--hue-query));
    --palette-query60:      lch(60% var(--chroma-admonition) var(--hue-query));
    --palette-query70:      lch(70% var(--chroma-admonition) var(--hue-query));
    --palette-query80:      lch(80% var(--chroma-admonition) var(--hue-query));
    --palette-query90:      lch(90% var(--chroma-admonition) var(--hue-query));
    --palette-query100:     lch(100% var(--chroma-admonition) var(--hue-query));

    /* Note */
    --palette-note0: lch(0% var(--chroma-admonition) var(--hue-note));
    --palette-note10: lch(10% var(--chroma-admonition) var(--hue-note));
    --palette-note20: lch(20% var(--chroma-admonition) var(--hue-note));
    --palette-note30: lch(30% var(--chroma-admonition) var(--hue-note));
    --palette-note40: lch(40% var(--chroma-admonition) var(--hue-note));
    --palette-note50: lch(50% var(--chroma-admonition) var(--hue-note));
    --palette-note60: lch(60% var(--chroma-admonition) var(--hue-note));
    --palette-note70: lch(70% var(--chroma-admonition) var(--hue-note));
    --palette-note80: lch(80% var(--chroma-admonition) var(--hue-note));
    --palette-note90: lch(90% var(--chroma-admonition) var(--hue-note));
    --palette-note100: lch(100% var(--chroma-admonition) var(--hue-note));

    /* Tip */
    --palette-tip0: lch(0% var(--chroma-admonition) var(--hue-tip));
    --palette-tip10: lch(10% var(--chroma-admonition) var(--hue-tip));
    --palette-tip20: lch(20% var(--chroma-admonition) var(--hue-tip));
    --palette-tip30: lch(30% var(--chroma-admonition) var(--hue-tip));
    --palette-tip40: lch(40% var(--chroma-admonition) var(--hue-tip));
    --palette-tip50: lch(50% var(--chroma-admonition) var(--hue-tip));
    --palette-tip60: lch(60% var(--chroma-admonition) var(--hue-tip));
    --palette-tip70: lch(70% var(--chroma-admonition) var(--hue-tip));
    --palette-tip80: lch(80% var(--chroma-admonition) var(--hue-tip));
    --palette-tip90: lch(90% var(--chroma-admonition) var(--hue-tip));
    --palette-tip100: lch(100% var(--chroma-admonition) var(--hue-tip));

    /* Example */
    --palette-example0: lch(0% var(--chroma-admonition) var(--hue-example));
    --palette-example10: lch(10% var(--chroma-admonition) var(--hue-example));
    --palette-example20: lch(20% var(--chroma-admonition) var(--hue-example));
    --palette-example30: lch(30% var(--chroma-admonition) var(--hue-example));
    --palette-example40: lch(40% var(--chroma-admonition) var(--hue-example));
    --palette-example50: lch(50% var(--chroma-admonition) var(--hue-example));
    --palette-example60: lch(60% var(--chroma-admonition) var(--hue-example));
    --palette-example70: lch(70% var(--chroma-admonition) var(--hue-example));
    --palette-example80: lch(80% var(--chroma-admonition) var(--hue-example));
    --palette-example90: lch(90% var(--chroma-admonition) var(--hue-example));
    --palette-example100: lch(100% var(--chroma-admonition) var(--hue-example));

    /* Comment */
    --palette-comment0: lch(0% var(--chroma-admonition) var(--hue-comment));
    --palette-comment10: lch(10% var(--chroma-admonition) var(--hue-comment));
    --palette-comment20: lch(20% var(--chroma-admonition) var(--hue-comment));
    --palette-comment30: lch(30% var(--chroma-admonition) var(--hue-comment));
    --palette-comment40: lch(40% var(--chroma-admonition) var(--hue-comment));
    --palette-comment50: lch(50% var(--chroma-admonition) var(--hue-comment));
    --palette-comment60: lch(60% var(--chroma-admonition) var(--hue-comment));
    --palette-comment70: lch(70% var(--chroma-admonition) var(--hue-comment));
    --palette-comment80: lch(80% var(--chroma-admonition) var(--hue-comment));
    --palette-comment90: lch(90% var(--chroma-admonition) var(--hue-comment));
    --palette-comment100: lch(100% var(--chroma-admonition) var(--hue-comment));
    
    /* Quote */
    --palette-quote0: lch(0% var(--chroma-admonition) var(--hue-quote));
    --palette-quote10: lch(10% var(--chroma-admonition) var(--hue-quote));
    --palette-quote20: lch(20% var(--chroma-admonition) var(--hue-quote));
    --palette-quote30: lch(30% var(--chroma-admonition) var(--hue-quote));
    --palette-quote40: lch(40% var(--chroma-admonition) var(--hue-quote));
    --palette-quote50: lch(50% var(--chroma-admonition) var(--hue-quote));
    --palette-quote60: lch(60% var(--chroma-admonition) var(--hue-quote));
    --palette-quote70: lch(70% var(--chroma-admonition) var(--hue-quote));
    --palette-quote80: lch(80% var(--chroma-admonition) var(--hue-quote));
    --palette-quote90: lch(90% var(--chroma-admonition) var(--hue-quote));    
    --palette-quote100: lch(100% var(--chroma-admonition) var(--hue-quote));

    /* || Different palettes */

    /* Sub 30 */
    --palette-sub30-0: lch(0% var(--chroma-other) var(--hue-sub30));
    --palette-sub30-10: lch(10% var(--chroma-other) var(--hue-sub30));
    --palette-sub30-20: lch(20% var(--chroma-other) var(--hue-sub30));
    --palette-sub30-30: lch(30% var(--chroma-other) var(--hue-sub30));
    --palette-sub30-40: lch(40% var(--chroma-other) var(--hue-sub30));
    --palette-sub30-50: lch(50% var(--chroma-other) var(--hue-sub30));
    --palette-sub30-60: lch(60% var(--chroma-other) var(--hue-sub30));
    --palette-sub30-70: lch(70% var(--chroma-other) var(--hue-sub30));
    --palette-sub30-80: lch(80% var(--chroma-other) var(--hue-sub30));
    --palette-sub30-90: lch(90% var(--chroma-other) var(--hue-sub30));
    --palette-sub30-100: lch(100% var(--chroma-other) var(--hue-sub30));
    
    /* Add 30 */
    --palette-add30-0: lch(0% var(--chroma-other) var(--hue-add30));
    --palette-add30-10: lch(10% var(--chroma-other) var(--hue-add30));
    --palette-add30-20: lch(20% var(--chroma-other) var(--hue-add30));
    --palette-add30-30: lch(30% var(--chroma-other) var(--hue-add30));
    --palette-add30-40: lch(40% var(--chroma-other) var(--hue-add30));
    --palette-add30-50: lch(50% var(--chroma-other) var(--hue-add30));
    --palette-add30-60: lch(60% var(--chroma-other) var(--hue-add30));
    --palette-add30-70: lch(70% var(--chroma-other) var(--hue-add30));
    --palette-add30-80: lch(80% var(--chroma-other) var(--hue-add30));
    --palette-add30-90: lch(90% var(--chroma-other) var(--hue-add30));
    --palette-add30-100: lch(100% var(--chroma-other) var(--hue-add30));

    /* Sub 60 */
    --palette-sub60-0: lch(0% var(--chroma-other) var(--hue-sub60));
    --palette-sub60-10: lch(10% var(--chroma-other) var(--hue-sub60));
    --palette-sub60-20: lch(20% var(--chroma-other) var(--hue-sub60));
    --palette-sub60-30: lch(30% var(--chroma-other) var(--hue-sub60));
    --palette-sub60-40: lch(40% var(--chroma-other) var(--hue-sub60));
    --palette-sub60-50: lch(50% var(--chroma-other) var(--hue-sub60));
    --palette-sub60-60: lch(60% var(--chroma-other) var(--hue-sub60));
    --palette-sub60-70: lch(70% var(--chroma-other) var(--hue-sub60));
    --palette-sub60-80: lch(80% var(--chroma-other) var(--hue-sub60));
    --palette-sub60-90: lch(90% var(--chroma-other) var(--hue-sub60));
    --palette-sub60-100: lch(100% var(--chroma-other) var(--hue-sub60));
    
    /* Add 60 */
    --palette-add60-0: lch(0% var(--chroma-other) var(--hue-add60));
    --palette-add60-10: lch(10% var(--chroma-other) var(--hue-add60));
    --palette-add60-20: lch(20% var(--chroma-other) var(--hue-add60));
    --palette-add60-30: lch(30% var(--chroma-other) var(--hue-add60));
    --palette-add60-40: lch(40% var(--chroma-other) var(--hue-add60));
    --palette-add60-50: lch(50% var(--chroma-other) var(--hue-add60));
    --palette-add60-60: lch(60% var(--chroma-other) var(--hue-add60));
    --palette-add60-70: lch(70% var(--chroma-other) var(--hue-add60));
    --palette-add60-80: lch(80% var(--chroma-other) var(--hue-add60));
    --palette-add60-90: lch(90% var(--chroma-other) var(--hue-add60));
    --palette-add60-100: lch(100% var(--chroma-other) var(--hue-add60));

    /* Sub 90 */
    --palette-sub90-0: lch(0% var(--chroma-other) var(--hue-sub90));
    --palette-sub90-10: lch(10% var(--chroma-other) var(--hue-sub90));
    --palette-sub90-20: lch(20% var(--chroma-other) var(--hue-sub90));
    --palette-sub90-30: lch(30% var(--chroma-other) var(--hue-sub90));
    --palette-sub90-40: lch(40% var(--chroma-other) var(--hue-sub90));
    --palette-sub90-50: lch(50% var(--chroma-other) var(--hue-sub90));
    --palette-sub90-60: lch(60% var(--chroma-other) var(--hue-sub90));
    --palette-sub90-70: lch(70% var(--chroma-other) var(--hue-sub90));
    --palette-sub90-80: lch(80% var(--chroma-other) var(--hue-sub90));
    --palette-sub90-90: lch(90% var(--chroma-other) var(--hue-sub90));
    --palette-sub90-100: lch(100% var(--chroma-other) var(--hue-sub90));

    /* Add 90 */
    --palette-add90-0: lch(0% var(--chroma-other) var(--hue-add90));
    --palette-add90-10: lch(10% var(--chroma-other) var(--hue-add90));
    --palette-add90-20: lch(20% var(--chroma-other) var(--hue-add90));
    --palette-add90-30: lch(30% var(--chroma-other) var(--hue-add90));
    --palette-add90-40: lch(40% var(--chroma-other) var(--hue-add90));
    --palette-add90-50: lch(50% var(--chroma-other) var(--hue-add90));
    --palette-add90-60: lch(60% var(--chroma-other) var(--hue-add90));
    --palette-add90-70: lch(70% var(--chroma-other) var(--hue-add90));
    --palette-add90-80: lch(80% var(--chroma-other) var(--hue-add90));
    --palette-add90-90: lch(90% var(--chroma-other) var(--hue-add90));
    --palette-add90-100: lch(100% var(--chroma-other) var(--hue-add90));

    /* Sub 120 */
    --palette-sub120-0: lch(0% var(--chroma-other) var(--hue-sub120));
    --palette-sub120-10: lch(10% var(--chroma-other) var(--hue-sub120));
    --palette-sub120-20: lch(20% var(--chroma-other) var(--hue-sub120));
    --palette-sub120-30: lch(30% var(--chroma-other) var(--hue-sub120));
    --palette-sub120-40: lch(40% var(--chroma-other) var(--hue-sub120));
    --palette-sub120-50: lch(50% var(--chroma-other) var(--hue-sub120));
    --palette-sub120-60: lch(60% var(--chroma-other) var(--hue-sub120));
    --palette-sub120-70: lch(70% var(--chroma-other) var(--hue-sub120));
    --palette-sub120-80: lch(80% var(--chroma-other) var(--hue-sub120));
    --palette-sub120-90: lch(90% var(--chroma-other) var(--hue-sub120));
    --palette-sub120-100: lch(100% var(--chroma-other) var(--hue-sub120));
    
    /* Add 120 */
    --palette-add120-0: lch(0% var(--chroma-other) var(--hue-add120));
    --palette-add120-10: lch(10% var(--chroma-other) var(--hue-add120));
    --palette-add120-20: lch(20% var(--chroma-other) var(--hue-add120));
    --palette-add120-30: lch(30% var(--chroma-other) var(--hue-add120));
    --palette-add120-40: lch(40% var(--chroma-other) var(--hue-add120));
    --palette-add120-50: lch(50% var(--chroma-other) var(--hue-add120));
    --palette-add120-60: lch(60% var(--chroma-other) var(--hue-add120));
    --palette-add120-70: lch(70% var(--chroma-other) var(--hue-add120));
    --palette-add120-80: lch(80% var(--chroma-other) var(--hue-add120));
    --palette-add120-90: lch(90% var(--chroma-other) var(--hue-add120));
    --palette-add120-100: lch(100% var(--chroma-other) var(--hue-add120));

    /* Sub 150 */
    --palette-sub150-0: lch(0% var(--chroma-other) var(--hue-sub150));
    --palette-sub150-10: lch(10% var(--chroma-other) var(--hue-sub150));
    --palette-sub150-20: lch(20% var(--chroma-other) var(--hue-sub150));
    --palette-sub150-30: lch(30% var(--chroma-other) var(--hue-sub150));
    --palette-sub150-40: lch(40% var(--chroma-other) var(--hue-sub150));
    --palette-sub150-50: lch(50% var(--chroma-other) var(--hue-sub150));
    --palette-sub150-60: lch(60% var(--chroma-other) var(--hue-sub150));
    --palette-sub150-70: lch(70% var(--chroma-other) var(--hue-sub150));
    --palette-sub150-80: lch(80% var(--chroma-other) var(--hue-sub150));
    --palette-sub150-90: lch(90% var(--chroma-other) var(--hue-sub150));
    --palette-sub150-100: lch(100% var(--chroma-other) var(--hue-sub150));
    
    /* Add 150 */
    --palette-add150-0: lch(0% var(--chroma-other) var(--hue-add150));
    --palette-add150-10: lch(10% var(--chroma-other) var(--hue-add150));
    --palette-add150-20: lch(20% var(--chroma-other) var(--hue-add150));
    --palette-add150-30: lch(30% var(--chroma-other) var(--hue-add150));
    --palette-add150-40: lch(40% var(--chroma-other) var(--hue-add150));
    --palette-add150-50: lch(50% var(--chroma-other) var(--hue-add150));
    --palette-add150-60: lch(60% var(--chroma-other) var(--hue-add150));
    --palette-add150-70: lch(70% var(--chroma-other) var(--hue-add150));
    --palette-add150-80: lch(80% var(--chroma-other) var(--hue-add150));
    --palette-add150-90: lch(90% var(--chroma-other) var(--hue-add150));
    --palette-add150-100: lch(100% var(--chroma-other) var(--hue-add150));

    /* Sub 180 */
    --palette-sub180-0: lch(0% var(--chroma-other) var(--hue-sub180));
    --palette-sub180-10: lch(10% var(--chroma-other) var(--hue-sub180));
    --palette-sub180-20: lch(20% var(--chroma-other) var(--hue-sub180));
    --palette-sub180-30: lch(30% var(--chroma-other) var(--hue-sub180));
    --palette-sub180-40: lch(40% var(--chroma-other) var(--hue-sub180));
    --palette-sub180-50: lch(50% var(--chroma-other) var(--hue-sub180));
    --palette-sub180-60: lch(60% var(--chroma-other) var(--hue-sub180));
    --palette-sub180-70: lch(70% var(--chroma-other) var(--hue-sub180));
    --palette-sub180-80: lch(80% var(--chroma-other) var(--hue-sub180));
    --palette-sub180-90: lch(90% var(--chroma-other) var(--hue-sub180));
    --palette-sub180-100: lch(100% var(--chroma-other) var(--hue-sub180));

    /* Add 180 */
    --palette-add180-0: lch(0% var(--chroma-other) var(--hue-add180));
    --palette-add180-10: lch(10% var(--chroma-other) var(--hue-add180));
    --palette-add180-20: lch(20% var(--chroma-other) var(--hue-add180));
    --palette-add180-30: lch(30% var(--chroma-other) var(--hue-add180));
    --palette-add180-40: lch(40% var(--chroma-other) var(--hue-add180));
    --palette-add180-50: lch(50% var(--chroma-other) var(--hue-add180));
    --palette-add180-60: lch(60% var(--chroma-other) var(--hue-add180));
    --palette-add180-70: lch(70% var(--chroma-other) var(--hue-add180));
    --palette-add180-80: lch(80% var(--chroma-other) var(--hue-add180));
    --palette-add180-90: lch(90% var(--chroma-other) var(--hue-add180));
    --palette-add180-100: lch(100% var(--chroma-other) var(--hue-add180));

    /* Complementary */
    --palette-complementary-0: lch(0% var(--chroma-other) var(--hue-complementary));
    --palette-complementary-10: lch(10% var(--chroma-other) var(--hue-complementary));
    --palette-complementary-20: lch(20% var(--chroma-other) var(--hue-complementary));
    --palette-complementary-30: lch(30% var(--chroma-other) var(--hue-complementary));
    --palette-complementary-40: lch(40% var(--chroma-other) var(--hue-complementary));
    --palette-complementary-50: lch(50% var(--chroma-other) var(--hue-complementary));
    --palette-complementary-60: lch(60% var(--chroma-other) var(--hue-complementary));
    --palette-complementary-70: lch(70% var(--chroma-other) var(--hue-complementary));
    --palette-complementary-80: lch(80% var(--chroma-other) var(--hue-complementary));
    --palette-complementary-90: lch(90% var(--chroma-other) var(--hue-complementary));
    --palette-complementary-100: lch(100% var(--chroma-other) var(--hue-complementary));
}