.segmented-buttons {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-align-items: center;
  --container-padding: 0 var(--size-3);
  
  & .button {
    --bg-color: var(--color-surface);
    --icon-color: var(--color-on-surface);
    --text-color: var(--color-on-surface);
    --container-shape: unset;
    --container-padding: 0 var(--size-4);
    --container-outline: 1px solid var(--color-outline);
    cursor: pointer;

    &[start] {
      border-inline-end: 0px;
      --container-shape: var(--shape-corner-xl-start);
    }
    
    &[end] {
      border-inline-start: 0px;
      --container-shape: var(--shape-corner-xl-end);
    }
  }
  
  & input[type="radio"] {
    display: none;
    
    &:checked + .button {
      --bg-color: var(--color-secondary-container);
      --icon-color: var(--color-on-secondary-container);
      --text-color: var(--color-on-secondary-container);
    }
  }
}



