#footer {
  position: relative;

  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  padding-block: 21dvh 3dvh;
  padding-inline: 8dvw;
  gap: 5dvh;

  & .footer-links {
    display: flex;
    flex-flow: row wrap;
    margin-top: var(--size-16);

    & .footer-links-list {
      flex: 1 1 0;
      display: flex;
      flex-flow: column nowrap;

      & span:first-child {
        color: var(--color-on-surface-variant);
      }
    }

    & a {
      display: flex;
      align-items: center;
      text-decoration: none;
      width: 100%;
      min-height: var(--size-8);
    }

    & span {
      margin-block: var(--spacing-panes);
    }
  }

  & .copyright {
    flex: 1 1 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-top: var(--size-16);
    
    & #copyright-button {
      flex: 1 1 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: var(--color-on-surface-variant);

      &:hover {
        color: var(--color-on-surface);
        text-decoration: underline;
      }
    }
  }
}

/* Compact: add space for scrollbar */
@media screen and (max-width: 599px) {
  #footer {
    margin-right: var(--size-2);
  }
}
