#post-content {
  & p,
  & .highlight-text,
  & pre,
  & ul,
  & ol,
  & li,
  & blockquote {
    max-width: var(--input-char-width);
  }
  
  & h1[id],
  & h2[id],
  & h3[id],
  & h4[id],
  & h5[id],
  & h6[id] {
    padding-top: 1em;
    padding-block-start: 1em;
    padding-bottom: 0.5em;
    padding-block-end: 0.5em;
  }

  & ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    padding-left: 1em;
    padding-inline-start: 1em;
    padding-bottom: 1em;
    padding-block-end: 1em;
  }

  & figure:has(img, svg, video) {
    max-width: 100%;

    & img,
    & svg,
    & video {
      max-inline-size: 100%;
      max-block-size: fit-content;
      align-items: center;
      margin: var(--size-3) auto;
    }
  }

  & .cover-image {
    margin: var(--size-5) auto;

    & img,
    & svg,
    & video {
      border-radius: inherit;
      max-width: 88%;
      margin: var(--size-5) auto;
    }
  }

  & *:not(pre) > code {
    display: inline-flex;
    display: inline flex;
    flex-flow: row nowrap;
    background-color: var(--color-surface-container-high);
    color: var(--color-on-surface-variant);
    border-radius: var(--shape-corner-xs);
    padding-inline: 5px;
    margin-inline: 3px;
  }
}
