#home-page {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  & #home-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface-container-lowest);
    gap: var(--spacing-panes);
    margin-block: var(--size-8);
    
    & .home-buttons {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      gap: var(--spacing-panes);

      & .button {
        flex: 1 1 auto;
      }
    }  
  }

  & #showcase-panel {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface-container-low);
    gap: var(--spacing-panes);
    border-radius: var(--shape-corner-xl);
    
    & *:not(h1, h2) {
      width: 100%;
    }
  }
}
