#sitemap {
  display: flex;
  flex-flow: row nowrap;
  padding: unset;
  margin: unset;

  & h6 {
    display: flex;
    flex-flow: row nowrap;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    border-left: 1px solid var(--color-outline);
    padding: var(--size-4);
  }
}

