.layout {
  flex: var(--flex, none);
  display: var(--display, none);
  flex-flow: var(--flex-flow, none);
  align-items: var(--align-items, none);
  align-content: var(--align-content, none);
  justify-content: var(--justify-content, none);
  width: var(--width, none);
  height: var(--height, none);
  min-height: var(--min-height, none);
  padding: var(--padding, none);
  margin: var(--margin, none);
  gap: var(--gap, none);

  border-radius: var(--shape, none);
  border: var(--border, none);

  background-color: var(--bg-color, none);
}

.layout {
  --flex: initial;
  --display: flex;
  --flex-flow: column nowrap;
  --align-items: stretch;
  --align-content: initial;
  --justify-content: initial;
  --width: 100%;
  --height: auto;
  --min-height: auto;
  --padding: 0;
  --margin: 0;
  --gap: 0;

  --shape: inherit;
  --border: inherit;

  --bg-color: inherit;
}

/* Transitions */
:root,
body,
header,
main,
footer,
.layout,
#top-link {
  transition: var(--motion-duration-medium2) var(--motion-easing-emphasized);
  transition-property: font-size, line-height, margin, height, min-height,
    max-height, border-radius, min-width, max-width, width, padding, transform,
    visibility, opacity;
}

/* Vertical spacing */
.layout {
  max-inline-size: var(--window-extra-large-min);
  margin: 0 auto;

  &.page-header {
    margin-bottom: 5rem;
  }

  &.panes {
    margin-bottom: 4rem;
  }

  &.page-links {
    margin-bottom: 5rem;
  }

  &.page-navigation {
    margin-bottom: 5rem;
  }
}

/* .layout {
/*   --flex: inherit;
/*   --display: inherit;
/*   --flex-flow: inherit;
/*   --align-items: inherit;
/*   --align-content: inherit;
/*   --justify-content: inherit;
/*   --width: inherit;
/*   --height: inherit;
/*   --min-height: inherit;
/*   --padding: inherit;
/*   --margin: inherit;
/*   --gap: inherit;
/*   
/*   --shape: inherit;
/*   --border: inherit;
/* 
/*   --bg-color: inherit;
/* } 
*/
