:root {
  font-size: var(--root-font-size);
  font-family: var(--typeface-plain);
  font-weight: var(--typeface-weight-regular);
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-width: 100dvw;
  min-height: 100dvh;
  align-items: stretch;
  overflow-x: hidden;

  background-color: var(--color-surface-dim);

  color: var(--color-on-surface);
}

main {
  max-height: calc(100dvh - 132px);
  overflow-y: auto;
}

details {
  & summary {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    padding: var(--size-6);
    border-radius: var(--shape-corner-none);
    align-items: center;
    justify-content: space-between;
    
    &::after {
      content: "▲";
      font-size: var(--size-5);
    }

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &[open] > summary::after {
    content: "▼";
  }
}
