/* Icons */
i {
  font-family: var(--font-icon);
  font-weight: normal;
  font-style: normal;
  font-size: var(--size-6);
  letter-spacing: normal;
  text-transform: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  word-wrap: normal;

  direction: ltr;

  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;

  vertical-align: middle;
  text-align: center;

  overflow: hidden;

  inline-size: var(--size-6);
  min-inline-size: var(--size-6);
  block-size: var(--size-6);
  min-block-size: var(--size-6);

  line-height: normal;
}

/* Media */
img,
svg,
video {
  max-width: 100%;
  max-height: 100%;

  border-radius: var(--shape-corner-s);
  
  object-fit: cover;
  object-position: center;
  transition: transform var(--motion-duration-short3),
    border-radius var(--motion-duration-short3),
    padding var(--motion-duration-short3);
}

/* SVG */
svg {
  fill: currentColor;
}
