/* Basic text */
p,
a {
  font-size: var(--typescale-body-large-size);
  line-height: var(--typescale-body-large-line-height);
  font-weight: var(--typescale-body-large-weight);
  font-family: var(--typescale-body-large-font);
}

label {
  font-size: var(--typescale-label-large-size);
  line-height: var(--typescale-label-large-line-height);
  font-weight: var(--typescale-label-large-weight);
  font-family: var(--typescale-label-large-font);
}

/* Headings */
h1 {
  font-size: var(--typescale-display-large-size);
  line-height: var(--typescale-display-large-line-height);
  font-weight: var(--typescale-display-large-weight);
  font-family: var(--typescale-display-large-font);
}

h2 {
  font-size: var(--typescale-display-medium-size);
  line-height: var(--typescale-display-medium-line-height);
  font-weight: var(--typescale-display-medium-weight);
  font-family: var(--typescale-display-medium-font);
}

h3 {
  font-size: var(--typescale-display-small-size);
  line-height: var(--typescale-display-small-line-height);
  font-weight: var(--typescale-display-small-weight);
  font-family: var(--typescale-display-small-font);
}

h4 {
  font-size: var(--typescale-headline-large-size);
  line-height: var(--typescale-headline-large-line-height);
  font-weight: var(--typescale-headline-large-weight);
  font-family: var(--typescale-headline-large-font);
}

h5 {
  font-size: var(--typescale-headline-medium-size);
  line-height: var(--typescale-headline-medium-line-height);
  font-weight: var(--typescale-headline-medium-weight);
  font-family: var(--typescale-headline-medium-font);
}

h6 {
  font-size: var(--typescale-headline-small-size);
  line-height: var(--typescale-headline-small-line-height);
  font-weight: var(--typescale-headline-small-weight);
  font-family: var(--typescale-headline-small-font);
}

/* Styles */
strong,
b {
  font-weight: var(--typeface-weight-bold);
}

em {
  font-style: italic;
}
