:root {
  /* Typescale factors (L → B → T → H → D) */
  --scale-up-type:            var(--scale-maj-6);
  --scale-back-type:          var(--scale-min-2);

  /* Typescale factors (S → M → L) */
  --scale-up-size:            var(--scale-maj-2);
  --scale-back-size:          var(--scale-min-2);

  /* Line heights */
  --input-line-height:            var(--scale-perfect-fifth);
  
  --scale-line-height-display:    var(--input-line-height) / 0.85;
  --scale-line-height-headline:   var(--input-line-height) / 0.90;
  --scale-line-height-title:      var(--input-line-height) / 0.95;
  --scale-line-height-body:       var(--input-line-height);
  --scale-line-height-label:      var(--input-line-height) * 1.05;

  /* Icon font family */
  --font-icon: var(--typeface-icon-sharp);
  
  /* Font size */
  --input-font-size:  14px;

  /* Shape corner */
  --input-shape-corner: 1.7px;

  /* Color primary */
  --input-color-hue: 302.8deg;
  --input-color-chroma: 58;

  /* Color harmonization */
  --harmonization: calc(360deg / var(--scale-fibonacci) / 17);
}
