<details class="layout token-set" open>
  <summary class="token-set-title">Reference tokens</summary>

  {{ range $group, $palettes := .Site.Data.palettes }}
    <details class="layout token-set" open>
        <summary class="token-set-title">{{ title $group }} palettes</summary>
        
        <div class="palettes-{{ $group }}">
            {{ range $palettes }}
                {{ $name := . }}
                <label>{{ title $name }}</label>
                <div class="component palette {{ $name }}">
                    {{ range seq 0 10 100 }}
                        <div 
                            style="background-color: var(--palette-{{ $name }}-{{ . }})">
                            {{ . }}
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>

    </details>
  {{ end }}
  
</details>
