{{ define "main" }}
<article class="layout panes basic-single-pane" id="components-showcase">
  <section class="layout pane" id="post-content">  

    {{ with .Content }}
      {{ . }}
    {{ end }}
    
    {{/*  Common buttons  */}}
    <div class="component-group-header">Common buttons</div>
    <div class="component-group">
      {{ $buttonTypes := slice
        (dict 
          "type" "text"
          "label" "Text")
        (dict 
          "type" "elevated"
          "label" "Elevated")
        (dict 
          "type" "filled"
          "label" "Filled")
        (dict 
          "type" "filled-tonal" 
          "label" "Filled tonal")
        (dict 
          "type" "outlined"
          "label" "Outlined")
      }}

      {{ $buttonTypesDisabled := slice
        (dict 
          "type" "text"
          "label" "Text"
          "disabled" "disabled")
        (dict 
          "type" "elevated"
          "label" "Elevated"
          "disabled" "disabled")
        (dict 
          "type" "filled"
          "label" "Filled"
          "disabled" "disabled")
        (dict 
          "type" "filled-tonal" 
          "label" "Filled tonal"
          "disabled" "disabled")
        (dict 
          "type" "outlined"
          "label" "Outlined"
          "disabled" "disabled")
      }}

      {{/*  Common w/o icon  */}}
      <div class="sub-component-group-header">No icon</div>
      <section>
        {{ range $buttonTypes }}
          {{ partial "components/actions/common-buttons.html" . }}
        {{ end }}
      </section>
      <section>
        {{ range $buttonTypesDisabled }}
          {{ partial "components/actions/common-buttons.html" . }}
        {{ end }}
      </section>
    
      {{/*  Common w/ icon  */}}
      <div class="sub-component-group-header">With icon</div>
      <section>
        {{ range $buttonTypes }}
          {{ $withIcon := merge . (dict "icon" "add") }}
          {{ partial "components/actions/common-buttons.html" $withIcon }}
        {{ end }}
      </section>
      <section>
        {{ range $buttonTypesDisabled }}
          {{ $withIcon := merge . (dict "icon" "add") }}
          {{ partial "components/actions/common-buttons.html" $withIcon }}
        {{ end }}
      </section>
    </div>

    {{/*  FABs  */}}
    <div class="component-group-header">Floating action buttons (FABs)</div>
    <div class="component-group">
      {{ $containerClasses := slice "surface-container-high" "primary-container" "secondary-container" "tertiary-container" }}
      {{ $fabTypes := slice
        (dict 
          "title" "Small FAB" 
          "size" "small" 
          "icon" "add")
        (dict 
          "title" "FAB" 
          "icon" "add")
        (dict 
          "title" "Large FAB" 
          "size" "large" 
          "icon" "add")
        (dict 
          "title" "Extended FAB - no icon" 
          "extended" true 
          "label" "Extended")
        (dict 
          "title" "Extended FAB - with icon" 
          "extended" true 
          "icon" "add" 
          "label" "Extended")
      }}

      {{ range $fabType := $fabTypes }}
        <div class="sub-component-group-header">{{ $fabType.title }}</div>
        <section>
          {{ range $class := $containerClasses }}
            {{ $fabConfig := merge $fabType (dict "class" $class) }}
            {{ partial "components/actions/floating-action-buttons.html" $fabConfig }}
          {{ end }}
        </section>
      {{ end }}
    </div>

    {{/*  Icon buttons  */}}
    <div class="component-group-header">Icon buttons</div>
    <div class="component-group">
      {{ $buttonTypes := slice "text" "filled" "filled-tonal" "outlined" }}
      
      {{/*  Icon button  */}}
      <div class="sub-component-group-header">Icon button</div>
      {{ range $buttonTypes }}
        {{ partial "components/actions/icon-buttons.html" (dict
            "type" .
            "icon" "settings"
          )
        }}
      {{ end }}

      {{/*  Icon button - toggle  */}}
      <div class="sub-component-group-header">Icon button - toggle</div>
      {{ range $buttonTypes }}
        {{ partial "components/actions/icon-buttons.html" (dict
            "id" .
            "type" .
            "icon" "settings"
            "toggle" true
          )
        }}
      {{ end }}
    </div>

    {{/*  Segmented buttons  */}}
    <div class="component-group-header">Segmented buttons</div>
    <div class="component-group">
      <div class="sub-component-group-header">Outlined - single select</div>
      
      {{ $segmentedButtons := slice
        (dict 
          "name" "segmented1" 
          "type" "radio"
          "buttons" (slice
            (dict 
              "id" "start" 
              "label" "Start" 
              "checked" true)
            (dict 
              "id" "end" 
              "label" "End")
          )
        )
        (dict
          "name" "segmented2" 
          "type" "radio"
          "buttons" (slice
            (dict 
              "id" "start2" 
              "label" "Start" 
              "checked" true)
            (dict 
              "id" "middle" 
              "label" "Middle")
            (dict 
              "id" "end2" 
              "label" "End")
          )
        )
        (dict 
          "name" "segmented3" 
          "type" "radio"
          "buttons" (slice
            (dict 
              "id" "start3" 
              "label" "Start" 
              "checked" true)
            (dict 
              "id" "middle1" 
              "label" "Middle 1"
              )
            (dict 
              "id" "middle2" 
              "label" "Middle 2"
              )
            (dict 
              "id" "end3" 
              "label" "End")
          )
        )
        (dict 
          "name" "segmented4" 
          "type" "radio"
          "buttons" (slice
            (dict 
              "id" "start4" 
              "label" "Start" 
              "checked" true)
            (dict 
              "id" "middle3" 
              "label" "Middle 1"
              )
            (dict 
              "id" "middle4" 
              "label" "Middle 2"
              )
            (dict 
              "id" "middle5" 
              "label" "Middle 3"
              )
            (dict 
              "id" "end4" 
              "label" "End")
          )
        )
      }}

      {{ range $segmentedButtons }}
        {{ partial "components/actions/segmented-buttons.html" . }}
      {{ end }}

      <div class="sub-component-group-header">Outlined - multi select</div>

      {{ $segmentedButtons := slice
        (dict 
          "name" "segmented1" 
          "type" "checkbox"
          "buttons" (slice
            (dict 
              "id" "startcheck" 
              "label" "Start" 
              "checked" true)
            (dict 
              "id" "endcheck" 
              "label" "End")
          )
        )
        (dict
          "name" "segmented2"
          "type" "checkbox" 
          "buttons" (slice
            (dict 
              "id" "startcheck2" 
              "label" "Start" 
              "checked" true)
            (dict 
              "id" "middlecheck" 
              "label" "Middle")
            (dict 
              "id" "endcheck2" 
              "label" "End")
          )
        )
        (dict 
          "name" "segmented3" 
          "type" "checkbox"
          "buttons" (slice
            (dict 
              "id" "startcheck3" 
              "label" "Start" 
              "checked" true)
            (dict 
              "id" "middlecheck1" 
              "label" "Middle 1"
              )
            (dict 
              "id" "middlecheck2" 
              "label" "Middle 2"
              )
            (dict 
              "id" "endcheck3" 
              "label" "End")
          )
        )
        (dict 
          "name" "segmented4" 
          "type" "checkbox"
          "buttons" (slice
            (dict 
              "id" "startcheck4" 
              "label" "Start" 
              "checked" true)
            (dict 
              "id" "middlecheck3" 
              "label" "Middle 1"
              )
            (dict 
              "id" "middlecheck4" 
              "label" "Middle 2"
              )
            (dict 
              "id" "middlecheck5" 
              "label" "Middle 3"
              )
            (dict 
              "id" "endcheck4" 
              "label" "End")
          )
        )
      }}

      {{ range $segmentedButtons }}
        {{ partial "components/actions/segmented-buttons.html" . }}
      {{ end }}
    </div>

  </section>
</article>
{{ end }}
