{{- define "main" }}

<article class="layout panes basic-singlepane">
    <section id="buttons" class="layout pane">
        <section>
            <h2>Common buttons</h2>
            <button class="component button common">Text</button>
            <button class="component button common elevated">Elevated</button>
            <button class="component button common filled">Filled</button>
            <button class="component button common filled-tonal">Filled-Tonal</button>
            <button class="component button common outlined">Outlined</button>
        </section>

        <section>
            <h2>Icon buttons</h2>
            <button class="component button icon">
                <i>settings</i>
            </button>
            <button class="component button icon filled">
                <i>settings</i>
            </button>
            <button class="component button icon filled-tonal">
                <i>settings</i>
            </button>
            <button class="component button icon outlined">
                <i>settings</i>
            </button>
        </section>

        <section>
            <h2>FABs</h2>

            <section>
                <button class="component button surface-container-high fab">
                    <i>add</i>
                </button>
                <button class="component button surface-container-high fab small">
                    <i>add</i>
                </button>
                <button class="component button surface-container-high fab large">
                    <i>add</i>
                </button>
                <button class="component button surface-container-high fab extended">
                    Extended
                    <i>add</i>
                </button>
            </section>

            <section>
                <button class="component button primary-container fab">
                    <i>add</i>
                </button>
                <button class="component button primary-container fab small">
                    <i>add</i>
                </button>
                <button class="component button primary-container fab large">
                    <i>add</i>
                </button>
                <button class="component button primary-container fab extended">
                    Extended
                    <i>add</i>
                </button>
            </section>
            
            <section>
                <button class="component button secondary-container fab">
                    <i>add</i>
                </button>
                <button class="component button secondary-container fab small">
                    <i>add</i>
                </button>
                <button class="component button secondary-container fab large">
                    <i>add</i>
                </button>
                <button class="component button secondary-container fab extended">
                    Extended
                    <i>add</i>
                </button>
            </section>

            <section>
                <button class="component button tertiary-container fab">
                    <i>add</i>
                </button>
                <button class="component button tertiary-container fab small">
                    <i>add</i>
                </button>
                <button class="component button tertiary-container fab large">
                    <i>add</i>
                </button>
                <button class="component button tertiary-container fab extended">
                    Extended
                    <i>add</i>
                </button>
            </section>

        </section>
    </section>
</article>

{{ end }}