{{ define "main" }}

<article class="layout panes basic-single-pane">

  <section class="layout pane" id="components-showcase">  

    {{ with .Content }}
      {{ . }}
    {{ end }}
    
    {{/*  || Actions  */}}
    <details class="layout token-set" open>

      <summary class="token-set-title">Actions</summary>

      {{/*  Buttons  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Common buttons</div>
        <hr end>

        <div class="sub-component-group-header title-large">No icon</div>
        <section>
          <button class="component button common-button">Text</button>
          <button class="component button common-button" elevated>Elevated</button>
          <button class="component button common-button" filled>Filled</button>
          <button class="component button common-button" filled-tonal>Filled-Tonal</button>
          <button class="component button common-button" outlined>Outlined</button>
        </section>
        
        <div class="sub-component-group-header title-large">With icon</div>
        <section>
          <button class="component button common-button" with-icon>
            <i>add</i>
            Text
          </button>
          <button class="component button common-button" elevated with-icon>
            <i>add</i>
            Elevated
          </button>
          <button class="component button common-button" filled with-icon>
            <i>add</i>
            Filled
          </button>
          <button class="component button common-button" filled-tonal with-icon>
            <i>add</i>
            Filled-Tonal
          </button>
          <button class="component button common-button" outlined with-icon>
            <i>add</i>
            Outlined
          </button>
        </section>

      </section>

      {{/*  Extended FABs  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Extended FABs</div>
        <hr end>
        
        <div class="sub-component-group-header title-large">No icon</div>
        <section>
          <button class="component button surface-container-high fab" extended>
            Extended
          </button>
          <button class="component button primary-container fab" extended>
            Extended
          </button>
          <button class="component button secondary-container fab" extended>
            Extended
          </button>
          <button class="component button tertiary-container fab" extended>
            Extended
          </button>
        </section>

        <div class="sub-component-group-header title-large">With icon</div>
        <section>
          <button class="component button surface-container-high fab" extended>
            <i>add</i>
            Extended
          </button>
          <button class="component button primary-container fab" extended>
            <i>add</i>
            Extended
          </button>
          <button class="component button secondary-container fab" extended>
            <i>add</i>
            Extended
          </button>
          <button class="component button tertiary-container fab" extended>
            <i>add</i>
            Extended
          </button>
        </section>
      </section>

      {{/*  FABs  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">FABs</div>
        <hr end>
        
        <div class="sub-component-group-header title-large">Small FABs</div>
        <section>
          <button class="component button surface-container-high fab" small>
            <i>add</i>
          </button>
          
          <button class="component button primary-container fab" small>
            <i>add</i>
          </button>

          <button class="component button secondary-container fab" small>
            <i>add</i>
          </button>

          <button class="component button tertiary-container fab" small>
            <i>add</i>
          </button>
        </section>

        <div class="sub-component-group-header title-large">FABs</div>
        <section>
          <button class="component button surface-container-high fab">
            <i>add</i>
          </button>

          <button class="component button primary-container fab">
            <i>add</i>
          </button>

          <button class="component button secondary-container fab">
            <i>add</i>
          </button>

          <button class="component button tertiary-container fab">
            <i>add</i>
          </button>
        </section>

        <div class="sub-component-group-header title-large">Large FABs</div>
        <section>
          <button class="component button surface-container-high fab" large>
            <i>add</i>
          </button>

          <button class="component button primary-container fab" large>
            <i>add</i>
          </button>
          
          <button class="component button secondary-container fab" large>
            <i>add</i>
          </button>

          <button class="component button tertiary-container fab" large>
            <i>add</i>
          </button>
        </section>
      </section>

      {{/*  Icon buttons  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Icon buttons</div>
        <hr end>

        <div class="sub-component-group-header title-large">Icon button</div>

        <button class="component button icon-button">
          <i>settings</i>
        </button>

        <button class="component button icon-button" filled>
          <i>settings</i>
        </button>

        <button class="component button icon-button" filled-tonal>
          <i>settings</i>
        </button>

        <button class="component button icon-button" outlined>
          <i>settings</i>
        </button>

      </section>

      {{/*  Segmented button  */}}
      <section class="component-group">

        <div class="component-group-header headline-small">Segmented buttons</div>
        <hr end>

        <div class="sub-component-group-header title-large">Outlined</div>

        <div class="component segmented-button">
            <input type="radio" id="start" name="segmented" checked>
            <label for="start" class="component button">Start</label>
            
            <input type="radio" id="end" name="segmented">
            <label for="end" class="component button">End</label>
        </div>

        <div class="component segmented-button">
            <input type="radio" id="start2" name="segmented" checked>
            <label for="start2" class="component button">Start</label>
            
            <input type="radio" id="middle" name="segmented">
            <label for="middle" class="component button">Middle</label>
            
            <input type="radio" id="end2" name="segmented">
            <label for="end2" class="component button">End</label>
        </div>

        <div class="component segmented-button">
            <input type="radio" id="start3" name="segmented" checked>
            <label for="start3" class="component button">Start</label>
            
            <input type="radio" id="middle1" name="segmented">
            <label for="middle1" class="component button">Middle 1</label>

            <input type="radio" id="middle2" name="segmented">
            <label for="middle2" class="component button">Middle 2</label>
            
            <input type="radio" id="end3" name="segmented">
            <label for="end3" class="component button">End</label>
        </div>

        <div class="component segmented-button">
            <input type="radio" id="start4" name="segmented" checked>
            <label for="start4" class="component button">Start</label>
            
            <input type="radio" id="middle3" name="segmented">
            <label for="middle3" class="component button">Middle 1</label>

            <input type="radio" id="middle4" name="segmented">
            <label for="middle4" class="component button">Middle 2</label>

            <input type="radio" id="middle5" name="segmented">
            <label for="middle5" class="component button">Middle 3</label>
            
            <input type="radio" id="end4" name="segmented">
            <label for="end4" class="component button">End</label>
        </div>
      </section>

    </details>

    {{/* || Communication  */}}
    <details class="layout token-set" open>
      <summary class="token-set-title">Communication</summary>

      {{/*  Badges  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Badges</div>
        <hr end>

        <div class="sub-component-group-header title-large">Large</div>
        
        <div class="component badge" large>
          <div class="label">3</div>
        </div>
        
        <div class="sub-component-group-header title-large">Small</div>
        
        <div class="component badge"></div>

      </section>
      
      {{/*  Progress indicators  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Progress indicators</div>
        <hr end>

        <div class="sub-component-group-header title-large">Linear progress indicators</div>
        <progress></progress>

        <div class="sub-component-group-header title-large">Circular progress indicators</div>
        <progress circular></progress>
      </section>
      
      {{/*  Snackbar  */}}
      <section class="component-group">
        
        <div class="component-group-header headline-small">Snackbar</div>
        <hr end>
        
        <div class="sub-component-group-header title-large">Without close button</div>

        <div class="component snackbar">
          <div class="supporting-text">
            Single line snackbar
          </div>
        </div>
        
        <div class="component snackbar" with-action>
          <div class="supporting-text">
            Single line snackbar with action
          </div>
          <div class="actions">
            <button class="component button common-button">Action</button>
          </div>
        </div>
        
        <div class="component snackbar" two>
          <div class="supporting-text">
            Two-line snackbar
            <br> 
            without action
          </div>
        </div>
        
        <div class="component snackbar" two with-action>
          <div class="supporting-text">
            Two-line snackbar with action
            <br> 
            with action
          </div>
          <div class="actions">
            <button class="component button common-button">Action</button>
          </div>
        </div>
        
        <div class="component snackbar" two with-action with-longer-action>
          <div class="supporting-text">
            Two-line snackbar with longer action
            <br> 
            with action
          </div>
          <div class="actions">
            <button class="component button common-button">Longer action</button>
          </div>
        </div>


        <div class="sub-component-group-header title-large">Without close button</div>

        <div class="component snackbar" with-close-button>
          <div class="supporting-text">
            Single line snackbar with close button
          </div>
          <div class="actions">
            <button class="component button icon-button">
              <i class="close-icon">close</i>
            </button>
          </div>
        </div>

        <div class="component snackbar" with-close-button>
          <div class="supporting-text">
            Single line snackbar with action
          </div>
          <div class="actions">
            <button class="component button common-button">Action</button>
            <button class="component button icon-button">
              <i class="close-icon">close</i>
            </button>
          </div>
        </div>

        <div class="component snackbar" two with-close-button>
          <div class="supporting-text">
            Two-line snackbar with action
            <br> 
            with action
          </div>
          <div class="actions">
            <button class="component button common-button">Action</button>
            <button class="component button icon-button">
              <i class="close-icon">close</i>
            </button>
          </div>
        </div>

        <div class="component snackbar" two with-close-button>
          <div class="supporting-text">
            Two-line snackbar with action
            <br> 
            with action
          </div>
          <div class="actions">
            <button class="component button common-button">Action</button>
            <button class="component button icon-button">
              <i class="close-icon">close</i>
            </button>
          </div>
        </div>

        <div class="component snackbar" two with-close-button with-longer-action>
          <div class="supporting-text">
            Two-line snackbar
            <br> 
            with longer action
          </div>
          <div class="actions">
            <button class="component button common-button">Longer action</button>
            <button class="component button icon-button">
              <i class="close-icon">close</i>
            </button>
          </div>
        </div>

      </section>
      
      {{/*  Tooltips  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Tooltips</div>
        <hr end>

        <div class="sub-component-group-header title-large">Plain tooltips</div>

        <div class="component tooltip">
          <div class="supporting-text">
            Plain tooltip
          </div>
        </div>

        <div class="component tooltip">
          <div class="supporting-text">            
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Iste obcaecati dignissimos iure perferendis, 
            amet error alias hic ab eius minus ipsum nam voluptatem quos, 
            veniam quod cumque. Voluptas, distinctio provident?
          </div>
        </div>

        <div class="sub-component-group-header title-large">Rich tooltips</div>

        <div class="component tooltip" rich>
          <span class="subhead">Rich tooltip</span>
          <span class="supporting-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Iste obcaecati dignissimos iure perferendis, 
            amet error alias hic ab eius minus ipsum nam voluptatem quos, 
            veniam quod cumque. Voluptas, distinctio provident?
          </span>
          <div class="actions">
            <button class="component button common-button">Cancel</button>
            <button class="component button common-button">Accept</button>
          </div>
        </div>

        <div class="component tooltip" rich>
          <span class="subhead">Rich tooltip</span>
          <span class="supporting-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Iste obcaecati dignissimos iure perferendis, 
            amet error alias hic ab eius minus ipsum nam voluptatem quos, 
            veniam quod cumque. Voluptas, distinctio provident?
          </span>
        </div>

      </section>

    </details>

    {{/*  || Containment  */}}
    <details class="layout token-set" open>
      <summary class="token-set-title">Containment</summary>

      {{/*  Bottom sheets  */}}
      <section class="component-group">

        <div class="component-group-header headline-small">Bottom sheets</div>
        <hr end>
        
        <div class="sub-component-group-header title-large">Standard bottom sheet</div>

        <div class="component bottom-sheets">
          <div class="drag-handle"></div>
          <div class="content">Standard bottom sheet</div>
        </div>

        <div class="sub-component-group-header title-large">Modal bottom sheet</div>

        <div class="component bottom-sheets" modal>
          <div class="drag-handle"></div>
          <div class="content">Modal bottom sheet</div>
        </div>

      </section>

      {{/*  Cards  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Cards</div>
        <hr end>
        <div class="component card" elevated>
          <div class="sub-component-group-header title-large">Elevated card</div>
        </div>
        <div class="component card" filled>
          <div class="sub-component-group-header title-large">Filled card</div>
        </div>
        <div class="component card" outlined>
          <div class="sub-component-group-header title-large">Outlined card</div>
        </div>
      </section>

      {{/*  Carousel  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Carousel</div>
        <hr end>
        
        <div class="carousel-item"></div>
      </section>
      
      {{/*  Dialogs  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Dialogs</div>
        <hr end>

        <div class="sub-component-group-header title-large">Basic dialog</div>

        <div class="component dialog">
          <span class="headline">Basic dialog</span>
          <div class="supporting-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Non blanditiis voluptas, repellat, impedit, sit reprehenderit 
            nam et ipsa eius amet rem! Eligendi sequi magnam 
            exercitationem vel dignissimos similique, atque earum.          
          </div>
          <span class="actions">
            <button class="component button common-button">Cancel</button>
            <button class="component button common-button">Accept</button>
          </span>
        </div>

        <div class="component dialog">
          <i>chat</i>
          <span class="headline">Basic dialog with icon</span>
          <div class="supporting-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Non blanditiis voluptas, repellat, impedit, sit reprehenderit 
            nam et ipsa eius amet rem! Eligendi sequi magnam 
            exercitationem vel dignissimos similique, atque earum.          
          </div>
          <span class="actions">
            <button class="component button common-button">Cancel</button>
            <button class="component button common-button">Accept</button>
          </span>
        </div>
      </section>
      
      {{/*  Divider  */}}
      <section class="component-group">

        <div class="component-group-header headline-small">Divider</div>
        <hr end>

        <div class="sub-component-group-header title-large">Horizontal</div>

        <div class="divider-showcase-container">
          <div class="title-small">Mid inset</div>
          <hr mid>
          <div class="title-small">Start inset</div>
          <hr start>
          <div class="title-small">End inset</div>
          <hr end>
          <div class="title-small">No inset</div>
          <hr>
        </div>

      </section>

      {{/*  Lists  */}}
      <section class="component-group">

        <div class="component-group-header headline-small">Lists</div>
        <hr end>

        <div class="sub-component-group-header title-large">List-item</div>

        <div class="component list-item" one>
          <span>List-item one line</span>
        </div>
        <div class="component list-item" two>
          <span>List-item <br> two lines</span>
        </div>
        <div class="component list-item" three>
          <span>List-item <br> three <br> lines</span>
        </div>
      </section>

      {{/*  Side sheets  */}}
      <section class="component-group">

        <div class="component-group-header headline-small">Side sheets</div>
        <hr end>

        
        <div class="sub-component-group-header title-large">Standard side sheet</div>

        <div class="component side-sheets">
          <div class="header">
            <div class="headline">Title</div>
            <button class="component button icon-button"><i>close</i></button>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Repudiandae doloribus deleniti reiciendis adipisci doloremque 
            necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
            molestias deserunt tempore ut nostrum non amet corrupti!
          </div>
        </div>

        <div class="component side-sheets">
          <div class="header">
            <button class="component button icon-button"><i class="back-icon">arrow_back</i></button>
            <div class="headline">Title</div>
            <button class="component button icon-button"><i>close</i></button>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Repudiandae doloribus deleniti reiciendis adipisci doloremque 
            necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
            molestias deserunt tempore ut nostrum non amet corrupti!
          </div>
        </div>

        <div class="component side-sheets">
          <div class="header">
            <div class="headline">Title</div>
            <button class="component button icon-button"><i>close</i></button>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Repudiandae doloribus deleniti reiciendis adipisci doloremque 
            necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
            molestias deserunt tempore ut nostrum non amet corrupti!
          </div>
          <hr>
          <div class="actions">
            <button class="component button common-button" filled-tonal>Save</button>
            <button class="component button common-button" outlined>Cancel</button>
          </div>
        </div>

        <div class="component side-sheets">
          <div class="header">
            <button class="component button icon-button"><i class="back-icon">arrow_back</i></button>
            <div class="headline">Title</div>
            <button class="component button icon-button"><i>close</i></button>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Repudiandae doloribus deleniti reiciendis adipisci doloremque 
            necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
            molestias deserunt tempore ut nostrum non amet corrupti!
          </div>
          <hr>
          <div class="actions">
            <button class="component button common-button" filled-tonal>Save</button>
            <button class="component button common-button" outlined>Cancel</button>
          </div>
        </div>
        
        <div class="sub-component-group-header title-large">Modal side sheets</div>
        
        <div class="component side-sheets" modal>
          <div class="header">
            <div class="headline">Title</div>
            <button class="component button icon-button"><i>close</i></button>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Repudiandae doloribus deleniti reiciendis adipisci doloremque 
            necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
            molestias deserunt tempore ut nostrum non amet corrupti!
          </div>
        </div>

        <div class="component side-sheets" modal>
          <div class="header">
            <button class="component button icon-button"><i class="back-icon">arrow_back</i></button>
            <div class="headline">Title</div>
            <button class="component button icon-button"><i>close</i></button>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Repudiandae doloribus deleniti reiciendis adipisci doloremque 
            necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
            molestias deserunt tempore ut nostrum non amet corrupti!
          </div>
        </div>

        <div class="component side-sheets" modal>
          <div class="header">
            <div class="headline">Title</div>
            <button class="component button icon-button"><i>close</i></button>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Repudiandae doloribus deleniti reiciendis adipisci doloremque 
            necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
            molestias deserunt tempore ut nostrum non amet corrupti!
          </div>
          <hr>
          <div class="actions">
            <button class="component button common-button" filled-tonal>Save</button>
            <button class="component button common-button" outlined>Cancel</button>
          </div>
        </div>

        <div class="component side-sheets" modal>
          <div class="header">
            <button class="component button icon-button"><i class="back-icon">arrow_back</i></button>
            <div class="headline">Title</div>
            <button class="component button icon-button"><i>close</i></button>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Repudiandae doloribus deleniti reiciendis adipisci doloremque 
            necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
            molestias deserunt tempore ut nostrum non amet corrupti!
          </div>
          <hr>
          <div class="actions">
            <button class="component button common-button" filled-tonal>Save</button>
            <button class="component button common-button" outlined>Cancel</button>
          </div>
        </div>

      </section>

    </details>

    {{/*  || Navigation  */}}
    <details class="layout token-set" open>
      <summary class="token-set-title">Navigation</summary>

      {{/*  Bottom app bar  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Bottom app bar</div>
        <hr end>

        <div class="sub-component-group-header title-large">No FAB</div>

        <div class="component bottom-app-bar">
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
        </div>

        <div class="component bottom-app-bar">
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
              
            <button class="component button icon-button">
              <i>add</i>
            </button>
        </div>

        <div class="component bottom-app-bar">
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
              
            <button class="component button icon-button">
              <i>add</i>
            </button>
              
            <button class="component button icon-button">
              <i>settings</i>
            </button>
        </div>
        
        <div class="component bottom-app-bar">
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
              
            <button class="component button icon-button">
              <i>add</i>
            </button>
              
            <button class="component button icon-button">
              <i>settings</i>
            </button>
              
            <button class="component button icon-button">
              <i>token</i>
            </button>
        </div>

        <div class="sub-component-group-header title-large">With FAB</div>

        <div class="component bottom-app-bar" with-fab>
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
          </span>

          <span class="end">
            <button class="component fab primary">
              <i>add</i>
            </button>
          </span>
        </div>

        <div class="component bottom-app-bar" with-fab>
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
              
            <button class="component button icon-button">
              <i>add</i>
            </button>
          </span>

          <span class="end">
            <button class="component fab primary">
              <i>add</i>
            </button>
          </span>
        </div>

        <div class="component bottom-app-bar" with-fab>
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
              
            <button class="component button icon-button">
              <i>add</i>
            </button>
              
            <button class="component button icon-button">
              <i>settings</i>
            </button>
          </span>

          <span class="end">
            <button class="component fab primary">
              <i>add</i>
            </button>
          </span>
        </div>

        <div class="component bottom-app-bar" with-fab>
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
              
            <button class="component button icon-button">
              <i>add</i>
            </button>
              
            <button class="component button icon-button">
              <i>settings</i>
            </button>
              
            <button class="component button icon-button">
              <i>token</i>
            </button>
          </span>

          <span class="end">
            <button class="component fab primary">
              <i>add</i>
            </button>
          </span>
        </div>
      </section>
      
      {{/*  Navigation bar  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Navigation bar</div>
        <hr end>
        
        <div class="sub-component-group-header title-large">Icon & label</div>

        <div class="component navigation-bar">
          <div class="component navigation-item active">
            <div class="icon-container">
              <i>home</i>
            </div>
            <div class="label">Home</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>folder</i>
            </div>
            <div class="label">Folder</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>note</i>
            </div>            
            <div class="label">Note</div>
          </div>
        </div>

        <div class="component navigation-bar">
          <div class="component navigation-item active">
            <div class="icon-container">
              <i>home</i>
            </div>
            <div class="label">Home</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>folder</i>
            </div>
            <div class="label">Folder</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>note</i>
            </div>            
            <div class="label">Note</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>token</i>
            </div>            
            <div class="label">Token</div>
          </div>
        </div>

        <div class="component navigation-bar">
          <div class="component navigation-item active">
            <div class="icon-container">
              <i>home</i>
            </div>
            <div class="label">Home</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>folder</i>
            </div>
            <div class="label">Folder</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>note</i>
            </div>            
            <div class="label">Note</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>token</i>
            </div>            
            <div class="label">Token</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>settings</i>
            </div>            
            <div class="label">settings</div>
          </div>
        </div>

        <div class="sub-component-group-header title-large">Icon only</div>

        <div class="component navigation-bar">
          <div class="component navigation-item active">
            <div class="icon-container">
              <i>home</i>
            </div>
            <div class="label">Home</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>folder</i>
            </div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>note</i>
            </div>            
          </div>
        </div>

        <div class="component navigation-bar">
          <div class="component navigation-item active">
            <div class="icon-container">
              <i>home</i>
            </div>
            <div class="label">Home</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>folder</i>
            </div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>note</i>
            </div>            
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>token</i>
            </div>            
          </div>
        </div>

        <div class="component navigation-bar">
          <div class="component navigation-item active">
            <div class="icon-container">
              <i>home</i>
            </div>
            <div class="label">Home</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>folder</i>
            </div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>note</i>
            </div>            
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>token</i>
            </div>            
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>settings</i>
            </div>            
          </div>
        </div>
      </section>
      
      {{/*  Navigation drawer  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Navigation drawer</div>
        <hr end>
        
        <div class="sub-component-group-header title-large">With icon</div>

        <div class="component navigation-drawer">
          <div class="headline">Title</div>

          <div class="component navigation-item active">
            <i>home</i>
            <div class="label">Home</div>
          </div>
          
          <div class="component navigation-item">
            <i>folder</i>
            <div class="label">Folder</div>
          </div>
          
          <div class="component navigation-item">
            <i>note</i>
            <div class="label">Note</div>
          </div>

          <hr mid>

          <div class="section-header">Section header</div>

          <div class="component navigation-item">
            <i>token</i>
            <div class="label">Token</div>        
          </div>
          
          <div class="component navigation-item">
            <i>settings</i>
            <div class="label">Settings</div>            
          </div>
        </div>
        
      <div class="sub-component-group-header title-large">No icon</div>

      <div class="component navigation-drawer">
        <div class="headline">Title</div>

        <div class="component navigation-item active">
          <div class="label">Home</div>
        </div>
        
        <div class="component navigation-item">
          <div class="label">Folder</div>
        </div>
        
        <div class="component navigation-item">
          <div class="label">Note</div>
        </div>
        
        <hr mid>

        <div class="section-header">Section header</div>

        <div class="component navigation-item">
          <div class="label">Token</div>        
        </div>
        
        <div class="component navigation-item">
          <div class="label">Settings</div>            
        </div>
      </div>
      </section>
      
      {{/*  Navigation rail  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Navigation rail</div>
        <hr end>
        
        <div class="sub-component-group-header title-large">Align top</div>

        <div class="component navigation-rail">
          <div class="menu-and-fab">
            <button class="component button icon-button">
              <i>menu</i>
            </button>

            <button class="component button fab tertiary-container">
              <i>add</i>
            </button>
          </div>

          <div class="destinations">
            <div class="component navigation-item active">
              <div class="icon-container">
                <i>home</i>
              </div>
              <div class="label">Home</div>
            </div>
            
            <div class="component navigation-item">
              <div class="icon-container">
                <i>folder</i>
              </div>
              <div class="label">Folder</div>
            </div>
            
            <div class="component navigation-item">
              <div class="icon-container">
                <i>note</i>
              </div>            
              <div class="label">Note</div>
            </div>
            
            <div class="component navigation-item">
              <div class="icon-container">
                <i>token</i>
              </div>            
              <div class="label">Token</div>
            </div>
          </div>
        </div>
        
        <div class="sub-component-group-header title-large">Align middle</div>

        <div class="component navigation-rail" middle>
          <div class="menu-and-fab">
            <button class="component button icon-button">
              <i>menu</i>
            </button>

            <button class="component button fab tertiary-container">
              <i>add</i>
            </button>
          </div>

          <div class="destinations">
            <div class="component navigation-item active">
              <div class="icon-container">
                <i>home</i>
              </div>
              <div class="label">Home</div>
            </div>
            
            <div class="component navigation-item">
              <div class="icon-container">
                <i>folder</i>
              </div>
              <div class="label">Folder</div>
            </div>
            
            <div class="component navigation-item">
              <div class="icon-container">
                <i>note</i>
              </div>            
              <div class="label">Note</div>
            </div>
            
            <div class="component navigation-item">
              <div class="icon-container">
                <i>token</i>
              </div>            
              <div class="label">Token</div>
            </div>
          </div>
        </div>
        
        <div class="sub-component-group-header title-large">Align bottom</div>
        
        <div class="component navigation-rail" bottom>
          <div class="menu-and-fab">
            <button class="component button icon-button">
              <i>menu</i>
            </button>

            <button class="component button fab tertiary-container">
              <i>add</i>
            </button>
          </div>      

          <div class="destinations">
            <div class="component navigation-item active">
              <div class="icon-container">
                <i>home</i>
              </div>
              <div class="label">Home</div>
            </div>
            
            <div class="component navigation-item">
              <div class="icon-container">
                <i>folder</i>
              </div>
              <div class="label">Folder</div>
            </div>
            
            <div class="component navigation-item">
              <div class="icon-container">
                <i>note</i>
              </div>            
              <div class="label">Note</div>
            </div>
            
            <div class="component navigation-item">
              <div class="icon-container">
                <i>token</i>
              </div>            
              <div class="label">Token</div>
            </div>
          </div>
        </div>

      </section>

      {{/*  Search  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Search</div>
        <hr end>
        <span class="component search" bar>
          <i id="searchIcon">search</i>
          <input  id="searchInput"  
                  placeholder="Search"
                  aria-label="search" 
                  type="search"
                  autocomplete="off" 
                  maxlength="64">
        </span>
      </section>

      {{/*  Tabs  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Tabs</div>
        <hr end>
        <div class="sub-component-group-header title-large">Primary tabs</div>
        <div class="component tabs" primary>
          <span class="component tab active">Tab 1</span>
          <span class="component tab">Tab 2</span>
          <span class="component tab">Tab 3</span>
        </div>

        <div class="component tabs" primary>
          <span class="component tab active">
            <i>add</i>
            Tab 1
          </span>

          <span class="component tab">
            <i>add</i>
            Tab 2
          </span>

          <span class="component tab">
            <i>add</i>
            Tab 3
          </span>
        </div>

        <div class="sub-component-group-header title-large">Secondary tabs</div>
        <div class="component tabs" secondary>
          <span class="component tab">Tab 1</span>
          <span class="component tab active">Tab 2</span>
          <span class="component tab">Tab 3</span>
        </div>

        <div class="component tabs" secondary>
          <span class="component tab">
            <i>add</i>
            Tab 1
          </span>

          <span class="component tab active">
            <i>add</i>
            Tab 2
          </span>

          <span class="component tab">
            <i>add</i>
            Tab 3
          </span>
        </div>
      </section>

      {{/*  Top app bar  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Top app bar</div>
        <hr end>
        <div class="component top-app-bar" center small>
          <span class="start">Top app bar</span>
          <span class="end">Small</span>
        </div>
        <div class="component top-app-bar" center medium>
          <span class="start">Top app bar</span>
          <span class="end">Medium</span>
        </div>
        <div class="component top-app-bar" center large>
          <span class="start">Top app bar</span>
          <span class="end">Large</span>
        </div>
      </section>
    </details>

    {{/*  || Selections  */}}
    <details class="layout token-set" open>
      <summary class="token-set-title">Selections</summary>

      {{/*  Checkbox  */}}
      <section class="component-group">
        <fieldset>
          <legend class="title-large">Checkbox</legend>

          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check</i></span>
            <span class="label-large">Checkbox 1</span>
          </label>

          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check</i></span>
            <span class="label-large">Checkbox 2</span>
          </label>

          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check</i></span>
            <span class="label-large">Checkbox 3</span>
          </label>
        </fieldset>
      </section>

      {{/*  Chips  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Chips</div>
        <hr end>
        <label class="component chip">
            <input type="checkbox" name="chip" value="chip1">
            <span>Chip 1</span>
        </label>
        <label class="component chip">
            <input type="checkbox" name="chip" value="chip2">
            <span>Chip 2</span>
        </label>
        <label class="component chip" with-icon>
            <input type="checkbox" name="chip" value="chip3">
            <i>check</i>
            <span>Chip 3</span>
        </label>
      </section>
      
      {{/*  Date pickers  */}}
      <section class="component-group">

        <div class="component-group-header headline-small">Date pickers</div>
        <hr end>

        <div class="sub-component-group-header title-large">Input date picker</div>

        <div class="component date-picker">

          <div class="header">
            <div class="supporting-text">Select date</div>
            <div class="headline-container">
              <div class="headline">Enter date</div>
              <button class="component button icon-button"><i>today</i></button>
            </div>
          </div>

          <hr>

          <div class="component text-field" outlined>
            <input type="text" placeholder="mm/dd/yyyy">
          </div>

          <div class="date-picker-actions">
            <button class="component button common-button">Cancel</button>
            <button class="component button common-button">OK</button>
          </div>

        </div>

        <div class="component date-picker">

          <div class="header">
            <div class="supporting-text">Select date</div>
            <div class="headline-container">
              <div class="headline">Enter dates</div>
              <button class="component button icon-button"><i>today</i></button>
            </div>
          </div>

          <hr>

          <div class="text-field-container">
            <div class="component text-field" outlined>
              <input type="text" placeholder="Start date">
            </div>
            
            <div class="component text-field" outlined>
              <input type="text" placeholder="End date">
            </div>
          </div>

          <div class="date-picker-actions">
            <button class="component button common-button">Cancel</button>
            <button class="component button common-button">OK</button>
          </div>

        </div>
      </section>
      
      {{/*  Menus  */}}
      <section class="component-group">

        <div class="component-group-header headline-small">Menus</div>
        <hr end>

        <div class="sub-component-group-header title-large">No divider</div>

        <div class="component menus">
          <div class="component menu-item">Menu item 1</div>
          <div class="component menu-item">Menu item 2</div>
          <div class="component menu-item">Menu item 3</div>
          <div class="component menu-item">Menu item 4</div>
        </div>

        <div class="sub-component-group-header title-large">With divider</div>

        <div class="component menus">
          <div class="component menu-item">Menu item 1</div>
          <div class="component menu-item">Menu item 2</div>
          <div class="component menu-item">Menu item 3</div>
          <hr>
          <div class="component menu-item">Menu item 4</div>
        </div>
      </section>

      {{/*  Radio button  */}}
      <section class="component-group">
        <fieldset>
          <span class="title-large">
            <legend>Radio button</legend>
          </span>
          <div class="sub-component-group-header title-large">Radios</div>
          <div>
            <div class="component radio-button">
              <input type="radio" id="radio1" name="radio1" checked/>
              <label for="radio1">Radio1</label>
            </div>
            
            <div class="component radio-button">
              <input type="radio" id="radio2" name="radio2"/>
              <label for="radio2">Radio2</label>
            </div>

            <div class="component radio-button">
              <input type="radio" id="radio3" name="radio3"/>
              <label for="radio3">Radio3</label>
            </div>
          </div>
        </fieldset>
      </section>

      {{/*  Sliders  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Sliders</div>
        <hr end>

        <div class="sub-component-group-header title-large">Continuous</div>

        <div class="slider">
          <input type="range">
        </div>

        <div class="sub-component-group-header title-large">Centered</div>

        <div class="slider">
          <input id="test-slider" type="range" min="1" max="100" value="50" list="markers">
          
          <datalist id="markers">
            <option value="0"></option>
            <option value="100"></option>
          </datalist>
        </div>
      </section>

      {{/*  Switch  */}}
      <section class="component-group">

        <div class="component-group-header headline-small">Switch</div>
        <hr end>

        <div class="sub-component-group-header title-large">No icon</div>

        <label class="component switch">
            <input class="track" type="checkbox">
            <span class="handle"></span>
        </label>

      </section>

      {{/*  Time pickers  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Time pickers</div>
        <hr end>

        <div class="sub-component-group-header title-large">Time input/keyboard picker</div>

        <div class="component time-picker">

          <div class="time-picker-headline">Enter time</div>

          <div class="time-picker-container">
            <div class="time-input-field-container">
              <div class="time-input-option selected">
                07
                <span class="supporting-text">Hour</span>
              </div>
              <div class="time-input-separator">:</div>
              <div class="time-input-option">
                00
                <span class="supporting-text">Minute</span>
              </div>
            </div>

            <div class="period-selector-container">
              <div class="period-option selected">AM</div>
              <div class="period-option">PM</div>
            </div>
          </div>

          <div class="time-picker-actions"> 
            <div class="time-picker-start">
              <button class="component button icon-button"><i>schedule</i></button>
            </div>
            <div class="time-picker-end">
              <button class="component button common-button">Cancel</button>
              <button class="component button common-button">OK</button>
            </div>
          </div>
        </div>

        <div class="component time-picker">

          <div class="time-picker-headline">Enter time</div>

          <div class="time-picker-container">
            <div class="time-input-field-container">
              <div class="time-input-option selected">
                07
                <span class="supporting-text">Hour</span>
              </div>
              <div class="time-input-separator">:</div>
              <div class="time-input-option">
                00
                <span class="supporting-text">Minute</span>
              </div>
            </div>
          </div>

          <div class="time-picker-actions"> 
            <div class="time-picker-start">
              <button class="component button icon-button"><i>schedule</i></button>
            </div>
            <div class="time-picker-end">
              <button class="component button common-button">Cancel</button>
              <button class="component button common-button">OK</button>
            </div>
          </div>
        </div>

      </section>

    </details>

    {{/*  || Text inputs  */}}
    <details class="layout token-set" open>
      <summary class="token-set-title">Text inputs</summary>

      {{/*  Text fields  */}}
      <section class="component-group">
        <div class="component-group-header headline-small">Text fields</div>
        <hr end>
        <div class="component text-field" filled>
          <input type="text" placeholder="Placeholder text">
        </div>
        <div class="component text-field" outlined>
          <input type="text" placeholder="Placeholder text">
        </div>
        <textarea 
          class="component text-field" filled 
          type="text" 
          placeholder="Placeholder text"></textarea>
        <textarea 
          class="component text-field" outlined 
          type="text" 
          placeholder="Placeholder text"></textarea>
      </section>
    </details>

  </section>

</article>

{{ end }}
