{{ define "main" }}

<article class="layout panes basic-single-pane">
  <section class="layout pane" id="components-showcase">  
    {{ with .Content }}
      {{ . }}
    {{ end }}
    
    {{/*  || Actions  */}}
    <details class="layout token-set" open>

      <summary class="token-set-title">Actions</summary>

      {{/*  Buttons  */}}
      <section class="component-group">
        <span class="title-large">Common buttons</span>

        <span class="title-medium">No icon</span>
        <section>
          <button class="component button common-button">Text</button>
          <button class="component button common-button" elevated>Elevated</button>
          <button class="component button common-button" filled>Filled</button>
          <button class="component button common-button" filled-tonal>Filled-Tonal</button>
          <button class="component button common-button" outlined>Outlined</button>
        </section>
        
        <span class="title-medium">With icon</span>
        <section>
          <button class="component button common-button" with-icon>
            <i>add</i>
            Text
          </button>
          <button class="component button common-button" elevated with-icon>
            <i>add</i>
            Elevated
          </button>
          <button class="component button common-button" filled with-icon>
            <i>add</i>
            Filled
          </button>
          <button class="component button common-button" filled-tonal with-icon>
            <i>add</i>
            Filled-Tonal
          </button>
          <button class="component button common-button" outlined with-icon>
            <i>add</i>
            Outlined
          </button>
        </section>

      </section>

      {{/*  Extended FABs  */}}
      <section class="component-group">
        <span class="title-large">Extended FABs</span>
        
        <span class="title-medium">No icon</span>
        <section>
          <button class="component button surface-container-high fab" extended>
            Extended
          </button>
          <button class="component button primary-container fab" extended>
            Extended
          </button>
          <button class="component button secondary-container fab" extended>
            Extended
          </button>
          <button class="component button tertiary-container fab" extended>
            Extended
          </button>
        </section>

        <span class="title-medium">With icon</span>
        <section>
          <button class="component button surface-container-high fab" extended>
            <i>add</i>
            Extended
          </button>
          <button class="component button primary-container fab" extended>
            <i>add</i>
            Extended
          </button>
          <button class="component button secondary-container fab" extended>
            <i>add</i>
            Extended
          </button>
          <button class="component button tertiary-container fab" extended>
            <i>add</i>
            Extended
          </button>
        </section>
      </section>

      {{/*  FABs  */}}
      <section class="component-group">
        <span class="title-large">FABs</span>
        
        <span class="title-medium">Small FABs</span>
        <section>
          <button class="component button surface-container-high fab" small>
            <i>add</i>
          </button>
          
          <button class="component button primary-container fab" small>
            <i>add</i>
          </button>

          <button class="component button secondary-container fab" small>
            <i>add</i>
          </button>

          <button class="component button tertiary-container fab" small>
            <i>add</i>
          </button>
        </section>

        <span class="title-medium">FABs</span>
        <section>
          <button class="component button surface-container-high fab">
            <i>add</i>
          </button>

          <button class="component button primary-container fab">
            <i>add</i>
          </button>

          <button class="component button secondary-container fab">
            <i>add</i>
          </button>

          <button class="component button tertiary-container fab">
            <i>add</i>
          </button>
        </section>

        <span class="title-medium">Large FABs</span>
        <section>
          <button class="component button surface-container-high fab" large>
            <i>add</i>
          </button>

          <button class="component button primary-container fab" large>
            <i>add</i>
          </button>
          
          <button class="component button secondary-container fab" large>
            <i>add</i>
          </button>

          <button class="component button tertiary-container fab" large>
            <i>add</i>
          </button>
        </section>
      </section>

      {{/*  Icon buttons  */}}
      <section class="component-group">
        <span class="title-large">Icon buttons</span>

        <button class="component button icon-button">
          <i>settings</i>
        </button>

        <button class="component button icon-button" filled>
          <i>settings</i>
        </button>

        <button class="component button icon-button" filled-tonal>
          <i>settings</i>
        </button>

        <button class="component button icon-button" outlined>
          <i>settings</i>
        </button>

      </section>

      {{/*  Segmented button  */}}
      <section class="component-group">
        <span class="title-large">Segmented buttons</span>
        <div class="component segmented-button">
            <input type="radio" id="start" name="segmented" checked>
            <label for="start" class="component button">Start</label>
            
            <input type="radio" id="end" name="segmented">
            <label for="end" class="component button">End</label>
        </div>

        <div class="component segmented-button">
            <input type="radio" id="start2" name="segmented" checked>
            <label for="start2" class="component button">Start</label>
            
            <input type="radio" id="middle" name="segmented">
            <label for="middle" class="component button">Middle</label>
            
            <input type="radio" id="end2" name="segmented">
            <label for="end2" class="component button">End</label>
        </div>

        <div class="component segmented-button">
            <input type="radio" id="start3" name="segmented" checked>
            <label for="start3" class="component button">Start</label>
            
            <input type="radio" id="middle1" name="segmented">
            <label for="middle1" class="component button">Middle 1</label>

            <input type="radio" id="middle2" name="segmented">
            <label for="middle2" class="component button">Middle 2</label>
            
            <input type="radio" id="end3" name="segmented">
            <label for="end3" class="component button">End</label>
        </div>

        <div class="component segmented-button">
            <input type="radio" id="start4" name="segmented" checked>
            <label for="start4" class="component button">Start</label>
            
            <input type="radio" id="middle3" name="segmented">
            <label for="middle3" class="component button">Middle 1</label>

            <input type="radio" id="middle4" name="segmented">
            <label for="middle4" class="component button">Middle 2</label>

            <input type="radio" id="middle5" name="segmented">
            <label for="middle5" class="component button">Middle 3</label>
            
            <input type="radio" id="end4" name="segmented">
            <label for="end4" class="component button">End</label>
        </div>
      </section>

    </details>

    {{/* || Communication  */}}
    <details class="layout token-set" open>
      <summary class="token-set-title">Communication</summary>

      {{/*  Badges  */}}
      <section class="component-group">
        <span class="title-medium">Badges</span>

        <div class="component badge" large>
          <span class="label label-small">3</span>
        </div>

        <div class="component badge"></div>

      </section>
      
      {{/*  TODO Progress indicators  */}}
      <section class="component-group">
        <span class="title-medium strike-through">❌ Progress indicators</span>

      </section>
      
      {{/*  Snackbar  */}}
      <section class="component-group">
        <span class="title-large">Snackbar</span>
        <div class="component snackbar" with-action>
          <span class="supporting-text body-medium">Single line snackbar with action</span>
          <span class="action label-large">Action</span>
        </div>
        <div class="component snackbar" with-close-button>
          <span class="supporting-text body-medium">Single line snackbar with close button</span>
          <span class="action label-large">Action</span>
          <i>close</i>
        </div>
        <div class="component snackbar" two with-action>
          <span class="supporting-text body-medium">Two-line snackbar <br> with action</span>
          <span class="action label-large">Action</span>
        </div>
      </section>
      
      {{/*  Tooltips  */}}
      <section class="component-group">
        <span class="title-large">Tooltips</span>
        <div class="component tooltip">
          <span class="body-small">
            Plain tooltip
          </span>
        </div>

        <div class="component tooltip">
          <span class="body-small">            
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Iste obcaecati dignissimos iure perferendis, 
            amet error alias hic ab eius minus ipsum nam voluptatem quos, 
            veniam quod cumque. Voluptas, distinctio provident?
          </span>
        </div>

        <div class="component tooltip" rich>
          <span class="subhead title-small">Rich tooltip</span>
          <span class="supporting-text body-medium">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Iste obcaecati dignissimos iure perferendis, 
            amet error alias hic ab eius minus ipsum nam voluptatem quos, 
            veniam quod cumque. Voluptas, distinctio provident?
          </span>
          <div>
            <span class="action label-large">Action 1</span>
            <span class="action label-large">Action 2</span>
          </div>
        </div>
        
        <div class="component tooltip" rich>
          <span class="subhead title-small">Rich tooltip</span>
          <span class="supporting-text body-medium">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Iste obcaecati dignissimos iure perferendis, 
            amet error alias hic ab eius minus ipsum nam voluptatem quos, 
            veniam quod cumque. Voluptas, distinctio provident?
          </span>
          <span class="action label-large">Action</span>
        </div>

        <div class="component tooltip" rich>
          <span class="subhead title-small">Rich tooltip</span>
          <span class="supporting-text body-medium">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Iste obcaecati dignissimos iure perferendis, 
            amet error alias hic ab eius minus ipsum nam voluptatem quos, 
            veniam quod cumque. Voluptas, distinctio provident?
          </span>
        </div>

        <div class="component tooltip" rich>
          <span class="supporting-text body-medium">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Iste obcaecati dignissimos iure perferendis, 
            amet error alias hic ab eius minus ipsum nam voluptatem quos, 
            veniam quod cumque. Voluptas, distinctio provident?
          </span>
          <span class="action label-large">Action</span>
        </div>
      </section>

    </details>

    {{/*  || Containment  */}}
    <details class="layout token-set" open>
      <summary class="token-set-title">Containment</summary>

      {{/*  Bottom sheets  */}}
      <section class="component-group">
        <span class="title-large">Bottom sheets</span>
        <div class="component bottom-sheets">
          <span class="drag-handle"></span>
          <span class="content">Bottom sheets content</span>
        </div>
      </section>

      {{/*  Cards  */}}
      <section class="component-group">
        <span class="title-large">Cards</span>
        <div class="component card" elevated>
          <span class="title-medium">Elevated card</span>
        </div>
        <div class="component card" filled>
          <span class="title-medium">Filled card</span>
        </div>
        <div class="component card" outlined>
          <span class="title-medium">Outlined card</span>
        </div>
      </section>

      {{/*  TODO Carousel  */}}
      <section class="component-group">
        <span class="title-large">Carousel</span>

      </section>
      
      {{/*  TODO Dialogs  */}}
      <section class="component-group">
        <span class="title-large">Dialogs</span>
        <div class="component dialog" basic>
          <span>Basic dialog</span>
        </div>
        <div class="component dialog" full-screen>
          <span>Full-screen dialog</span>
        </div>
      </section>
      
      {{/*  Divider  */}}
      <section class="component-group">
        <span class="title-large">Divider</span>
        <span class="title-medium">Mid inset</span>
        <div class="divider" mid></div>
        <span class="title-medium">Start inset</span>
        <div class="divider" start></div>
        <span class="title-medium">End inset</span>
        <div class="divider" end></div>
        <span class="title-medium">No inset</span>
        <div class="divider"></div>
      </section>

      {{/*  Lists  */}}
      <section class="component-group">
        <span class="title-large">Lists</span>
        <div class="component list-item" one>
          <span>List-item one line</span>
        </div>
        <div class="component list-item" two>
          <span>List-item <br> two lines</span>
        </div>
        <div class="component list-item" three>
          <span>List-item <br> three <br> lines</span>
        </div>
      </section>

      {{/*  TODO Side sheets  */}}
      <section class="component-group">
        <span class="title-large">Side sheets</span>
        <div class="component side-sheets">
          <span class="content">Side sheet</span>
        </div>
      </section>

    </details>

    {{/*  || Navigation  */}}
    <details class="layout token-set" open>
      <summary class="token-set-title">Navigation</summary>

      {{/*  Bottom app bar  */}}
      <section class="component-group">
        <span class="title-large">Bottom app bar</span>

        <span class="title-medium">No FAB</span>

        <div class="component bottom-app-bar">
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
        </div>

        <div class="component bottom-app-bar">
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
              
            <button class="component button icon-button">
              <i>add</i>
            </button>
        </div>

        <div class="component bottom-app-bar">
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
              
            <button class="component button icon-button">
              <i>add</i>
            </button>
              
            <button class="component button icon-button">
              <i>settings</i>
            </button>
        </div>
        
        <div class="component bottom-app-bar">
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
              
            <button class="component button icon-button">
              <i>add</i>
            </button>
              
            <button class="component button icon-button">
              <i>settings</i>
            </button>
              
            <button class="component button icon-button">
              <i>token</i>
            </button>
        </div>

        <span class="title-medium">With FAB</span>

        <div class="component bottom-app-bar" with-fab>
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
          </span>

          <span class="end">
            <button class="component fab primary">
              <i>add</i>
            </button>
          </span>
        </div>

        <div class="component bottom-app-bar" with-fab>
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
              
            <button class="component button icon-button">
              <i>add</i>
            </button>
          </span>

          <span class="end">
            <button class="component fab primary">
              <i>add</i>
            </button>
          </span>
        </div>

        <div class="component bottom-app-bar" with-fab>
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
              
            <button class="component button icon-button">
              <i>add</i>
            </button>
              
            <button class="component button icon-button">
              <i>settings</i>
            </button>
          </span>

          <span class="end">
            <button class="component fab primary">
              <i>add</i>
            </button>
          </span>
        </div>

        <div class="component bottom-app-bar" with-fab>
          <span class="start">
            <button class="component button icon-button">
              <i>home</i>
            </button>
              
            <button class="component button icon-button">
              <i>add</i>
            </button>
              
            <button class="component button icon-button">
              <i>settings</i>
            </button>
              
            <button class="component button icon-button">
              <i>token</i>
            </button>
          </span>

          <span class="end">
            <button class="component fab primary">
              <i>add</i>
            </button>
          </span>
        </div>
      </section>
      
      {{/*  TODO Navigation bar  */}}
      <section class="component-group">
        <span class="title-medium strike-through">❌ Navigation bar</span>

      </section>
      
      {{/*  TODO Navigation drawer  */}}
      <section class="component-group">
        <span class="title-medium strike-through">❌ Navigation drawer</span>

      </section>
      
      {{/*  TODO Navigation rail  */}}
      <section class="component-group">
        <span class="title-medium strike-through">❌ Navigation rail</span>

      </section>

      {{/*  Search  */}}
      <section class="component-group">
        <span class="title-large">Search</span>
        <span class="component search" bar>
          <i id="searchIcon">search</i>
          <input  id="searchInput"  
                  placeholder="Search"
                  aria-label="search" 
                  type="search"
                  autocomplete="off" 
                  maxlength="64">
        </span>
      </section>

      {{/*  Tabs  */}}
      <section class="component-group">
        <span class="title-large">Tabs</span>
        <span class="title-medium">Primary tabs</span>
        <div class="component tabs" primary>
          <span class="component tab active">Tab 1</span>
          <span class="component tab">Tab 2</span>
          <span class="component tab">Tab 3</span>
        </div>

        <div class="component tabs" primary>
          <span class="component tab active">
            <i>add</i>
            Tab 1
          </span>

          <span class="component tab">
            <i>add</i>
            Tab 2
          </span>

          <span class="component tab">
            <i>add</i>
            Tab 3
          </span>
        </div>

        <span class="title-medium">Secondary tabs</span>
        <div class="component tabs" secondary>
          <span class="component tab">Tab 1</span>
          <span class="component tab active">Tab 2</span>
          <span class="component tab">Tab 3</span>
        </div>

        <div class="component tabs" secondary>
          <span class="component tab">
            <i>add</i>
            Tab 1
          </span>

          <span class="component tab active">
            <i>add</i>
            Tab 2
          </span>

          <span class="component tab">
            <i>add</i>
            Tab 3
          </span>
        </div>
      </section>

      {{/*  Top app bar  */}}
      <section class="component-group">
        <span class="title-large">Top app bar</span>
        <div class="component top-app-bar" center small>
          <span class="start">Top app bar</span>
          <span class="end">Small</span>
        </div>
        <div class="component top-app-bar" center medium>
          <span class="start">Top app bar</span>
          <span class="end">Medium</span>
        </div>
        <div class="component top-app-bar" center large>
          <span class="start">Top app bar</span>
          <span class="end">Large</span>
        </div>
      </section>
    </details>

    {{/*  || Selections  */}}
    <details class="layout token-set" open>
      <summary class="token-set-title">Selections</summary>

      {{/*  Checkbox  */}}
      <section class="component-group">
        <fieldset>
          <legend class="title-large">Checkbox</legend>

          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check</i></span>
            <span class="label-large">Checkbox 1</span>
          </label>

          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check</i></span>
            <span class="label-large">Checkbox 2</span>
          </label>

          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check</i></span>
            <span class="label-large">Checkbox 3</span>
          </label>
        </fieldset>
      </section>

      {{/*  Chips  */}}
      <section class="component-group">
        <span class="title-large">Chips</span>
        <label class="component chip">
            <input type="checkbox" name="chip" value="chip1">
            <span>Chip 1</span>
        </label>
        <label class="component chip">
            <input type="checkbox" name="chip" value="chip2">
            <span>Chip 2</span>
        </label>
        <label class="component chip" with-icon>
            <input type="checkbox" name="chip" value="chip3">
            <i>check</i>
            <span>Chip 3</span>
        </label>
      </section>
      
      {{/*  TODO Date pickers  */}}
      <section class="component-group">
        <span class="title-medium strike-through">❌ Date pickers</span>

      </section>
      
      {{/*  Menus  */}}
      <section class="component-group">
        <span class="title-large">Menus</span>
        <div class="component menus">
          <span class="component menu-item">Menu item 1</span>
          <span class="component menu-item">Menu item 2</span>
          <span class="component menu-item">Menu item 3</span>
          <div class="divider"></div>
          <span class="component menu-item">Menu item 4</span>
        </div>
      </section>

      {{/*  Radio button  */}}
      <section class="component-group">
        <fieldset>
          <legend class="title-large">Radio button</legend>
          <div>
            <div class="component radio-button">
              <input type="radio" id="radio1" name="radio1" checked/>
              <label for="radio1">Radio1</label>
            </div>
            
            <div class="component radio-button">
              <input type="radio" id="radio2" name="radio2"/>
              <label for="radio2">Radio2</label>
            </div>

            <div class="component radio-button">
              <input type="radio" id="radio3" name="radio3"/>
              <label for="radio3">Radio3</label>
            </div>
          </div>
        </fieldset>
      </section>

      {{/*  Sliders  */}}
      <section class="component-group">
        <span class="title-large">Sliders</span>
        <div class="slider">
          <input type="range">
        </div>

        <div class="slider">
          <input id="test-slider" type="range" min="1" max="100" value="50" list="markers">
          
          <datalist id="markers">
            <option value="0"></option>
            <option value="100"></option>
          </datalist>
        </div>
      </section>

      {{/*  Switch  */}}
      <section class="component-group">
        <span class="title-large">Switch</span>
        <label class="component switch">
            <input class="track" type="checkbox">
            <span class="handle"></span>
        </label>
      </section>

      {{/*  TODO Time pickers  */}}
      <section class="component-group">
        <span class="title-medium strike-through">❌ Time pickers</span>

      </section>

    </details>

    {{/*  || Text inputs  */}}
    <details class="layout token-set" open>
      <summary class="token-set-title">Text inputs</summary>

      {{/*  Text fields  */}}
      <section class="component-group">
        <span class="title-large">Text fields</span>
        <div class="component text-field" filled>
          <input type="text" placeholder="Placeholder text">
        </div>
        <div class="component text-field" outlined>
          <input type="text" placeholder="Placeholder text">
        </div>
        <textarea 
          class="component text-field" filled 
          type="text" 
          placeholder="Placeholder text"></textarea>
        <textarea 
          class="component text-field" outlined 
          type="text" 
          placeholder="Placeholder text"></textarea>
      </section>
    </details>
  </section>
</article>

{{ end }}
