{{ define "main" }}

<article class="layout panes basic-single-pane">

  <section class="layout pane" id="components-showcase">  

    {{ with .Content }}
      {{ . }}
    {{ end }}

    {{/*  Cards  */}}
    <div class="component-group-header">Cards</div>
    <div class="component-group">
      <div class="sub-component-group-header">Elevated</div>
      <div class="component card" elevated>
        <div>Elevated</div>
      </div>

      <div class="component card" elevated horizontal>
        <div class="content">
          <div class="monogram">W</div>
          
          <div class="text">
            <div class="header">Header - horizontal</div>
            <div class="subhead">Subhead</div>
          </div>
        </div>

        <div class="media">
          <i>image</i>
        </div>
      </div>

      <div class="component card" elevated stacked>
        <div class="content">
          <div class="monogram">W</div>
          
          <div class="text">
            <div class="header">Header - stacked</div>
            <div class="subhead">Subhead</div>
          </div>

          <div class="component button icon-button">
            <i>more_vert</i>
          </div>
        </div>

        <div class="media">
          <i>image</i>
        </div>

        <div class="text-content">            
          <div class="titles">
            <div class="title">Title</div>
            <div class="subtitle">Subtitle</div>
          </div>
          <div class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Non blanditiis voluptas, repellat, impedit, sit reprehenderit
            nam et ipsa eius amet rem! Eligendi sequi magnam
            exercitationem vel dignissimos similique, atque earum.
          </div>
          <div class="actions">
            <button class="component button common-button" outlined>Action</button>
            <button class="component button common-button" filled>Action</button>
          </div>
        </div>
      </div>

      <div class="sub-component-group-header">Filled</div>
      <div class="component card" filled>
        <div>Filled</div>
      </div>

      <div class="component card" filled horizontal>
        <div class="content">
          <div class="monogram">W</div>
          
          <div class="text">
            <div class="header">Header - horizontal</div>
            <div class="subhead">Subhead</div>
          </div>
        </div>

        <div class="media">
          <i>image</i>
        </div>
      </div>

      <div class="component card" filled stacked>
        <div class="content">
          <div class="monogram">W</div>
          
          <div class="text">
            <div class="header">Header - stacked</div>
            <div class="subhead">Subhead</div>
          </div>

          <div class="component button icon-button">
            <i>more_vert</i>
          </div>
        </div>

        <div class="media">
          <i>image</i>
        </div>

        <div class="text-content">            
          <div class="titles">
            <div class="title">Title</div>
            <div class="subtitle">Subtitle</div>
          </div>
          <div class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Non blanditiis voluptas, repellat, impedit, sit reprehenderit
            nam et ipsa eius amet rem! Eligendi sequi magnam
            exercitationem vel dignissimos similique, atque earum.
          </div>
          <div class="actions">
            <button class="component button common-button" outlined>Action</button>
            <button class="component button common-button" filled>Action</button>
          </div>
        </div>
      </div>

      <div class="sub-component-group-header">Outlined</div>
      <div class="component card" outlined>
        <div>Outlined</div>
      </div>

      <div class="component card" outlined horizontal>
        <div class="content">
          <div class="monogram">W</div>
          
          <div class="text">
            <div class="header">Header - horizontal</div>
            <div class="subhead">Subhead</div>
          </div>
        </div>

        <div class="media">
          <i>image</i>
        </div>
      </div>

      <div class="component card" outlined stacked>
        <div class="content">
          <div class="monogram">W</div>
          
          <div class="text">
            <div class="header">Header - stacked</div>
            <div class="subhead">Subhead</div>
          </div>

          <div class="component button icon-button">
            <i>more_vert</i>
          </div>
        </div>

        <div class="media">
          <i>image</i>
        </div>

        <div class="text-content">            
          <div class="titles">
            <div class="title">Title</div>
            <div class="subtitle">Subtitle</div>
          </div>
          <div class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Non blanditiis voluptas, repellat, impedit, sit reprehenderit
            nam et ipsa eius amet rem! Eligendi sequi magnam
            exercitationem vel dignissimos similique, atque earum.
          </div>
          <div class="actions">
            <button class="component button common-button" outlined>Action</button>
            <button class="component button common-button" filled>Action</button>
          </div>
        </div>
      </div>
    </div>

    {{/*  Carousels  */}}
    <div class="component-group-header">Carousels</div>
    <div class="component-group">
      
      <div class="carousel-item"></div>

      {{/*  TODO  Hero */}}
      
      {{/*  TODO  Center-aligned hero */}}

      {{/*  TODO  Multi-browse */}}

      {{/*  TODO  Uncontained */}}

    </div>
    
    {{/*  Dialogs  */}}
    <div class="component-group-header">Dialogs</div>
    <div class="component-group">
      <div class="sub-component-group-header">Basic dialog</div>

      <div class="component dialog">
        <span class="headline">Basic dialog</span>
        <div class="supporting-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Non blanditiis voluptas, repellat, impedit, sit reprehenderit 
          nam et ipsa eius amet rem! Eligendi sequi magnam 
          exercitationem vel dignissimos similique, atque earum.          
        </div>
        <span class="actions">
          <button class="component button common-button">Cancel</button>
          <button class="component button common-button">Accept</button>
        </span>
      </div>

      <div class="component dialog">
        <i>chat</i>
        <span class="headline">Basic dialog with icon</span>
        <div class="supporting-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Non blanditiis voluptas, repellat, impedit, sit reprehenderit 
          nam et ipsa eius amet rem! Eligendi sequi magnam 
          exercitationem vel dignissimos similique, atque earum.          
        </div>
        <span class="actions">
          <button class="component button common-button">Cancel</button>
          <button class="component button common-button">Accept</button>
        </span>
      </div>

      {{/*  List dialog  */}}

      <div class="sub-component-group-header">List dialog</div>

      <div class="component dialog">
        <span class="headline">List dialog</span>
        <div class="supporting-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Non blanditiis voluptas, repellat, impedit, sit reprehenderit 
          nam et ipsa eius amet rem! Eligendi sequi magnam 
          exercitationem vel dignissimos similique, atque earum.          
        </div>

        <div class="list-container">
          <div class="component list-item" one>
            <span>List-item one</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item two</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item three</span>
          </div>
        </div>

        <span class="actions">
          <button class="component button common-button">Cancel</button>
          <button class="component button common-button">Accept</button>
        </span>
      </div>

      <div class="component dialog">
        <i>chat</i>
        <span class="headline">List dialog with icon</span>
        <div class="supporting-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Non blanditiis voluptas, repellat, impedit, sit reprehenderit 
          nam et ipsa eius amet rem! Eligendi sequi magnam 
          exercitationem vel dignissimos similique, atque earum.          
        </div>

        <div class="list-container">
          <div class="component list-item" one>
            <span>List-item one</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item two</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item three</span>
          </div>
        </div>

        <span class="actions">
          <button class="component button common-button">Cancel</button>
          <button class="component button common-button">Accept</button>
        </span>
      </div>

      {{/*  Scrollable list dialog  */}}
      
      <div class="sub-component-group-header">Scrollable list dialog</div>

      <div class="component dialog">
        <span class="headline">Scrollable list dialog</span>
        <div class="supporting-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Non blanditiis voluptas, repellat, impedit, sit reprehenderit 
          nam et ipsa eius amet rem! Eligendi sequi magnam 
          exercitationem vel dignissimos similique, atque earum.          
        </div>

        <div class="list-container" scrollable>
          <div class="component list-item" one>
            <span>List-item one</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item two</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item three</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item four</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item five</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item six</span>
          </div>
          <hr mid>
        </div>

        <span class="actions">
          <button class="component button common-button">Cancel</button>
          <button class="component button common-button">Accept</button>
        </span>
      </div>

      <div class="component dialog">
        <i>chat</i>
        <span class="headline">Scrollable list dialog with icon</span>
        <div class="supporting-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Non blanditiis voluptas, repellat, impedit, sit reprehenderit 
          nam et ipsa eius amet rem! Eligendi sequi magnam 
          exercitationem vel dignissimos similique, atque earum.          
        </div>

        <div class="list-container" scrollable>
          <div class="component list-item" one>
            <span>List-item one</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item two</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item three</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item four</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item five</span>
          </div>
          <hr mid>
          <div class="component list-item" one>
            <span>List-item six</span>
          </div>
          <hr mid>
        </div>

        <span class="actions">
          <button class="component button common-button">Cancel</button>
          <button class="component button common-button">Accept</button>
        </span>
      </div>

      {{/*  Full screen dialog  */}}
      <div class="sub-component-group-header">Full screen dialog</div>

      <div class="component dialog" full>
        <span class="header">
          <button class="component button icon-button"><i>close</i></button>
          <span class="headline">Full screen dialog</span>
          <span class="component button common-button">Save</span>
        </span>
        <div class="supporting-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Non blanditiis voluptas, repellat, impedit, sit reprehenderit 
          nam et ipsa eius amet rem! Eligendi sequi magnam 
          exercitationem vel dignissimos similique, atque earum.          
        </div>
      </div>
    </div>
    
    {{/*  Dividers  */}}
    <div class="component-group-header">Dividers</div>
    <div class="component-group">

      <div class="sub-component-group-header">Horizontal</div>

      <div class="divider-showcase-container">
        <div class="title-small">Mid inset</div>
        <hr mid>
        <div class="title-small">Start inset</div>
        <hr start>
        <div class="title-small">End inset</div>
        <hr end>
        <div class="title-small">No inset</div>
        <hr>
      </div>

      <div class="sub-component-group-header">Vertical</div>
      <div class="divider-showcase-container-vertical">
        <div class="title-small">
          Mid inset
          <hr vertical mid>
        </div>
        <div class="title-small">
          Start inset
          <hr vertical start>
        </div>
        <div class="title-small">
          End inset
          <hr vertical end>
        </div>
        <div class="title-small">
          No inset
          <hr vertical>
        </div>
      </div>
    </div>

    {{/*  Lists  */}}
    <div class="component-group-header">Lists</div>
    <div class="component-group">

      <div class="sub-component-group-header">List-item</div>

      <div class="component list-item" one>
        <span>List-item one line</span>
      </div>
      <div class="component list-item" two>
        <span>List-item <br> two lines</span>
      </div>
      <div class="component list-item" three>
        <span>List-item <br> three <br> lines</span>
      </div>

      {{/*  TODO List configurations (many)  */}}
      <div class="sub-component-group-header">Lists</div>

      <div class="list-container">
        <div class="component list-item" one>
          <span>List-item one line</span>
        </div>
        <div class="component list-item" one>
          <span>List-item one line</span>
        </div>
        <div class="component list-item" one>
          <span>List-item one line</span>
        </div>
      </div>

      <div class="list-container">
        <div class="component list-item" two>
          <span>List-item <br> two lines</span>
        </div>
        <div class="component list-item" two>
          <span>List-item <br> two lines</span>
        </div>
        <div class="component list-item" two>
          <span>List-item <br> two lines</span>
        </div>
      </div>

      <div class="list-container">
        <div class="component list-item" three>
          <span>List-item <br> three <br> lines</span>
        </div>
        <div class="component list-item" three>
          <span>List-item <br> three <br> lines</span>
        </div>
        <div class="component list-item" three>
          <span>List-item <br> three <br> lines</span>
        </div>
      </div>

    </div>

    {{/*  || Sheets  */}}

    {{/*  Bottom sheets  */}}
    <div class="component-group-header">Bottom sheets</div>
    <div class="component-group">
      
      <div class="sub-component-group-header">Standard bottom sheet</div>

      <div class="component bottom-sheets">
        <div class="drag-handle"></div>
        <div class="content">Standard bottom sheet</div>
      </div>

      <div class="sub-component-group-header">Modal bottom sheet</div>

      <div class="component bottom-sheets" modal>
        <div class="drag-handle"></div>
        <div class="content">Modal bottom sheet</div>
      </div>

    </div>

    {{/*  Side sheets  */}}
    <div class="component-group-header">Side sheets</div>
    <div class="component-group">
      
      <div class="sub-component-group-header">Standard side sheet</div>

      <div class="component side-sheets">
        <div class="header">
          <div class="headline">Title</div>
          <button class="component button icon-button"><i>close</i></button>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Repudiandae doloribus deleniti reiciendis adipisci doloremque 
          necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
          molestias deserunt tempore ut nostrum non amet corrupti!
        </div>
      </div>

      <div class="component side-sheets">
        <div class="header">
          <button class="component button icon-button"><i class="back-icon">arrow_back</i></button>
          <div class="headline">Title</div>
          <button class="component button icon-button"><i>close</i></button>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Repudiandae doloribus deleniti reiciendis adipisci doloremque 
          necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
          molestias deserunt tempore ut nostrum non amet corrupti!
        </div>
      </div>

      <div class="component side-sheets">
        <div class="header">
          <div class="headline">Title</div>
          <button class="component button icon-button"><i>close</i></button>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Repudiandae doloribus deleniti reiciendis adipisci doloremque 
          necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
          molestias deserunt tempore ut nostrum non amet corrupti!
        </div>
        <hr>
        <div class="actions">
          <button class="component button common-button" filled-tonal>Save</button>
          <button class="component button common-button" outlined>Cancel</button>
        </div>
      </div>

      <div class="component side-sheets">
        <div class="header">
          <button class="component button icon-button"><i class="back-icon">arrow_back</i></button>
          <div class="headline">Title</div>
          <button class="component button icon-button"><i>close</i></button>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Repudiandae doloribus deleniti reiciendis adipisci doloremque 
          necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
          molestias deserunt tempore ut nostrum non amet corrupti!
        </div>
        <hr>
        <div class="actions">
          <button class="component button common-button" filled-tonal>Save</button>
          <button class="component button common-button" outlined>Cancel</button>
        </div>
      </div>
      
      <div class="sub-component-group-header">Modal side sheets</div>
      
      <div class="component side-sheets" modal>
        <div class="header">
          <div class="headline">Title</div>
          <button class="component button icon-button"><i>close</i></button>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Repudiandae doloribus deleniti reiciendis adipisci doloremque 
          necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
          molestias deserunt tempore ut nostrum non amet corrupti!
        </div>
      </div>

      <div class="component side-sheets" modal>
        <div class="header">
          <button class="component button icon-button"><i class="back-icon">arrow_back</i></button>
          <div class="headline">Title</div>
          <button class="component button icon-button"><i>close</i></button>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Repudiandae doloribus deleniti reiciendis adipisci doloremque 
          necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
          molestias deserunt tempore ut nostrum non amet corrupti!
        </div>
      </div>

      <div class="component side-sheets" modal>
        <div class="header">
          <div class="headline">Title</div>
          <button class="component button icon-button"><i>close</i></button>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Repudiandae doloribus deleniti reiciendis adipisci doloremque 
          necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
          molestias deserunt tempore ut nostrum non amet corrupti!
        </div>
        <hr>
        <div class="actions">
          <button class="component button common-button" filled-tonal>Save</button>
          <button class="component button common-button" outlined>Cancel</button>
        </div>
      </div>

      <div class="component side-sheets" modal>
        <div class="header">
          <button class="component button icon-button"><i class="back-icon">arrow_back</i></button>
          <div class="headline">Title</div>
          <button class="component button icon-button"><i>close</i></button>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Repudiandae doloribus deleniti reiciendis adipisci doloremque 
          necessitatibus dolorem facilis, tenetur maxime illum et aliquid, 
          molestias deserunt tempore ut nostrum non amet corrupti!
        </div>
        <hr>
        <div class="actions">
          <button class="component button common-button" filled-tonal>Save</button>
          <button class="component button common-button" outlined>Cancel</button>
        </div>
      </div>

    </div>

  </section>
  
</article>

{{ end }}
