{{ define "main" }}
<article class="layout panes basic-single-pane" id="components-showcase">
  <section class="layout pane" id="post-content">  

    {{ with .Content }}
      {{ . }}
    {{ end }}

    {{/*  Cards  */}}
    <div class="component-group-header">Cards</div>
    <div class="component-group">
      <div class="sub-component-group-header">Elevated</div>
      {{ partial "components/containments/cards.html" (dict
        "type" "elevated"
        ) 
      }}

      <div class="component card elevated" horizontal>
        <div class="content">
          <div class="monogram">W</div>
          
          <div class="text">
            <div class="header">Header - horizontal</div>
            <div class="subhead">Subhead</div>
          </div>
        </div>

        <div class="media">
          <i>image</i>
        </div>
      </div>

      <div class="component card elevated" stacked>
        <div class="content">
          <div class="monogram">W</div>
          
          <div class="text">
            <div class="header">Header - stacked</div>
            <div class="subhead">Subhead</div>
          </div>

          <div class="component button icon-button">
            <i>more_vert</i>
          </div>
        </div>

        <div class="media">
          <i>image</i>
        </div>

        <div class="text-content">            
          <div class="titles">
            <div class="title">Title</div>
            <div class="subtitle">Subtitle</div>
          </div>
          <div class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Non blanditiis voluptas, repellat, impedit, sit reprehenderit
            nam et ipsa eius amet rem! Eligendi sequi magnam
            exercitationem vel dignissimos similique, atque earum.
          </div>
          <div class="actions">
            <button class="component button common-button" outlined>Action</button>
            <button class="component button common-button" filled>Action</button>
          </div>
        </div>
      </div>

      <div class="sub-component-group-header">Filled</div>
      {{ partial "components/containments/cards.html" (dict
        "type" "filled"
        ) 
      }}

      <div class="component card filled" horizontal>
        <div class="content">
          <div class="monogram">W</div>
          
          <div class="text">
            <div class="header">Header - horizontal</div>
            <div class="subhead">Subhead</div>
          </div>
        </div>

        <div class="media">
          <i>image</i>
        </div>
      </div>

      <div class="component card filled" stacked>
        <div class="content">
          <div class="monogram">W</div>
          
          <div class="text">
            <div class="header">Header - stacked</div>
            <div class="subhead">Subhead</div>
          </div>

          <div class="component button icon-button">
            <i>more_vert</i>
          </div>
        </div>

        <div class="media">
          <i>image</i>
        </div>

        <div class="text-content">            
          <div class="titles">
            <div class="title">Title</div>
            <div class="subtitle">Subtitle</div>
          </div>
          <div class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Non blanditiis voluptas, repellat, impedit, sit reprehenderit
            nam et ipsa eius amet rem! Eligendi sequi magnam
            exercitationem vel dignissimos similique, atque earum.
          </div>
          <div class="actions">
            <button class="component button common-button" outlined>Action</button>
            <button class="component button common-button" filled>Action</button>
          </div>
        </div>
      </div>

      <div class="sub-component-group-header">Outlined</div>
      {{ partial "components/containments/cards.html" (dict
        "type" "outlined"
        ) 
      }}

      <div class="component card outlined" horizontal>
        <div class="content">
          <div class="monogram">W</div>
          
          <div class="text">
            <div class="header">Header - horizontal</div>
            <div class="subhead">Subhead</div>
          </div>
        </div>

        <div class="media">
          <i>image</i>
        </div>
      </div>

      <div class="component card outlined" stacked>
        <div class="content">
          <div class="monogram">W</div>
          
          <div class="text">
            <div class="header">Header - stacked</div>
            <div class="subhead">Subhead</div>
          </div>

          <div class="component button icon-button">
            <i>more_vert</i>
          </div>
        </div>

        <div class="media">
          <i>image</i>
        </div>

        <div class="text-content">            
          <div class="titles">
            <div class="title">Title</div>
            <div class="subtitle">Subtitle</div>
          </div>
          <div class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Non blanditiis voluptas, repellat, impedit, sit reprehenderit
            nam et ipsa eius amet rem! Eligendi sequi magnam
            exercitationem vel dignissimos similique, atque earum.
          </div>
          <div class="actions">
            <button class="component button common-button" outlined>Action</button>
            <button class="component button common-button" filled>Action</button>
          </div>
        </div>
      </div>
    </div>

    {{/*  Carousels  */}}
    <div class="component-group-header">Carousels</div>
    <div class="component-group">
      {{/*  Hero */}}
      <div class="sub-component-group-header">Hero</div>
      {{ partial "components/containments/carousels.html" (dict
        "type" "hero"
        "images" (slice
          (dict "icon" "image")
          (dict 
            "icon" "image"
            "size" "small")
          )
        )
      }}

      {{/*  Center-aligned hero */}}
      <div class="sub-component-group-header">Center-aligned hero</div>
      {{ partial "components/containments/carousels.html" (dict
        "type" "center-aligned-hero"
        "images" (slice
          (dict 
            "icon" "image"
            "size" "small")
          (dict "icon" "image")
          (dict 
            "icon" "image"
            "size" "small")
          )
        )
      }}
      
      {{/*  Multi-browse */}}
      <div class="sub-component-group-header">Multi-browse</div>
      {{ partial "components/containments/carousels.html" (dict
        "type" "multi-browse"
        "images" (slice
          (dict "icon" "image")
          (dict 
            "icon" "image"
            "size" "medium")
          (dict 
            "icon" "image"
            "size" "small")
          )
        )
      }}
      
      {{/*  Uncontained */}}
      <div class="sub-component-group-header">Uncontained</div>
      {{ partial "components/containments/carousels.html" (dict
        "type" "uncontained"
        "images" (slice
          (dict "icon" "image")
          (dict "icon" "image")
          (dict "icon" "image")
          (dict "icon" "image")
          (dict "icon" "image")
          (dict "icon" "image")
          )
        )
      }}

      {{/*  Full-screen  */}}
      <div class="sub-component-group-header">Full-screen</div>
      {{ partial "components/containments/carousels.html" (dict
        "type" "full"
        "images" (slice
          (dict "icon" "image")
          (dict "icon" "image")
          (dict "icon" "image")
          )
        )
      }}
    </div>
    
    {{/*  Dialogs  */}}
    <div class="component-group-header">Dialogs</div>
    <div class="component-group">
      <div class="sub-component-group-header">Basic dialog</div>
      {{ partial "components/containments/dialogs.html" (dict 
        "headline" "Basic dialog"
        "supporting_text" "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptas, repellat, impedit, sit reprehenderit nam et ipsa eius amet rem! Eligendi sequi magnam exercitationem vel dignissimos similique, atque earum."
        "actions" true
        ) 
      }}

      {{ partial "components/containments/dialogs.html" (dict 
        "icon" "chat"
        "headline" "Basic dialog with icon"
        "supporting_text" "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptas, repellat, impedit, sit reprehenderit nam et ipsa eius amet rem! Eligendi sequi magnam exercitationem vel dignissimos similique, atque earum."
        "actions" true
        ) 
      }}

      {{ partial "components/containments/dialogs.html" (dict 
        "type" "full"
        "headline" "Full screen dialog"
        "supporting_text" "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptas, repellat, impedit, sit reprehenderit nam et ipsa eius amet rem! Eligendi sequi magnam exercitationem vel dignissimos similique, atque earum."
        ) 
      }}
    </div>
    
    {{/*  Dividers  */}}
    <div class="component-group-header">Dividers</div>
    <div class="component-group">

      <div class="sub-component-group-header">Horizontal</div>

      <div class="divider-showcase-container">
        <div class="title-small">Mid inset</div>
        {{ partial "components/containments/dividers.html" (dict
          "inset" "mid"
          ) 
        }}
        <div class="title-small">Start inset</div>
        {{ partial "components/containments/dividers.html" (dict
          "inset" "start"
          ) 
        }}
        <div class="title-small">End inset</div>
        {{ partial "components/containments/dividers.html" (dict
          "inset" "end"
          ) 
        }}
        <div class="title-small">No inset</div>
        {{ partial "components/containments/dividers.html" (dict
          ) 
        }}
      </div>

      <div class="sub-component-group-header">Vertical</div>
      <div class="divider-showcase-container-vertical">
        <div class="title-small">
          Mid inset
          {{ partial "components/containments/dividers.html" (dict
            "vertical" true
            "inset" "mid"
            ) 
          }}
        </div>
        <div class="title-small">
          Start inset
          {{ partial "components/containments/dividers.html" (dict
            "vertical" true
            "inset" "start"
            ) 
          }}
        </div>
        <div class="title-small">
          End inset
          {{ partial "components/containments/dividers.html" (dict
            "vertical" true
            "inset" "end"
            ) 
          }}
        </div>
        <div class="title-small">
          No inset
          {{ partial "components/containments/dividers.html" (dict
            "vertical" true
            ) 
          }}
        </div>
      </div>
    </div>

    {{/*  TODO Lists  */}}
    <div class="component-group-header">Lists</div>
    <div class="component-group">
      {{/*  Lists  */}}
      <div class="sub-component-group-header">Lists</div>

      <div class="list-container">
        <div class="component list-item" one>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
        </div>      

        <hr>

        <div class="component list-item" one>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
        </div>      

        <hr>

        <div class="component list-item" one>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
        </div>
      </div>

      <div class="list-container">
        <div class="component list-item" two>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
        </div>

        <hr>

        <div class="component list-item" two>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
        </div>

        <hr>

        <div class="component list-item" two>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
        </div>
      </div>

      <div class="list-container">
        <div class="component list-item" three>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
        </div>

        <hr>

        <div class="component list-item" three>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
        </div>

        <hr>

        <div class="component list-item" three>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
        </div>
      </div>

      {{/*  List items  */}}

      {{/*  One line  */}}
      <div class="sub-component-group-header">List-item</div>
      <div class="title-large">One line lists</div>
      <div class="list-container">
        <div class="component list-item" one>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
        </div>

        <hr>

        <div class="component list-item" one>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>

        <hr>

        <div class="component list-item" one>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
          <i>arrow_right</i>
        </div>
      
        <hr>

        <div class="component list-item" one>
          <span class="monogram">A</span>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
        </div>
      
        <hr>

        <div class="component list-item" one>
          <span class="monogram">A</span>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>
      
        <hr>

        <div class="component list-item" one>
          <span class="monogram">A</span>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
          <i>arrow_right</i>
        </div>
      
        <hr>

        <div class="component list-item" one>
          <i>person</i>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
        </div>
      
        <hr>

        <div class="component list-item" one>
          <i>person</i>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>
      
        <hr>

        <div class="component list-item" one>
          <i>person</i>          
          <div class="content">
            <span class="headline">List-item</span>
          </div>
          <i>arrow_right</i>
        </div>
      
        <hr>

        <div class="component list-item" one>
          <div class="image">

          </div>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
        </div>
      
        <hr>

        <div class="component list-item" one>
          <div class="image">

          </div>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>
      
        <hr>

        <div class="component list-item" one>
          <div class="video">

          </div>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
        </div>
      
        <hr>

        <div class="component list-item" one>
          <div class="video">

          </div>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>
      
        <hr>

        <div class="component list-item" one>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
        </div>

        <hr>

        <div class="component list-item" one>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
          <div class="trailing-supporting-text">100+</div>
        </div>

        <hr>

        <div class="component list-item" one>
          <label class="component radio-button">
            <input type="radio" id="radio1" name="radio" value="radio1"/>
          </label>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
        </div>

        <hr>

        <div class="component list-item" one>
          <label class="component radio-button">
            <input type="radio" id="radio1" name="radio" value="radio1"/>
          </label>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
          <div class="trailing-supporting-text">100+</div>
        </div>

        <hr>

        <div class="component list-item" one>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
          <label class="component switch">
            <input class="track" type="checkbox">
            <span class="handle"></span>
          </label>
        </div>

        <hr>

        <div class="component list-item" one>
          <i>person</i>
          <div class="content">
            <span class="headline">List-item</span>
          </div>
          <label class="component switch">
            <input class="track" type="checkbox">
            <span class="handle"></span>
          </label>
        </div>
      </div>

      {{/*  Two line  */}}
      <div class="title-large">Two line lists</div>
      <div class="list-container">
        <div class="component list-item" two>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
        </div>

        <hr>

        <div class="component list-item" two>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>

        <hr>

        <div class="component list-item" two>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
          <i>arrow_right</i>
        </div>

        <hr>

        <div class="component list-item" two>
          <span class="monogram">A</span>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
        </div>

        <hr>

        <div class="component list-item" two>
          <span class="monogram">A</span>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>

        <hr>

        <div class="component list-item" two>
          <span class="monogram">A</span>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
          <i>arrow_right</i>
        </div>

        <hr>

        <div class="component list-item" two>
          <i>person</i>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
        </div>

        <hr>

        <div class="component list-item" two>
          <i>person</i>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>

        <hr>

        <div class="component list-item" two>
          <i>person</i>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
          <i>arrow_right</i>
        </div>

        <hr>

        <div class="component list-item" two>
          <i>person</i>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
          <i>arrow_right</i>
        </div>

        <hr>
        
        {{/*  With image */}}
        <div class="component list-item" two>
          <div class="image">

          </div>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
        </div>

        <hr>

        <div class="component list-item" two>
          <div class="image">

          </div>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>

        <hr>

        {{/*  With video */}}
        <div class="component list-item" two>
          <div class="video">

          </div>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
        </div>

        <hr>

        <div class="component list-item" two>
          <div class="video">

          </div>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>

        <hr>

        {{/*  With checkbox  */}}
        <div class="component list-item" two>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
        </div>

        <hr>

        <div class="component list-item" two>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
          <div class="trailing-supporting-text">100+</div>
        </div>

        <hr>
        
        {{/*  With radio  */}}
        <div class="component list-item" two>
          <label class="component radio-button">
            <input type="radio" id="radio1" name="radio" value="radio1"/>
          </label>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
        </div>

        <hr>

        <div class="component list-item" two>
          <label class="component radio-button">
            <input type="radio" id="radio1" name="radio" value="radio1"/>
          </label>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
          <div class="trailing-supporting-text">100+</div>
        </div>

        <hr>

        {{/*  With switch  */}}
        <div class="component list-item" two>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
          <label class="component switch">
            <input class="track" type="checkbox">
            <span class="handle"></span>
          </label>
        </div>

        <hr>

        <div class="component list-item" two>
          <i>person</i>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Two lines</span>
          </div>
          <label class="component switch">
            <input class="track" type="checkbox">
            <span class="handle"></span>
          </label>
        </div>
      </div>

      {{/*  Three line  */}}
      <div class="title-large">Three line lists</div>
      <div class="list-container">
        <div class="component list-item" three>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
        </div>
        
        <hr>
        
        <div class="component list-item" three>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>
        
        <hr>

        <div class="component list-item" three>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
          <i>arrow_right</i>
        </div>

        <hr>

        <div class="component list-item" three>
          <span class="monogram">A</span>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
        </div>

        <hr>

        <div class="component list-item" three>
          <span class="monogram">A</span>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>

        <hr>

        <div class="component list-item" three>
          <span class="monogram">A</span>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
          <i>arrow_right</i>
        </div>

        <hr>

        <div class="component list-item" three>
          <i>person</i>          
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
        </div>

        <hr>

        <div class="component list-item" three>
          <i>person</i>          
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>

        <hr>

        <div class="component list-item" three>
          <i>person</i>          
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
          <i>arrow_right</i>
        </div>

        <hr>

        <div class="component list-item" three>
          <div class="image">

          </div>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
        </div>

        <hr>

        <div class="component list-item" three>
          <div class="image">

          </div>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>

        <hr>
        
        <div class="component list-item" three>
          <div class="video">

          </div>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
        </div>

        <hr>

        <div class="component list-item" three>
          <div class="video">

          </div>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
        </div>

        <hr>

        <div class="component list-item" three>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
        </div>

        <hr>

        <div class="component list-item" three>
          <label class="component checkbox">
            <input type="checkbox">
            <span class="checkmark"><i>check_small</i></span>
          </label>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
          <div class="trailing-supporting-text">100+</div>
        </div>

        <hr>

        <div class="component list-item" three>
          <label class="component radio-button">
            <input type="radio" id="radio1" name="radio" value="radio1"/>
          </label>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
        </div>

        <hr>

        <div class="component list-item" three>
          <label class="component radio-button">
            <input type="radio" id="radio1" name="radio" value="radio1"/>
          </label>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
          <div class="trailing-supporting-text">100+</div>
        </div>

        <hr>

        <div class="component list-item" three>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
          <label class="component switch">
            <input class="track" type="checkbox">
            <span class="handle"></span>
          </label>
        </div>

        <hr>

        <div class="component list-item" three>
          <i>person</i>
          <div class="content">
            <span class="headline">List-item</span>
            <span class="supporting-text">Three lines
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Officiis itaque et doloremque ut dolore vero ipsum ullam fuga.
            </span>
          </div>
          <label class="component switch">
            <input class="track" type="checkbox">
            <span class="handle"></span>
          </label>
        </div>
      </div>
    </div>

    {{/*  || Sheets  */}}

    {{/*  Bottom sheets  */}}
    <div class="component-group-header">Bottom sheets</div>
    <div class="component-group">
      <div class="sub-component-group-header">Standard bottom sheet</div>   
      {{ partial "components/containments/bottom-sheets.html" (dict
        )
      }}  
      
      {{ partial "components/containments/bottom-sheets.html" (dict
        "drag_handle" true
        )
      }}  

      <div class="sub-component-group-header">Modal bottom sheet</div>
      
      {{ partial "components/containments/bottom-sheets.html" (dict
        "container" "modal"
        )
      }}  
      
      {{ partial "components/containments/bottom-sheets.html" (dict
        "container" "modal"
        "drag_handle" true
        )
      }} 
    </div>

    {{/*  Side sheets  */}}
    <div class="component-group-header">Side sheets</div>
    <div class="component-group">  
      <div class="sub-component-group-header">Standard side sheet</div>

      {{ partial "components/containments/side-sheets.html" (dict
        "headline" "Title"
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        )
      }}

      {{ partial "components/containments/side-sheets.html" (dict
        "headline" "Title"
        "back_icon" true
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        )
      }}

      {{ partial "components/containments/side-sheets.html" (dict
        "headline" "Title"
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        "actions" true
        )
      }}

      {{ partial "components/containments/side-sheets.html" (dict
        "headline" "Title"
        "back_icon" true
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        "actions" true
        )
      }}
      
      <div class="sub-component-group-header">Modal side sheets</div>
      
      {{ partial "components/containments/side-sheets.html" (dict
        "type" "modal"
        "headline" "Title"
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        )
      }}

      {{ partial "components/containments/side-sheets.html" (dict
        "type" "modal"
        "headline" "Title"
        "back_icon" true
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        )
      }}

      {{ partial "components/containments/side-sheets.html" (dict
        "type" "modal"
        "headline" "Title"
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        "actions" true
        )
      }}

      {{ partial "components/containments/side-sheets.html" (dict
        "type" "modal"
        "headline" "Title"
        "back_icon" true
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        "actions" true
        )
      }}
    </div>

  </section>
</article>
{{ end }}
