{{ define "main" }}

<article class="layout panes basic-single-pane" id="components-showcase">

  <section class="layout pane" id="post-content">  

    {{ with .Content }}
      {{ . }}
    {{ end }}
    
    {{/*  || App bars  */}}

    {{/*  Bottom app bars  */}}
    <div class="component-group-header">Bottom app bars</div>
    <div class="component-group">

      <div class="sub-component-group-header">No FAB</div>

      {{ partial "components/navigations/bottom-app-bars.html" (dict
        "icon_1" "home"
        )
      }}

      {{ partial "components/navigations/bottom-app-bars.html" (dict
        "icon_1" "home"
        "icon_2" "add"
        )
      }}

      {{ partial "components/navigations/bottom-app-bars.html" (dict
        "icon_1" "home"
        "icon_2" "add"
        "icon_3" "settings"
        )
      }}

      {{ partial "components/navigations/bottom-app-bars.html" (dict
        "icon_1" "home"
        "icon_2" "add"
        "icon_3" "settings"
        "icon_4" "token"
        )
      }}
      
      <div class="sub-component-group-header">With FAB</div>

      {{ partial "components/navigations/bottom-app-bars.html" (dict
        "icon_1" "home"
        "fab" "add"
        )
      }}

      {{ partial "components/navigations/bottom-app-bars.html" (dict
        "icon_1" "home"
        "icon_2" "add"
        "fab" "add"
        )
      }}

      {{ partial "components/navigations/bottom-app-bars.html" (dict
        "icon_1" "home"
        "icon_2" "add"
        "icon_3" "settings"        
        "fab" "add"
        )
      }}

      {{ partial "components/navigations/bottom-app-bars.html" (dict
        "icon_1" "home"
        "icon_2" "add"
        "icon_3" "settings"
        "icon_4" "token"
        "fab" "add"
        )
      }}
    </div>
    
    {{/*  Top app bars  */}}
    <div class="component-group-header">Top app bars</div>
    <div class="component-group">

      <div class="sub-component-group-header">Top app bar</div>
      <div class="component top-app-bar" center small>
        
        <div class="start">
          <button class="component button icon-button">
            <i>menu</i>
          </button>
        </div>

        <div class="headline">Small + center</div>
        
        <div class="end">
          <button class="component button icon-button">
            <i>account_circle</i>
          </button>
        </div>
      </div>

      <div class="component top-app-bar" small>
        <div class="start">
          <button class="component button icon-button">
            <i>arrow_back</i>
          </button>
        </div>

        <div class="headline">Small</div>

        <div class="end">
          <button class="component button icon-button">
            <i>attach_file</i>
          </button>
          <button class="component button icon-button">
            <i>today</i>
          </button>
          <button class="component button icon-button">
            <i>more_vert</i>
          </button>
        </div>
      </div>

      <div class="component top-app-bar" medium>
        <div class="start">
          <button class="component button icon-button">
            <i>arrow_back</i>
          </button>
        </div>
                  
        <div class="end">
          <button class="component button icon-button">
            <i>attach_file</i>
          </button>
          <button class="component button icon-button">
            <i>today</i>
          </button>
          <button class="component button icon-button">
            <i>more_vert</i>
          </button>
        </div>

        <div class="headline">Medium</div>
      </div>

      <div class="component top-app-bar" large>
        <div class="start">
          <button class="component button icon-button">
            <i>arrow_back</i>
          </button>
        </div>
        
        <div class="end">
          <button class="component button icon-button">
            <i>attach_file</i>
          </button>
          <button class="component button icon-button">
            <i>today</i>
          </button>
          <button class="component button icon-button">
            <i>more_vert</i>
          </button>
        </div>

        <div class="headline">Large</div>
      </div>

    </div>

    {{/*  || Navigations  */}}

    {{/*  Navigation bars  */}}
    <div class="component-group-header">Navigation bars</div>
    <div class="component-group">
      
      <div class="sub-component-group-header">Icon & label</div>

      <div class="component navigation-bar">
        <div class="component navigation-item active">
          <div class="icon-container">
            <i>home</i>
          </div>
          <div class="label">Home</div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>folder</i>
          </div>
          <div class="label">Folder</div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>note</i>
          </div>            
          <div class="label">Note</div>
        </div>
      </div>

      <div class="component navigation-bar">
        <div class="component navigation-item active">
          <div class="icon-container">
            <i>home</i>
          </div>
          <div class="label">Home</div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>folder</i>
          </div>
          <div class="label">Folder</div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>note</i>
          </div>            
          <div class="label">Note</div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>token</i>
          </div>            
          <div class="label">Token</div>
        </div>
      </div>

      <div class="component navigation-bar">
        <div class="component navigation-item active">
          <div class="icon-container">
            <i>home</i>
          </div>
          <div class="label">Home</div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>folder</i>
          </div>
          <div class="label">Folder</div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>note</i>
          </div>            
          <div class="label">Note</div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>token</i>
          </div>            
          <div class="label">Token</div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>settings</i>
          </div>            
          <div class="label">settings</div>
        </div>
      </div>

      <div class="sub-component-group-header">Icon only</div>

      <div class="component navigation-bar">
        <div class="component navigation-item active">
          <div class="icon-container">
            <i>home</i>
          </div>
          <div class="label">Home</div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>folder</i>
          </div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>note</i>
          </div>            
        </div>
      </div>

      <div class="component navigation-bar">
        <div class="component navigation-item active">
          <div class="icon-container">
            <i>home</i>
          </div>
          <div class="label">Home</div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>folder</i>
          </div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>note</i>
          </div>            
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>token</i>
          </div>            
        </div>
      </div>

      <div class="component navigation-bar">
        <div class="component navigation-item active">
          <div class="icon-container">
            <i>home</i>
          </div>
          <div class="label">Home</div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>folder</i>
          </div>
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>note</i>
          </div>            
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>token</i>
          </div>            
        </div>
        
        <div class="component navigation-item">
          <div class="icon-container">
            <i>settings</i>
          </div>            
        </div>
      </div>
    </div>
    
    {{/*  Navigation drawers  */}}
    <div class="component-group-header">Navigation drawers</div>
    <div class="component-group">
      <div class="sub-component-group-header">With icon</div>

      <div class="component navigation-drawer">
        <div class="headline">Title</div>

        <div class="component navigation-item active">
          <i>home</i>
          <div class="label">Home</div>
        </div>
        
        <div class="component navigation-item">
          <i>folder</i>
          <div class="label">Folder</div>
        </div>
        
        <div class="component navigation-item">
          <i>note</i>
          <div class="label">Note</div>
        </div>

        <hr mid>

        <div class="section-header">Section header</div>

        <div class="component navigation-item">
          <i>token</i>
          <div class="label">Token</div>        
        </div>
        
        <div class="component navigation-item">
          <i>settings</i>
          <div class="label">Settings</div>            
        </div>
      </div>
      
    <div class="sub-component-group-header">No icon</div>

    <div class="component navigation-drawer">
      <div class="headline">Title</div>

      <div class="component navigation-item active">
        <div class="label">Home</div>
      </div>
      
      <div class="component navigation-item">
        <div class="label">Folder</div>
      </div>
      
      <div class="component navigation-item">
        <div class="label">Note</div>
      </div>
      
      <hr mid>

      <div class="section-header">Section header</div>

      <div class="component navigation-item">
        <div class="label">Token</div>        
      </div>
      
      <div class="component navigation-item">
        <div class="label">Settings</div>            
      </div>
    </div>
    </div>
    
    {{/*  Navigation rails  */}}
    <div class="component-group-header">Navigation rails</div>
    <div class="component-group">
      
      <div class="sub-component-group-header">Align top</div>

      <div class="component navigation-rail">
        <div class="menu-and-fab">
          <button class="component button icon-button">
            <i>menu</i>
          </button>

          <button class="component button fab tertiary-container">
            <i>add</i>
          </button>
        </div>

        <div class="destinations">
          <div class="component navigation-item active">
            <div class="icon-container">
              <i>home</i>
            </div>
            <div class="label">Home</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>folder</i>
            </div>
            <div class="label">Folder</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>note</i>
            </div>            
            <div class="label">Note</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>token</i>
            </div>            
            <div class="label">Token</div>
          </div>
        </div>
      </div>
      
      <div class="sub-component-group-header">Align middle</div>

      <div class="component navigation-rail" middle>
        <div class="menu-and-fab">
          <button class="component button icon-button">
            <i>menu</i>
          </button>

          <button class="component button fab tertiary-container">
            <i>add</i>
          </button>
        </div>

        <div class="destinations">
          <div class="component navigation-item active">
            <div class="icon-container">
              <i>home</i>
            </div>
            <div class="label">Home</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>folder</i>
            </div>
            <div class="label">Folder</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>note</i>
            </div>            
            <div class="label">Note</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>token</i>
            </div>            
            <div class="label">Token</div>
          </div>
        </div>
      </div>
      
      <div class="sub-component-group-header">Align bottom</div>
      
      <div class="component navigation-rail" bottom>
        <div class="menu-and-fab">
          <button class="component button icon-button">
            <i>menu</i>
          </button>

          <button class="component button fab tertiary-container">
            <i>add</i>
          </button>
        </div>      

        <div class="destinations">
          <div class="component navigation-item active">
            <div class="icon-container">
              <i>home</i>
            </div>
            <div class="label">Home</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>folder</i>
            </div>
            <div class="label">Folder</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>note</i>
            </div>            
            <div class="label">Note</div>
          </div>
          
          <div class="component navigation-item">
            <div class="icon-container">
              <i>token</i>
            </div>            
            <div class="label">Token</div>
          </div>
        </div>
      </div>

    </div>

    {{/*  Searches  */}}
    <div class="component-group-header">Searches</div>
    <div class="component-group">
      {{/*  Search bar  */}}
      <div class="sub-component-group-header">Search bar</div>      
      {{ partial "components/navigations/searches.html" (dict 
        "type" "bar"
        ) 
      }}

      {{ partial "components/navigations/searches.html" (dict 
        "type" "bar"
        "avatar" "A"
        )
      }}

      {{/*  Search view modal  */}}
      <div class="sub-component-group-header">Search view - modal</div>

      {{ partial "components/navigations/searches.html" (dict 
        "type" "view"
        "view" "modal"
        ) 
      }}

      {{ partial "components/navigations/searches.html" (dict 
        "type" "view"
        "view" "modal"
        "showList" true
        ) 
      }}

      {{/*  Search view full-screen  */}}
      <div class="sub-component-group-header">Search view - full-screen</div>

      {{ partial "components/navigations/searches.html" (dict 
        "type" "view"
        "view" "full"
        ) 
      }}

      {{ partial "components/navigations/searches.html" (dict 
        "type" "view"
        "view" "full"
        "showList" true
        )
      }}
    </div>

    {{/*  Tabs  */}}
    <div class="component-group-header">Tabs</div>
    <div class="component-group">

      <div class="sub-component-group-header">Primary</div>
      <div class="component tabs" primary>
        <span class="component tab active">
          <div class="label">Tab 1</div>
        </span>
        <span class="component tab">
          <div class="label">Tab 2</div>
        </span>
        <span class="component tab">
          <div class="label">Tab 3</div>
        </span>
      </div>

      <div class="component tabs" primary>
        <span class="component tab active">
          <i>add</i>
          <div class="label">Tab 1</div>
        </span>

        <span class="component tab">
          <i>add</i>
          <div class="label">Tab 2</div>
        </span>

        <span class="component tab">
          <i>add</i>
          <div class="label">Tab 3</div>
        </span>
      </div>

      <div class="component tabs" primary>
        <span class="component tab active">
          <i>add</i>
        </span>

        <span class="component tab">
          <i>add</i>
        </span>

        <span class="component tab">
          <i>add</i>
        </span>
      </div>

      <div class="sub-component-group-header">Secondary</div>
      <div class="component tabs" secondary>
        <span class="component tab">Tab 1</span>
        <span class="component tab active">Tab 2</span>
        <span class="component tab">Tab 3</span>
      </div>

      <div class="component tabs" secondary>
        <span class="component tab">
          <i>add</i>
          Tab 1
        </span>

        <span class="component tab active">
          <i>add</i>
          Tab 2
        </span>

        <span class="component tab">
          <i>add</i>
          Tab 3
        </span>
      </div>
    </div>

  </section>

</article>

{{ end }}
