{{ define "main" }}

<article class="layout panes basic-single-pane">

  <section class="layout pane" id="components-showcase">  

    {{ with .Content }}
      {{ . }}
    {{ end }}

    {{/*  Checkboxes  */}}
    <span class="component-group-header headline-small">Checkboxes</span>
    <section class="component-group">
      <div class="sub-component-group-header title-large">Primary</div>
      {{/*  Selected  */}}
      <label class="component checkbox">
        <input type="checkbox">
        <span class="checkmark"><i>check_small</i></span>
      </label>
      
      {{/*  Indeterminate  */}}
      <label class="component checkbox">
        <input type="checkbox">
        <span class="checkmark"><i>check_indeterminate_small</i></span>
      </label>

      {{/*  Labeled  */}}
      <label class="component checkbox">
        <input type="checkbox">
        <span class="checkmark"><i>check_small</i></span>
        <span class="label-large">Checkbox with label</span>
      </label>

      {{/*  Error  */}}
      <div class="sub-component-group-header title-large">Error</div>

      {{/*  Selected  */}}
      <label class="component checkbox" error>
        <input type="checkbox">
        <span class="checkmark "><i>check_small</i></span>
      </label>
      
      {{/*  Indeterminate  */}}
      <label class="component checkbox" error>
        <input type="checkbox">
        <span class="checkmark"><i>check_indeterminate_small</i></span>
      </label>

      {{/*  Labeled  */}}
      <label class="component checkbox" error>
        <input type="checkbox">
        <span class="checkmark"><i>check_small</i></span>
        <span class="label-large">Checkbox with label</span>
      </label>

    </section>

    {{/*  Chips  */}}
    <div class="component-group-header headline-small">Chips</div>
    <section class="component-group">

      <label class="component chip">
        <input type="checkbox" name="chip" value="chip1">
        <span>Chip 1</span>
      </label>
      <label class="component chip">
          <input type="checkbox" name="chip" value="chip2">
          <span>Chip 2</span>
      </label>
      <label class="component chip" with-icon>
          <input type="checkbox" name="chip" value="chip3">
          <i>check</i>
          <span>Chip 3</span>
      </label>
      
      {{/*  TODO Input chips  */}}
      
      {{/*  TODO Assist chips  */}}

      {{/*  TODO Filter chips  */}}

      {{/*  TODO Suggestion chips  */}}
      <div class="sub-component-group-header title-large">Suggestion chips</div>
      
    </section>
    
    {{/*  Date pickers  */}}
    <div class="component-group-header headline-small">Date pickers</div>
    <section class="component-group">

      {{/*  TODO Modal date picker  */}}

      {{/*  TODO Docked date picker (desktop)  */}}

      <div class="sub-component-group-header title-large">Input date picker</div>

      <div class="component date-picker">

        <div class="header">
          <div class="supporting-text">Select date</div>
          <div class="headline-container">
            <div class="headline">Enter date</div>
            <button class="component button icon-button"><i>today</i></button>
          </div>
        </div>

        <hr>

        <div class="component text-field" outlined>
          <input type="text" placeholder="mm/dd/yyyy">
        </div>

        <div class="date-picker-actions">
          <button class="component button common-button">Cancel</button>
          <button class="component button common-button">OK</button>
        </div>

      </div>

      <div class="component date-picker">

        <div class="header">
          <div class="supporting-text">Select date</div>
          <div class="headline-container">
            <div class="headline">Enter dates</div>
            <button class="component button icon-button"><i>today</i></button>
          </div>
        </div>

        <hr>

        <div class="text-field-container">
          <div class="component text-field" outlined>
            <input type="text" placeholder="Start date">
          </div>
          
          <div class="component text-field" outlined>
            <input type="text" placeholder="End date">
          </div>
        </div>

        <div class="date-picker-actions">
          <button class="component button common-button">Cancel</button>
          <button class="component button common-button">OK</button>
        </div>

      </div>
    </section>
    
    {{/*  Menus  */}}
    <div class="component-group-header headline-small">Menus</div>
    <section class="component-group">

      <div class="sub-component-group-header title-large">No divider</div>

      <div class="component menus">
        <div class="component menu-item">Menu item 1</div>
        <div class="component menu-item">Menu item 2</div>
        <div class="component menu-item">Menu item 3</div>
        <div class="component menu-item">Menu item 4</div>
      </div>

      <div class="sub-component-group-header title-large">With divider</div>

      <div class="component menus">
        <div class="component menu-item">Menu item 1</div>
        <div class="component menu-item">Menu item 2</div>
        <div class="component menu-item">Menu item 3</div>
        <hr>
        <div class="component menu-item">Menu item 4</div>
      </div>
    </section>

    {{/*  Radio buttons  */}}
    <div class="component-group-header headline-small">Radio buttons</div>
    <section class="component-group">
      <div class="sub-component-group-header title-large">Radio button</div>
      <fieldset>
        <div>
          <div class="component radio-button">
            <input type="radio" id="radio1" name="radio1" checked/>
            <label for="radio1">Radio1</label>
          </div>
          
          <div class="component radio-button">
            <input type="radio" id="radio2" name="radio2"/>
            <label for="radio2">Radio2</label>
          </div>

          <div class="component radio-button">
            <input type="radio" id="radio3" name="radio3"/>
            <label for="radio3">Radio3</label>
          </div>
        </div>
      </fieldset>
    </section>

    {{/*  Sliders  */}}
    <div class="component-group-header headline-small">Sliders</div>
    <section class="component-group">

      {{/*  Continuous  */}}
      <div class="sub-component-group-header title-large">Continuous</div>

      <div class="slider">
        <input type="range">
      </div>

      {{/*  Centered  */}}
      <div class="sub-component-group-header title-large">Centered</div>

      <div class="slider">
        <input id="test-slider" type="range" min="1" max="100" value="50" list="markers">
        
        <datalist id="markers">
          <option value="0"></option>
          <option value="100"></option>
        </datalist>
      </div>

      {{/*  TODO Discrete  */}}

      {{/*  TODO Range selection  */}}

    </section>

    {{/*  Switches  */}}
    <div class="component-group-header headline-small">Switches</div>
    <section class="component-group">

      <div class="sub-component-group-header title-large">No icon</div>

      <label class="component switch">
          <input class="track" type="checkbox">
          <span class="handle"></span>
      </label>

      <div class="sub-component-group-header title-large">With icon</div>

      <label class="component switch">
          <input class="track" type="checkbox">
          <span class="handle">
            <div class="icon-container">
              <i class="close-icon">close</i>
              <i class="check-icon">check</i>
            </div>
          </span>
      </label>

    </section>

    {{/*  Time pickers  */}}
    <div class="component-group-header headline-small">Time pickers</div>
    <section class="component-group">

      {{/*  TODO Dial picker  */}}

      <div class="sub-component-group-header title-large">Time input/keyboard picker</div>

      <div class="component time-picker">

        <div class="time-picker-headline">Enter time</div>

        <div class="time-picker-container">
          <div class="time-input-field-container">
            <div class="time-input-option selected">
              07
              <span class="supporting-text">Hour</span>
            </div>
            <div class="time-input-separator">:</div>
            <div class="time-input-option">
              00
              <span class="supporting-text">Minute</span>
            </div>
          </div>

          <div class="period-selector-container">
            <div class="period-option selected">AM</div>
            <div class="period-option">PM</div>
          </div>
        </div>

        <div class="time-picker-actions"> 
          <div class="time-picker-start">
            <button class="component button icon-button"><i>schedule</i></button>
          </div>
          <div class="time-picker-end">
            <button class="component button common-button">Cancel</button>
            <button class="component button common-button">OK</button>
          </div>
        </div>
      </div>

      <div class="component time-picker">

        <div class="time-picker-headline">Enter time</div>

        <div class="time-picker-container">
          <div class="time-input-field-container">
            <div class="time-input-option selected">
              07
              <span class="supporting-text">Hour</span>
            </div>
            <div class="time-input-separator">:</div>
            <div class="time-input-option">
              00
              <span class="supporting-text">Minute</span>
            </div>
          </div>
        </div>

        <div class="time-picker-actions"> 
          <div class="time-picker-start">
            <button class="component button icon-button"><i>schedule</i></button>
          </div>
          <div class="time-picker-end">
            <button class="component button common-button">Cancel</button>
            <button class="component button common-button">OK</button>
          </div>
        </div>
      </div>

    </section>

  </section>

</article>

{{ end }}
