{{ define "main" }}

<article class="layout panes basic-single-pane">

  <section class="layout pane" id="components-showcase">  

    {{ with .Content }}
      {{ . }}
    {{ end }}

    {{/*  Checkboxes  */}}
    <span class="component-group-header">Checkboxes</span>
    <section class="component-group">
      <div class="sub-component-group-header">Primary</div>
      {{/*  Selected  */}}
      <label class="component checkbox">
        <input type="checkbox">
        <span class="checkmark"><i>check_small</i></span>
      </label>
      
      {{/*  Indeterminate  */}}
      <label class="component checkbox">
        <input type="checkbox">
        <span class="checkmark"><i>check_indeterminate_small</i></span>
      </label>

      {{/*  Labeled  */}}
      <label class="component checkbox">
        <input type="checkbox">
        <span class="checkmark"><i>check_small</i></span>
        <span class="label-large">Checkbox with label</span>
      </label>

      {{/*  Error  */}}
      <div class="sub-component-group-header">Error</div>

      {{/*  Selected  */}}
      <label class="component checkbox" error>
        <input type="checkbox">
        <span class="checkmark "><i>check_small</i></span>
      </label>
      
      {{/*  Indeterminate  */}}
      <label class="component checkbox" error>
        <input type="checkbox">
        <span class="checkmark"><i>check_indeterminate_small</i></span>
      </label>

      {{/*  Labeled  */}}
      <label class="component checkbox" error>
        <input type="checkbox">
        <span class="checkmark"><i>check_small</i></span>
        <span class="label-large">Checkbox with label</span>
      </label>

    </section>

    {{/*  Chips  */}}
    <div class="component-group-header">Chips</div>
    <section class="component-group">
      {{/*  Assist chip  */}}
      <div class="sub-component-group-header">Assist chip</div>
      
      <div class="chips-container">
        <div class="component chip" outlined>
          <input type="checkbox" name="chip" value="chip1">
          <span>Chip</span>
        </div>

        <div class="component chip" outlined with-icon>
            <input type="checkbox" name="chip" value="chip3">
            <i>home</i>
            <span>Chip</span>
        </div>

        <div class="component chip" outlined with-trailing-icon>
          <input type="checkbox" name="chip" value="chip3">
          <span>Chip</span>
          <i>close</i>
        </div>

        <div class="component chip" outlined with-both-icons>
            <input type="checkbox" name="chip" value="chip3">
            <i>home</i>
            <span>Chip</span>
            <i>close</i>
        </div>
      </div>
      
      <div class="chips-container">
        <div class="component chip" elevated>
          <input type="checkbox" name="chip" value="chip1">
          <span>Chip</span>
        </div>

        <div class="component chip" elevated with-icon>
            <input type="checkbox" name="chip" value="chip3">
            <i>home</i>
            <span>Chip</span>
        </div>

        <div class="component chip" elevated with-trailing-icon>
          <input type="checkbox" name="chip" value="chip3">
          <span>Chip</span>
          <i>close</i>
        </div>

        <div class="component chip" elevated with-both-icons>
            <input type="checkbox" name="chip" value="chip3">
            <i>home</i>
            <span>Chip</span>
            <i>close</i>
        </div>
      </div>

      {{/*  Filter chip  */}}
      <div class="sub-component-group-header">Filter chip</div>
      
      <div class="chips-container">
        <div class="component chip" outlined>
          <input type="checkbox" name="chip" value="chip1">
          <span>Chip</span>
        </div>

        <div class="component chip" outlined with-icon>
            <input type="checkbox" name="chip" value="chip3">
            <i>home</i>
            <span>Chip</span>
        </div>
                
        <div class="component chip" outlined with-trailing-icon>
          <input type="checkbox" name="chip" value="chip3">
          <span>Chip</span>
          <i>arrow_drop_down</i>
        </div>

        <div class="component chip" outlined with-both-icons>
            <input type="checkbox" name="chip" value="chip3">
            <i>home</i>
            <span>Chip</span>
            <i>arrow_drop_down</i>
        </div>
      </div>

      <div class="chips-container">
        <div class="component chip" elevated>
          <input type="checkbox" name="chip" value="chip2">
          <span>Chip</span>
        </div>

        <div class="component chip" elevated with-icon>
            <input type="checkbox" name="chip" value="chip3">
            <i>home</i>
            <span>Chip</span>
        </div>
                
        <div class="component chip" elevated with-trailing-icon>
          <input type="checkbox" name="chip" value="chip3">
          <span>Chip</span>
          <i>arrow_drop_down</i>
        </div>

        <div class="component chip" elevated with-both-icons>
            <input type="checkbox" name="chip" value="chip3">
            <i>home</i>
            <span>Chip</span>
            <i>arrow_drop_down</i>
        </div>
      </div>

      {{/*  Input chip  */}}
      <div class="sub-component-group-header">Input chip</div>

      <div class="chips-container">
        <div class="component chip" input outlined>
          <input type="checkbox" name="chip" value="chip1">
          <span>Chip</span>
        </div>

        <div class="component chip" input outlined with-icon>
            <input type="checkbox" name="chip" value="chip3">
            <i>home</i>
            <span>Chip</span>
        </div>
        
        <div class="component chip" input outlined with-trailing-icon>
          <input type="checkbox" name="chip" value="chip3">
          <span>Chip</span>
          <i>close</i>
        </div>

        <div class="component chip" input outlined with-both-icons>
            <input type="checkbox" name="chip" value="chip3">
            <i>home</i>
            <span>Chip</span>
            <i>close</i>
        </div>
      </div>

      {{/*  Suggestion chip  */}}
      <div class="sub-component-group-header">Suggestion chip</div>

      <div class="chips-container">
        <label class="component chip" outlined>
          <input type="checkbox" name="chip" value="chip1">
          <span>Chip</span>
        </label>

        <label class="component chip" outlined with-icon>
            <input type="checkbox" name="chip" value="chip3">
            <i>check</i>
            <span>Chip</span>
        </label>
      </div>

      <div class="chips-container">
        <label class="component chip" elevated>
          <input type="checkbox" name="chip" value="chip2">
          <span>Chip</span>
        </label>

        <label class="component chip" elevated with-icon>
            <input type="checkbox" name="chip" value="chip3">
            <i>check</i>
            <span>Chip</span>
        </label>
      </div>
    </section>
    
    {{/*  Date pickers  */}}
    <div class="component-group-header">Date pickers</div>
    <section class="component-group">

      {{/*  TODO Modal date picker  */}}

      {{/*  TODO Docked date picker (desktop)  */}}

      <div class="sub-component-group-header">Input date picker</div>

      <div class="component date-picker">

        <div class="header">
          <div class="supporting-text">Select date</div>
          <div class="headline-container">
            <div class="headline">Enter date</div>
            <button class="component button icon-button"><i>today</i></button>
          </div>
        </div>

        <hr>

        <div class="component text-field" outlined>
          <input type="text" placeholder="mm/dd/yyyy">
        </div>

        <div class="date-picker-actions">
          <button class="component button common-button">Cancel</button>
          <button class="component button common-button">OK</button>
        </div>

      </div>

      <div class="component date-picker">

        <div class="header">
          <div class="supporting-text">Select date</div>
          <div class="headline-container">
            <div class="headline">Enter dates</div>
            <button class="component button icon-button"><i>today</i></button>
          </div>
        </div>

        <hr>

        <div class="text-field-container">
          <div class="component text-field" outlined>
            <input type="text" placeholder="Start date">
          </div>
          
          <div class="component text-field" outlined>
            <input type="text" placeholder="End date">
          </div>
        </div>

        <div class="date-picker-actions">
          <button class="component button common-button">Cancel</button>
          <button class="component button common-button">OK</button>
        </div>

      </div>
    </section>
    
    {{/*  Menus  */}}
    <div class="component-group-header">Menus</div>
    <section class="component-group">

      <div class="sub-component-group-header">No divider</div>

      <div class="component menus">
        <div class="component menu-item">Menu item 1</div>
        <div class="component menu-item">Menu item 2</div>
        <div class="component menu-item">Menu item 3</div>
        <div class="component menu-item">Menu item 4</div>
      </div>

      <div class="sub-component-group-header">With divider</div>

      <div class="component menus">
        <div class="component menu-item">Menu item 1</div>
        <div class="component menu-item">Menu item 2</div>
        <div class="component menu-item">Menu item 3</div>
        <hr>
        <div class="component menu-item">Menu item 4</div>
      </div>
    </section>

    {{/*  Radio buttons  */}}
    <div class="component-group-header">Radio buttons</div>
    <section class="component-group">
      <div class="sub-component-group-header">Radio button</div>
      <fieldset>
        <legend>Radio button</legend>

        <div class="component radio-button">
          <input type="radio" id="radio1" name="radio" value="radio1"/>
          <label for="radio1">Radio1</label>
        </div>
        
        <div class="component radio-button">
          <input type="radio" id="radio2" name="radio" value="radio2" checked/>
          <label for="radio2">Radio2</label>
        </div>

        <div class="component radio-button">
          <input type="radio" id="radio3" name="radio" value="radio3"/>
          <label for="radio3">Radio3</label>
        </div>
      </fieldset>
    </section>

    {{/*  Sliders  */}}
    <div class="component-group-header">Sliders</div>
    <section class="component-group">

      {{/*  Continuous  */}}
      <div class="sub-component-group-header">Continuous</div>

      <div class="slider">
        <input type="range">
        <span class="tracking-dot"></span>
      </div>

      {{/*  Centered  */}}
      <div class="sub-component-group-header">Centered</div>

      <div class="slider">
        <input type="range" value="50" list="markers">
        <datalist id="markers">
          <option value="0"></option>
          <option value="50"></option>
          <option value="100"></option>
        </datalist>
      </div>

      {{/*  Discrete  */}}
      <div class="sub-component-group-header">Discrete</div>

      <div class="slider">
        <input type="range" step="25" list="markers-discrete">
        <datalist id="markers-discrete">
          <option value="0"></option>
          <option value="25"></option>
          <option value="50"></option>
          <option value="75"></option>
          <option value="100"></option>
        </datalist>
      </div>

      {{/*  Range selection  */}}
      <div class="sub-component-group-header">Range</div>

      <div class="slider" range>
        <input type="range" list="markers-range" left>
        <input type="range" list="markers-range" right>
        <datalist id="markers-range">
          <option value="0"></option>
          <option value="100"></option>
        </datalist>
      </div>

    </section>

    {{/*  Switches  */}}
    <div class="component-group-header">Switches</div>
    <section class="component-group">

      <div class="sub-component-group-header">No icon</div>

      <label class="component switch">
          <input class="track" type="checkbox">
          <span class="handle"></span>
      </label>

      <div class="sub-component-group-header">With icon</div>

      <label class="component switch">
          <input class="track" type="checkbox">
          <span class="handle">
            <div class="icon-container">
              <i class="close-icon">close</i>
              <i class="check-icon">check</i>
            </div>
          </span>
      </label>

    </section>

    {{/*  Time pickers  */}}
    <div class="component-group-header">Time pickers</div>
    <section class="component-group">

      {{/*  TODO Dial picker  */}}

      <div class="sub-component-group-header">Time input/keyboard picker</div>

      <div class="component time-picker">

        <div class="time-picker-headline">Enter time</div>

        <div class="time-picker-container">
          <div class="time-input-field-container">
            <div class="time-input-option selected">
              07
              <span class="supporting-text">Hour</span>
            </div>
            <div class="time-input-separator">:</div>
            <div class="time-input-option">
              00
              <span class="supporting-text">Minute</span>
            </div>
          </div>

          <div class="period-selector-container">
            <div class="period-option selected">AM</div>
            <div class="period-option">PM</div>
          </div>
        </div>

        <div class="time-picker-actions"> 
          <div class="time-picker-start">
            <button class="component button icon-button"><i>schedule</i></button>
          </div>
          <div class="time-picker-end">
            <button class="component button common-button">Cancel</button>
            <button class="component button common-button">OK</button>
          </div>
        </div>
      </div>

      <div class="component time-picker">

        <div class="time-picker-headline">Enter time</div>

        <div class="time-picker-container">
          <div class="time-input-field-container">
            <div class="time-input-option selected">
              07
              <span class="supporting-text">Hour</span>
            </div>
            <div class="time-input-separator">:</div>
            <div class="time-input-option">
              00
              <span class="supporting-text">Minute</span>
            </div>
          </div>
        </div>

        <div class="time-picker-actions"> 
          <div class="time-picker-start">
            <button class="component button icon-button"><i>schedule</i></button>
          </div>
          <div class="time-picker-end">
            <button class="component button common-button">Cancel</button>
            <button class="component button common-button">OK</button>
          </div>
        </div>
      </div>

    </section>

  </section>

</article>

{{ end }}
