{{ define "main" }}
<article class="layout panes basic-single-pane" id="components-showcase">
  <section class="layout pane" id="post-content">  

    {{ with .Content }}
      {{ . }}
    {{ end }}

    {{/*  Checkboxes  */}}
    <span class="component-group-header">Checkboxes</span>
    <div class="component-group">
      <div class="sub-component-group-header">Primary</div>
      {{/*  Selected  */}}
      {{ partial "components/selections/checkboxes.html" (dict 
        "icon" "check_small" 
        ) 
      }}

      {{/*  Labeled  */}}
      {{ partial "components/selections/checkboxes.html" (dict 
        "icon" "check_small" 
        "label" "Checkbox label"
        ) 
      }}
    
      {{/*  Indeterminate  */}}
      {{ partial "components/selections/checkboxes.html" (dict 
        "indeterminate" true
        ) 
      }}

      {{/*  Labeled  */}}
      {{ partial "components/selections/checkboxes.html" (dict 
        "indeterminate" true
        "label" "Indeterminate label"
        ) 
      }}

      {{/*  Error  */}}
      <div class="sub-component-group-header">Error</div>

      {{/*  Selected  */}}
      {{ partial "components/selections/checkboxes.html" (dict 
        "icon" "check_small" 
        "error" true
        ) 
      }}

      {{/*  Labeled  */}}
      {{ partial "components/selections/checkboxes.html" (dict 
        "icon" "check_small" 
        "label" "Checkbox label"
        "error" true
        ) 
      }}

      {{/*  Indeterminate  */}}
      {{ partial "components/selections/checkboxes.html" (dict 
        "indeterminate" true
        "error" true
        ) 
      }}

      {{/*  Labeled  */}}
      {{ partial "components/selections/checkboxes.html" (dict 
        "indeterminate" true
        "label" "Indeterminate label"
        "error" true
        ) 
      }}
    </div>

    {{/*  Chips  */}}
    <div class="component-group-header">Chips</div>
    <div class="component-group">
      {{/*  Assist chip  */}}
      <div class="sub-component-group-header">Assist chip</div>
      
      <div class="chips-container">
        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "label" "Chip"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          ) 
        }}
      </div>
      
      <div class="chips-container">
        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "label" "Chip"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          ) 
        }}
      </div>

      {{/*  Filter chip  */}}
      <div class="sub-component-group-header">Filter chip</div>
      
      <div class="chips-container">
        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "label" "Chip"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "arrow_drop_down"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          "trailing_icon" "arrow_drop_down"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "close"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          "trailing_icon" "close"
          ) 
        }}
      </div>

      <div class="chips-container">
        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "label" "Chip"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "arrow_drop_down"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          "trailing_icon" "arrow_drop_down"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "close"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          "trailing_icon" "close"
          ) 
        }}
      </div>

      {{/*  Input chip  */}}
      <div class="sub-component-group-header">Input chip</div>

      <div class="chips-container">
        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "type" "input"
          "name" "chips"
          "label" "Chip"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "type" "input"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "type" "input"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "close"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "type" "input"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip"
          "trailing_icon" "close"
          ) 
        }}
      </div>

      {{/*  Suggestion chip  */}}
      <div class="sub-component-group-header">Suggestion chip</div>

      <div class="chips-container">
        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "label" "Chip"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip"
          ) 
        }}
      </div>
      
      <div class="chips-container">
        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "label" "Chip"
          ) 
        }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip"
          ) 
        }}
      </div>
    </div>
    
    {{/*  Date pickers  */}}
    <div class="component-group-header">Date pickers</div>
    <div class="component-group">
      {{/*  TODO Modal date picker  */}}
      {{/*  TODO Docked date picker (desktop)  */}}
      <div class="sub-component-group-header">Input date picker</div>
      {{/*  Single date input  */}}
      {{ partial "components/selections/date-pickers.html" (dict
        "supporting_text" "Select date"
        "headline" "Enter date"
        "icon" "today"
        ) 
      }}

      {{/*  Date range input  */}}
      {{ partial "components/selections/date-pickers.html" (dict
        "supporting_text" "Select date"
        "headline" "Enter date"
        "icon" "today"
        "date_range" true
        ) 
      }}
    </div>
    
    {{/*  Menus  */}}
    <div class="component-group-header">Menus</div>
    <div class="component-group">
      <div class="sub-component-group-header">No divider</div>
      {{ partial "components/selections/menus.html" (dict
        "menu_items" (slice 
          (dict "label" "Menu item 1")
          (dict "label" "Menu item 2")
          (dict "label" "Menu item 3")
          (dict "label" "Menu item 4")
          )
        )
      }}

      <div class="sub-component-group-header">With dividers</div>
      {{ partial "components/selections/menus.html" (dict
      "menu_items" (slice 
          (dict 
            "label" "Menu item 1"
            "dividers" true)
          (dict 
            "label" "Menu item 2"
            "dividers" true)
          (dict 
            "label" "Menu item 3"
            "dividers" true)
          (dict 
            "label" "Menu item 4"
            "dividers" true)
          ) 
        )
      }}
    </div>

    {{/*  Radio buttons  */}}
    <div class="component-group-header">Radio buttons</div>
    <div class="component-group">
      <div class="sub-component-group-header">Radio button</div>
      {{ $radioData := dict 
        "legend" "Radio button" 
        "name" "radio"
        "options" (slice
          (dict "id" "radio1" "value" "radio1" "label" "Radio1" "checked" false)
          (dict "id" "radio2" "value" "radio2" "label" "Radio2" "checked" true)
          (dict "id" "radio3" "value" "radio3" "label" "Radio3" "checked" false)
        )
      }}
      
      {{ partial "components/selections/radio-buttons.html" $radioData }}
    </div>

    {{/*  Sliders  */}}
    <div class="component-group-header">Sliders</div>
    <div class="component-group">
      <div class="sub-component-group-header">Continuous</div>
      {{ partial "components/selections/sliders.html" (dict "trackingDot" true) }}
    
      <div class="sub-component-group-header">Centered</div>
      {{ partial "components/selections/sliders.html" (dict "value" "50" "list" "markers" "datalist" "markers" "markers" (slice "0" "50" "100")) }}
    
      <div class="sub-component-group-header">Discrete</div>
      {{ partial "components/selections/sliders.html" (dict "step" "25" "list" "markers-discrete" "datalist" "markers-discrete" "markers" (slice "0" "25" "50" "75" "100")) }}
    
      <div class="sub-component-group-header">Range</div>
      {{ partial "components/selections/sliders.html" (dict "range" true "id" "range" "datalist" "markers-range" "markers" (slice "0" "100")) }}
    </div>
    
    {{/*  Switches  */}}
    <div class="component-group-header">Switches</div>
    <div class="component-group">
      <div class="sub-component-group-header">No icon</div>
      {{ partial "components/selections/switches.html" dict }}
    
      <div class="sub-component-group-header">With icon</div>
      {{ partial "components/selections/switches.html" (dict 
        "withIcon" true) }}
    </div>

    {{/*  TODO Time pickers  */}}
    <div class="component-group-header">Time pickers</div>
    <div class="component-group">

      {{/*  TODO Dial picker  */}}

      <div class="sub-component-group-header">Time input/keyboard picker</div>

      {{/*  TODO 12H Time input picker  */}}
      <div class="component time-picker">

        <div class="time-picker-headline">Enter time</div>

        <div class="time-picker-container">
          <div class="time-input-field-container">
            <div class="time-input-option selected">
              07
              <span class="supporting-text">Hour</span>
            </div>
            <div class="time-input-separator">:</div>
            <div class="time-input-option">
              00
              <span class="supporting-text">Minute</span>
            </div>
          </div>

          <div class="period-selector-container">
            <div class="period-option selected">AM</div>
            <div class="period-option">PM</div>
          </div>
        </div>

        <div class="time-picker-actions"> 
          <div class="time-picker-start">
            <button class="component button icon-button"><i>schedule</i></button>
          </div>
          <div class="time-picker-end">
            <button class="component button common-button">Cancel</button>
            <button class="component button common-button">OK</button>
          </div>
        </div>
      </div>

      {{/*  TODO 24H Time input picker  */}}
      <div class="component time-picker">

        <div class="time-picker-headline">Enter time</div>

        <div class="time-picker-container">
          <div class="time-input-field-container">
            <div class="time-input-option selected">
              07
              <span class="supporting-text">Hour</span>
            </div>
            <div class="time-input-separator">:</div>
            <div class="time-input-option">
              00
              <span class="supporting-text">Minute</span>
            </div>
          </div>
        </div>

        <div class="time-picker-actions"> 
          <div class="time-picker-start">
            <button class="component button icon-button"><i>schedule</i></button>
          </div>
          <div class="time-picker-end">
            <button class="component button common-button">Cancel</button>
            <button class="component button common-button">OK</button>
          </div>
        </div>
      </div>
    </div>

  </section>
</article>
{{ end }}
