{{ define "main" }}

<article class="layout panes basic-single-pane" id="components-showcase">

  <section class="layout pane" id="post-content">  

    {{ with .Content }}
      {{ . }}
    {{ end }}

    {{/*  Text fields  */}}
    <div class="component-group-header">Text fields</div>
    <div class="component-group">
      {{/*  Text field configurations  */}}

      {{/*  Filled  */}}
      <div class="sub-component-group-header">Filled</div>
      
      <div class="component text-field" filled>
        <input 
          type="text" 
          placeholder="Placeholder - supporting text">
        
        <hr>

        <div class="supporting-text">Supporting text</div>
      </div>
      
      <div class="component text-field" filled>
        <input 
          type="text" 
          placeholder="Placeholder - trailing icon">
        <div class="component button icon-button">
          <i>cancel</i>
        </div>
      </div>
      
      <div class="component text-field" filled>
        <div class="component button icon-button">
          <i>search</i>
        </div>
        <input 
          type="text" 
          placeholder="Placeholder - leading icon">
      </div>
      
      <div class="component text-field" filled>
        <div class="component button icon-button">
          <i>search</i>
        </div>
        <input 
          type="text" 
          placeholder="Placeholder - both icons">
        <div class="component button icon-button">
          <i>cancel</i>
        </div>
      </div>
       
      <div class="component text-field" filled>
        <div class="prefix">
          Prefix
        </div>
        <input 
          type="text" 
          placeholder="Placeholder - prefix">
      </div>
       
      <div class="component text-field" filled>
        <input 
          type="text" 
          placeholder="Placeholder - suffix">
        <div class="suffix">
          Suffix
        </div>
      </div>
       
      <div class="component text-field" filled>
        <input 
          type="text" 
          placeholder="Placeholder">
      </div>
      
      {{/*  multiline  */}}
      <div class="component text-field" filled>
        <textarea 
          type="text" 
          placeholder="Placeholder - multiline"></textarea>
      </div>


      {{/*  Outlined  */}}
      <div class="sub-component-group-header">Outlined</div>
      
      <div class="component text-field" outlined>
        <input 
          type="text" 
          placeholder="Placeholder - supporting text">
          
        <div class="supporting-text">Supporting text</div>
      </div>
      
      <div class="component text-field" outlined>
        <input 
          type="text" 
          placeholder="Placeholder - trailing icon">
        <div class="component button icon-button">
          <i>cancel</i>
        </div>
      </div>
      
      <div class="component text-field" outlined>
        <div class="component button icon-button">
          <i>search</i>
        </div>
        <input 
          type="text" 
          placeholder="Placeholder - leading icon">
      </div>
      
      <div class="component text-field" outlined>
        <div class="component button icon-button">
          <i>search</i>
        </div>
        <input 
          type="text" 
          placeholder="Placeholder - both icons">
        <div class="component button icon-button">
          <i>cancel</i>
        </div>
      </div>
       
      <div class="component text-field" outlined>
        <div class="prefix">
          Prefix
        </div>
        <input 
          type="text" 
          placeholder="Placeholder - prefix">
      </div>
       
      <div class="component text-field" outlined>
        <input 
          type="text" 
          placeholder="Placeholder - suffix">
        <div class="suffix">
          Suffix
        </div>
      </div>
       
      <div class="component text-field" outlined>
        <input 
          type="text" 
          placeholder="Placeholder">
      </div>
      
      {{/*  multiline  */}}
      <div class="component text-field" outlined>
        <textarea 
          type="text" 
          placeholder="Placeholder - multiline"></textarea>
      </div>
    </div>

  </section>

</article>

{{ end }}
