{{ define "main" }}

<article class="layout panes basic-single-pane" id="components-showcase">

  <section class="layout pane" id="post-content">  

    {{ with .Content }}
      {{ . }}
    {{ end }}

    {{/*  Text fields  */}}
    <div class="component-group-header">Text fields</div>
    <div class="component-group">
      {{/*  Text field configurations  */}}

      {{/*  Filled  */}}
      <div class="sub-component-group-header">Filled</div>
      
      {{/*  Supporting text  */}}
      <div class="component text-field" filled>
        <input 
          type="text" 
          placeholder="Placeholder">
        
        <hr>
        <div class="supporting-text">Supporting text</div>
      </div>
      
      <div class="component text-field" filled>
        <input 
          type="text" 
          placeholder="Placeholder">
        <i>cancel</i>
        <hr>
      </div>
      
      <div class="component text-field" filled>
        <i>search</i>
        <input 
          type="text" 
          placeholder="Placeholder">
        <hr>
      </div>
      
      <div class="component text-field" filled>
        <i>search</i>
        <input 
          type="text" 
          placeholder="Placeholder">
        <i>cancel</i>
        <hr>
      </div>
       
      <div class="component text-field prefix" filled>
        <input 
          type="text" 
          placeholder="Placeholder">
        <hr>
      </div>
       
      <div class="component text-field suffix" filled>
        <input 
          type="text" 
          placeholder="Placeholder">
        <hr>
      </div>
       
      <div class="component text-field" filled>
        <input 
          type="text" 
          placeholder="Placeholder">
        <hr>
      </div>
      
      {{/*  multiline  */}}
      <div class="component text-field" filled>
        <textarea 
          type="text" 
          placeholder="Placeholder"></textarea>
        <hr>
      </div>


      {{/*  Outlined  */}}
      <div class="sub-component-group-header">Outlined</div>
      
      <div class="component text-field" outlined>
        <input 
          type="text" 
          placeholder="Placeholder">
          
        <div class="supporting-text">Supporting text</div>
      </div>
      
      <div class="component text-field" outlined>
        <input 
          type="text" 
          placeholder="Placeholder">
        <i>cancel</i>
      </div>
      
      <div class="component text-field" outlined>
        <i>search</i>
        <input 
          type="text" 
          placeholder="Placeholder">
      </div>
      
      <div class="component text-field" outlined>
        <i>search</i>
        <input 
          type="text" 
          placeholder="Placeholder">
        <i>cancel</i>
      </div>
       
      <div class="component text-field" outlined>
        <input 
          type="text" 
          placeholder="Placeholder">
      </div>
       
      <div class="component text-field" outlined>
        <input 
          type="text" 
          placeholder="Placeholder">
      </div>
       
      <div class="component text-field" outlined>
        <input 
          type="text" 
          placeholder="Placeholder">
      </div>
      
      {{/*  multiline  */}}
      <div class="component text-field" outlined>
        <textarea 
          type="text" 
          placeholder="Placeholder"></textarea>
      </div>
    </div>

  </section>

</article>

{{ end }}
