.layout {
  --flex: initial;
  --display: initial;
  --flex-flow: initial;
  --align-items: initial;
  --align-content: initial;
  --justify-content: initial;
  --width: initial;
  --height: initial;
  --min-height: initial;
  --padding: initial;
  --margin: initial;
  --gap: initial;

  --shape: initial;
  --border: initial;

  --bg: initial;
}

.layout {
  flex: var(--flex);
  display: var(--display);
  flex-flow: var(--flex-flow);
  align-items: var(--align-items);
  align-content: var(--align-content);
  justify-content: var(--justify-content);
  width: var(--width);
  height: var(--height);
  min-height: var(--min-height);
  padding: var(--padding);
  margin: var(--margin);
  gap: var(--gap);

  border-radius: var(--shape);
  border: var(--border);

  background-color: var(--bg);
}

.component {
  --container-display: initial;
  --container-flex-flow: initial;
  --container-justify-content: initial;
  --container-align-items: initial;
  --container-gap: initial;
  --container-height: initial;
  --container-width: initial;
  --container-padding: initial;

  --container-outline: initial;
  --container-elevation: initial;
  --container-shape: initial;

  --bg-color: initial;
  
  --text-color: initial;
  --icon-color: initial;
}

.component {
  display:          var(--container-display,);
  flex-flow:        var(--container-flex-flow,);
  justify-content:  var(--container-justify-content,);
  align-items:      var(--container-align-items,);
  gap:              var(--container-gap,);
  height:           var(--container-height,);
  width:            var(--container-width,);
  padding:          var(--container-padding,);

  border:           var(--container-outline,);
  border-radius:    var(--container-shape,);
  box-shadow:       var(--container-elevation,);

  background-color: var(--bg-color,);

  color:            var(--icon-color, var(--text-color),);
}

.component {
  position: relative;

  * {
    z-index: 2;
  }
}

@media (prefers-reduced-motion) {
  :root {
    animation: none;
  }
}
