/* Reference Tokens: Typeface */
:root {
    /* Fonts */
    --typeface-brand:   'Raleway', Futura, sans-serif;
    --typeface-plain:   'IBM Plex Sans', Helvetica, sans-serif;
    --typeface-mono:    'IBM Plex Mono', Consolas, monospace;

    /* Icons */
    --typeface-icon-outlined:   'Material Symbols Outlined';
    --typeface-icon-rounded:    'Material Symbols Rounded';
    --typeface-icon-sharp:      'Material Symbols Sharp';

    /* Weights */
    --typeface-weight-black:        900;
    --typeface-weight-extra-bold:   800;
    --typeface-weight-bold:         700;
    --typeface-weight-semi-bold:    600;
    --typeface-weight-medium:       500;
    --typeface-weight-regular:      400;
    --typeface-weight-light:        300;
    --typeface-weight-extra-light:  200;
    --typeface-weight-thin:         100;
}