:root {
  /* Dragged state layer opacity */
  --state-drag-opacity: 16%;

  /* Pressed state layer opacity */
  --state-press-opacity: 12%;

  /* Focus state layer opacity */
  --state-focus-opacity: 12%;

  /* Hover state layer opacity */
  --state-hover-opacity: 8%;
}