:root {
  /* || Label */
  
  /* Label Small */
  --typescale-label-small-size: calc(var(--typescale-label-medium-size) / var(--scale-back-size));
  --typescale-label-small-line-height: var(--scale-line-height-large);
  --typescale-label-small-weight: var(--typeface-weight-medium);
  --typescale-label-small-font: var(--typeface-plain);
  
  /* Label Medium */
  --typescale-label-medium-size: calc(var(--typescale-label-large-size) / var(--scale-back-size));
  --typescale-label-medium-line-height: var(--scale-line-height-large);
  --typescale-label-medium-weight: var(--typeface-weight-medium);
  --typescale-label-medium-font: var(--typeface-plain);
  
  /* Label Large */
  --typescale-label-large-size: calc(var(--typescale-body-large-size) / var(--scale-back-type));
  --typescale-label-large-line-height: var(--scale-line-height-large);
  --typescale-label-large-weight: var(--typeface-weight-medium);
  --typescale-label-large-font: var(--typeface-plain);

  /* || Body */
  
  /* Body Small */
  --typescale-body-small-size: calc(var(--typescale-body-medium-size) / var(--scale-back-size));
  --typescale-body-small-line-height: var(--scale-line-height-large);
  --typescale-body-small-weight: var(--typeface-weight-regular);
  --typescale-body-small-font: var(--typeface-plain);
  
  /* Body Medium */
  --typescale-body-medium-size: calc(var(--typescale-body-large-size) / var(--scale-back-size));
  --typescale-body-medium-line-height: var(--scale-line-height-large);
  --typescale-body-medium-weight: var(--typeface-weight-regular);
  --typescale-body-medium-font: var(--typeface-plain);
  
  /* Body Large */
  --typescale-body-large-size: 1rem;
  --typescale-body-large-line-height: var(--scale-line-height-large);
  --typescale-body-large-weight: var(--typeface-weight-regular);
  --typescale-body-large-font: var(--typeface-plain);

  /* || Title */

  /* Title Small */
  --typescale-title-small-size: calc(var(--typescale-title-medium-size) / var(--scale-back-size));
  --typescale-title-small-line-height: var(--scale-line-height-small);
  --typescale-title-small-weight: var(--typeface-weight-semi-bold);
  --typescale-title-small-font: var(--typeface-brand);

  /* Title Medium */
  --typescale-title-medium-size: calc(var(--typescale-title-large-size) / var(--scale-back-size));
  --typescale-title-medium-line-height: var(--scale-line-height-small);
  --typescale-title-medium-weight: var(--typeface-weight-semi-bold);
  --typescale-title-medium-font: var(--typeface-brand);

  /* Title Large */
  --typescale-title-large-size: calc(var(--typescale-body-large-size) * var(--scale-up-type));
  --typescale-title-large-line-height: var(--scale-line-height-small);
  --typescale-title-large-weight: var(--typeface-weight-semi-bold);
  --typescale-title-large-font: var(--typeface-brand);

  /* || Headline */

  /* Headline Small */
  --typescale-headline-small-size: calc(var(--typescale-headline-medium-size) / var(--scale-back-size));
  --typescale-headline-small-line-height: var(--scale-line-height-small);
  --typescale-headline-small-weight: var(--typeface-weight-bold);
  --typescale-headline-small-font: var(--typeface-brand);

  /* Headline Medium */
  --typescale-headline-medium-size: calc(var(--typescale-headline-large-size) / var(--scale-back-size));
  --typescale-headline-medium-line-height: var(--scale-line-height-small);
  --typescale-headline-medium-weight: var(--typeface-weight-bold);
  --typescale-headline-medium-font: var(--typeface-brand);

  /* Headline Large */
  --typescale-headline-large-size: calc(var(--typescale-title-large-size) * var(--scale-up-type));
  --typescale-headline-large-line-height: var(--scale-line-height-small);
  --typescale-headline-large-weight: var(--typeface-weight-bold);
  --typescale-headline-large-font: var(--typeface-brand);

  /* || Display */

  /* Display Small */
  --typescale-display-small-size: calc(var(--typescale-display-medium-size) / var(--scale-back-size));
  --typescale-display-small-line-height: var(--scale-line-height-small);
  --typescale-display-small-weight: var(--typeface-weight-bold);
  --typescale-display-small-font: var(--typeface-brand);

  /* Display Medium */
  --typescale-display-medium-size: calc(var(--typescale-display-large-size) / var(--scale-back-size));
  --typescale-display-medium-line-height: var(--scale-line-height-small);
  --typescale-display-medium-weight: var(--typeface-weight-bold);
  --typescale-display-medium-font: var(--typeface-brand);

  /* Display Large */
  --typescale-display-large-size: calc(var(--typescale-headline-large-size) * var(--scale-up-type));
  --typescale-display-large-line-height: var(--scale-line-height-small);
  --typescale-display-large-weight: var(--typeface-weight-bold);
  --typescale-display-large-font: var(--typeface-brand);
}
