:root {
  /* No rounding */
  --shape-corner-none: 0px;

  /* Extra small rounding */
  --shape-corner-extra-small: 4px;
  --shape-corner-extra-small-top: 4px 4px 0 0;

  /* Small rounding */
  --shape-corner-small: 8px;

  /* Medium rounding */
  --shape-corner-medium: 12px;

  /* Large rounding */
  --shape-corner-large: 16px;
  --shape-corner-large-top: 16px 16px 0 0;
  --shape-corner-large-start: 16px 0 0 16px;
  --shape-corner-large-end: 0 16px 16px 0;

  /* Extra large rounding */
  --shape-corner-extra-large: 28px;
  --shape-corner-extra-large-top: 28px 28px 0 0;

  /* Fully rounded */
  --shape-corner-full: 9999px;
}