#components-showcase .component-group {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: var(--size-4);
}

#components-showcase > .card {
    width: 100%;
    margin-top: 4rem;
    padding: 0.5rem;
}

#components-showcase .component-group h3 {
    width: 100%;
    margin-block: 0.5rem;
    padding: 1rem;
}

#components-showcase .component-group {
    margin-block: var(--size-3);
}

#components-showcase .component-group section {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: var(--size-4);
    width: 100%;
}

#components-showcase .component-group h2 .card,
#components-showcase .component-group .card {
    --container-padding: var(--size-8);
    --container-align-items: flex-start;
    --container-justify-content: flex-start;
}
