.contact-form {
  display: flex;
  flex-flow: column nowrap;
  padding: var(--size-5);
  margin: var(--size-8);
  gap: var(--size-13);
  border-radius: var(--shape-corner-xs);
  box-shadow: var(--elevation1);
  background: var(--color-surface-container);
  color: var(--color-on-surface);

  & .button {
    cursor: pointer;
    margin-top: var(--size-8);
  }

  & .error {
    color: var(--color-on-error);
  }

  & .status {
    color: var(--color-inverse-primary);
  }
}
