.layout.page-header {
  --display: flex;
  --flex-flow: column nowrap;
  --align-items: stretch;
  --align-content: initial;
  --justify-content: initial;
  --height: max-content;
  --padding: var(--size-13) var(--size-8);
  --gap: var(--size-7);
  
  --shape: var(--shape-corner-xl-bottom);
  --border: initial;

  --bg: var(--color-surface-container-low);
  
  & .title,
  & .description {
    word-wrap: break-word;
    white-space: normal;
  }
  
  & .metadata {
    color: var(--color-on-surface-variant);
  }
}
