.tooltip {
  --container-display: flex;
  --container-flex-flow: row wrap;
  --container-justify-content: initial;
  --container-align-items: initial;
  --container-gap: initial;
  --container-height: 100%;
  --container-width: initial;
  --container-padding: 0 var(--size-2);

  --container-outline: initial;
  --container-elevation: initial;
  --container-shape: var(--shape-corner-xs);
  
  --bg-color: var(--color-inverse-surface);
  
  --text-color: var(--color-inverse-on-surface);
  --icon-color: var(--color-inverse-on-surface);

  --container-outline-hover: initial;
  --container-elevation-hover: initial;

  --container-outline-focus: initial;
  --container-elevation-focus: initial;

  --container-outline-press: initial;
  --container-elevation-press: initial;

  min-height: var(--size-6);
  
  & .supporting-text {
    align-self: center;
    font-size: var(--typescale-body-small-size);
    line-height: var(--typescale-body-small-line-height);
    font-weight: var(--typescale-body-small-weight);
    font-family: var(--typescale-body-small-font);  
  }

  &[rich] {
    --container-padding: 0 0 var(--size-2) 0;
    
    --container-elevation: var(--elevation2);
    --container-shape: var(--shape-corner-m);

    --bg-color: var(--color-surface-container);

    --text-color: var(--color-on-surface-variant);
    --icon-color: var(--color-on-surface-variant);

    & .subhead {
      margin-bottom: var(--size-1);
      padding: var(--size-3) var(--size-4) var(--size-1) var(--size-4);
      font-size: var(--typescale-title-small-size);
      line-height: var(--typescale-title-small-line-height);
      font-weight: var(--typescale-title-small-weight);
      font-family: var(--typescale-title-small-font);  
    }

    & .supporting-text {
      margin-bottom: var(--size-3);
      padding: 0 var(--size-4);
      font-size: var(--typescale-body-medium-size);
      line-height: var(--typescale-body-medium-line-height);
      font-weight: var(--typescale-body-medium-weight);
      font-family: var(--typescale-body-medium-font);    
    }
    
    & .actions {
      display: flex;
      flex-flow: row nowrap;
      gap: var(--size-2);
      padding: 0 var(--size-2);
    }
  }
}
