/* Responsive */
@media screen and (max-width: 768px) {
    /* Menu - Hamburger Icon */
    .menu-icon {
        display: flex;
        position: absolute;
        right: 1rem;
    }

    #menu {
        display: none;
        overflow: hidden;
    }
}


@media screen and (min-width: 768px) {
    /* reset */
    ::-webkit-scrollbar {
        width: 19px;
        height: 11px;
    }
}

@media screen and (min-width: 768px) {
    /* Menu */ 
    .menu-icon {
        display: none;
    }
}

/* footer */
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
}


@media (prefers-reduced-motion) {
    /* terms; profile-mode; post-single; post-entry; post-entry; search; search */
    .categories a:active,
    .button:active,
    .share-buttons svg:active,
    .post-entry:active,
    .top-link,
    #searchResults .focus,
    #searchResults li:active {
        transform: none;
    }
}
