:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 100%;
    --main-width: 80%;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 4px;

    /* Category Colors */
    --meta-bg: #FFE5B4;
    --lists-bg: #FFC0CB;
    --university-bg: #E6E6FA;
    --software-bg: #B0E0E6;
    --category5-bg: #98FB98;
    --category6-bg: #FAFAD2;
    --category7-bg: #F0E68C;
    --category8-bg: #FFB6C1;
    --category9-bg: #D8BFD8;
    --category10-bg: #ADD8E6;


    /* Light Theme */
    --theme: rgb(255, 255, 255); /* White background */
    --entry: rgb(222, 240, 255); /* Light blue for entry */
    --primary: rgb(26, 26, 26); /* Black for primary text */
    --secondary: rgb(51, 51, 51); /* Dark grey for secondary text */
    --tertiary: rgb(102, 102, 102); /* Light grey for tertiary elements */
    --content: rgb(0, 0, 0); /* Black for content */
    --hljs-bg: rgb(15, 10, 10); /* Very light purple for code highlight background */
    --code-bg: rgb(226, 131, 226); /* Light purple for code blocks */
    --border: rgb(70, 55, 70); /* Plum for borders */
    --link: rgb(79, 79, 255); /* Blue for links */
    --shadow: rgb(0, 0, 0); /* Darker indigo for shadows */
    
    --form-bg: rgb(240, 240, 240); /* Lighter background for forms */
    --top-link-bg: rgb(220, 220, 220); /* White background for top link */

    --toc-background-color: rgb(236, 236, 236); /* White with 90% opacity for TOC background */
    --toc-text-color: rgb(0, 0, 0); /* Indigo for TOC text */

    /* Admonition colors for light theme */
    --quote-bg: #f8d0cb; /* Light pastel red */
    --quote-text: #5a2a27; /* Dark red text for contrast */

    --caution-bg: #f8e0cb; /* Light pastel orange */
    --caution-text: #5a4227; /* Dark orange text for contrast */

    --tip-bg: #fbf4cd; /* Light pastel yellow */
    --tip-text: #5a5927; /* Dark yellow text for contrast */

    --important-bg: #daf8cb; /* Light pastel lime green */
    --important-text: #3e5a27; /* Dark green text for contrast */

    --note-bg: #cbe4f8; /* Light pastel blue */
    --note-text: #27435a; /* Dark blue text for contrast */

    --pinned-bg: #cbc9f8; /* Light pastel indigo */
    --pinned-text: #2e275a; /* Dark indigo text for contrast */

    --comment-bg: #e2cbf8; /* Light pastel purple */
    --comment-text: #4a275a; /* Dark purple text for contrast */

    --example-bg: #f8cbd4; /* Light pastel pink */
    --example-text: #5a2734; /* Dark pink text for contrast */

    --warning-bg: #f8d0d1; /* Light pastel rose */
    --warning-text: #5a2a2b; /* Dark rose text for contrast */

    --query-bg: #cbf0f8; /* Light pastel cyan */
    --query-text: #275a5c; /* Dark cyan text for contrast */

    --export-bg: #cbf8dc; /* Light pastel mint green */
    --export-text: #275a3e; /* Dark mint text for contrast */

    --verse-bg: #e8cbf8; /* Light pastel lavender */
    --verse-text: #40275a; /* Dark lavender text for contrast */
}

.dark {
    /* Dark Theme */
    --theme: rgb(23, 23, 23); /* Dark background */
    --entry: rgb(9, 31, 44); /* Dark blue for entry */
    --primary: rgb(226, 226, 226); /* Light grey for primary text */
    --secondary: rgb(213, 214, 215); /* Light grey for secondary text */
    --tertiary: rgb(207, 207, 207); /* Light grey for tertiary elements */
    --content: rgb(216, 216, 216); /* Light grey for content */
    --hljs-bg: rgb(33, 26, 37); /* Darker indigo for code highlight background */
    --code-bg: rgb(34, 0, 61); /* Darker indigo for code blocks */
    --border: rgb(239, 222, 253); /* Darker indigo for borders */
    --link: rgb(33, 159, 255); /* Dodger blue for tertiary elements */
    --shadow: rgb(83, 79, 90); /* Plum for shadows */

    --form-bg: rgb(33, 33, 33); /* Darker background for forms */
    --top-link-bg: rgb(47, 47, 47); /* Darker background for top link */
    
    --toc-background-color: rgb(44, 44, 44); /* Dark background for TOC */
    --toc-text-color: rgb(255, 255, 255);  /* White for TOC text */

    /* Admonition colors for dark theme */
    --quote-bg: #f2b2a8; /* Pastel red */
    --quote-text: #333333; /* Dark grey text for contrast */

    --caution-bg: #f3cea2; /* Pastel orange */
    --caution-text: #333333; /* Dark grey text for contrast */

    --tip-bg: #f7eb9b; /* Pastel yellow */
    --tip-text: #333333; /* Dark grey text for contrast */
    
    --important-bg: #c8f2a2; /* Pastel lime green */
    --important-text: #333333; /* Dark grey text for contrast */
    
    --note-bg: #9ed2f6; /* Pastel blue */
    --note-text: #333333; /* Dark grey text for contrast */
    
    --pinned-bg: #9fa7f2; /* Pastel indigo */
    --pinned-text: #333333; /* Dark grey text for contrast */

    --comment-bg: #cd9ef6; /* Pastel purple */
    --comment-text: #333333; /* Dark grey text for contrast */

    --example-bg: #f2a2d2; /* Pastel pink */
    --example-text: #333333; /* Dark grey text for contrast */

    --warning-bg: #f2a2a8; /* Pastel rose */
    --warning-text: #333333; /* Dark grey text for contrast */

    --query-bg: #a2e2f2; /* Pastel cyan */
    --query-text: #333333; /* Dark grey text for contrast */

    --export-bg: #a2f2b2; /* Pastel mint green */
    --export-text: #333333; /* Dark grey text for contrast */

    --verse-bg: #e4a2f2; /* Pastel lavender */
    --verse-text: #333333; /* Dark grey text for contrast */
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
