{{- if (.Param "ShowPostNavLinks") }}
{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- if and (gt (len $pages) 1) (in $pages . ) }}
    <nav class="layout page-navigation" aria-label="Page Navigation">
      {{- with $pages.Next . }}
        <a  class="component card filled prev"
            href="{{ .Permalink }}"
            accesskey="p"
            title="Previous page (ALT + SHIFT + p)">
          <span class="page-direction">
            <i>arrow_back</i>
            <label>
              {{ i18n "prev_page" }}
            </label>
          </span>
          
          <span class="title-large">
            {{- .Name -}}
          </span>
        </a>
      {{ else }}
        <div class="component card filled prev empty">
          <span class="page-direction">
          </span>
        </div>
      {{- end }}

      {{- with $pages.Prev . }}
      <a  class="component card filled next"
          href="{{ .Permalink }}"
          accesskey="n"
          title="Next page (ALT + SHIFT + n)">
        <span class="page-direction">
          <label>
            {{ i18n "next_page" }}
          </label>
          <i>arrow_forward</i>
        </span>

        <span class="title-large">
          {{- .Name -}}
        </span>
      </a>
      {{ else }}
        <div class="component card filled next empty">
          <span class="page-direction">
          </span>
        </div>
      {{- end }}
    </nav>
{{- end }}
{{- end }}