#home-page {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  padding: unset;
  margin: unset;
  height: 100%;

  & #home-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;

    & h1 {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin-block-start: var(--size-16);
    }

    & .home-buttons {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      gap: var(--size-3);
      padding: var(--size-16);

      & .button {
        flex: 1 1 auto;
      }
    }  
  }

  & #showcase-panel {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface-container-low);
    gap: var(--spacing-panes);
    border-radius: var(--shape-corner-xs);
    
    & *:not(h1, h2) {
      width: 100%;
    }

    & table {
      padding: var(--size-8);
    }
  }
}
