.slider {
  position: relative;
  width: 100%;
  height: var(--size-11);
  
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  
  border-radius: var(--shape-corner-xl);
  
  --bg-color: var(--color-surface-container-lowest,);

  & .tooltip {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -75%;
    transform: translateX(-50%);

    width: fit-content;
    height: fit-content;
    padding: var(--size-1) var(--size-2);

    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
    border-radius: var(--shape-corner-xl);

    opacity: 0;
    transition: opacity 0.2s;
  }

  & input[type="range"] {
    height: var(--size-11);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    cursor: grab;
    overflow: hidden;
    background: transparent;
    outline: none;

    &:active {
      cursor: grabbing;

      &::-webkit-slider-thumb,
      &::-moz-range-thumb {
        width: 2px;
      }
    }
    
    /* Inactive track */
    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      width: 100%;
      height: var(--size-4);
      border-radius: var(--shape-corner-none);
      background-color: var(--color-secondary-container);
    }

    /* Active track */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;

      border-radius: 0%;
      padding: var(--size-3);
      width: var(--size-1);
      height: var(--size-11);
      background-color: var(--color-primary);

      box-shadow: 0px -22px 0px var(--size-1) inset var(--bg-color);
    }

    /* Active track */
    &::-moz-range-progress {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      flex: 1 0 0;

      height: var(--size-4);
      border-radius: var(--shape-corner-l-start);
      background-color: var(--color-primary);
    }

    /* Handle */
    &::-moz-range-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;

      border-radius: 0%;
      padding: var(--size-3);
      width: var(--size-1);
      height: var(--size-11);
      background-color: var(--color-primary);

      box-shadow: 0px 0px 0px var(--size-3) inset var(--bg-color);
    }

    /* Inactive track */
    &::-moz-range-track {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      flex: 1 0 0;
      
      height: var(--size-4);
      border-radius: var(--shape-corner-l);
      background-color: var(--color-secondary-container);
    }
  }

  & .tracking-dot {
    position: absolute;
    right: 6px;
    top: var(--size-5);
    
    width: var(--size-1);
    height: var(--size-1);
    margin-inline: 6px;
    border-radius: 50%;
    background-color: var(--color-primary);
  }

  
  &.range {
    & input[left] {
      &::-moz-range-progress {
        background-color: var(--color-secondary-container);
      }
      
      &::-moz-range-track {
        background-color: var(--color-primary);
        border-radius: var(--shape-corner-l-start);
      }
    } 
    
    & input[right] {
      &::-moz-range-progress {
        border-radius: var(--shape-corner-l-end);
      }
    }
  }
}

datalist {
  position: absolute; 
  top: var(--size-5);
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  & option {
    min-width: var(--size-1);
    min-height: var(--size-1);
    border-radius: 50%;
    padding: 2px;
    margin-inline: 6px;

    background-color: var(--color-surface-container);

    &:first-child {
      background-color: var(--color-secondary-container);
    }
    
    &:last-child {
      background-color: var(--color-primary);
    }
  }
}