.component{
  &.button,
  &.card,
  &.checkbox {
    &.disabled,
    &:disabled {
      --container-outline: var(--container-outline-disabled);
      --container-elevation: var(--container-elevation-disabled);
      --state-color: none;
      pointer-events: none;
      cursor: not-allowed;
      
      &:disabled::after {
        opacity: var(--state-disabled-opacity);
        background-size: 50000%;
      }
    }
  }
}
