.component{
  &.button,
  &.card,
  &.carousel-item,
  &.checkbox,
  &.chip,
  &.date-picker.docked,
  &.list,
  &.menu,
  &.radio,
  &.slider,
  &.switch {
    &.disabled,
    &:disabled {
      --container-outline: var(--container-outline-disabled);
      --container-elevation: var(--container-elevation-disabled);
      --state-color: none;
      pointer-events: none;
      cursor: not-allowed;
      
      &:disabled::after {
        opacity: var(--state-disabled-opacity);
        background-size: 50000%;
      }
    }
  }
}

/* 
TODO button.common
TODO button.icon
TODO button.segmented
TODO card
TODO carousel
TODO checkboxes
TODO chips
TODO picker-date.docked
TODO lists
TODO menus
TODO radio
TODO sliders
TODO switch
*/
