.search {
  &[bar] {
    --container-display: flex;
    --container-flex-flow: row nowrap;
    --container-align-items: center;
    --container-justify-content: flex-start;
    --container-gap: var(--size-1);

    --container-elevation: var(--elevation3);

    --container-height: var(--size-14);
    --container-shape: var(--shape-corner-full);
    --container-padding: var(--size-1);

    --bg-color: var(--color-surface-container-high);
    --icon-color: var(--color-on-surface);

    width: 100%;

    & > .icon-button,
    & > i {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      width: var(--size-10);
      height: var(--size-10);
      font-size: var(--size-6);

      color: var(--color-on-surface);

      &:first-of-type {
        margin-inline-start: var(--size-3);
      }

      &:last-of-type {
        margin-inline-end: var(--size-3);
      }
    }

    & input#searchInput {
      flex: 1 1 auto;
      border-radius: unset;
      color: var(--color-on-surface);

      &::placeholder {
        color: var(--color-on-surface-variant);
      }
    }

    & .avatar {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      color: var(--color-surface);
      width: 30px;
      height: 30px;
      border-radius: var(--shape-corner-full);
      font-size: initial;

      background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    }

    & i.icon,
& .icon {
      color: var(--color-on-surface-variant);
    }
  }

  &[view][modal] {
    --container-display: flex;
    --container-flex-flow: column nowrap;
    --container-justify-content: initial;
    --container-align-items: flex-start;
    --container-gap: initial;
    --container-height: initial;
    --container-width: 100%;
    --container-padding: initial;
  
    --container-outline: initial;
    --container-elevation: initial;
    --container-shape: var(--shape-corner-xl);
    
    --bg-color: var(--color-surface-container-high);
    
    --text-color: initial;
    --icon-color: initial;
  
    --container-outline-hover: initial;
    --container-elevation-hover: initial;
  
    --container-outline-focus: initial;
    --container-elevation-focus: initial;
  
    --container-outline-press: initial;
    --container-elevation-press: initial;

    min-width: var(--size-90);

    & .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      gap: var(--size-1);
      padding: var(--size-1);
      height: var(--size-14);
      align-self: stretch;
      border-radius: var(--shape-corner-xl-top);
      background-color: var(--color-surface-container-high);

      & .icon-button {
        width: var(--size-12);
        height: var(--size-12);
        padding: var(--size-6);
      }

      & input {
        flex: 1 0 0;
      }
    }

    & hr {
      color: var(--color-outline);
    }
    & .list-container {
      align-self: stretch;
      flex: 0;
      margin: unset;
      padding: unset;
      min-height: var(--size-16);
      width: 100%;

      & .list-item {
        background-color: transparent;
        min-height: var(--size-16);

        &:last-of-type {
          border-radius: var(--shape-corner-xl-bottom);
        }
      }
    }
  }

  &[view][full] {
    --container-display: flex;
    --container-flex-flow: column nowrap;
    --container-justify-content: initial;
    --container-align-items: flex-start;
    --container-gap: initial;
    --container-height: initial;
    --container-width: 100%;
    --container-padding: initial;
  
    --container-outline: initial;
    --container-elevation: initial;
    --container-shape: initial;
    
    --bg-color: var(--color-surface-container-high);
    
    --text-color: initial;
    --icon-color: initial;
  
    --container-outline-hover: initial;
    --container-elevation-hover: initial;
  
    --container-outline-focus: initial;
    --container-elevation-focus: initial;
  
    --container-outline-press: initial;
    --container-elevation-press: initial;

    min-width: var(--size-90);

    & .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      gap: var(--size-1);
      padding: var(--size-1);
      height: var(--size-14);
      align-self: stretch;
      background-color: var(--color-surface-container-high);

      & .icon-button {
        width: var(--size-12);
        height: var(--size-12);
        padding: var(--size-6);
      }

      & input {
        flex: 1 0 0;
      }
    }

    & hr {
      color: var(--color-outline);
    }
    & .list-container {
      align-self: stretch;
      flex: 0;
      margin: unset;
      padding: unset;
      min-height: var(--size-16);
      width: 100%;

      & .list-item {
        background-color: transparent;
        min-height: var(--size-16);

        &:last-of-type {
          border-radius: var(--shape-corner-xl-bottom);
        }
      }
    }
  }
}
