.top-app-bar {
  --container-display: flex;
  --container-flex-flow: row wrap;
  --container-justify-content: flex-start;
  --container-align-items: center;
  --container-gap: var(--size-1);

  --container-outline: initial;
  --container-elevation: initial;
  --container-shape: 0;

  --bg-color: var(--color-surface-container);
  color: var(--color-on-surface);

  & .start,
  & .end {
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    align-items: center;
    gap: var(--size-2);
  }

  & .headline {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    align-self: stretch;
    align-items: center;
  }

  & .end {
    color: var(--color-on-suface-variant);
    margin-left: auto;
  }

  &.center {
    & .headline {
      justify-content: center;
    }
  }

  &.small {
    --container-height: var(--size-16);
    --container-width: 100%;
    --container-padding: var(--size-2) var(--size-1);

    font-size: var(--typescale-title-large-size);
    line-height: var(--typescale-title-large-line-height);
    font-weight: var(--typescale-title-large-weight);
    font-family: var(--typescale-title-large-font);
  }

  &.medium,
  &.large {
    & .headline {
      flex: 1 1 100%;
      padding-inline: var(--size-3);
    }
  }

  &.medium {
    --container-gap: var(--size-1);
    --container-height: var(--size-28);
    --container-width: 100%;
    --container-padding: var(--size-2) var(--size-1) var(--size-6) var(--size-1);

    font-size: var(--typescale-headline-small-size);
    line-height: var(--typescale-headline-small-line-height);
    font-weight: var(--typescale-headline-small-weight);
    font-family: var(--typescale-headline-small-font);
  }

  &.large {
    --container-gap: var(--size-10);
    --container-height: var(--size-38);
    --container-width: 100%;
    --container-padding: var(--size-2) var(--size-1) var(--size-7) var(--size-1);

    font-size: var(--typescale-headline-medium-size);
    line-height: var(--typescale-headline-medium-line-height);
    font-weight: var(--typescale-headline-medium-weight);
    font-family: var(--typescale-headline-medium-font);
  }
}
