<!doctype html>
<html   lang="{{ .Site.Language }}" 
        dir="{{ .Language.LanguageDirection | default "auto" }}">
    <head>
        {{- partial "head.html" . }}
        
        {{- partial "scripts/links.html" . }}
        
        {{ if .Site.Params.GoogleAnalytics }}
            {{ partial "scripts/analytics-gtag.html" . }}
        {{ end }}
    </head>
    
    <!-- Body -->
    <body id="top">        
        
        <!-- Header -->
        <header role="banner">
            {{- partialCached "base/header.html" . .Page -}}
        </header>

        <!-- Main -->
        <main role="main">

            <!-- Layout: Content Wrapper -->
            <div class="layout content-wrapper">
                <!-- Layout: Page Header -->
                {{- partialCached "sections/page-header.html" . .Page -}}

                <!-- Layout: Main -->
                {{ block "main" . }}
                
                {{ end }}

                <!-- Layout: Page Navigation -->
                {{- partial "sections/page-navigation.html" . }}
            </div>
            
            <!-- Component: Top-Link -->
            {{- partialCached "components/top-link-fab.html" . }}

            <!-- Footer -->
            <footer role="contentinfo">    
                <!-- Links + Copyright -->
                {{- partialCached "base/footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
            </footer>
        </main>
    </body>
</html>
