<!DOCTYPE html>
<html   lang="{{ .Site.Language.Lang }}" 
        dir="{{ .Site.Language.LanguageDirection | default "auto" }}">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        {{ partial "head.html" . }}
        
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    </head>
    
    {{/* Body */}}
    <body id="top">     

        {{/* Header */}}
        <header role="banner">
            {{ partial "base/header.html" . .Page }}
        </header>

        {{/* Debug */}}
        {{ if .Site.Params.Debug }}
            {{ partial "debug.html" .Page }}
        {{ end }}

        {{/* Main */}}
        <main role="main">

            {{/* Layout: Content Wrapper */}}
            <div class="layout content-wrapper">
                {{/* Layout: Page Header */}}
                {{ partial "sections/page-header.html" . }}

                {{/* Layout: Main */}}
                {{ if .IsHome }}
                    {{ partial "base/home.html" . }}
                {{ else }}
                    {{ block "main" . }}{{ end }}
                {{ end }}

                {{/* Layout: Page Navigation */}}
                {{ partial "sections/page-navigation.html" . }}
            </div>
            
            {{/* Component: Top-Link */}}
            {{ partial "components/top-link-fab.html" . }}

            {{/* Footer */}}
            <footer role="contentinfo">    
                {{/* Links + Copyright */}}
                {{ partial "base/footer.html" . }}
            </footer>
        </main>
    </body>
</html>
