{{- define "main" }}
    <article class="layout panes singlepane">
        <section class="layout pane">
            <h1>Classic palette</h1>

            <h2>Container</h2>
            <div class="color-palette">
                <div class="primary-container-test">0</div>
                <div class="sub30-container">30</div>
                <div class="add30-container">30</div>
                <div class="sub60-container">60</div>
                <div class="add60-container">60</div>
                <div class="sub90-container">90</div>
                <div class="add90-container">90</div>
                <div class="sub120-container">120</div>
                <div class="add120-container">120</div>
                <div class="sub150-container">150</div>
                <div class="add150-container">150</div>
                <div class="sub180-container">180</div>
                <div class="add180-container">180</div>
                <div class="complementary-container">Complementary</div>
            </div>

            <h2>Main</h2>
            <div class="color-palette">
                <div class="primary-test">0</div>
                <div class="sub30">30</div>
                <div class="add30">30</div>
                <div class="sub60">60</div>
                <div class="add60">60</div>
                <div class="sub90">90</div>
                <div class="add90">90</div>
                <div class="sub120">120</div>
                <div class="add120">120</div>
                <div class="sub150">150</div>
                <div class="add150">150</div>
                <div class="sub180">180</div>
                <div class="add180">180</div>
                <div class="complementary">Complementary</div>
            </div>

            <h1>Material Design palette</h1>

            <h2>Theme</h2>
            <div class="color-palette">
                <div class="primary">P</div>
                <div class="primary-container">P</div>
                <div class="secondary">S</div>
                <div class="secondary-container">S</div>
                <div class="tertiary">T</div>
                <div class="tertiary-container">T</div>
                <div class="inverse-surface">IS</div>
                <div class="inverse-primary">IP</div>
                <div class="error">E</div>
                <div class="error-container">E</div>
            </div>

            <h2>Surface</h2>
            <div class="color-palette">
                <div class="surface">
                    S
                    <span class="on-surface-variant">
                        OSV
                    </span>
                </div>
                <div class="surface-container">
                    SC
                    <span class="on-surface-variant">
                        OSV
                    </span>
                </div>
                <div class="surface-container-low">
                    SCL
                    <span class="on-surface-variant">
                        OSV
                    </span>
                </div>
                <div class="surface-container-lowest">
                    SCLS
                    <span class="on-surface-variant">
                        OSV
                    </span>
                </div>
                <div class="surface-container-high">
                    SCH
                    <span class="on-surface-variant">
                        OSV
                    </span>
                </div>
                <div class="surface-container-highest">
                    SCHS
                    <span class="on-surface-variant">
                        OSV
                    </span>
                </div>
                <div class="surface-dim">
                    SD
                    <span class="on-surface-variant">
                        OSV
                    </span>
                </div>
                <div class="surface-bright">
                    SB
                    <span class="on-surface-variant">
                        OSV
                    </span>
                </div>
                <div class="outline-container">O</div>
                <div class="outline-variant-container">OV</div>
            </div>

            <h2>Fixed colors</h2>
            <div class="color-palette">
                <div class="shadow">SHA</div>
                <div class="scrim">SCR</div>

                <div class="primary-fixed on-primary-fixed">
                    PF
                    <span class="on-primary-fixed-variant">
                        OPFV
                    </span>
                </div>
                <div class="primary-fixed-dim on-primary-fixed">
                    PFD
                    <span class="on-primary-fixed-variant">
                        OPFV
                    </span>
                </div>
                <div class="secondary-fixed on-secondary-fixed">
                    SF
                    <span class="on-secondary-fixed-variant">
                        OSFV
                    </span>
                </div>
                <div class="secondary-fixed-dim on-secondary-fixed">
                    SFD
                    <span class="on-secondary-fixed-variant">
                        OSFV
                    </span>
                </div>
                <div class="tertiary-fixed on-tertiary-fixed">
                    TF
                    <span class="on-tertiary-fixed-variant">
                        OTFV
                    </span>
                </div>
                <div class="tertiary-fixed-dim on-tertiary-fixed">
                    TFD
                    <span class="on-tertiary-fixed-variant">
                        OTFV
                    </span>
                </div>
            </div>

        </section>
    </article>
{{ end }}