{{- define "main" }}
    <article class="layout panes basic-singlepane" id="page-colors">
        <section class="layout pane">
            
            <h1>Material Design</h1>
            
            <h2 class="key-color">Key Color</h2>

            
            <h2>System tokens</h2>

            <div class="system-tokens">

                <div class="top-row">

                    <div class="primary-tokens">
                        <div class="swatch-group">
                            <div class="swatch4">
                                <div class="role">Primary</div>
                            </div>

                            <div class="swatch5">
                                <div class="role">On Primary</div>
                            </div>
                        </div>

                        <div class="swatch-group">
                        <div class="swatch6">
                            <div class="role">Primary Container</div>
                        </div>
                        <div class="swatch7">
                            <div class="role">On Primary Container</div>
                        </div>
                        </div>
                    </div>

                    <div class="secondary-tokens">
                        <div class="swatch-group">
                            <div class="swatch8">
                                <div class="role">Secondary</div>
                            </div>

                            <div class="swatch9">
                                <div class="role">On Secondary</div>
                            </div>
                        </div>

                        <div class="swatch-group">

                            <div class="swatch10">
                                <div class="role">Secondary Container</div>
                            </div>
                            
                            <div class="swatch11">
                                <div class="role">On Secondary Container</div>
                            </div>

                        </div>
                    </div>

                    <div class="tertiary-tokens">
                        <div class="swatch-group">
                            <div class="swatch12">
                                <div class="role">Tertiary</div>
                            </div>

                            <div class="swatch13">
                                <div class="role">On Tertiary</div>
                            </div>
                        </div>

                        <div class="swatch-group">
                            <div class="swatch14">
                                <div class="role">Tertiary Container</div>
                            </div>
                            
                            <div class="swatch15">
                                <div class="role">On Tertiary Container</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="error-tokens">
                        <div class="swatch-group">
                            <div class="swatch">
                                <div class="role">Error</div>
                            </div>

                            <div class="swatch1">
                                <div class="role">On Error</div>
                            </div>
                        </div>

                        <div class="swatch-group">
                            <div class="swatch2">
                                <div class="role">Error Container</div>
                            </div>

                            <div class="swatch3">
                                <div class="role">On Error Container</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="fixed-colors">

                    <div class="swatch-group">

                        <div class="base-fixed">
                            <div class="swatch16">
                                <div class="role">Primary Fixed</div>
                            </div>

                            <div class="swatch17">
                                <div class="role">Primary Fixed Dim</div>
                            </div>
                        </div>
                        
                        <div class="swatch18">
                            <div class="role">On Primary Fixed</div>
                        </div>

                        <div class="swatch19">
                            <div class="role">On Primary Fixed Variant</div>
                        </div>

                    </div>

                    <div class="swatch-group">

                        <div class="base-fixed">
                            <div class="swatch20">
                                <div class="role">Secondary Fixed</div>
                            </div>

                            <div class="swatch21">
                                <div class="role">Secondary Fixed Dim</div>
                            </div>
                        </div>

                        <div class="swatch22">
                            <div class="role">On Secondary Fixed</div>
                        </div>

                        <div class="swatch23">
                            <div class="role">On Secondary Fixed Variant</div>
                        </div>

                    </div>

                    <div class="swatch-group">

                        <div class="base-fixed">
                            <div class="swatch24">
                            <div class="role">Tertiary Fixed</div>
                            </div>

                            <div class="swatch25">
                            <div class="role">Tertiary Fixed Dim</div>
                            </div>
                        </div>
                        
                        <div class="swatch26">
                            <div class="role">On Tertiary Fixed</div>
                        </div>

                        <div class="swatch27">
                            <div class="role">On Tertiary Fixed Variant</div>
                        </div>

                    </div>

                </div>

                <div class="bottom-row">

                    <div class="surfaces">

                        <div class="surface-group">
                            <div class="swatch28">
                            <div class="role">Surface Dim</div>
                            </div>

                            <div class="swatch30">
                            <div class="role">Surface</div>
                            </div>

                            <div class="swatch29">
                            <div class="role">Surface Bright</div>
                            </div>
                        </div>

                        <div class="surface-group">
                            <div class="swatch31">
                            <div class="role">Surf. Container Lowest</div>
                            </div>
                            <div class="swatch32">
                            <div class="role">Surf. Container Low</div>
                            </div>
                            <div class="swatch33">
                            <div class="role">Surf. Container</div>
                            </div>
                            <div class="swatch34">
                            <div class="role">Surf. Container High</div>
                            </div>
                            <div class="swatch35">
                            <div class="role">Surf. Container Highest</div>
                            </div>
                        </div>

                        <div class="on-surfaces">
                            <div class="swatch36">
                            <div class="role">On Surface</div>
                            </div>
                            <div class="swatch37">
                            <div class="role">On Surface Var.</div>
                            </div>
                            <div class="swatch38">
                            <div class="role">Outline</div>
                            </div>
                            <div class="swatch39">
                            <div class="role">Outline Variant</div>
                            </div>
                        </div>

                    </div>

                    <div class="other">
                        <div class="inverses">
                            <div class="swatch-group">
                                <div class="swatch40">
                                    <div class="role">Inverse Surface</div>
                                </div>
                                
                                <div class="swatch41">
                                    <div class="role">Inverse On Surface</div>
                                </div>

                                <div class="swatch42">
                                    <div class="role">Inverse Primary</div>
                                </div>
                            </div>
                        </div>

                        <div class="scrim-and-shadow">
                            <div class="swatch43">
                                <div class="role">Scrim</div>
                            </div>

                            <div class="swatch43">
                                <div class="role">Shadow</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <h2>Reference tokens</h2>

            <section class="ref-hue-reference">
                <h3>Absolute hue reference (LCH)</h3>
                <div class="reference-palette hue">
                    <div>0</div>
                    <div>30</div>
                    <div>60</div>
                    <div>90</div>
                    <div>120</div>
                    <div>150</div>
                    <div>180</div>
                    <div>210</div>
                    <div>240</div>
                    <div>270</div>
                    <div>300</div>
                    <div>330</div>
                </div>
            </section>

            <section class="ref-default-palette">
                <h3>Default</h3>
                <div class="reference-palette primary">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette secondary">  
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette tertiary">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette neutral">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>  
                </div>
                <div class="reference-palette neutral-variant">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette error">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
            </section>

            <section class="ref-admon-palette">
                <h3>Admonition</h3>
                <div class="reference-palette warning">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette caution">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette important">  
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette pinned">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette verse">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette export">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette query">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette note">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette tip">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette example">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>  
                </div>
                <div class="reference-palette comment">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette quote">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
            </section>

            <section class="ref-classic-palette">
                <h3>Classic</h3>
                <div class="reference-palette sub30">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette sub60">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette sub90">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div> 
                <div class="reference-palette sub120">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>  
                </div>
                <div class="reference-palette sub150">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette sub180">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette complementary">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette add180">  
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette add150">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>  
                </div>
                <div class="reference-palette add120">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette add90">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
                <div class="reference-palette add60">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div> 
                <div class="reference-palette add30">
                    <div>0</div><div>10</div><div>20</div><div>30</div><div>40</div><div>50</div>
                    <div>60</div><div>70</div><div>80</div><div>90</div><div>100</div>
                </div>
            </section>
        
            <div class="semantics">
                
                <section class="admonitions-palette">
                    <div class="color-palette custom">
                        <div>Warning</div>
                        <div>On Warning</div>
                        <div>Warning Container</div>
                        <div>On Warning Container</div>

                        <div>Caution</div>
                        <div>On Caution</div>
                        <div>Caution Container</div>
                        <div>On Caution Container</div>

                        <div>Important</div>
                        <div>On Important</div>
                        <div>Important Container</div>
                        <div>On Important Container</div>

                        <div>Pinned</div>
                        <div>On Pinned</div>
                        <div>Pinned Container</div>
                        <div>On Pinned Container</div>

                        <div>Verse</div>
                        <div>On Verse</div>
                        <div>Verse Container</div>
                        <div>On Verse Container</div>

                        <div>Export</div>
                        <div>On Export</div>
                        <div>Export Container</div>
                        <div>On Export Container</div>

                        <div>Query</div>
                        <div>On Query</div>
                        <div>Query Container</div>
                        <div>On Query Container</div>

                        <div>Note</div>
                        <div>On Note</div>
                        <div>Note Container</div>
                        <div>On Note Container</div>

                        <div>Tip</div>
                        <div>On Tip</div>
                        <div>Tip Container</div>
                        <div>On Tip Container</div>

                        <div>Example</div>
                        <div>On Example</div>
                        <div>Example Container</div>
                        <div>On Example Container</div>

                        <div>Comment</div>
                        <div>On Comment</div>
                        <div>Comment Container</div>
                        <div>On Comment Container</div>

                        <div>Quote</div>
                        <div>On Quote</div>
                        <div>Quote Container</div>
                        <div>On Quote Container</div>
                    </div>
                </section>

                <section class="classics-palette">
                    <div class="color-palette classic-wheel">
                        <div class="sub180">-180</div>
                        <div>On -180</div>
                        <div class="sub180-container">-180 Container</div>
                        <div>On -180 Container</div>
                        
                        <div class="sub150">-150</div>
                        <div>On -150</div>
                        <div class="sub150-container">-150 Container</div>
                        <div>On -150 Container</div>
                        
                        <div class="sub120">-120</div>
                        <div>On -120</div>
                        <div class="sub120-container">-120 Container</div>
                        <div>On -120 Container</div>

                        <div class="sub90">-90</div>
                        <div>On -90</div>
                        <div class="sub90-container">-90 Container</div>
                        <div>On -90 Container</div>

                        <div class="sub60">-60</div>
                        <div>On -60</div>
                        <div class="sub60-container">-60 Container</div>
                        <div>On -60 Container</div>
                        
                        <div class="sub30">-30</div>
                        <div>On -30</div>
                        <div class="sub30-container">-30 Container</div>
                        <div>On -30 Container</div>

                        <div class="add30">+30</div>
                        <div>On +30</div>
                        <div class="add30-container">+30 Container</div>
                        <div>On +30 Container</div>

                        <div class="add60">+60</div>
                        <div>On +60</div>
                        <div class="add60-container">+60 Container</div>
                        <div>On +60 Container</div>
                        
                        <div class="add90">+90</div>
                        <div>On +90</div>
                        <div class="add90-container">+90 Container</div>
                        <div>On +90 Container</div>

                        <div class="add120">+120</div>
                        <div>On +120</div>
                        <div class="add120-container">+120 Container</div>
                        <div>On +120 Container</div>

                        <div class="add150">+150</div>
                        <div>On +150</div>
                        <div class="add150-container">+150 Container</div>
                        <div>On +150 Container</div>

                        <div class="add180">+180</div>
                        <div>On +180</div>
                        <div class="add180-container">+180 Container</div>
                        <div>On +180 Container</div>

                        <div class="complementary">Complementary</div>
                        <div>On Complementary</div>
                        <div class="complementary-container">Complementary Container</div>
                        <div>On Complementary Container</div>
                    </div>
                </section>

            </div>
        </section>
    </article>
{{ end }}