{{- define "main" }}
    {{- if ( and .Site.Params.profileMode.enabled .IsHome) }}
        {{- with .Site.Params.profileMode }}

            <article class="layout panes basic-singlepane" id="home">
                <section class="layout pane">
                
                    <!-- Site Image -->
                    {{- if .imageUrl -}}
                        <div class="home-image">
                            <img    src="{{ .imageUrl | absURL }}" 
                                    alt="{{ .imageTitle | default "profile image" }}"
                                    height="{{ .imageHeight | default 150 }}" 
                                    width="{{ .imageWidth | default 150 }}" />
                        </div>
                    {{- end }}
                    
                    <!-- Site Title -->
                    <h1>
                        {{ .title | default $.Site.Title | markdownify }}
                    </h1>        
            
                    <!-- Home Page Buttons -->
                    <nav class="home-buttons" aria-label="Home buttons">
                        {{ partialCached "components/homepage-buttons.html" .}}
                    </nav>
                </section>
            </article>
        
        {{- end }}
    
    {{- end }}

{{- end }}