{{ define "main" }}

{{ $pages := union .RegularPages .Sections }}

<article class="layout panes canonical-feed">
    <section class="layout pane">

        {{ range $index, $page := $pages }}        
            <a  class="component card" elevated
                aria-label="post link to {{ .Title | plainify }}" 
                href="{{ .Permalink }}">        
                
                <div class="card-content">
                    <span class="title-large">
                        {{ .Title }}
                    </span>

                    {{ partial "components/post-meta.html" . }}
                </div>
            </a>
        {{ end }}

    </section>
</article>

{{ end }}