{{- define "main" }}

    {{- $pages := union .RegularPages .Sections }}

    <article class="layout panes canonical-feed">
        <section class="layout pane">

            {{- range $index, $page := $pages }}        
                <div class="component card outlined">
                    <a  aria-label="post link to {{ .Title | plainify }}" 
                        href="{{ .Permalink }}"></a>
                    
                    {{- $isHidden := (.Site.Params.cover.hidden | default .Site.Params.cover.hiddenInList) }}
                    {{- partial "components/cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}            
                
                    {{- if .Params.coverimage }}
                        <img    src="{{ .Params.coverimage | absURL }}" 
                                alt="{{ $.Title }} - descriptive image of the post content">
                    {{- end }}
                    
                    <div class="card-content">
                        {{- if not (.Param "hideMeta") }}
                            {{- partial "components/post-meta.html" . -}}
                        {{- end }}
                        
                        <span class="title-small">
                            {{- .Title }}
                        </span>
                    </div>
                </div>

            {{- end }}

        </section>
    </article>

{{- end }}