{{- define "main" }}
{{- if .Title }}
    <header class="page-header">
        <h1>{{ .Title }}</h1>
        {{- if .Description }}
        <div class="post-description">
            {{ .Description }}
        </div>
        {{- end }}
    </header>
{{- end }}
 
{{- $pages := union .RegularPages .Sections }}
{{- $paginator := .Paginate $pages }}
<div class="main-sections-container">
    {{- range $paginator.Pages }}
        <article class="main-section-entry {{ .Title | urlize }}">

            {{- $isHidden := (.Site.Params.cover.hidden | default .Site.Params.cover.hiddenInList) }}
            {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
            
            {{- if .Params.coverimage }}
                <img class="main-section-entry-cover" src="{{ .Params.coverimage | absURL }}" alt="{{ $.Title }} - descriptive image of the post content">
            {{- end }}

            {{ .Title }}
            <a href="{{ .RelPermalink }}" class="main-section-entry-link"></a>
        </article>
    {{- end }}
</div>

{{- if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}" class="paginator prev">Previous</a>
{{- end }}

{{- if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}" class="paginator next">Next</a>
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
    <nav class="pagination pagination-centered">
        {{- range $paginator.Pagers }}
            {{- if eq .PageNumber $paginator.PageNumber }}
                <span class="paginator current">{{ .PageNumber }}</span>
            {{- else }}
                <a href="{{ .URL }}" class="paginator">{{ .PageNumber }}</a>
            {{- end }}
        {{- end }}
    </nav>
{{- end }}

{{- end }}{{/* end main */ -}}