{{ define "main" }}
<article class="layout panes basic-single-pane">
  <section class="layout pane" id="playground">
    {{/*  TODO Content sectioning  */}}
    <section class="test-set">
      <h2>Content sectioning</h2>
      <hr />
      <address>Address</address>
      <article>Article</article>
      <aside>Aside</aside>
      <footer>Footer</footer>
      <header>Header</header>
      <h1>H1</h1>
      <h2>H2</h2>
      <h3>H3</h3>
      <h4>H4</h4>
      <h5>H5</h5>
      <h6>H6</h6>
      <hgroup>
        <h2>hgroup</h2>
        <h3>subtitle</h3>
      </hgroup>
      <nav>nav</nav>
      <section>section</section>
      <search>search</search>
    </section>
      
    {{/*  TODO Text content  */}}
    <section class="test-set">
      <h2>Text content</h2>
      <hr />
      <blockquote>Blockquote</blockquote>
      <dl>
        <dt>DT</dt>
        <dd>DD</dd>
      </dl>
      <div>Div</div>
      <figure>
        <figcaption>Figcaption</figcaption>
        Figure
      </figure>
      <hr />
      <ul>
        <li>LI</li>
      </ul>
      <menu>
        <li>Menu</li>
      </menu>
      <ol>
        <li>OL</li>
      </ol>
      <p>P</p>
      <pre>Pre</pre>
    </section>

    {{/*  TODO Inline text semantics  */}}
    <section class="test-set">
      <h2>Inline text semantics</h2>
      <hr />
      <a href="#">a</a>
      <abbr title="Abbreviation">abbr</abbr>
      
      <b>b</b>
      <strong>strong</strong>
      
      <code>code</code>
      <kbd>kbd</kbd>
      <samp>samp</samp>
      
      <em>em</em>
      <i>i</i>

      <bdi>bdi Bidirectional Isolate element</bdi>
      <bdo dir="rtl">bdo Bidirectional Text Override element</bdo>
      br<br />Line Break element
      <cite>cite Citation element</cite>
      <data value="123">data</data>
      <dfn>dfn</dfn>
      <mark>mark</mark>
      <q>q</q>
      <ruby> ruby<rp>(</rp><rt>rt</rt><rp>)</rp> </ruby>
      <s>s</s>
      <small>small</small>
      <span>span</span>
      <sub>sub</sub>
      <sup>sup</sup>
      <time datetime="2024-07-20">time</time>
      <u>u</u>
      <var>var</var>
      wbr<wbr />
    </section>

    {{/*  TODO Image and multimedia  */}}
    <section class="test-set">
      <h2>Image and multimedia</h2>
      <hr />
      Map
      <map name="example-map">
        Area
        <area
          shape="rect"
          coords="0,0,100,100"
          href="#"
          alt="Area" />
      </map>
      
      Audio
      <audio controls>
        <source
          src="audio.mp3"
          type="audio/mpeg" />
      </audio>
      
      Img
      <img
        src="image.jpg"
        alt="Img"
        usemap="#example-map" />
      
      Video
      <video controls>
        Track
        <track
          kind="subtitles"
          srclang="en"
          label="English" />
      </video>
    </section>

    {{/*  TODO Embedded content  */}}
    <section class="test-set">
      <h2>Embedded content</h2>
      <hr />
      <embed
        type="text/html"
        src="embed.html" />
      <iframe src="iframe.html">IFrame</iframe>
      <object
        data="object.data"
        type="application/pdf">
        <param
          name="param1"
          value="value1" />
        Object
      </object>
      <picture>
        <source
          media="(min-width: 800px)"
          srcset="large.jpg" />
        <source
          media="(min-width: 400px)"
          srcset="medium.jpg" />
        <img
          src="small.jpg"
          alt="Picture" />
      </picture>
    </section>

    {{/*  SVG and MathML  */}}
    <section class="test-set">
      <h2>SVG and MathML</h2>
      <hr />
      <strong>SVG</strong>
      <p>Container defining a new coordinate system and viewport</p>
      <svg 
        class="site-icon"
        viewBox="0 0 512 512" 
        xmlns="http://www.w3.org/2000/svg">
        <path 
            class="site-icon-w"
            d=" M142.079 24.0422
                H223.663
                L253.288 112.721
                L283.37 24.0422
                H364.954
                L310.261 161.312
                L336.681 220.027
                L403.642 10
                L502 10
                L378.297 301.511
                H302
                L253.288 208.689
                L206.343 379.425
                H129.317
                L10 10
                H105.33
                L173.527 220.027
                L195.86 161.312
                L142.079 24.0422Z"/>
        <path 
            class="site-icon-j-right"
            d=" M302 502
                V301.511
                H378.297
                L379.022 409.178
                C379.041 411.901 379.086 414.616 379.067 417.339
                C379.001 426.663 378.235 449.565 372.5 460.27
                C365.471 473.895 351.339 484.523 338.903 492.153
                C326.467 499.783 302 502 302 502Z"/>
        <path 
            class="site-icon-j-left"
            d=" M283.37 502
                V436
                L240.157 449.616
                C223.403 454.895 206.343 442.384 206.343 424.817
                V396.818
                H129.317
                L138.281 439.964
                C141.046 453.269 147.244 465.62 156.259 475.788
                V475.788
                C171.04 492.458 192.252 502 214.531 502
                L283.37 502Z"/>
      </svg>
      <hr>
      <strong>Math</strong>
      <p>The top-level element in MathML</p>
      <math>
        <mrow>
          <mo>E</mo>
          <mo>=</mo>
          <msup>
            <mi>mc</mi>
            <mn>2</mn>
          </msup>  
        </mrow>
      </math>
    </section>

    {{/*  Demarcating edits  */}}
    <section class="test-set">
      <h2>Demarcating edits</h2>
      <hr />
      <strong>Del</strong>
      <del>Represents a range of text that has been deleted from a document</del>
      <hr>
      <strong>Ins</strong>
      <ins>Represents a range of text that has been added to a document</ins>
    </section>

    {{/*  TODO Tables  */}}
    <section class="test-set">
      <h2>Table content</h2>
      <hr />
      <table>
        <caption>
          Caption
        </caption>
        <colgroup>
          <col style="background-color: #f1f1f1" />
          <col style="background-color: #e1e1e1" />
        </colgroup>
        <thead>
          <tr>
            <th>TH</th>
            <th>TH</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>TD</td>
            <td>TD</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">TFoot</td>
          </tr>
        </tfoot>
      </table>
    </section>

    {{/*  TODO Forms  */}}
    <section class="test-set">
      <h2>Forms</h2>
      <hr />
      <form>
        <fieldset>
          <legend>Legend</legend>
          <label for="input1">Label</label>
          <input
            id="input1"
            type="text"
            list="datalist1" />
          <datalist id="datalist1">
            <option value="Option 1"></option>
            <option value="Option 2"></option>
          </datalist>

          <button type="button">Button</button>
          <select>
            <optgroup label="Group 1">
              <option>Option</option>
            </optgroup>
          </select>
          <textarea>Textarea</textarea>
          <output>Output</output>
          <progress
            value="50"
            max="100">
            Progress
          </progress>
          <meter
            value="5"
            min="0"
            max="10">
            Meter
          </meter>
        </fieldset>
      </form>
    </section>

    {{/*  Interactive  */}}
    <section class="test-set">
      <h2>Interactive elements</h2>
      <hr />
      <strong>Details & summary</strong>
      <details>
        <summary>Summary</summary>
        Details
      </details>

      <hr>

      <strong>Dialog</strong>
      <dialog open>
        <p>dialog</p>
        <form method="dialog">
          <button>button</button>
        </form>
      </dialog>      
    </section>
  </section>
</article>

{{ end }}
