{{- define "main" }}
  <article class="layout panes basic-singlepane">
    <section class="layout pane">

      <div id="searchbox">

        <!-- Search bar -->   
        <span class="component searchbar surface-container-high surface-text">
          <i>
            search
          </i>

          <input  id="searchInput" 
                  autofocus 
                  placeholder="Search"
                  aria-label="search" 
                  type="search"
                  autocomplete="off" 
                  maxlength="64">
          
        </span>

        <!-- Search results -->   
        <ul id="searchResults" 
          aria-label="search results">
        </ul>

      </div>

    </section>
  </article>
{{- end }}
