{{ define "main" }}

<article class="layout panes basic-singlepane">

    <section class="layout pane" id="sections-page">

        {{ range .Sections }}

            <a  class="component list-item" one with-icon
                href="{{ .Permalink }}">

                {{/*  TODO Turn this into a slice to iterate  */}}
                {{ if eq .Title "Software" }}
                    <i>terminal</i>
                {{ else if eq .Title "University" }}
                    <i>school</i>
                {{ else }}
                    <i>quick_reference</i>
                {{ end }}

                <span class="headline-small">
                    {{ .Title }}
                </span>

                <sup class="page-count code-typeface">
                    {{len .Pages }}
                </sup>
                
            </a>

            <div class="divider"></div>
        {{ end }}

    </section>

</article>

{{ end }}