{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{- if .Draft }}
      <sup><span class="entry-isdraft">[draft]</span></sup>
    {{- end }}

    {{/* Category + metadata wrap */}}
    <div class="post-meta-wrap">

      {{/* Metadata */}}
      {{- if not (.Param "hideMeta") }}
        <div class="post-meta">
          {{- partial "post_meta.html" . -}}
          {{- partial "translation_list.html" . -}}
          {{- partial "post_canonical.html" . -}}
        </div>
      {{- end }}
    </div>

    {{/* Github button */}}
    {{ with .Params.githubRepo }}
      {{ partial "github_button.html" (dict "githubRepo" .) }}
    {{ end }}

    {{/* Description */}}
    {{- if .Description }}
      <p class="post-description">
        {{ .Description | markdownify }}
      </p>
    {{- end }}

    {{/* Table of Contents */}}
    {{- if (.Param "ShowToc") }}
      {{- partial "toc.html" . }}
    {{- end }}
  </header>

  {{/* Post content */}}
  {{- if .Content }}
    <div class="post-content">
      {{- if not (.Param "disableAnchoredHeadings") }}
        {{- partial "anchored_headings.html" .Content -}}
      {{- else }}
        {{- .Content | safeHTML -}}
      {{- end }}
    </div>
  {{- end }}

  {{/* Backlinks */}}
  {{ partial "backlinks.html" . }}

  
  <footer class="post-footer">
    {{/* Post navigation links */}}
    {{- if (.Param "ShowPostNavLinks") }}
      {{- partial "post_nav_links.html" . }}
    {{- end }}

    {{/* Share buttons */}}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
      <h3>Share</h3>
      {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

</article>

{{- end }}{{/* end main */}}
