{{- define "main" -}}

<article class="layout panes basic-singlepane">
  <section class="layout pane">

      {{- range .Site.Pages.ByParam "title" -}}
        {{- if eq .Title "" -}}
          {{- continue -}} 
        {{- else -}}
          <a class="component list-item one"
              href="{{- .Permalink -}}">
              <span class="title-small">
                {{- .Title -}}
              </span>
          </a>
        {{- end -}}
      {{- end -}}

  </section>
</article>

{{- end -}}
