{{- define "main" }}
    <article class="layout panes basic-singlepane" id="page-typography">
        <section class="layout pane">
            <h1>State opacities</h1>
            <section class="state-opacities-container">
                <div>Enabled</div>
                <div>Disabled</div>
                <div>Hovered</div>
                <div>Focused</div>
                <div>Pressed</div>
                <div>Dragged</div>
            </section>
            <h1>Elevations</h1>
            <section class="elevations-container">
                <div>Level 0</div>
                <div>Level 1</div>
                <div>Level 2</div>
                <div>Level 3</div>
                <div>Level 4</div>
                <div>Level 5</div>
            </section>
            <h1>Shapes</h1>
            <section class="shapes-container">
                <h2>None</h2>
                <div class="shape-none">None</div>

                <h2>Extra small</h2>
                <div class="shape-xs">xs</div>
                <span></span>
                <div class="shape-xs-top">top</div>
                <div class="shape-xs-bottom">bottom</div>
                <div class="shape-xs-start">start</div>
                <div class="shape-xs-end">end</div>

                <h2>Small</h2>
                <div class="shape-s">s</div>
                <span></span>
                <div class="shape-s-top">top</div>
                <div class="shape-s-bottom">bottom</div>
                <div class="shape-s-start">start</div>
                <div class="shape-s-end">end</div>

                <h2>Medium</h2>
                <div class="shape-m">m</div>
                <span></span>
                <div class="shape-m-top">top</div>
                <div class="shape-m-bottom">bottom</div>
                <div class="shape-m-start">start</div>
                <div class="shape-m-end">end</div>

                <h2>Large</h2>
                <div class="shape-l">l</div>
                <span></span>
                <div class="shape-l-top">top</div>
                <div class="shape-l-bottom">bottom</div>
                <div class="shape-l-start">start</div>
                <div class="shape-l-end">end</div>

                <h2>Extra large</h2>
                <div class="shape-xl">xl</div>
                <span></span>
                <div class="shape-xl-top">top</div>
                <div class="shape-xl-bottom">bottom</div>
                <div class="shape-xl-start">start</div>
                <div class="shape-xl-end">end</div>

                <h2>Full</h2>
                <div class="shape-full">Full</div>
            </section>
        </section>
    </article>
{{ end }}