{{ define "main" }}
    <article class="layout panes basic-singlepane">
        <section class="layout pane" id="sections-page">
            <div class="list-container">
                {{ range .Pages }}
                    <a  class="component list-item" two with-avatar
                        href="{{ .RelPermalink }}">
                        <span class="avatar">
                            <i>
                                {{ if eq .Title "Design" }}
                                    design_services
                                {{ else if eq .Title "Software" }}
                                    terminal
                                {{ else if eq .Title "University" }}
                                    school
                                {{ else if eq .Title "Layouts" }}
                                    view_quilt
                                {{ else if eq .Title "References" }}
                                    bookmark_border
                                {{ else if eq .Title "Tokens" }}
                                    token
                                {{ end }}
                            </i>
                        </span>
                        <div class="list-content">
                            <span class="headline-small">
                                {{ .Title }}
                                <sup class="page-count code-typeface">
                                    {{len .Pages }}
                                </sup>
                            </span>
                            <span class="description">
                                {{ .Description }}
                            </span>
                        </div>
                    </a>
                    <div class="divider"></div>
                {{ end }}
            </div>
        </section>
    </article>
{{ end }}