{{- define "main" }}
    <article class="layout panes basic-singlepane" id="page-typography">
        <section class="layout pane">
            <h1>Typeface</h1>
            <section class="typeface-weights-container">
                <div class="typeface-weights">
                    <h3>Brand</h3>
                    <div class="title-large">900<br>black</div>
                    <div class="title-large">800<br>extra bold</div>
                    <div class="title-large">700<br>bold</div>
                    <div class="title-large">600<br>semi bold</div>
                    <div class="title-large">500<br>medium</div>
                    <div class="title-large">400<br>regular</div>
                    <div class="title-large">300<br>light</div>
                    <div class="title-large">200<br>extra light</div>
                    <div class="title-large">100<br>thin</div>
                </div>
                <div class="typeface-weights">
                    <h3>Plain</h3>
                    <div class="body-large">900<br>black</div>
                    <div class="body-large">800<br>extra bold</div>
                    <div class="body-large">700<br>bold</div>
                    <div class="body-large">600<br>semi bold</div>
                    <div class="body-large">500<br>medium</div>
                    <div class="body-large">400<br>regular</div>
                    <div class="body-large">300<br>light</div>
                    <div class="body-large">200<br>extra light</div>
                    <div class="body-large">100<br>thin</div>
                </div>
                <div class="typeface-weights">
                    <h3>Mono</h3>
                    <div class="code-typeface">900<br>black</div>
                    <div class="code-typeface">800<br>extra bold</div>
                    <div class="code-typeface">700<br>bold</div>
                    <div class="code-typeface">600<br>semi bold</div>
                    <div class="code-typeface">500<br>medium</div>
                    <div class="code-typeface">400<br>regular</div>
                    <div class="code-typeface">300<br>light</div>
                    <div class="code-typeface">200<br>extra light</div>
                    <div class="code-typeface">100<br>thin</div>
                </div>
            </section>
            <h1>Typescale</h1>
            <section class="typescale-container">
                <div class="display-large">Display large (h1)</div>
                <div class="display-medium">Display medium (h2)</div>
                <div class="display-small">Display small (h3)</div>

                <div class="headline-large">Headline large (h4)</div>
                <div class="headline-medium">Headline medium (h5)</div>
                <div class="headline-small">Headline small (h6)</div>

                <div class="title-large">Title large</div>
                <div class="title-medium">Title medium</div>
                <div class="title-small">Title small</div>

                <div class="body-large">Body large</div>
                <div class="body-medium">Body medium</div>
                <div class="body-small">Body small</div>

                <div class="label-large">Label large</div>
                <div class="label-medium">Label medium</div>
                <div class="label-small">Label small</div>
            </section>
        </section>
    </article>
{{ end }}