{{- define "main" }}
    <article class="layout panes basic-singlepane" id="page-typography">
        <section class="layout pane">
            <h1>Typeface</h1>
            <section class="typeface-weights-container">
                <div class="typeface-weights">
                    <h3>Brand</h3>
                    <div class="title-large">900<br>black</div>
                    <div class="title-large">800<br>extra bold</div>
                    <div class="title-large">700<br>bold</div>
                    <div class="title-large">600<br>semi bold</div>
                    <div class="title-large">500<br>medium</div>
                    <div class="title-large">400<br>regular</div>
                    <div class="title-large">300<br>light</div>
                    <div class="title-large">200<br>extra light</div>
                    <div class="title-large">100<br>thin</div>
                </div>
                <div class="typeface-weights">
                    <h3>Plain</h3>
                    <div class="body-large">900<br>black</div>
                    <div class="body-large">800<br>extra bold</div>
                    <div class="body-large">700<br>bold</div>
                    <div class="body-large">600<br>semi bold</div>
                    <div class="body-large">500<br>medium</div>
                    <div class="body-large">400<br>regular</div>
                    <div class="body-large">300<br>light</div>
                    <div class="body-large">200<br>extra light</div>
                    <div class="body-large">100<br>thin</div>
                </div>
                <div class="typeface-weights">
                    <h3>Mono</h3>
                    <div class="code-typeface">900<br>black</div>
                    <div class="code-typeface">800<br>extra bold</div>
                    <div class="code-typeface">700<br>bold</div>
                    <div class="code-typeface">600<br>semi bold</div>
                    <div class="code-typeface">500<br>medium</div>
                    <div class="code-typeface">400<br>regular</div>
                    <div class="code-typeface">300<br>light</div>
                    <div class="code-typeface">200<br>extra light</div>
                    <div class="code-typeface">100<br>thin</div>
                </div>
            </section>
            <h1>Typescale</h1>
            <section class="typescale-container">
                <div>
                    <div class="display-large">Display Large</div>
                    <div class="display-medium">Display Medium</div>
                    <div class="display-small">Display Small</div>
                </div>

                <div>
                    <div class="headline-large">Headline Large</div>
                    <div class="headline-medium">Headline Medium</div>
                    <div class="headline-small">Headline Small</div>
                </div>

                <div>
                    <div class="title-large">Title Large</div>
                    <div class="title-medium">Title Medium</div>
                    <div class="title-small">Title Small</div>
                </div>

                <div>
                    <div class="body-large">Body Large</div>
                    <div class="body-medium">Body Medium</div>
                    <div class="body-small">Body Small</div>
                </div>

                <div>
                    <div class="label-large">Label Large</div>
                    <div class="label-medium">Label Medium</div>
                    <div class="label-small">Label Small</div>
                </div>

            </section>
        </section>
    </article>
{{ end }}