.component{
  &.button,
  &.card,
  &.carousel-item,
  &.checkbox,
  &.chip,
  &.picker.date.docked,
  &.list-item,
  &.menu-item,
  &.radio,
  &.slider,
  &.switch {
    &.disabled,
    &:disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: var(--state-disabled-opacity);
    }
  }
}
