header {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;

  position: sticky;
  top: 0;
  z-index: 999999;
}

.top-app-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .start,
  .end {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--size-2);
  }

  .end {
    margin-left: auto;
  }
}

#site-headline {
  position: relative;
  color: var(--color-on-surface);
  display: none;
  flex-flow: row nowrap;
}

#site-icon * {
  box-shadow: unset;
}

#theme-toggle,
#random-button {
  cursor: pointer;
}

.tabs {
  scrollbar-color: var(--color-secondary) transparent;
  scrollbar-width: thin;
  overflow: auto;
  overflow-y: hidden;
}