#list-page * {
}

#list-page .card-meta {
    display: inline-flex;
    display: inline flex;
    flex-flow: row nowrap;
    color: var(--color-on-surface-variant);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
    padding: unset;
    margin: unset;
}