footer {
  position: relative;

  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  padding: 20dvh 8dvw 4dvh 8dvw;
  gap: 8dvh;
}

.footer-links {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;

  & .footer-links-list {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    padding: var(--spacing-panes);
  }

  & a {
    display: flex;
    align-items: center;
    text-decoration: none;
    min-height: 42px;
    padding-inline-start: var(--size-2);
    width: 100%;

    &:hover {
      background-color: var(--color-surface-container-highest);
    }
  }

  & span {
    margin-block: var(--spacing-panes);
  }
}

#connect-links {
  display: flex; 
  flex-flow: column nowrap;
  gap: var(--size-2);

  & .button {
    justify-content: flex-start;
  }
}

.copyright {
  flex: 1 1 0;
  display: flex;
  flex-flow: row nowrap;

  align-items: stretch;
  justify-content: center;

  & #copyright-button {
    flex: 1 1 0;
    --bg-color: var(--color-surface-container);
    --icon-color: var(--color-on-surface-variant);
    --text-color: var(--color-on-surface-variant);
  }
}
