a {
  display: inline;
  vertical-align: text-bottom;
  text-decoration: none;

  &:not(.component) {
    color: var(--color-primary);
  
    &[rel*="external"] {
      color: var(--color-tertiary);
    }
    
    &:hover {
      color: var(--color-add30);

      &[rel*="external"] {
        color: var(--color-sub30);
      }
    }
  }
  
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  & .anchor {
    display: none;
  }

  &:hover .anchor {
    display: inline;
    vertical-align: text-bottom;
    color: var(--color-on-surface-variant);
    margin-inline-start: var(--size-2);
    user-select: none;
  }
}