a:not(.component) {
  text-decoration: none;
  color: var(--color-primary);
  border-radius: unset;

  &:hover {
    text-decoration: unset;
    color: var(--color-add30);

    &[rel*="external"] {
      text-decoration: unset;
      color: var(--color-sub30);
    }
  }
 
  &[rel*="external"] {
    display: inline-flex;
    display: inline flex;
    text-decoration: none;
    align-items: center;
    color: var(--color-tertiary);
  }
}

a.component {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:hover .anchor {
    display: inline-flex;
    display: inline flex;
    color: var(--color-on-surface-variant);
    margin-inline-start: var(--size-2);
    user-select: none;
  }
}