i.icon,
.icon {
  font-family: var(--font-icon);
  font-weight: normal;
  font-style: normal;
  font-size: var(--size-6);
  letter-spacing: normal;
  text-transform: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  word-wrap: normal;

  direction: ltr;

  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  user-select: none;

  vertical-align: middle;
  text-align: center;

  overflow: hidden;

  inline-size: var(--size-6);
  min-inline-size: var(--size-6);
  block-size: var(--size-6);
  min-block-size: var(--size-6);
}

.github-icon,
.site-icon {
  min-width: var(--size-6);
  min-height: var(--size-6);
  max-width: var(--size-6);
  max-height: var(--size-6);
  padding: 2px;
}

.site-icon-w {
  fill: var(--color-primary);
}

.site-icon-j-left {
  fill: var(--color-tertiary);
}

.site-icon-j-right {
  fill: var(--color-secondary);
}

#home-page-icon {
  min-width: var(--size-12);
  min-height: var(--size-12);
  max-width: var(--size-12);
  max-height: var(--size-12);
  padding: var(--size-2);
}

.share-icon {
  min-width: var(--size-12);
  min-height: var(--size-12);
  max-width: var(--size-12);
  max-height: var(--size-12);
  padding: var(--size-3);
  fill: var(--color-secondary);
}