a {
  text-decoration: none;

  &:not(.component) {
    color: var(--color-sub60);
  
    &[rel*="external"] {
      color: var(--color-add60);
    }
    
    &:hover {
      color: var(--color-on-sub60-container);

      &[rel*="external"] {
        color: var(--color-on-add60-container);
      }
    }
  }
  
  &:hover {
    text-decoration: none;
  }
}
