#post-content {
  & p,
  & mark.highlight-text,
  & .highlight-text,
  & pre,
  & ul,
  & ol,
  & li,
  & blockquote {
    max-width: var(--input-char-width);
  }

  & p,
  & mark.highlight-text,
  & .highlight-text {
    margin-block-end: 2em;
  }

  & h1[id*=""],
  & h2[id*=""],
  & h3[id*=""],
  & h4[id*=""],
  & h5[id*=""],
  & h6[id*=""] {
    margin-block-start: 1em;
    margin-block-end: 0.5em;
  }

  & ul,
  & ol {
    list-style-type: none;
  }

  & li {
    margin-inline-start: 1em;
    margin-block-end: 0.5em;
  }  

  & p:has(img, svg, video) {
    max-width: 100%;

    & img,
    & svg,
    & video {
      max-inline-size: 100%;
      max-block-size: fit-content;
      align-items: center;
      margin: var(--size-3) auto;
    }
  }

  & p:has(img, svg, video):first-child {
    max-width: 100%;
    border-radius: inherit;
    margin: var(--size-5) auto var(--size-8) auto;
    
    & img,
    & svg,
    & video {
      max-inline-size: 100%;
      max-block-size: fit-content;
      align-items: center;
    }
  } 
}
