.layout {
  flex: var(--flex);
  display: var(--display);
  flex-flow: var(--flex-flow);
  align-items: var(--align-items);
  align-content: var(--align-content);
  justify-content: var(--justify-content);
  width: var(--width);
  height: var(--height);
  min-height: var(--min-height);
  padding: var(--padding);
  margin: var(--margin);
  gap: var(--gap);

  border-radius: var(--shape);
  border: var(--border);

  background-color: var(--bg);
}

.layout {
  --flex: inherit;
  --display: inherit;
  --flex-flow: inherit;
  --align-items: inherit;
  --align-content: inherit;
  --justify-content: inherit;
  --width: inherit;
  --height: inherit;
  --min-height: inherit;
  --padding: inherit;
  --margin: inherit;
  --gap: inherit;

  --shape: inherit;
  --border: inherit;

  --bg: inherit;
}

/* Transitions */
:root,
body,
header,
main,
footer,
.layout,
#top-link {
  transition: var(--motion-duration-medium2) var(--motion-easing-emphasized);
  transition-property: font-size, line-height, margin, height, min-height,
    max-height, border-radius, min-width, max-width, width, padding, transform,
    visibility, opacity;
}