.layout.panes.basic-fixedflex {
  --flex-flow: row nowrap;

  .layout.pane {
    --flex: 1 1 0;
    
    &.fixed-pane {
      --flex: 0 0 var(--fixed-pane-width);
      --width: var(--fixed-pane-width);
    }
  }

}

.layout.panes.basic-fixedflex#single {
  --flex-flow: column-reverse nowrap;

  .layout.pane,
  .layout.pane.fixed-pane {
    --flex: 1 1 auto;
    --width: 100%;
  }
}

/* Large */
@media (min-width: 1200px) {
  .layout.panes.basic-fixedflex,
  .layout.panes.basic-fixedflex#single {
    --flex-flow: row nowrap;

    .layout.pane {
      --flex: 1 1 0;
      
      &.fixed-pane {
        --flex: 0 0 var(--fixed-pane-width);
        --width: var(--fixed-pane-width);
      }
    }
  }
}