.layout.panes.canonical-feed {
  .layout.pane {
    --gap: var(--size-2);
    --display: flex;
    --flex-flow: row wrap;

    .card {
      flex: 1 1 100%; 
    }
  }
}

/* Medium */
@media screen and (min-width: 600px) {
  .layout.panes.canonical-feed {
    .layout.pane {
      .card {
        flex: 1 1 calc(100% / 2 - var(--spacing-panes)); 

        img {
          max-height: 50%;
        }
      }
    }
  }
}

/* Expanded */
@media screen and (min-width: 840px) {
  .layout.panes.canonical-feed {
    .layout.pane {
      .card {
        flex: 1 1 calc(100% / 3 - var(--spacing-panes));
        
        img {
          max-height: 33%;
        }
      }
    }
  }
}
