.layout.panes.canonical-supporting-pane {
  --flex-flow: column nowrap;

  }

.layout.pane {
  display: flex;
}

/* Expanded */
@media (min-width: 840px) {
  .layout.panes.canonical-supporting-pane {
    --flex-flow: row nowrap;

    .layout.pane {
      &.focus-pane {
        --flex: 2 1 0;
      }
  
      &.supporting-pane {
        --flex: 1 2 0;
      }
    }
  }
}