blockquote {
  position: relative;
  display: block;
  
  


  margin-block: var(--size-3);
  padding: var(--spacing-panes);

  outline: 1px solid var(--color-outline-variant);
  border-radius: var(--shape-corner-m);
  box-shadow: var(--elevation1);
  
  min-height: 96px;

  background-color: var(--color-surface-container-low,);
  
  color: var(--text-color,);
  text-wrap: balance;
  overflow: hidden;
  word-wrap: break-word;

  &[class*="-container"] {
    outline: unset;
    padding: 32px 64px 32px 96px;
    background-color: var(--bg-color,);
  }
  
  & a {
    display: inline;
    word-break: break-word;
  }

  & i {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    width: 96px;
    height: 100%;
    font-size: 48px;
    color: var(--icon-color,);
  }

  &.centered {
    box-shadow: unset;
    padding: unset;
    background-color: unset;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }  
}
