/* Transitions */
:root,
body,
header,
main,
footer,
.layout,
#top-link {
  transition: var(--motion-duration-long2) var(--motion-easing-emphasized);
  transition-property:  
    font-size, font-weight, line-height, margin, border-radius, 
    height, min-height, max-height, 
    width, min-width, max-width, 
    transform, visibility, opacity, display,
    padding;
}

/* Reduced motion */
@media (prefers-reduced-motion) {
  :root {
      animation: none;
  }
}
