a {
  text-decoration: none;

  &:not(.component) {
    color: var(--color-sub30);
  
    &[rel*="external"] {
      color: var(--color-add30);
    }
    
    &:hover {
      color: var(--color-on-sub30-container);

      &[rel*="external"] {
        color: var(--color-on-add30-container);
      }
    }
  }
  
  &:hover {
    text-decoration: none;
  }
}
