.list-item {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-align-items: center;
  --container-justify-content: flex-start;
  --container-padding: var(--size-2) var(--size-4);
  --container-width: 100%;


  --icon-color: var(--color-on-surface);
  --text-color: var(--color-on-surface);
  --bg-color: var(--color-surface);
  
  &[one] {
    --container-height: 56px;
  }
  
  &[two] {
    --container-flex-flow: column nowrap;
    --container-align-items: flex-start;
    --container-justify-content: center;
    --container-height: 72px;
  }
  
  &[three] {
    --container-flex-flow: column nowrap;
    --container-align-items: flex-start;
    --container-justify-content: center;
    --container-padding: var(--size-3) var(--size-4);
    --container-height: 88px;
  }
}