.list-item {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-align-items: center;
  --container-justify-content: flex-start;
  --container-padding: var(--size-2) var(--size-4);
  --container-width: 100%;


  --icon-color: var(--color-on-surface);
  --text-color: var(--color-on-surface);
  --bg-color: var(--color-surface);
  
  &[one] {
    --container-height: 56px;
  }
  
  &[two] {
    --container-height: 72px;
  }
  
  &[three] {
    --container-padding: var(--size-3) var(--size-4);
    --container-height: 88px;
  }

  &[with-icon] {
    & i {
      font-size: var(--size-10);
      margin-inline: var(--size-4);
      margin-block: var(--size-2);
      color: var(--icon-color);
      overflow: visible;
    }
  }

  &[with-avatar] {
    & .avatar {
      font-size: var(--size-5);
      height: var(--size-10);
      width: var(--size-10);
      background-color: var(--color-primary-container);
      color: var(--color-on-primary-container);
      border-radius: var(--shape-corner-xl);
      margin-inline-end: var(--size-4);
    }
  }

  
  & .list-content {
    display: flex;
    flex-flow: column nowrap;
    
    & .description {
      color: var(--color-on-surface-variant);
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    & .page-count {
      color: var(--color-on-surface-variant);
    }
  }
}