.list-item {
  --container-display: flex;
  --container-flex-flow: row wrap;
  --container-align-items: center;
  --container-justify-content: flex-start;
  
  --container-padding: var(--size-2) var(--size-4);

  --icon-color: var(--color-on-surface);
  --text-color: var(--color-on-surface);
  --bg-color: var(--color-surface);
  
  &[one] {
    --container-height: 56px;
  }
  
  &[two] {
    --container-height: 72px;
  }
  
  &[three] {
    --container-height: 88px;
    --container-padding: var(--size-3) var(--size-4);
  }
}