.navigation.rail {  
  --set-flex-flow: column nowrap;
  --set-gap: var(--size-10);
  --set-width: var(--size-20);
  --set-shape: var(--shape-corner-l);
  --set-padding: var(--size-11) 0 var(--size-14) 0;
  --set-color: var(--color-surface);
  min-height: 900px;

  &.middle {
    --container-gap: unset;

    & .destinations {
      margin-block: auto;
    }
  }

  &.bottom {
    --container-gap: unset;

    & .destinations {
      margin-top: auto;
    }
  }

  & .menu-and-fab,
  & .destinations {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
    gap: var(--size-1);
  }

  & .headline,
  & .section-header {
    color: var(--color-on-surface-variant);
    font-size: var(--typescale-title-small-size);
    line-height: var(--typescale-title-small-line-height);
    font-weight: var(--typescale-title-small-weight);
    font-family: var(--typescale-title-small-font);
  }

  & .headline {
    display: flex;
    height: var(--size-14);
    padding: var(--size-2) var(--size-2) var(--size-2) var(--size-4);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
  }

  & .section-header {
    padding: 18px var(--size-4);
  }

  & .item {
    flex: 1 0 0;
  
    --container-display: flex;
    --container-flex-flow: column nowrap;
    --container-justify-content: center;
    --container-align-items: center;
    --container-gap: var(--size-1);
    --container-height: 100%;
    --container-width: 100%;
    --container-padding: 22px 0 26px 0;
  
    --container-outline: initial;
    --container-elevation: initial;
    --container-shape: initial;
    
    --container-color: initial;
    
    --text-color: initial;
    --icon-color: var(--color-on-surface-variant);
  
    --container-outline-hover: initial;
    --container-elevation-hover: initial;
  
    --container-outline-focus: initial;
    --container-elevation-focus: initial;
  
    --container-outline-press: initial;
    --container-elevation-press: initial;
  
    &:has(.label) {
      --container-padding: var(--size-3) 0 var(--size-4) 0;
    }
  
    & .icon-container {
      display: flex;
      flex-flow: column nowrap;
      border-radius: var(--shape-corner-l);
      width: var(--size-16);
      height: var(--size-8);
      padding: var(--size-1) var(--size-5);
      justify-content: center;
      align-items: center;
    }
  
    & .label {
      color: var(--color-on-surface-variant);
      font-size: var(--typescale-label-medium-size);
      line-height: var(--typescale-label-medium-line-height);
      font-weight: var(--typescale-label-medium-weight);
      font-family: var(--typescale-label-medium-font);  
    }
  
    &.active {
      & .icon-container {
        color: var(--color-on-secondary-container);
        background-color: var(--color-secondary-container);
      }
  
      & .label {
        color: var(--color-on-surface);
        font-weight: var(--typeface-weight-semi-bold);
      }
    }
  }
}