{{ with .ProjectButtons }}
  <div 
    class="home-buttons" 
    id="projects">
    <h3>Projects</h3>
    {{ range . }}
      <a  
        class="component button fab secondary-container extended"
        id="{{ .name | urlize }}"
        href="{{ trim .url " " }}" 
        rel="noopener" 
        title="{{ .name }}">
        <span class="headline-small">{{ .name }}</span>
      </a>
    {{ end }}
  </div>
{{ end }}

{{ with .ResourceButtons }}
  <div 
    class="home-buttons" 
    id="resources">
    <h3>Resources</h3>
    {{ range . }}
        <a  
          class="component button fab tertiary-container extended"
          id="{{ .name | urlize }}"
          href="{{ trim .url " " }}" 
          rel="noopener" 
          title="{{ .name }}">
          <span class="headline-small">{{ .name }}</span>
        </a>
    {{ end }}
  </div>
{{ end }}
