:root {
  /* Scales */
  --scale-min-2:          calc(16 / 15);
  --scale-maj-2:          calc(9 / 8);
  --scale-min-3:          calc(6 / 5);
  --scale-maj-3:          calc(5 / 4);
  --scale-perfect-fourth: calc(4 / 3);
  --scale-tritone:        calc(45 / 32);
  --scale-perfect-fifth:  calc(3 / 2);
  --scale-min-6:          calc(8 / 5);
  --scale-maj-6:          calc(5 / 3);
  --scale-min-7:          calc(9 / 5);
  --scale-maj-7:          calc(15 / 8);
  --scale-fibonacci:      1.618;

  /* Typescale factors */
  --scale-back-size:          var(--scale-min-2);
  --scale-up-type:            var(--scale-perfect-fifth);
  --scale-back-type:          var(--scale-min-2);
  --scale-line-height-small:  var(--scale-maj-2);
  --scale-line-height-large:  var(--scale-perfect-fourth);

  /* Icons */
  --typeface-icon-outlined:   'Material Symbols Outlined';
  --typeface-icon-rounded:    'Material Symbols Rounded';
  --typeface-icon-sharp:      'Material Symbols Sharp';

  --font-icon: var(--typeface-icon-rounded);

  /* Window size classes */
  --window-compact-min:     0px;
  --window-compact-max:     599px;
  
  --window-medium-min:      600px;
  --window-medium-max:      839px;
  
  --window-expanded-min:    840px;
  --window-expanded-max:    1199px;
  
  --window-large-min:       1200px;
  --window-large-max:       1599px;
  
  --window-extra-large-min: 1600px;

  /* Spacing */
  --spacing-xl: 20px;
  --spacing-l:  16px;
  --spacing-m:  12px;
  --spacing-s:  08px;
  --spacing-xs: 04px;
  
  /* Core */
  --spacing-panes:    16px;
  --fixed-pane-width: 360px;
  --root-font-size:   14px;
}

/* Medium */
@media (min-width: 600px) {
  :root {
    --spacing-panes:  24px;
    --root-font-size: 15px;
  }
}

/* Expanded */
@media (min-width: 840px) {
  :root {
    --root-font-size: 16px;
  }
}

/* Large */
@media (min-width: 1200px) {
  :root {
    --fixed-pane-width: 412px;
  }
}