:root {
  /* Typescale factors (L → B → T → H → D) */
  --scale-up-type:            var(--scale-maj-6);
  --scale-back-type:          var(--scale-min-2);

  /* Typescale factors (S → M → L) */
  --scale-up-size:            var(--scale-maj-2);
  --scale-back-size:          var(--scale-min-2);

  /* Line heights */
  --scale-line-height-display:    var(--scale-maj-2);
  --scale-line-height-headline:   var(--scale-min-3);
  --scale-line-height-title:      var(--scale-maj-3);
  --scale-line-height-body:       var(--scale-perfect-fifth);
  --scale-line-height-label:      var(--scale-maj-6);

  /* Icon font family */
  --font-icon: var(--typeface-icon-sharp);
  
  /* Font size */
  --input-font-size:  14px;
  --root-font-size:   var(--input-font-size);
}

/* Medium: 600px-839px */
@media screen and (min-width: 600px) {
  :root {
    --root-font-size: var(--input-font-size) * var(--scale-min-2);
  }
}

/* Expanded: 840px-1199px */
@media screen and (min-width: 840px) {
  :root {
    --root-font-size: calc(var(--input-font-size) * var(--scale-maj-2));
  }
}
