:root {
  /* Typescale factors (L → B → T → H → D) */
  --scale-up-type:            var(--scale-maj-6);
  --scale-back-type:          var(--scale-min-2);

  /* Typescale factors (S → M → L) */
  --scale-up-size:            var(--scale-maj-2);
  --scale-back-size:          var(--scale-min-2);

  /* Line heights */
  --scale-line-height-display:    var(--scale-maj-2);
  --scale-line-height-headline:   var(--scale-min-3);
  --scale-line-height-title:      var(--scale-maj-3);
  --scale-line-height-body:       var(--scale-perfect-fifth);
  --scale-line-height-label:      var(--scale-maj-6);

  /* Icon font family */
  --font-icon: var(--typeface-icon-sharp);
  
  /* Font size */
  --input-font-size:  14px;

  /* Shape corner */
  --input-shape-corner: 2px;

  /* Color primary */
  --input-color-hue: 305deg;
  --input-color-chroma: 55;

  /* Color harmonization */
  --harmonization: calc(360deg / var(--scale-fibonacci) / 17);
}
