.card {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-align-items: flex-start;
  --container-justify-content: center;
  
  --container-elevation: var(--elevation0);
  --container-elevation-hover: var(--elevation1);
  --container-elevation-focus: var(--elevation0);
  --container-elevation-press: var(--elevation0);

  --container-shape: var(--shape-corner-m);

  --bg-color: inherit;
  --icon-color: var(--color-on-surface);
    
  & * {
    color: var(--icon-color,);
  }

  &[elevated] {
    --bg-color: var(--color-surface-container-low);
    --icon-color: var(--color-on-surface);

    --container-elevation: var(--elevation1);
    --container-elevation-hover: var(--elevation2);
    --container-elevation-focus: var(--elevation1);
    --container-elevation-press: var(--elevation1);
  }

  &[filled] {
    --bg-color: var(--color-surface-container-highest);
    --icon-color: var(--color-on-surface);
  }
  
  &[outlined] {
    --bg-color: var(--color-surface);
    --icon-color: var(--color-on-surface);

    --container-outline: 1px solid var(--color-outline-variant);
    --container-outline-hover: 1px solid var(--color-outline-variant);
    --container-outline-focus: 1px solid var(--color-on-surface);
    --container-outline-press: 1px solid var(--color-outline-variant);
  }
}

.card {
  & img {
    flex: 1 1 0;
    max-width: 64px;
  
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: var(--size-5);
  }
  
  & .card-content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    max-height: fit-content;
  }
  
  & .card-title {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    padding: var(--size-3);
  }
  
  & .card-inner-content{
    flex: 1 1 auto;
    display: flex;
    padding: var(--size-3);
    width: 100%;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-end;
    gap: var(--size-4);
  }
}

/* Medium: 600px-839px */
@media screen and (min-width: 600px) {
  :not(.canonical-feed) {
    & .card {
      --container-flex-flow: column nowrap;
      --container-align-items: stretch;
      
      & img {
        flex: 1 1 0;
        max-width: 100%;
        margin: unset;
        aspect-ratio: 17 / 8;
      }
  
      & .card-content {
        height: unset;
      }
    }
  }
}
