.card {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-align-items: flex-start;
  --container-justify-content: center;
  
  --container-elevation: var(--elevation0);
  --container-elevation-hover: var(--elevation1);
  --container-elevation-focus: var(--elevation0);
  --container-elevation-press: var(--elevation0);

  --container-shape: var(--shape-corner-xl);

  --bg-color: inherit;
  --icon-color: var(--color-on-surface);
    
  & * {
    color: var(--icon-color,);
  }

  &[elevated] {
    --bg-color: var(--color-surface-container-low);
    --icon-color: var(--color-on-surface);

    --container-elevation: var(--elevation1);
    --container-elevation-hover: var(--elevation2);
    --container-elevation-focus: var(--elevation1);
    --container-elevation-press: var(--elevation1);
  }

  &[filled] {
    --bg-color: var(--color-surface-container-highest);
    --icon-color: var(--color-on-surface);
  }
  
  &[outlined] {
    --bg-color: var(--color-surface);
    --icon-color: var(--color-on-surface);

    --container-outline: 1px solid var(--color-outline-variant);
    --container-outline-hover: 1px solid var(--color-outline-variant);
    --container-outline-focus: 1px solid var(--color-on-surface);
    --container-outline-press: 1px solid var(--color-outline-variant);
  }
}

.card {
  & img {
    aspect-ratio: 1 / 1;
    flex: 1 1 auto;
    object-fit: cover;
    overflow: hidden;
    margin: var(--size-5) var(--size-1) var(--size-5) var(--size-5);
    border-radius: inherit;
    max-width: 64px;
  }
  
  & .card-content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    margin: var(--size-5) var(--size-4);

    & .card-meta,
    & .card-title, 
    & .card-description { 
      flex: 1 1 0;
      display: flex;
      flex-flow: row nowrap;
    }

    & .card-meta {
      color: var(--color-on-surface-variant);
      
      & * { 
        font-family: var(--typescale-label-large);
        font-weight: var(--typescale-label-large-weight);
        font-size: var(--typescale-label-large-size);
        line-height: var(--typescale-label-large-line-height);
      }
    }
  
    & .card-title {
      padding-block: 0.5em 0.25em;

      font-family: var(--typescale-title-large);
      font-weight: var(--typescale-title-large-weight);
      font-size: var(--typescale-title-large-size);
      line-height: 1.1; /* shorter for cards */
    }
    
    & .card-description {
      font-family: var(--typescale-body-large);
      font-weight: var(--typescale-body-large-weight);
      font-size: var(--typescale-body-large-size);
      line-height: var(--typescale-body-large-line-height);
    }
  }
}

/* Medium: 600px-839px */
@media screen and (min-width: 600px) {
  & .card {
    --container-flex-flow: column nowrap;
    --container-align-items: stretch;
    
    & img {
      width: 100%;
      max-width: unset;
      margin: unset;
      aspect-ratio: unset;
    }
  }
}