.card {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-align-items: flex-start;
  --container-justify-content: center;
  
  --container-elevation: var(--elevation0);
  --container-elevation-hover: var(--elevation1);
  --container-elevation-focus: var(--elevation0);
  --container-elevation-press: var(--elevation0);

  --container-shape: var(--shape-corner-m);

  --bg-color: inherit;
  --icon-color: var(--color-on-surface);
    
  & * {
    color: var(--icon-color,);
  }

  &[elevated] {
    --bg-color: var(--color-surface-container-low);
    --icon-color: var(--color-on-surface);

    --container-elevation: var(--elevation1);
    --container-elevation-hover: var(--elevation2);
    --container-elevation-focus: var(--elevation1);
    --container-elevation-press: var(--elevation1);
  }

  &[filled] {
    --bg-color: var(--color-surface-container-highest);
    --icon-color: var(--color-on-surface);
  }
  
  &[outlined] {
    --bg-color: var(--color-surface);
    --icon-color: var(--color-on-surface);

    --container-outline: 1px solid var(--color-outline-variant);
    --container-outline-hover: 1px solid var(--color-outline-variant);
    --container-outline-focus: 1px solid var(--color-on-surface);
    --container-outline-press: 1px solid var(--color-outline-variant);
  }
}

.card {
  & img {
    flex: 1 1 auto;
    max-width: 64px;
  
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: var(--size-5);
  }
  
  & .card-content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: space-between;
    padding: var(--size-5);
    gap: var(--size-2);

    & .card-meta,
    & .card-title, 
    & .card-description { 
      flex: 1 1 0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
    }

    & .card-meta {
      color: var(--color-on-surface-variant);
      
      font-family: var(--typescale-label-large);
      font-weight: var(--typescale-label-large-weight);
      font-size: var(--typescale-label-large-size);
      line-height: var(--typescale-label-large-line-height);
    }
  
    & .card-title {
      margin-top: 1em;
      margin-bottom: 0.5em;

      font-family: var(--typescale-headline-small);
      font-weight: var(--typescale-headline-small-weight);
      font-size: var(--typescale-headline-small-size);
      line-height: 1.1; /* shorter for cards */
    }
    
    & .card-description{
      font-family: var(--typescale-body-large);
      font-weight: var(--typescale-body-large-weight);
      font-size: var(--typescale-body-large-size);
      line-height: var(--typescale-body-large-line-height);
    }
  }
}

/* Medium: 600px-839px */
@media screen and (min-width: 600px) {
  :not(.canonical-feed) {
    & .card {
      --container-flex-flow: column nowrap;
      --container-align-items: stretch;
      
      & img {
        max-width: 100%;
        margin: unset;
        aspect-ratio: 17 / 8;
      }
  
      & .card-content {
        height: unset;
      }
    }
  }
}
