.dialog {
    --container-display: flex;
    --container-flex-flow: column nowrap;
    --container-justify-content: flex-start;
    --container-align-items: flex-start;
    --container-gap: initial;
    --container-height: initial;
    --container-width: initial;
    --container-padding: var(--size-6);
  
    --container-outline: initial;
    --container-elevation: initial;
    --container-shape: var(--shape-corner-xl);
  
    --bg-color: var(--color-surface-container-high);
    
    --text-color: initial;
    --icon-color: initial;
}