<div class="component snackbar"
  {{ if .two }}
    two
  {{ end }}

  {{ if or .action .longerAction }} 
    with-action
  {{ end }}

  {{ if .longerAction }} 
    with-longer-action
  {{ end }}
   
  {{ if .closeButton }} 
    with-close-button
  {{ end }}>
  
  <div class="supporting-text">
    {{ .text | safeHTML }}
  </div>

  {{ if or .action .closeButton }}
    <div class="actions">
      {{ if .action }}
        <button class="component button common-button">
          {{ .action }}
        </button>
      {{ end }}

      {{ if .closeButton }}
      <button class="component button icon-button">
        <i class="close-icon">
          close
        </i>
      </button>
      {{ end }}
    </div>
  {{ end }}
</div>