a {
  text-decoration: none;

  &:not(.component) {
    color: var(--color-primary);
  
    &[rel*="external"] {
      color: var(--color-tertiary);
    }
    
    &:hover {
      color: var(--color-add120);

      &[rel*="external"] {
        color: var(--color-sub120);
      }
    }
  }
  
  &:hover {
    text-decoration: none;
  }
}
