a {
  text-decoration: none;

  &:not(.component) {
    color: var(--color-primary-fixed);
  
    &[rel*="external"] {
      color: var(--color-tertiary-fixed);
    }
    
    &:hover {
      color: var(--color-add30);

      &[rel*="external"] {
        color: var(--color-sub30);
      }
    }
  }
  
  &:hover {
    text-decoration: none;
  }
}
