#searchbox {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-self: stretch;
  align-items: stretch;
  
  & #searchResults {
    max-width: unset;

    & li {
      max-width: unset;
      position: relative;
      list-style: none;
      background-color: var(--color-surface-container-low);
      border-radius: var(--shape-corner-xs);
      color: var(--color-on-surface);
      padding: var(--size-6);
      margin-block: var(--size-2);
      margin-inline: var(--size-8);

      &:active {
        background-color: var(--color-primary-container);
      }
    }

    & a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      outline: none;
    }

    & .focus,
    & li:hover {
      color: var(--color-on-tertiary-container);
      background-color: var(--color-tertiary-container);
    }
  }
}
