.dialog {
  --container-display: flex;
  --container-flex-flow: column nowrap;
  --container-justify-content: flex-start;
  --container-align-items: flex-start;
  --container-gap: initial;
  --container-height: initial;
  --container-width: initial;
  --container-padding: var(--size-6);

  --container-outline: initial;
  --container-elevation: var(--elevation3);
  --container-shape: var(--shape-corner-xl);

  --bg-color: var(--color-surface-container-high);

  --text-color: initial;
  --icon-color: initial;

  min-width: 280px;
  max-width: 560px;

  &[full] {
    --container-shape: 0;
    min-width: unset;
    max-width: unset;
    --container-padding: initial;

    & .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: var(--size-14);
      width: 100%;
      margin-top: var(--size-6);
      padding: var(--size-6) var(--size-4);

      & .headline {
        align-items: center;
        margin-bottom: unset;
        font-family: var(--typescale-title-large-font);
        font-size: var(--typescale-title-large-size);
        font-weight: var(--typescale-title-large-weight);
        line-height: var(--typescale-title-large-line-height);
      }

      & .common-button {
        margin-left: auto;
      }
    }

    & .supporting-text {
      color: var(--color-on-surface);
      padding: var(--size-6);
    }
  }

  & .headline {
    display: flex;
    flex-flow: row nowrap;
    color: var(--color-on-surface);
    font-family: var(--typescale-headline-small-font);
    font-size: var(--typescale-headline-small-size);
    font-weight: var(--typescale-headline-small-weight);
    line-height: var(--typescale-headline-small-line-height);

    margin-bottom: var(--size-4);
  }

  & .supporting-text {
    display: flex;
    flex-flow: column nowrap;
    color: var(--color-on-surface-variant);
    font-family: var(--typescale-body-medium-font);
    font-size: var(--typescale-body-medium-size);
    font-weight: var(--typescale-body-medium-weight);
    line-height: var(--typescale-body-medium-line-height);

    margin-bottom: var(--size-6);
  }

  & .list-container {
    align-items: flex-start;
    align-self: stretch;

    & .list-item {
      flex: 1 0 auto;
      background-color: unset;
      place-items: center;
      min-height: 56px;
    }

    &[scrollable] {
      overflow-y: auto;
      max-height: calc(56px * 4);

      & hr {
        min-height: 1px;
      }
    }
  }

  & .actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 100%;
    gap: var(--size-2);
  }

  &:has(> i) {
    & i,
    & .headline {
      width: 100%;
      justify-content: center;
    }

    & i {
      margin-bottom: var(--size-4);
    }
  }
}
