.menu {
    background-color: var(--color-surface-container);
    border-radius: var(--shape-corner-xs);
    box-shadow: var(--elevation2);
    color: var(--color-on-secondary-container);
    
    inset: auto 0 0 auto;
    border: none;
    padding: 0 var(--size-3);
    
    overflow-x: hidden;
    overflow-y: auto;
}
