input[type="range"] {
  width: min-content;
  height: var(--size-11); /* needed for Firefox*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: grab;
  overflow: hidden;
  border-radius: 50%;
}

input[type="range"] {
  &:active {
    cursor: grabbing;
  }

  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    height: var(--size-11);
    box-shadow: 0 0 0 var(--size-4) inset var(--color-primary);
    border-image: 
      linear-gradient(90deg, var(--color-primary) 50%, 
      var(--color-primary-container) 0) 0 1 /
      calc(50% - var(--size-4) / 2) 
      100vw/0 calc(100vw + var(--size-2));
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--shape-corner-xl);
  }
  
  &::-webkit-slider-thumb {
    aspect-ratio: 1;
  }
  
  &::-moz-range-thumb {
    width: var(--size-1);
    background: none;
  }
  
  
  /* track thickness */
  &::-webkit-slider-runnable-track,
  &::-moz-range-track {
    height: var(--size-4);
    background: var(--color-primary-container);
    border-radius: var(--shape-corner-xl);
    width: fit-content
  }
}
