.slider {
  position: relative;
  width: 100%;

  & .tooltip {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -75%;
    transform: translateX(-50%);

    width: fit-content;
    height: fit-content;
    padding: var(--size-1) var(--size-2);

    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
    border-radius: var(--shape-corner-xl);

    opacity: 0;
    transition: opacity 0.2s;
  }

  & input[type="range"] {
    height: var(--size-11);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    cursor: grab;
    overflow: hidden;
  
    &:active {
      cursor: grabbing;

      &::-webkit-slider-thumb,
      &::-moz-range-thumb {
        width: calc(var(--size-1) / 2);
      }
    }
  }
}

/* Handle */
::-webkit-slider-thumb {
  height: var(--size-11);
  box-shadow: 0 0 0 var(--size-4) inset var(--color-primary);
  border-image: linear-gradient(
    90deg, 
    var(--color-primary) 50%, 
    var(--color-primary-container) 0) 0 1 /
    calc(50% - var(--size-4) / 2) 100dvw/0 calc(100dvw + var(--size-2));
}

::-moz-range-thumb {
  height: var(--size-11);
  box-shadow: 0 0 0 var(--size-4) inset var(--color-primary);
  border-image: linear-gradient(
    90deg, 
    var(--color-primary) 50%, 
    var(--color-primary-container) 0) 0 1 /
    calc(50% - var(--size-4) / 2) 100dvw/0 calc(100dvw + var(--size-2));
  width: var(--size-1);
  background: transparent;
}

/* Track */
::-webkit-slider-runnable-track {
  height: var(--size-4);
  background-color: transparent;
  width: fit-content;
}

::-moz-range-track {
  height: var(--size-4);
  background-color: var(--color-primary-container);
  width: fit-content;
}

datalist {
  position: absolute;
  top: calc(50% - var(--size-1));
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-inline: var(--size-1);
  
  & option {
    display: inline-block;
    min-width: var(--size-1);
    min-height: var(--size-1);
    border-radius: 50%;

    &:first-child {
      background-color: var(--color-secondary-container);
    }
    
    &:last-child {
      background-color: var(--color-primary);
    }
  }
}
