{{ $re := $.File.BaseFileName }}
{{ $backlinks := slice }}
{{ range where .Site.RegularPages "Type" "pages" }}
   {{ if and (findRE $re .RawContent) (not (eq $re .File.BaseFileName)) }}
      {{ $backlinks = $backlinks | append . }}
   {{ end }}
{{ end }}

{{ if gt (len $backlinks) 0 }}
  <aside>
    <h2>Internal links</h2>
    <hr>
    <div class="backlinks">
        <ul style="padding-left: 2vw;">
          {{ range $backlinks }}
              <li><p><a href="{{ .RelPermalink }}">{{ .Title }}</a></p></li>
          {{ end }}
        </ul>
    </div>
  </aside>
  <br>
{{ end }}

{{ $related := .Site.RegularPages.Related . | complement $backlinks | first 3 -}}
{{ with $related -}}
    <aside class="related">
      <h2>See also</h2>
      <hr>
      <ul style="padding-left: 2vw;">
        {{ range . -}}
          <li><p><a href="{{ .RelPermalink }}">{{ .Title }}</a></p></li>
        {{ end -}}
      </ul>
      <br>
    </aside>
{{ end -}}
