{{ $re := $.File.BaseFileName }}
{{ $backlinks := slice }}
{{ range where .Site.RegularPages "Type" "pages" }}
   {{ if and (findRE $re .RawContent) (not (eq $re .File.BaseFileName)) }}
      {{ $backlinks = $backlinks | append . }}
   {{ end }}
{{ end }}

<hr>
{{ if gt (len $backlinks) 0 }}
  <aside>
    <h3>Pages That Link Here</h3>
    <div class="backlinks">
        <ul>
          {{ range $backlinks }}
              <p class="capitalize"><a style="color: var(--link);" href="{{ .RelPermalink }}">{{ .Title }}</a></p>
          {{ end }}
        </ul>
    </div>
  </aside>
  <br>
{{ end }}
<aside class="related">
  {{ $related := .Site.RegularPages.Related . | complement $backlinks | first 3 -}}
  {{ with $related -}}
    <h3>Pages That May Be Related</h3>
    <ul>
      {{ range . -}}
        <p class="capitalize"><a style="color: var(--link);" href="{{ .RelPermalink }}">{{ .Title }}</a></p>
      {{ end -}}
    </ul>
    <br>
  {{ end -}}
</aside>
<hr>