<details class="debug-config">
  <summary>Debug</summary>
  <details>
      <summary><h6>Site Debug Information</h6></summary>
      <pre><b>Title:</b> {{- debug.Dump site.Title -}}</pre>
      <pre><b>Language:</b> {{- debug.Dump site.Language -}}</pre>
      <pre><b>IsHome:</b> {{- debug.Dump .IsHome -}}</pre>
      <pre><b>IsPage:</b> {{- debug.Dump .IsPage -}}</pre>
      <pre><b>IsSection:</b> {{- debug.Dump .IsSection -}}</pre>
      <pre><b>IsNode:</b> {{- debug.Dump .IsNode -}}</pre>
  </details>

  <details>
    <summary><h6>Page Debug Information</h6></summary>
    <table>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
      <tr>
        <td><b>File:</b></td>
        <td><pre>{{- debug.Dump .Page.File }}</pre></td>
      </tr>
      <tr>
        <td><b>BundleType:</b></td>
        <td><pre>{{- debug.Dump .Page.BundleType }}</pre></td>
      </tr>
      <tr>
        <td><b>Permalink:</b></td>
        <td><pre>{{- debug.Dump .Page.Permalink }}</pre></td>
      </tr>
      <tr>
        <td><b>Fragments:</b></td>
        <td><pre>{{- debug.Dump .Page.Fragments }}</pre></td>
      </tr>
      <tr>
        <td><b>Date:</b></td>
        <td><pre>{{- debug.Dump .Page.Date }}</pre></td>
      </tr>
      <tr>
        <td><b>LastMod:</b></td>
        <td><pre>{{- debug.Dump .Page.Lastmod }}</pre></td>
      </tr>
      <tr>
        <td><b>Kind:</b></td>
        <td><pre>{{- debug.Dump .Page.Kind }}</pre></td>
      </tr>
      <tr>
        <td><b>Section:</b></td>
        <td><pre>{{- debug.Dump .Page.Section }}</pre></td>
      </tr>
      <tr>
        <td><b>Type:</b></td>
        <td><pre>{{- debug.Dump .Page.Type }}</pre></td>
      </tr>
      <tr>
        <td><b>Layout:</b></td>
        <td><pre>{{- debug.Dump .Page.Layout }}</pre></td>
      </tr>
      <tr>
        <td><b>Title:</b></td>
        <td><pre>{{- debug.Dump .Page.Title }}</pre></td>
      </tr>
      <tr>
        <td><b>Description:</b></td>
        <td><pre>{{- debug.Dump .Page.Description }}</pre></td>
      </tr>
    </table>
  </details>

  <details>
    <summary><h6> Content Debug Information</h6></summary>
    <table>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
      <tr>
        <td><b>WordCount:</b></td>
        <td>{{ debug.Dump .Page.WordCount }}</td>
      </tr>
      <tr>
        <td><b>FuzzyWordCount:</b></td>
        <td>{{ debug.Dump .Page.FuzzyWordCount }}</td>
      </tr>
      <tr>
        <td><b>Length:</b></td>
        <td>{{ debug.Dump .Page.Len }}</td>
      </tr>
    </table>
  </details>
</details>
