<div class="debug">
    <h6>Site Information</h6>
    <pre>Site: {{- $.Site -}}</pre>
    
    <h6>Page Information</h6>
    <pre>Permalink: {{- .Permalink -}}</pre>
    <pre>Params: {{- .Params -}}</pre>
    <pre>Scratch: {{- .Scratch -}}</pre>
    <pre>Store: {{- .Store -}}</pre>
    <pre>Summary: {{- .Summary -}}</pre>
    <pre>BundleType: {{- .BundleType -}}</pre>
    <pre>File: {{- .File -}}</pre>
    <pre>Fragments: {{- .Fragments -}}</pre>
    <pre>Keywords: {{- .Keywords -}}</pre>
    <pre>Section: {{- .Section -}}</pre>
    <pre>Type: {{- .Type -}}</pre>
    <pre>Kind: {{- .Kind -}}</pre>
    <pre>Slug: {{- .Slug -}}</pre>
    
    <h6>Content Information</h6>
    <pre>WordCount: {{- .WordCount -}}</pre>
    <pre>FuzzyWordCount: {{- .FuzzyWordCount -}}</pre>
    <pre>Length: {{- .Len -}}</pre>
</div>