<form 
    class="contact-form" 
    action="https://formspree.io/f/xjvnaory" 
    method="POST" 
    accept-charset="UTF-8">

    <label for="edit-name">
        {{ i18n "contact_name" }}
    </label>
    
    <div class="component text-field filled">
        <input 
            type="text" 
            id="edit-name" 
            name="name" 
            placeholder="{{ i18n "contact_name_placeholder" }}" 
            required>
    </div>

    <label for="edit-mail">
        {{ i18n "contact_mail" }}
    </label>
    
    <div class="component text-field filled">
        <input 
            type="email" 
            id="edit-mail" 
            name="email" 
            placeholder="{{ i18n "contact_mail_placeholder" }}" 
            required>
    </div>

    <label for="edit-subject">
        {{ i18n "contact_subject" }}
    </label>

    <div class="component text-field filled">
        <input 
            type="text" 
            id="edit-subject" 
            name="subject" 
            placeholder="{{ i18n "contact_subject_placeholder" }}" 
            required>
    </div>

    <label for="edit-message">
        {{ i18n "contact_message" }}
    </label>

    <textarea 
        class="component text-field filled"
        id="edit-message" 
        name="message" 
        rows="5" 
        placeholder="{{ i18n "contact_message_placeholder" }}" 
        required>
    </textarea>

    <button 
        class="component button common-button" filled
        type="submit" 
        name="submit">
        {{ i18n "contact_submit" }}
    </button>
    
</form>