{{/* Links */}}
<section class="footer-links">
    {{/* Quick links */}}
    <div class="footer-links-list">
        <span class="title-medium on-surface-variant">
            Quick links
        </span>
        {{ range site.Menus.footer }}
            <a  href="{{ .URL }}">
                {{ .Name }}
            </a>
        {{ end }}
    </div>
    
    {{/* Sections */}}
    <div class="footer-links-list">
        <span class="title-medium on-surface-variant">
            Sections
        </span>
        {{- partialCached "menu.html" (dict "menuID" "sections" "page" .) -}}     
    </div>
    
    {{/* Connect links */}}
    <div class="footer-links-list" id="connect-links">
        <span class="title-medium on-surface-variant">
            Connect
        </span>
        {{ range site.Menus.connect }}
            <a  class="component button fab
                {{ if eq .Name "Email" }}
                    {{ "sub90-container" }}
                {{ else if eq .Name "Figma" }}
                    {{ "sub120-container" }}
                {{ else if eq .Name "GitHub" }}
                    {{ "sub150-container" }}
                {{ else if eq .Name "Ko-fi" }}
                    {{ "sub180-container" }}
                {{ end }}" extended

                href="{{ .URL }}"
                target="_blank" 
                rel="external noopener noreferrer me">
                {{ .Pre }}
                {{ .Name }}
            </a>
        {{ end }}
    </div>
</section>

<div class="divider"></div>

{{/* Copyright */}}
<section class="copyright">
    <a  id="copyright-button"
        href="{{ "" | absLangURL }}">
        © {{ now.Year }} {{ site.Title }}
    </a>
</section>

{{/* Script for theme toggle */}}
{{ if (not site.Params.disableThemeToggle) }}
    <script defer>
        document.getElementById("theme-toggle").addEventListener("click", () => {
            if (document.body.className.includes("dark")) {
                document.body.classList.remove('dark');
                localStorage.setItem("pref-theme", 'light');
            } else {
                document.body.classList.add('dark');
                localStorage.setItem("pref-theme", 'dark');
            }
        })
    </script>
{{ end }}

{{/* Script for code copy button */}}
{{ if (and (eq .Kind "page") (ne .Layout "search") ) }}
    <script defer>
        document.querySelectorAll('pre > code').forEach((codeblock) => {
            const container = codeblock.parentNode.parentNode;
            const copybutton = document.createElement('button');
            copybutton.classList.add('copy-code');
            copybutton.innerText = '{{ i18n "code_copy" | default "copy" }}';
            function copyingDone() {
                copybutton.innerText = '{{ i18n "code_copied" | default "copied!" }}';
                setTimeout(() => {
                    copybutton.innerText = '{{ i18n "code_copy" | default "copy" }}';
                }, 2000);
            }
            copybutton.addEventListener('click', (cb) => {
                if ('clipboard' in navigator) {
                    navigator.clipboard.writeText(codeblock.textContent);
                    copyingDone();
                    return;
                }
                const range = document.createRange();
                range.selectNodeContents(codeblock);
                const selection = window.getSelection();
                selection.removeAllRanges();
                selection.addRange(range);
                try {
                    document.execCommand('copy');
                    copyingDone();
                } catch (e) { };
                selection.removeRange(range);
            });
            if (container.classList.contains("highlight")) {
                container.prepend(copybutton);
            } else if (container.parentNode.firstChild == container) {
                // td containing LineNos
            } else if (codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.nodeName == "TABLE") {
                // table containing LineNos and code
                codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.prepend(copybutton);
            } else {
                // code blocks not having highlight as parent class
                codeblock.parentNode.prepend(copybutton);
            }
        });
    </script>
{{ end }}
