{{/* Top App Bar */}}
<nav    class="component top-app-bar" center small 
        aria-label="Top App Bar">
        
    {{/* Site Headline */}}
    <section class="start">
        {{/* Site ID */}}
        {{- partialCached "top-app-bar/siteid-button.html" . -}}
    </section>
    
    {{/* Buttons */}}
    <section class="end">
        
        {{/* Language switch */}}
        {{- partialCached "top-app-bar/translation_list.html" . -}}

        {{/* Theme toggle */}}
        {{- partialCached "top-app-bar/theme-button.html" . -}}        
        
        {{/* Random page */}}
        {{ partial "top-app-bar/random-button.html" . }}

        {{/* Theme selector */}}
        {{- partialCached "top-app-bar/theme-controls.html" . -}} 
    </section>
</nav>

{{/* Tabs */}}
{{ partial "tab_menu.html" (dict "menuID" "main" "page" .) }}     

{{/*  || Scripts  */}}

{{/* Light theme script */}}
{{ if (eq site.Params.defaultTheme "light") }}
    <script async>
        if (localStorage.getItem("pref-theme") === "dark") {
            document.body.classList.add('dark');
        }
    </script>
{{/* Dark theme script */}}
{{ else if (eq site.Params.defaultTheme "dark") }}
    <script async>
        if (localStorage.getItem("pref-theme") === "light") {
            document.body.classList.remove('dark')
        }
    </script>
{{/* Auto theme script */}}
{{ else }}
    <script async>
        if (localStorage.getItem("pref-theme") === "dark") {
            document.body.classList.add('dark');
        } else if (localStorage.getItem("pref-theme") === "light") {
            document.body.classList.remove('dark')
        } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.body.classList.add('dark');
        }
    </script>
{{ end }}
