{{/* Layout: Page-header */}}

{{/* Post Header */}}
{{ if and (not .IsHome) (.Title) (not (eq .Title "404 Page not found")) }} 
    <section class="layout page-header">
        {{/* Breadcrumbs */}}
        <nav class="breadcrumbs" aria-label="Breadcrumbs">
            {{ range $index, $ancestor := .Ancestors.Reverse }} 
                <a href="{{ .Permalink }}">
                    {{ if .IsHome }}
                        Home
                    {{ else }}
                        {{ .LinkTitle }}
                    {{ end }} 
                </a>

                <span class="breadcrumb-delimiter">/</span>
            {{ end }}
        </nav>    

        {{/* Title */}}
        <h1 class="title">
            {{ .Title }}
        </h1> 

        {{/* Description */}}
        {{ if .Description }}
            <span class="description title-small">
                {{ .Description | markdownify }}
            </span>
        {{ end }}

        {{/* Metadata */}}
        {{ if (and (ne .Layout "list") (ne .Layout "section") (not .IsHome) (not (eq .Title "Sitemap")) (not (eq .Title "Search")) (not (eq .Title "404 Page not found"))) }}
            <div class="label-large">
                {{ partial "post-meta.html" . }}
            </div>
        {{ end }}

        {{/* Github button */}}
        {{ with .Params.githubRepo }}
            {{ partial "github-button.html" (dict "githubRepo" .) }}
        {{ end }}
    </section>

    <div class="divider" mid></div>
{{ end }}