<button class="component button icon-button" id="shape-selector">
  <i>shapes</i>
  <menu class="menu">
    <label class="title-large" for="shape-slider">Shape</label>
    <div class="slider">
      <input type="range" id="shape-slider" min="1.0" max="6.0" value="1.7" step="0.1"/>
      <span class="tooltipShape" id="shape-tooltipShape"></span>
    </div>
  </menu>
</button>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var shapeSelector = document.getElementById("shape-slider");
    var root = document.documentElement;

    function updateShape() {
      var shape = shapeSelector.value;
      root.style.setProperty("--input-shape-corner", shape + "px");
      
      // Store values in localStorage
      localStorage.setItem("theme-shape", shape);
    }

    // Load saved values from localStorage
    var savedShape = localStorage.getItem("theme-shape");

    if (savedShape !== null) {
      shapeSelector.value = savedShape;
    }

    // Apply saved or default values
    updateShape();

    shapeSelector.addEventListener("input", updateShape);
  });

  const rangeInputShape = document.getElementById('shape-slider');
  const tooltipShape = document.getElementById('shape-tooltipShape');

  function updateTooltipShape(value) {
      tooltipShape.textContent = value;
      const thumbPositionShape = (value - rangeInputShape.min) / (rangeInputShape.max - rangeInputShape.min);
      const tooltipShapePosition = thumbPositionShape * (rangeInputShape.offsetWidth - 20) + 10;
      tooltipShape.style.left = `${tooltipShapePosition}px`;
      tooltipShape.style.opacity = '1';
  }

  rangeInputShape.addEventListener('input', (e) => {
      updateTooltipShape(e.target.value);
  });

  rangeInputShape.addEventListener('mousedown', () => {
      updateTooltipShape(rangeInputShape.value);
  });

  rangeInputShape.addEventListener('mouseup', () => {
      tooltipShape.style.opacity = '0';
  });

  rangeInputShape.addEventListener('mouseleave', () => {
      tooltipShape.style.opacity = '0';
  });
</script>