<a  class="component button fab primary-container"
    id="top-link"
    href="#top" 
    aria-label="go to top" 
    title="Go to Top (ALT + SHIFT + g)" 
    accesskey="g">
    <i>vertical_align_top</i> 
</a>

<script defer>
    var mybutton = document.getElementById("top-link");
    var scrollWrapper = document.querySelector("main");
    function handleScroll() {
        if (scrollWrapper.scrollTop > 360) {
            mybutton.style.visibility = "visible";
            mybutton.style.opacity = "1";
        } else {
            mybutton.style.visibility = "hidden";
            mybutton.style.opacity = "0";
        }
    }
    window.addEventListener("scroll", handleScroll);
    scrollWrapper.addEventListener("scroll", handleScroll);
    mybutton.addEventListener("click", function() {
        scrollWrapper.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    });
</script>
