{{- define "main" }}
    {{- if ( and .Site.Params.profileMode.enabled .IsHome) }}
        {{- with .Site.Params.profileMode }}

            <article class="layout panes basic-singlepane" id="home">
                <section class="layout pane">
                
                    <!-- Site Image -->
                    {{- if .imageUrl -}}
                        <div class="home-image">
                            <img    src="{{ .imageUrl | absURL }}" 
                                    alt="{{ .imageTitle | default "profile image" }}"
                                    height="{{ .imageHeight | default 150 }}" 
                                    width="{{ .imageWidth | default 150 }}" />
                        </div>
                    {{- end }}
                    
                    <!-- Site Title -->
                    <h1>
                        {{ .title | default $.Site.Title | markdownify }}
                    </h1>        
            
                    <!-- Home Page Buttons -->
                    <nav class="home-buttons" aria-label="Home buttons">
                        {{ partialCached "components/homepage-buttons.html" .}}
                    </nav>

                    <h2>Showcases</h2>
                    <h3>Tokens</h3>
                    <a href="/resource/reference/colors">Colors</a>
                    <a href="/resource/reference/typography">Typography</a>
                    <a href="/resource/reference/shapes">Shapes</a>
                    <a href="/resource/reference/states-and-elevation">States and elevations</a>

                    <h3>Layouts</h3>
                    <h4>Basic</h4>
                    <a href="/resource/reference/basic-single-pane-layout">Single pane</a>
                    <a href="/resource/reference/basic-split-pane-layout">Split pane</a>
                    <a href="/resource/reference/basic-fixed-and-flexible-layout">Fixed and flex pane</a>

                    <h4>Canonical</h4>
                    <a href="/resource/reference/canonical-feed-layout">Feed</a>
                    <a href="/resource/reference/canonical-supporting-pane-layout">Supporting pane</a>
                    <a href="/resource/reference/canonical-list-detail-layout">List-detail</a>

                    <h3>Components</h3>
                    <a href="/resource/reference/buttons">Buttons</a>
                </section>
            </article>
        
        {{- end }}
    
    {{- end }}

{{- end }}