.feedback-form {
  box-shadow: var(--elevation1);
  color: var(--color-on-surface);

  --layout-flex: initial;
  --layout-display: flex;
  --layout-flex-flow: column nowrap;
  --layout-align-items: stretch;
  --layout-align-content: initial;
  --layout-justify-content: initial;
  --layout-width: initial;
  --layout-height: initial;
  --layout-min-height: initial;
  --layout-padding: var(--size-13);
  --layout-margin: var(--size-13);
  --layout-gap: var(--size-13);

  --layout-shape: var(--shape-corner-m);
  --layout-border: initial;

  --layout-bg: var(--color-surface-container);

  .button {
    cursor: pointer;
    margin-top: var(--size-21);
  }

  .error {
    color: var(--color-on-error);
  }

  .status {
    color: var(--color-inverse-primary);
  }
}
