.content-wrapper {
  --layout-flex: 1 1 auto;
  --layout-display: flex;
  --layout-flex-flow: column nowrap;
  --layout-align-items: stretch;
  --layout-align-content: initial;
  --layout-justify-content: initial;
  --layout-width: 100%;
  --layout-height: 100%;
  --layout-min-height: calc(100dvh - var(--size-32));
  --layout-margin: 0;
  --layout-gap: 0;
  --layout-border: initial;

  --layout-bg: var(--color-surface);
  --layout-shape: var(--shape-corner-none);
}

.panes {
  --layout-flex: 1 1 auto;
  --layout-display: flex;
  --layout-flex-flow: row nowrap;
  --layout-align-items: stretch;
  --layout-align-content: initial;
  --layout-justify-content: initial;
  --layout-width: 100%;
  --layout-height: auto;
  --layout-min-height: auto;
  --layout-padding: 0 var(--spacing-panes);
  --layout-margin: 0;
  --layout-gap: var(--spacing-panes);
  --layout-border: initial;

  --layout-bg: inherit;
  --layout-shape: inherit;
}

.pane {
  --layout-flex: 1 1 auto;
  --layout-display: flex;
  --layout-flex-flow: column nowrap;
  --layout-align-items: stretch;
  --layout-align-content: initial;
  --layout-justify-content: initial;
  --layout-width: 100%;
  --layout-height: auto;
  --layout-min-height: auto;
  --layout-padding: var(--spacing-panes);
  --layout-margin: 0;
  --layout-gap: 0;
  --layout-border: initial;
  
  --layout-bg: inherit;
  --layout-shape: var(--shape-corner-xl);

  &.fixed-pane {
    --layout-width: 100%;
  }
}

.page-header,
.page-navigation,
.page-links {
  --layout-bg: inherit;
  --layout-shape: var(--shape-corner-none);
}

.page-navigation {
  margin-top: var(--spacing-panes);
}

#header,
#footer {
  background-color: var(--color-surface-container);
  border-radius: var(--shape-corner-none);
}
