.badge {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-justify-content: center;
  --container-align-items: center;
  --container-gap: initial;
  --container-height: 6px;
  --container-width: 6px;
  
  --container-shape: var(--shape-corner-full);
  
  --bg-color: var(--color-error);

  &.large {
    --container-height: var(--size-4);
    --container-width: unset;
    --container-padding: var(--size-1);
    min-width: var(--size-4);
  }

  
  & > span {
    color: var(--color-on-error);
    font-family: var(--typescale-label-small-font);
    font-size: var(--typescale-label-small-size);
    font-weight: var(--typescale-label-small-weight);
    line-height: var(--typescale-label-small-line-height);
  }
}
