progress.progress-indicator,
.progress-indicator {
  position: relative;
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-justify-content: initial;
  --container-align-items: initial;
  --container-gap: initial;
  --container-height: var(--size-1);
  --container-width: 100%;
  --container-padding: initial;

  --container-outline: none;
  --container-elevation: initial;
  --container-shape: inherit;
  
  --bg-color: var(--color-secondary-container);
  
  --text-color: var(--color-primary);
  --icon-color: var(--color-primary);

  color: var(--color-primary);
  background: var(--color-secondary-container);
  
  flex: none;
  overflow: hidden;
  writing-mode: horizontal-tb;
  direction: ltr;
  --arc-duration: calc(var(--motion-duration-extra-long4) * 1.33);
  --linear-duration: calc(var(--motion-duration-extra-long4) * 2);
  
  &.linear {
    &::-webkit-progress-value,
    &::-moz-progress-bar {
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: var(--linear-duration);
      animation-name:
        linear-scale, 
        linear-translate,
        linear-scale-secondary,
        linear-translate-secondary;
    }
  }
  
  &::-webkit-progress-bar {
    background: none;
  }
  
  &::-webkit-progress-value {
    background: currentColor;
  }

  &::-moz-progress-bar {
    background: currentColor;
  }

  &.circular {
    display: inline-block;
    display: inline block;
    height: var(--size-12);
    width: var(--size-12);
    border-radius: var(--shape-corner-full);
    border: var(--size-1) solid currentColor;
    background: none;
    flex: none;

    animation-timing-function: var(--motion-easing-emphasized);
    animation-iteration-count: infinite;
    animation-duration: var(--arc-duration);
    animation-name: to-circular;

    &::-webkit-progress-value,
    &::-moz-progress-bar {
      background: none;
    }
  }
  
  &.determinate {
    animation-iteration-count: 1;
    
    &::-webkit-progress-value,
    &::-moz-progress-bar {
      animation-iteration-count: 1;
    }
  }
}

@keyframes linear-scale {
  0% {
    width: 0%;
    animation-timing-function: var(--motion-easing-emphasized-accelerate);
  }
  35% {
    width: 10%;
    animation-timing-function: var(--motion-easing-emphasized);
  }
  70% {
    width: 100%;
    animation-timing-function: var(--motion-easing-emphasized-decelerate);
  }
  100% {
    width: 0%;
  }
}

@keyframes linear-scale-secondary {
  0% {
    width: 0%;
    animation-timing-function: var(--motion-easing-emphasized-accelerate);
  }
  20% {
    width: 45%;
    animation-timing-function: var(--motion-easing-emphasized);
  }
  45% {
    width: 100%;
    animation-timing-function: var(--motion-easing-emphasized-decelerate);
  }
  100% {
    width: 0%;
  }
}

@keyframes linear-translate {
  0% {
    margin-left: 0%;
    animation-timing-function: var(--motion-easing-emphasized-accelerate);
  }
  20% {
    margin-left: 0%;
    animation-timing-function: var(--motion-easing-emphasized);
  }
  60% {
    margin-left: 85%;
    animation-timing-function: var(--motion-easing-emphasized-decelerate);
  }
  100% {
    margin-left: 200%;
  }
}

@keyframes linear-translate-secondary {
  0% {
    margin-left: 0%;
    animation-timing-function: var(--motion-easing-emphasized-accelerate);
  }
  25% {
    margin-left: 35%;
    animation-timing-function: var(--motion-easing-emphasized);
  }
  50% {
    margin-left: 85%;
    animation-timing-function: var(--motion-easing-emphasized-decelerate);
  }
  100% {
    margin-left: 160%;
  }
}

@keyframes to-circular {
  0% {
    transform: rotate(0deg);
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  20% {
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }

  30% {
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
  }

  40% {
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
  }

  50% {
    clip-path: polygon(50% 50%, 50% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
  }

  60% {
    clip-path: polygon(50% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 100%);
  }

  70% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%, 0% 50%);
  }

  80% {
    clip-path: polygon(50% 50%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 50%);
  }

  90% {
    transform: rotate(360deg);
    clip-path: polygon(50% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }

  100% {
    clip-path: polygon(50% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }
}
