.progress-indicator {
  --container-display: inline-flex;
  --container-flex-flow: row nowrap;
  --container-justify-content: center;
  --container-align-items: center;
  --container-gap: 0;
  --container-padding: 0;

  --container-elevation: none;
  --container-shape: var(--shape-corner-full);
  
  --bg-color: var(--color-secondary-container);
  background: var(--color-secondary-container);
  
  --text-color: var(--color-primary);
  --icon-color: var(--color-primary);

  --arc-duration: calc(var(--motion-duration-extra-long4) * 1.33);
  --linear-duration: calc(var(--motion-duration-extra-long4) * 2);
  
  overflow: hidden;

  & progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    border-radius: inherit;
    flex: 1 1 auto;
    background: inherit;
  }

  & progress[value]::-webkit-progress-bar {
    background: var(--color-secondary-container);
    border-radius: var(--shape-corner-full);
  }

  &.linear {
    --container-height: var(--size-1);
    --container-width: 100%;
    --container-outline: none;

    & progress[value]::-webkit-progress-value {
      background: var(--color-primary);
      border-radius: var(--shape-corner-full);
      animation-timing-function: linear;
      animation-duration: var(--linear-duration);
      animation-name: linear-scale, linear-translate, linear-scale-secondary, linear-translate-secondary;
    }
    
    & progress[value]::-moz-progress-bar {
      background: var(--color-primary);
      border-radius: var(--shape-corner-full);
      animation-timing-function: linear;
      animation-duration: var(--linear-duration);
      animation-name: linear-scale, linear-translate, linear-scale-secondary, linear-translate-secondary;
    }
  }

  &.circular {
    --container-height: var(--size-12);
    --container-width: var(--size-12);
    --container-outline: var(--size-1) solid currentColor;
    animation-timing-function: var(--motion-easing-emphasized);
    animation-duration: var(--arc-duration);
    animation-name: to-circular;
    background: none;

    & progress[value]::-webkit-progress-bar {
      background: none;
    }

    & progress[value]::-moz-progress-bar {
      background: none;
    }
  }

  &.determinate {
    animation-iteration-count: 1;
    & progress[value]::-webkit-progress-value {
      animation-iteration-count: 1;
    }

    & progress[value]::-moz-progress-bar {
      animation-iteration-count: 1;
    }
  }

  &.indeterminate {
    animation-iteration-count: infinite;
    & progress[value]::-webkit-progress-value {
      animation-iteration-count: infinite;
    }

    & progress[value]::-moz-progress-bar {
      animation-iteration-count: infinite;
    }
  }
}

@keyframes linear-scale {
  0% {
    width: 0%;
  }
  35% {
    width: 10%;
  }
  70% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes linear-scale-secondary {
  0% {
    width: 0%;
  }
  20% {
    width: 45%;
  }
  45% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes linear-translate {
  0% {
    margin-left: 0%;
    margin-inline-start: 0%;
  }
  20% {
    margin-left: 0%;
    margin-inline-start: 0%;
  }
  60% {
    margin-left: 85%;
    margin-inline-start: 85%;
  }
  100% {
    margin-left: 200%;
    margin-inline-start: 200%;
  }
}

@keyframes linear-translate-secondary {
  0% {
    margin-left: 0%;
    margin-inline-start: 0%;
  }
  25% {
    margin-left: 35%;
    margin-inline-start: 35%;
  }
  50% {
    margin-left: 85%;
    margin-inline-start: 85%;
  }
  100% {
    margin-left: 160%;
    margin-inline-start: 160%;
  }
}

@keyframes to-circular {
  0% {
    transform: rotate(0deg);
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  20% {
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }

  30% {
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
  }

  40% {
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
  }

  50% {
    clip-path: polygon(50% 50%, 50% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
  }

  60% {
    clip-path: polygon(50% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 100%);
  }

  70% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%, 0% 50%);
  }

  80% {
    clip-path: polygon(50% 50%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 50%);
  }

  90% {
    transform: rotate(360deg);
    clip-path: polygon(50% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }

  100% {
    clip-path: polygon(50% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }
}
