.snackbar {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-justify-content: flex-start;
  --container-align-items: center;
  --container-gap: var(--size-3);
  --container-height: var(--size-12);
  --container-width: 100%;
  --container-padding: 0 var(--size-4);

  --container-outline: initial;
  --container-elevation: var(--elevation3);
  --container-shape: var(--shape-corner-xs);

  --bg-color: var(--color-inverse-surface);

  --text-color: initial;
  --icon-color: initial;

  --container-outline-hover: initial;
  --container-elevation-hover: initial;

  --container-outline-focus: initial;
  --container-elevation-focus: initial;

  --container-outline-press: initial;
  --container-elevation-press: initial;

  & .supporting-text {
    color: var(--color-inverse-on-surface);
    font-size: var(--typescale-body-medium-size);
    line-height: var(--typescale-body-medium-line-height);
    font-weight: var(--typescale-body-medium-weight);
    font-family: var(--typescale-body-medium-font);
  }

  & .actions {
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
    font-size: var(--typescale-label-large-size);
    line-height: var(--typescale-label-large-line-height);
    font-weight: var(--typescale-label-large-weight);
    font-family: var(--typescale-label-large-font);

    & * {
      color: var(--color-inverse-primary);
    }

    & .close-icon {
      font-size: var(--size-6);
      width: var(--size-12);
      height: var(--size-12);
      color: var(--color-inverse-on-surface);
    }
  }

  &[with-action] {
    --container-padding: 0px 0px 0px var(--size-4);

    &[with-longer-action] {
      & .supporting-text {
        align-self: flex-start;
        padding: 14px var(--size-1) 0px var(--size-1);
      }

      & .actions {
        padding: 0px var(--size-2) 4px var(--size-2);
      }
    }
  }
  
  &[with-close-button] {
    --container-padding: 0px 0px 0px var(--size-4);

    &[with-longer-action] {
      & .supporting-text {
        align-self: flex-start;
        padding: 14px var(--size-1) 0px var(--size-1);
      }

      & .actions {
        padding: 0px 0px var(--size-1) var(--size-2);
      }
    }
  }

  &[two] {
    --container-height: var(--size-17);

    &[with-longer-action] {
      --container-flex-flow: column nowrap;
      --container-height: initial;
      --container-gap: 14px;
    }

    &[with-action] {
      --container-padding: 0px 0px 0px var(--size-4);

      &[with-longer-action] {
        & .supporting-text {
          align-self: flex-start;
          padding: 14px var(--size-1) 0px var(--size-1);
        }

        & .actions {
          padding: 0px var(--size-2) 4px var(--size-2);
        }
      }
    }

    &[with-close-button] {
      --container-padding: 0px 0px 0px var(--size-4);

      &[with-longer-action] {
        & .supporting-text {
          align-self: flex-start;
          padding: 14px var(--size-1) 0px var(--size-1);
        }

        & .actions {
          padding: 0px 0px var(--size-1) var(--size-2);
        }
      }
    }
  }
}
