.page-header {
  --display: flex;
  --flex-flow: column nowrap;
  --justify-content: space-between;
  --height: max-content;
  --border: inherit;
  --padding: var(--size-14) var(--size-10);
  --margin: var(--size-7);
  --gap: var(--size-3);
  border-radius: var(--shape-corner-m);

  background-color: var(--color-surface-container-low);
  
  & .title,
  & .description {
    display: inline;
    word-wrap: break-word;
    white-space: normal;
  }
  
  & .metadata {
    color: var(--color-on-surface-variant);
  }
}
