.set.tabs:has(.sub-tabs-container) {
  --set-gap: 3px;
  --set-overflow: visible;
  padding: 0 var(--size-1);

  & .tab {
    --container-shape: var(--shape-corner-m-top);
  }
}

.sub-tabs-container {
  flex: 1 1 0;
  position: relative;

  & .sub-tabs {
    position: absolute;

    display: none;

    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: fit-content;
    width: 100%;
    box-shadow: var(--elevation2);
    border-radius: unset;
    z-index: 1;
    
    & .tab {
      flex: 1 1 auto;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      gap: var(--size-2);
      padding: var(--size-7);
      border-radius: unset;
      z-index: 1;

      &::before {
        visibility: hidden;
      }
  
      &.active {
        color: var(--color-primary);
      }
    }
  }

  &:hover .sub-tabs,
  &:focus .sub-tabs {
    display: flex;
  }
}

@media screen and (max-width: 599px) {
  .set.tabs:has(.sub-tabs-container) {
    & .tab {
      max-height: var(--size-12);
    }
    & .tab .icon {
      display: none;
    }
  }

  main {
    max-height: calc(100dvh - var(--size-28));
  }
}
