{{ with .ProjectButtons }}
    <div class="home-buttons" id="projects">
        <h3>Projects</h3>
        {{ range . }}
            <a  class="component button fab add30-container title-medium" extended
                id="{{ .name | urlize }}"
                href="{{ trim .url " " }}" 
                rel="noopener" 
                title="{{ .name }}">
                {{ .name }}
            </a>
        {{ end }}
    </div>
{{ end }}

{{ with .ResourceButtons }}
    <div class="home-buttons" id="resources">
        <h3>Resources</h3>
        {{ range . }}
            <a  class="component button fab add60-container title-medium" extended
                id="{{ .name | urlize }}"
                href="{{ trim .url " " }}" 
                rel="noopener" 
                title="{{ .name }}">
                {{ .name }}
            </a>
        {{ end }}
    </div>
{{ end }}
