<details open id="showcase-panel">
    <summary>
        <span class="title-large">Redesign showcase</span>
    </summary>
    <table>
        <thead>
            <tr>
                <th scope="col" colspan="1">Category</th>
                <th scope="col" colspan="1">Link</th>
            </tr>
        </thead>

        <tbody>
            {{/*  Components  */}}
            <tr>
                <td rowspan="1">Components</td>
                <td><a href="/resource/token/components">Components</a></td>
            </tr>
            {{/*  Tokens  */}}
            <tr>
                <td rowspan="5">Tokens</td>
                <td><a href="/resource/token/colors">Colors</a></td>
            </tr>
            <tr>
                <td><a href="/resource/token/typography">Typography</a></td>
            </tr>
            <tr>
                <td><a href="/resource/token/shapes">Shapes</a></td>
            </tr>
            <tr>
                <td><a href="/resource/token/states-and-elevation">States and elevations</a></td>
            </tr>
            <tr>
                <td><a href="/resource/token/motion">Motion</a></td>
            </tr>
            {{/*  Layouts  */}}
            <tr>
                <td rowspan="6">Layouts</td>
                <td><a href="/resource/layout/single-pane-layout">Single pane</a></td>
            </tr>
            <tr>
                <td><a href="/resource/layout/split-pane-layout">Split-pane</a></td>
            </tr>
            <tr>
                <td><a href="/resource/layout/fixed-and-flexible-layout">Fixed and flex pane</a></td>
            </tr>
            <tr>
                <td><a href="/resource/layout/feed-layout">Feed</a></td>
            </tr>
            <tr>
                <td><a href="/resource/layout/supporting-pane-layout">Supporting pane</a></td>
            </tr>
            <tr>
                <td><a href="/resource/layout/list-detail-layout">List-detail</a></td>
            </tr>
            {{/*  404  */}}
            <tr>
                <td rowspan="1">404</td>
                <td><a href="/404">404</a></td>
            </tr>
        </tbody>
    </table>
</details>