#showcase {  
  & .pane {
    border: 2px dotted var(--color-outline-variant);
  }
}

#showcase.canonical-feed .pane {
  --gap: var(--size-2);
  --display: flex;
  --flex-flow: row wrap;
  --align-content: stretch;

  & .card {
    place-items: center;
  }
}

.component-group#cards {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

#components-showcase {
  & .pane {
    --padding: 0px;
  }

  & .display-medium {
    margin-top: var(--size-12);
    width: 100%;
  }
}

& .component-group-header {
  width: 100%;
  padding: var(--size-5) var(--size-4);
  color: var(--color-on-surface);
  background-color: var(--color-token-set-container);
  border-radius: var(--shape-corner-s-top);

  font-size: var(--typescale-display-small-size);
  line-height: var(--typescale-display-small-line-height);
  font-weight: var(--typescale-display-small-weight);
  font-family: var(--typescale-display-small-font);
  
  &:first-of-type {
    margin-top: var(--size-12);
  }
}

& .component-group {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-7);
  margin-bottom: var(--size-6);
  background-color: var(--color-surface-container-lowest);
  border-radius: var(--shape-corner-s-bottom);
  padding: var(--size-5);

  & .sub-component-group-header {
    width: 100%;
    color: var(--color-on-surface-variant);

    font-size: var(--typescale-headline-medium-size);
    line-height: var(--typescale-headline-medium-line-height);
    font-weight: var(--typescale-headline-medium-weight);
    font-family: var(--typescale-headline-medium-font);

    margin-block: var(--size-12) var(--size-3);

    &:first-child {
      margin-top: 0;
    }
  }

  & section {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: var(--size-4);
    width: 100%;
  }

  & .card {
    flex: 1 1 0;
    padding: var(--size-8);
  }

  & .divider-showcase-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: var(--size-3);
    justify-items: flex-start;
    align-items: center;
    width: 100%;
    
    & div {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: fit-content;
    }
    
    & hr {
      flex: 1 1 auto;
      width: 100%;
    }
  }

  & .divider-showcase-container-vertical {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: var(--size-5);
    height: var(--size-30);
    
    & div {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: var(--size-2);
    }
  }
}
