{{/* Links */}}
<section class="footer-links">

    {{/* Quick links */}}
    <div class="footer-links-list">
        <span class="title-large">
            Quick links
        </span>

        {{ range site.Menus.footer }}
            <a  href="{{ .URL }}">
                {{ .Name }}
            </a>
        {{ end }}
    </div>
    
    {{/* Sections */}}
    <div class="footer-links-list">
        <span class="title-large">
            Sections
        </span>

        {{ range site.Menus.sections }}
            <a  href="{{ .URL }}">
                {{ .Name }}
            </a>
        {{ end }}
    </div>
    
    {{/* Connect links */}}
    <div class="footer-links-list">
        <span class="title-large">
            Connect
        </span>

        {{ range site.Menus.connect }}
            <a  href="{{ .URL }}"
                target="_blank" 
                rel="external noopener noreferrer me">
                {{ .Name }}
                <i>outbound</i>
            </a>
        {{ end }}
    </div>

    {{/* Ko-fi link links */}}
    <div class="footer-links-list">
        <span class="title-large">
            Support me
        </span>
        
        <div class="kofi-widget">
            <script
                type='text/javascript' 
                src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'>
            </script>
            <script
                type='text/javascript'>
                kofiwidget2.init('Donate on Ko-fi', 'var(--color-sub180-container)', 'G2G3VPF5D');
                kofiwidget2.draw();
            </script> 
        </div>
    </div>

</section>

{{/* Copyright */}}
<section class="copyright">
    <a  class="component button common with-icon"
        id="copyright-button"
        href="{{ "" | absLangURL }}">
        © {{ now.Year }} {{ .Site.Title }}
    </a>
</section>

{{/* Script for theme toggle */}}
{{- if (not .Site.Params.disableThemeToggle) }}
    <script>
        document.getElementById("theme-toggle").addEventListener("click", () => {
            if (document.body.className.includes("dark")) {
                document.body.classList.remove('dark');
                localStorage.setItem("pref-theme", 'light');
            } else {
                document.body.classList.add('dark');
                localStorage.setItem("pref-theme", 'dark');
            }
        })
    </script>
{{- end }}

{{/* Script for code copy button */}}
{{- if (and (eq .Kind "page") (ne .Layout "search") ) }}
    <script>
        document.querySelectorAll('pre > code').forEach((codeblock) => {
            const container = codeblock.parentNode.parentNode;
            const copybutton = document.createElement('button');
            copybutton.classList.add('copy-code');
            copybutton.innerText = '{{- i18n "code_copy" | default "copy" }}';
            function copyingDone() {
                copybutton.innerText = '{{- i18n "code_copied" | default "copied!" }}';
                setTimeout(() => {
                    copybutton.innerText = '{{- i18n "code_copy" | default "copy" }}';
                }, 2000);
            }
            copybutton.addEventListener('click', (cb) => {
                if ('clipboard' in navigator) {
                    navigator.clipboard.writeText(codeblock.textContent);
                    copyingDone();
                    return;
                }
                const range = document.createRange();
                range.selectNodeContents(codeblock);
                const selection = window.getSelection();
                selection.removeAllRanges();
                selection.addRange(range);
                try {
                    document.execCommand('copy');
                    copyingDone();
                } catch (e) { };
                selection.removeRange(range);
            });
            if (container.classList.contains("highlight")) {
                container.prepend(copybutton);
            } else if (container.parentNode.firstChild == container) {
                // td containing LineNos
            } else if (codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.nodeName == "TABLE") {
                // table containing LineNos and code
                codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.prepend(copybutton);
            } else {
                // code blocks not having highlight as parent class
                codeblock.parentNode.prepend(copybutton);
            }
        });
    </script>
{{ end }}
