{{/* Links */}}
<section class="footer-links">
    {{/* Quick links */}}
    <div class="footer-links-list">
        <span class="title-large">
            Quick links
        </span>

        {{ $page := . }}
        {{ range .Site.Menus.footer }}
            <a  href="{{ .URL }}">
                {{ .Name }}
            </a>
        {{ end }}
    </div>

    {{/* Connect links */}}
    <div class="footer-links-list">
        <span class="title-large">
            Connect
        </span>

        {{- range site.Params.ConnectLinks }}
            <a  href="{{ trim .url " " }}" 
                target="_blank" 
                rel="noopener noreferrer me">
                {{ .name }}
                <i style="font-size: 16px">outbound</i>
            </a>
        {{- end }}
    </div>
</section>

{{/* Copyright */}}
<section class="copyright">
    <a  class="component button common with-icon"
        id="copyright-button"
        href="{{ "" | absLangURL }}">
        © {{ now.Year }} {{ .Site.Title }}
    </a>
</section>

{{/* Script for theme toggle */}}
{{- if (not .Site.Params.disableThemeToggle) }}
    <script>
        document.getElementById("theme-toggle").addEventListener("click", () => {
            if (document.body.className.includes("dark")) {
                document.body.classList.remove('dark');
                localStorage.setItem("pref-theme", 'light');
            } else {
                document.body.classList.add('dark');
                localStorage.setItem("pref-theme", 'dark');
            }
        })
    </script>
{{- end }}

{{/* Script for code copy button */}}
{{- if (and (eq .Kind "page") (ne .Layout "search") ) }}
    <script>
        document.querySelectorAll('pre > code').forEach((codeblock) => {
            const container = codeblock.parentNode.parentNode;
            const copybutton = document.createElement('button');
            copybutton.classList.add('copy-code');
            copybutton.innerText = '{{- i18n "code_copy" | default "copy" }}';
            function copyingDone() {
                copybutton.innerText = '{{- i18n "code_copied" | default "copied!" }}';
                setTimeout(() => {
                    copybutton.innerText = '{{- i18n "code_copy" | default "copy" }}';
                }, 2000);
            }
            copybutton.addEventListener('click', (cb) => {
                if ('clipboard' in navigator) {
                    navigator.clipboard.writeText(codeblock.textContent);
                    copyingDone();
                    return;
                }
                const range = document.createRange();
                range.selectNodeContents(codeblock);
                const selection = window.getSelection();
                selection.removeAllRanges();
                selection.addRange(range);
                try {
                    document.execCommand('copy');
                    copyingDone();
                } catch (e) { };
                selection.removeRange(range);
            });
            if (container.classList.contains("highlight")) {
                container.prepend(copybutton);
            } else if (container.parentNode.firstChild == container) {
                // td containing LineNos
            } else if (codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.nodeName == "TABLE") {
                // table containing LineNos and code
                codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.prepend(copybutton);
            } else {
                // code blocks not having highlight as parent class
                codeblock.parentNode.prepend(copybutton);
            }
        });
    </script>
{{ end }}
