{{/* Top App Bar */}}
<nav class="component top-app-bar center small" aria-label="Top App Bar">
    {{/* Site Headline */}}
    <section class="start">
        {{/* Site ID */}}
        {{ partial "components/siteid-button.html" . }}
        
        {{/* Site Headline */}}
        <a  id="site-headline"
            class="title-medium"
            href="{{ "" | absLangURL }}">
            Wonyoung Jang
        </a>
    </section>

    {{/* Buttons */}}
    <section class="end">
        {{/* Language switch */}}
        {{- $lang := .Lang}}
        {{- with site.Home.AllTranslations }}
            <div class="lang-switch">
                {{- range . -}}
                    {{- if ne $lang .Lang }}
                        <a  href="{{- .Permalink -}}" 
                            title="{{ .Language.Params.languageAltTitle | default (.Language.LanguageName | emojify) | default (.Lang | title) }}"
                            aria-label="{{ .Language.LanguageName | default (.Lang | title) }}">
                            
                            {{- if (and site.Params.displayFullLangName (.Language.LanguageName)) }}
                                {{- .Language.LanguageName | emojify -}}
                            {{- else }}
                                {{- .Lang | title -}}
                            {{- end -}}

                        </a>
                    {{- end -}}
                {{- end}}
            </div>
        {{- end }}

        {{/* Theme toggle */}}
        {{ partial "components/theme-button.html" . }}        
        
        {{/* Random page */}}
        {{ partial "components/random-button.html" . }}
        
        {{/* Search*/}}
        {{ partial "components/search-button.html" . }}
    </section>
</nav>

{{/* Tabs */}}
{{- $page := . }}
{{- $menuID := "main" }}

{{- with index site.Menus $menuID }}
    <div class="component tabs title-medium">
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </div>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
    {{- $page := .page }}
    {{- range .menuEntries }}
        {{- $attrs := dict "href" .URL }}

        {{- if $page.IsMenuCurrent .Menu . }}
            {{- $attrs = merge $attrs (dict "class" "component tab active" "aria-current" "page") }}
        {{- else if $page.HasMenuCurrent .Menu .}}
            {{- $attrs = merge $attrs (dict "class" "component tab active" "aria-current" "true") }}
        {{- else }}
            {{- $attrs = merge $attrs (dict "class" "component tab") }}
        {{- end }}

        {{- $name := .Name }}

        {{- with .Identifier }}
            {{- with T . }}
                {{- $name = . }}
            {{- end }}
        {{- end }}

        <a 
            {{- range $k, $v := $attrs }}
                {{- with $v }}
                    {{- printf " %s=%q" $k $v | safeHTMLAttr }}
                {{- end }}
            {{- end -}}>
            {{ $name }}
        </a>
    {{- end }}
{{- end }}

{{/* Light theme script */}}
{{- if (eq .Site.Params.defaultTheme "light") }}
    <script>
        if (localStorage.getItem("pref-theme") === "dark") {
            document.body.classList.add('dark');
        }
    </script>
{{/* Dark theme script */}}
{{- else if (eq .Site.Params.defaultTheme "dark") }}
    <script>
        if (localStorage.getItem("pref-theme") === "light") {
            document.body.classList.remove('dark')
        }
    </script>
{{/* Auto theme script */}}
{{- else }}
    <script>
        if (localStorage.getItem("pref-theme") === "dark") {
            document.body.classList.add('dark');
        } else if (localStorage.getItem("pref-theme") === "light") {
            document.body.classList.remove('dark')
        } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.body.classList.add('dark');
        }
    </script>
{{- end }}
