{{ define "main" }}
<article class="layout panes canonical-supporting-pane" id="page-colors">
  
  <section class="layout pane focus-pane">
    <h2 class="pane-heading">Swatches</h2>
    {{ partial "colors/system-tokens.html" . }}
    {{ partial "colors/semantic-swatches.html" . }}
  </section>

  <section class="layout pane supporting-pane">
    <h2 class="pane-heading">Palettes</h2>
    {{ partial "colors/key-color.html" . }}
    {{ partial "colors/reference-palettes.html" . }}
  </section>
        
</article>
{{ end }}
