{{ define "main" }}
    <style>

    </style>
    <article class="layout panes basic-single-pane">
        <section class="layout pane">
            {{ with .Content }}
                {{ . }}
            {{ end }}
            <details class="layout token-set" open>
                <summary class="token-set-title">Motions</summary>
                
                <div class="box-container" id="motions">           
                    <div class="box-container">                    
                        <span class="headline-small">Easing emphasized</span>
                        <div class="box fade motion-easing-emphasized motion-duration-short1">
                            <span>short1</span>
                        </div>
                        <div class="box fade motion-easing-emphasized motion-duration-short2">
                            <span>short2</span>
                        </div>
                        <div class="box fade motion-easing-emphasized motion-duration-short3">
                            <span>short3</span>
                        </div>
                        <div class="box fade motion-easing-emphasized motion-duration-short4">
                            <span>short4</span>
                        </div>

                        <div class="box fade motion-easing-emphasized motion-duration-medium1">
                            <span>medium1</span>
                        </div>
                        <div class="box fade motion-easing-emphasized motion-duration-medium2">
                            <span>medium2</span>
                        </div>
                        <div class="box fade motion-easing-emphasized motion-duration-medium3">
                            <span>medium3</span>
                        </div>
                        <div class="box fade motion-easing-emphasized motion-duration-medium4">
                            <span>medium4</span>
                        </div>

                        <div class="box fade motion-easing-emphasized motion-duration-long1">
                            <span>long1</span>
                        </div>
                        <div class="box fade motion-easing-emphasized motion-duration-long2">
                            <span>long2</span>
                        </div>
                        <div class="box fade motion-easing-emphasized motion-duration-long3">
                            <span>long3</span>
                        </div>
                        <div class="box fade motion-easing-emphasized motion-duration-long4">
                            <span>long4</span>
                        </div>


                        <div class="box fade motion-easing-emphasized motion-duration-extra-long1">
                            <span>extra-long1</span>
                        </div>
                        <div class="box fade motion-easing-emphasized motion-duration-extra-long2">
                            <span>extra-long2</span>
                        </div>
                        <div class="box fade motion-easing-emphasized motion-duration-extra-long3">
                            <span>extra-long3</span>
                        </div>
                        <div class="box fade motion-easing-emphasized motion-duration-extra-long4">
                            <span>extra-long4</span>
                        </div>
                    </div>

                    <div class="box-container">                    
                        <span class="headline-small">Easing emphasized accelerate</span>
                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-short1">
                            <span>short1</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-short2">
                            <span>short2</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-short3">
                            <span>short3</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-short4">
                            <span>short4</span>
                        </div>

                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-medium1">
                            <span>medium1</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-medium2">
                            <span>medium2</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-medium3">
                            <span>medium3</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-medium4">
                            <span>medium4</span>
                        </div>

                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-long1">
                            <span>long1</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-long2">
                            <span>long2</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-long3">
                            <span>long3</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-long4">
                            <span>long4</span>
                        </div>


                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-extra-long1">
                            <span>extra-long1</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-extra-long2">
                            <span>extra-long2</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-extra-long3">
                            <span>extra-long3</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-accelerate motion-duration-extra-long4">
                            <span>extra-long4</span>
                        </div>
                    </div>

                    
                    <div class="box-container">                    
                        <span class="headline-small">Easing emphasized decelerate</span>
                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-short1">
                            <span>short1</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-short2">
                            <span>short2</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-short3">
                            <span>short3</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-short4">
                            <span>short4</span>
                        </div>

                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-medium1">
                            <span>medium1</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-medium2">
                            <span>medium2</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-medium3">
                            <span>medium3</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-medium4">
                            <span>medium4</span>
                        </div>

                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-long1">
                            <span>long1</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-long2">
                            <span>long2</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-long3">
                            <span>long3</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-long4">
                            <span>long4</span>
                        </div>


                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-extra-long1">
                            <span>extra-long1</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-extra-long2">
                            <span>extra-long2</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-extra-long3">
                            <span>extra-long3</span>
                        </div>
                        <div class="box fade motion-easing-emphasized-decelerate motion-duration-extra-long4">
                            <span>extra-long4</span>
                        </div>
                    </div>
                </div>

                <span class="headline-small">Skeleton Loader</span>
                <div class="box skeleton"></div>

            </details>
        </section>
    </article>
{{ end }}