{{ define "main" }}
    <style>
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 40px;
        }
        .box {
            width: 100px;
            height: 100px;
            margin: 20px;
            background-color: var(--color-add30-container);
            transition: all 0.5s ease-in-out;
        }
        .box:hover.fade {
            opacity: 0;
        }
        .box:hover.slide {
            transform: translateX(200px);
        }
        .box:hover.scale {
            transform: scale(1.5);
        }
        .clean-fade-in {
            opacity: 1;
            transition: opacity 0.5s ease-in;

            &:hover {
                opacity: 0;
                transition: opacity 0.5s ease-out;
            }
        }
        .hidden {
            display: none;
        }
        .skeleton {
            width: 100px;
            height: 100px;
            margin: 20px;
            background-color: var(--color-surface-bright);
            animation: pulse 1.5s infinite;
        }
        @keyframes pulse {
            0% {
                background-color: var(--color-surface-bright);
            }
            50% {
                background-color: var(--color-surface-dim);
            }
            100% {
                background-color: var(--color-surface-bright);
            }
        }
    </style>
    <article class="layout panes basic-singlepane">
        <section class="layout pane">
            {{ with .Content }}
                {{ . }}
            {{ end }}
            <details class="layout token-set" open>
                <summary class="token-set-title">Transitions</summary>

                <div class="container">
                    <span>Fade Transition</span>
                    <div class="box fade"></div>
                    <span>Slide Transition</span>
                    <div class="box slide"></div>
                    <span>Scale Transition</span>
                    <div class="box scale"></div>
                    <span>Clean Fade</span>
                    <div class="box clean-fade-in"></div>
                    <span>Skeleton Loader</span>
                    <div class="skeleton"></div>
                </div>
            </details>
        </section>
    </article>
{{ end }}