{{ define "main" }}
    <style>
        .container {
            margin-bottom: 40px;
            padding: 20px;
        }
        .box {
            width: 100px;
            height: 100px;
            margin: 20px;
            background-color: var(--color-add30-container);
            transition: all 0.5s ease-in-out;
        }
        .box:hover.fade {
            opacity: 0;
        }
        .box:hover.slide {
            transform: translateX(200px);
        }
        .box:hover.scale {
            transform: scale(1.5);
        }
        .clean-fade-in {
            opacity: 1;
            transition: opacity 0.5s ease-in;

            &:hover {
                opacity: 0;
                transition: opacity 0.5s ease-out;
            }
        }
        .hidden {
            display: none;
        }
        .skeleton {
            width: 100px;
            height: 100px;
            margin: 20px;
            background-color: var(--color-surface-bright);
            animation: pulse 1.5s infinite;
        }
        @keyframes pulse {
            0% {
                background-color: var(--color-surface-bright);
            }
            50% {
                background-color: var(--color-surface-dim);
            }
            100% {
                background-color: var(--color-surface-bright);
            }
        }
    </style>
    <article class="layout panes basic-singlepane">
        <section class="layout pane">
            <details class="layout token-set" open>
                <summary class="token-set-title">Transitions</summary>
                <div class="container">
                    <h3>Fade Transition</h3>
                    <div class="box fade"></div>
                </div>
                
                <div class="container">
                    <h3>Slide Transition</h3>
                    <div class="box slide"></div>
                </div>
                
                <div class="container">
                    <h3>Scale Transition</h3>
                    <div class="box scale"></div>
                </div>
                
                <div class="container">
                    <h3>Clean Fade</h3>
                    <div class="box clean-fade-in"></div>
                </div>
                
                <div class="container">
                    <h3>Skeleton Loader</h3>
                    <div class="skeleton"></div>
                </div>
            </details>
        </section>
    </article>
{{ end }}