{{ define "main" }}
    <article class="layout panes basic-singlepane" id="page-shapes">
        <section class="layout pane">

            <h1>Shapes</h1>
            
            <section class="shapes-container">
                <label>None</label>

                <div class="shape-row">
                    <div class="shape-none">None</div>
                </div>

                <label>Extra small</label>

                <div class="shape-row">
                    <div class="shape-xs">xs</div>
                    <div class="shape-xs-top">top</div>
                    <div class="shape-xs-bottom">bottom</div>
                    <div class="shape-xs-start">start</div>
                    <div class="shape-xs-end">end</div>
                </div>

                <label>Small</label>

                <div class="shape-row">
                    <div class="shape-s">s</div>
                    <div class="shape-s-top">top</div>
                    <div class="shape-s-bottom">bottom</div>
                    <div class="shape-s-start">start</div>
                    <div class="shape-s-end">end</div>
                </div>

                <label>Medium</label>

                <div class="shape-row">
                    <div class="shape-m">m</div>
                    <div class="shape-m-top">top</div>
                    <div class="shape-m-bottom">bottom</div>
                    <div class="shape-m-start">start</div>
                    <div class="shape-m-end">end</div>
                </div>


                <label>Large</label>

                <div class="shape-row">
                    <div class="shape-l">l</div>
                    <div class="shape-l-top">top</div>
                    <div class="shape-l-bottom">bottom</div>
                    <div class="shape-l-start">start</div>
                    <div class="shape-l-end">end</div>
                </div>

                <label>Extra large</label>

                <div class="shape-row">
                    <div class="shape-xl">xl</div>
                    <div class="shape-xl-top">top</div>
                    <div class="shape-xl-bottom">bottom</div>
                    <div class="shape-xl-start">start</div>
                    <div class="shape-xl-end">end</div>
                </div>

                <label>Full</label>

                <div class="shape-row">
                    <div class="shape-full">Full</div>
                </div>

            </section>
        </section>
    </article>
{{ end }}