{{ define "main" }}
    <article class="layout panes basic-singlepane">
        <section class="layout pane">
            <details class="layout token-set" open>
                <summary class="token-set-title">States</summary>
                <section class="state-opacities-container">
                    <div>Enabled</div>
                    <div>Disabled</div>
                    <div>Hovered</div>
                    <div>Focused</div>
                    <div>Pressed</div>
                    <div>Dragged</div>
                </section>
            </details>

            <details class="layout token-set" open>
                <summary class="token-set-title">Elevations</summary>
                <section class="elevations-container">
                    <div>Level 0</div>
                    <div>Level 1</div>
                    <div>Level 2</div>
                    <div>Level 3</div>
                    <div>Level 4</div>
                    <div>Level 5</div>
                </section>
            </details>
        </section>
    </article>
{{ end }}