{{ define "main" }}
    <article class="layout panes basic-singlepane">
        <section class="layout pane">
            <details class="layout token-set" open>
                <summary class="token-set-title">States</summary>
                <section class="state-opacities-container">
                    <div>Enabled</div>
                    <div>Disabled</div>
                    <div>Hovered</div>
                    <div>Focused</div>
                    <div>Pressed</div>
                    <div>Dragged</div>
                </section>
            </details>

            <details class="layout token-set" open>
                <summary class="token-set-title">Elevations</summary>
                <section class="elevations-container">
                    {{ range seq 0 5 }}
                        <div class="elevation{{ . }}">Level {{ . }}</div>
                    {{ end }}
                </section>
            </details>
        </section>
    </article>
{{ end }}