{{- define "main" }}
    <article class="layout panes basic-singlepane" id="page-typography">
        <section class="layout pane">

            <h1>States</h1>

            <section class="state-opacities-container">
                <div>Enabled</div>
                <div>Disabled</div>
                <div>Hovered</div>
                <div>Focused</div>
                <div>Pressed</div>
                <div>Dragged</div>
            </section>

            <h1>Elevations</h1>

            <section class="elevations-container">
                <div>Level 0</div>
                <div>Level 1</div>
                <div>Level 2</div>
                <div>Level 3</div>
                <div>Level 4</div>
                <div>Level 5</div>
            </section>
        </section>
    </article>
{{ end }}