{{ define "main" }}
    <article class="layout panes basic-singlepane" id="showcase-typography">
        <section class="layout pane">

            <h1>Typeface</h1>

            <section class="typeface-container">
                <div class="typeface-weights">
                    <h6 class="title-small">Brand</h6>
                    <div class="title-small">900 black</div>
                    <div class="title-small">800 extra bold</div>
                    <div class="title-small">700 bold</div>
                    <div class="title-small">600 semi bold</div>
                    <div class="title-small">500 medium</div>
                    <div class="title-small">400 regular</div>
                    <div class="title-small">300 light</div>
                    <div class="title-small">200 extra light</div>
                    <div class="title-small">100 thin</div>
                </div>

                <div class="typeface-weights">
                    <h6 class="body-large">Plain</h6>
                    <div class="body-large">900 black</div>
                    <div class="body-large">800 extra bold</div>
                    <div class="body-large">700 bold</div>
                    <div class="body-large">600 semi bold</div>
                    <div class="body-large">500 medium</div>
                    <div class="body-large">400 regular</div>
                    <div class="body-large">300 light</div>
                    <div class="body-large">200 extra light</div>
                    <div class="body-large">100 thin</div>
                </div>

                <div class="typeface-weights">
                    <h6 class="code-typeface">Mono</h6>
                    <div class="code-typeface">900 black</div>
                    <div class="code-typeface">800 extra bold</div>
                    <div class="code-typeface">700 bold</div>
                    <div class="code-typeface">600 semi bold</div>
                    <div class="code-typeface">500 medium</div>
                    <div class="code-typeface">400 regular</div>
                    <div class="code-typeface">300 light</div>
                    <div class="code-typeface">200 extra light</div>
                    <div class="code-typeface">100 thin</div>
                </div>
            </section>

            <h1>Typescale</h1>

            <section class="typescale-container">
                <div class="typescale-displays">
                    <div class="display-large">Display Large</div>
                    <div class="display-medium">Display Medium</div>
                    <div class="display-small">Display Small</div>
                </div>

                <div class="typescale-headlines">
                    <div class="headline-large">Headline Large</div>
                    <div class="headline-medium">Headline Medium</div>
                    <div class="headline-small">Headline Small</div>
                </div>

                <div class="typescale-titles">
                    <div class="title-large">Title Large</div>
                    <div class="title-medium">Title Medium</div>
                    <div class="title-small">Title Small</div>
                </div>

                <div class="typescale-bodys">
                    <div class="body-large">Body Large</div>
                    <div class="body-medium">Body Medium</div>
                    <div class="body-small">Body Small</div>
                </div>

                <div class="typescale-labels">
                    <div class="label-large">Label Large</div>
                    <div class="label-medium">Label Medium</div>
                    <div class="label-small">Label Small</div>
                </div>

            </section>
        </section>
    </article>
{{ end }}