{{ define "main" }}
    <article class="layout panes basic-singlepane" id="showcase-typography">
        <section class="layout pane">

            <details class="layout token-set" open>
                <summary class="token-set-title">Typeface</summary>
                {{ $typefaceFonts := slice "Brand" "Plain" "Code" }}
                {{ $typefaceFontClasses := slice "title-small" "body-large" "code-typeface" }}
                {{ $typefaceWeights := slice "900" "800" "700" "600" "500" "400" "300" "200" "100" }}
                {{ $typefaceWeightNames := slice "black" "extra-bold" "bold" "semi-bold" "medium" "regular" "light" "extra-light" "thin" }}
                
                <section class="typeface-container">
                    {{ range $k, $v := $typefaceFonts }}
                        <div class="typeface-weights">
                            <h3 class="{{ index $typefaceFontClasses $k }}">{{ . }}</h3>
                            {{ range $i, $j := $typefaceWeights }}
                                {{ $weightName := index $typefaceWeightNames $i }}    
                                <div
                                    class="{{ index $typefaceFontClasses $k }}"
                                    style="font-weight: var(--typeface-weight-{{ $weightName }});">
                                    {{ . }} {{ $weightName }}
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}
                </section>
            </details>

             <details class="layout token-set" open>
                <summary class="token-set-title">Typescale</summary>
                    
                <section class="typescale-container">
                    {{ $typescaleTypes := slice "display" "headline" "title" "body" "label" }}
                    {{ $typescaleSizes := slice "large" "medium" "small" }}
                    {{ $typescaleClasses := slice "display" "headline" "title" "body" "label" }}
                    {{ $typescaleSizesClasses := slice "large" "medium" "small" }}
                    
                    {{ range $k, $v := $typescaleTypes }}
                        <div class="typescale-{{ . }}s">
                            {{ range $i, $j := $typescaleSizes }}
                                <div class="{{ index $typescaleClasses $k }}-{{ . }}">
                                    {{ title $v }} {{ title . }}
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}
                </section>
            </details>

        </section>
    </article>
{{ end }}