/* Label */
.label-small {
  font-size: var(--typescale-label-small-size);
  line-height: var(--typescale-label-small-line-height);
  font-weight: var(--typescale-label-small-weight);
  font-family: var(--typescale-label-small-font);
}

.label-medium {
  font-size: var(--typescale-label-medium-size);
  line-height: var(--typescale-label-medium-line-height);
  font-weight: var(--typescale-label-medium-weight);
  font-family: var(--typescale-label-medium-font);
}

.label-large {
  font-size: var(--typescale-label-large-size);
  line-height: var(--typescale-label-large-line-height);
  font-weight: var(--typescale-label-large-weight);
  font-family: var(--typescale-label-large-font);
}

/* Body */
.body-small {
  font-size: var(--typescale-body-small-size);
  line-height: var(--typescale-body-small-line-height);
  font-weight: var(--typescale-body-small-weight);
  font-family: var(--typescale-body-small-font);
}

.body-medium {
  font-size: var(--typescale-body-medium-size);
  line-height: var(--typescale-body-medium-line-height);
  font-weight: var(--typescale-body-medium-weight);
  font-family: var(--typescale-body-medium-font);
}

.body-large {
  font-size: var(--typescale-body-large-size);
  line-height: var(--typescale-body-large-line-height);
  font-weight: var(--typescale-body-large-weight);
  font-family: var(--typescale-body-large-font);
}

/* Title */
.title-small {
  font-size: var(--typescale-title-small-size);
  line-height: var(--typescale-title-small-line-height);
  font-weight: var(--typescale-title-small-weight);
  font-family: var(--typescale-title-small-font);
}

.title-medium {
  font-size: var(--typescale-title-medium-size);
  line-height: var(--typescale-title-medium-line-height);
  font-weight: var(--typescale-title-medium-weight);
  font-family: var(--typescale-title-medium-font);
}

.title-large {
  font-size: var(--typescale-title-large-size);
  line-height: var(--typescale-title-large-line-height);
  font-weight: var(--typescale-title-large-weight);
  font-family: var(--typescale-title-large-font);
}

/* Headline */
.headline-small {
  font-size: var(--typescale-headline-small-size);
  line-height: var(--typescale-headline-small-line-height);
  font-weight: var(--typescale-headline-small-weight);
  font-family: var(--typescale-headline-small-font);
}

.headline-medium {
  font-size: var(--typescale-headline-medium-size);
  line-height: var(--typescale-headline-medium-line-height);
  font-weight: var(--typescale-headline-medium-weight);
  font-family: var(--typescale-headline-medium-font);
}

.headline-large {
  font-size: var(--typescale-headline-large-size);
  line-height: var(--typescale-headline-large-line-height);
  font-weight: var(--typescale-headline-large-weight);
  font-family: var(--typescale-headline-large-font);
}

/* Display */
.display-small {
  font-size: var(--typescale-display-small-size);
  line-height: var(--typescale-display-small-line-height);
  font-weight: var(--typescale-display-small-weight);
  font-family: var(--typescale-display-small-font);
}

.display-medium {
  font-size: var(--typescale-display-medium-size);
  line-height: var(--typescale-display-medium-line-height);
  font-weight: var(--typescale-display-medium-weight);
  font-family: var(--typescale-display-medium-font);
}

.display-large {
  font-size: var(--typescale-display-large-size);
  line-height: var(--typescale-display-large-line-height);
  font-weight: var(--typescale-display-large-weight);
  font-family: var(--typescale-display-large-font);
}

/* || Code */

.code-typeface {
  font-size: var(--typescale-body-small-size);
  line-height: var(--typescale-body-small-line-height);
  font-weight: var(--typescale-body-small-weight);
  font-family: var(--typeface-mono);
}
