*,
*::before,
*::after {
  box-sizing: border-box;
}

b, strong {
  font-weight: 700;
  color: #ABCDFF;
}

.favorites,
.recent  {
  margin: 8px;
}

.button {
  border-radius: 8px;
  background-color: #000000 !important;
  color: #FFFFFF !important;
  margin-inline: 4px;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
}

hr {
  margin: unset;
  padding: unset;
}

#app-container {
  background-color: #100d12;
}

#head {
  background-color: #171717;
}

p {
  background-color: #4e415e;
  outline: 1px solid;
}

.dark-theme {
  color: #d4d4d4;
}

a {
  color: #96cef4;
}

.page-ref {
  color: #e0b3ff;
}  

#app {
  border: 1px solid orange;
}
  
#main-content-container {
  padding: 28px;
  background-color: #151316;
  
  .journal,
  .is-journals {
    h1.title::before {
      content: "🗓️";
      vertical-align: text-bottom;
      margin-right: 0.3em;
      font-size: 0.75em;
    }
  }

  * {
    flex: 1 1 0;
  }
}

.left-sidebar-inner,
#right-sidebar {
  background-color: #211f22;
}

.sidebar-item,
.nav-content-item {
  background-color: #100d12 !important;
  border-radius: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-family: "Raleway", sans-serif;
  padding: 16px;
  border-radius: 16px;

  &:not(.journal, .is-journals) {

    &::after {
      margin-left: 0.8rem;
      font-family: "IBM Plex Mono", monospace;
      font-size: 0.9rem;
      border-radius: 2px;
      padding: 2px 5px;
      vertical-align: middle;
      opacity: 0.8;
      background-color: grey;
      color: black;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

h1 {
  background-color: #2f467b; /* Starting color for h1 */
  color: #d0e1ff;
  font-size: 2rem;

  &:not(.page-title)::after {
    content: "h1";
  }
}

h2 {
  background-color: #004d79;/* Slightly different shade, closer to h6 */
  color: #aaebff;
  font-size: 1.8rem;

  &::after {
    content: "h2";
  }
}

h3 {
  background-color: #00526a; /* Midway color between h1 and h6 */
  color: #8ff1ff; /* Midway color between h1 and h6 */
  font-size: 1.6rem;

  &::after {
    content: "h3";
  }
}

h4 {
  background-color: #005454; /* Midway color between h1 and h6 */
  color: #8af5f3; /* Midway color between h1 and h6 */  
  font-size: 1.4rem;

  &::after {
    content: "h4";
  }
}

h5 {
  background-color: #00533b; /* Midway color between h1 and h6 */
  color: #9bf4d4; /* Midway color between h1 and h6 */  
  font-size: 1.3rem;

  &::after {
    content: "h5";
  }
}

h6 {
  background-color: #1c5123; /* Midway color between h1 and h6 */
  color: #b8f0b8; /* Midway color between h1 and h6 */  
  font-size: 1.2rem;

  &::after {
    content: "h6";
  }
}

.blocks-container {
  padding: 16px;
  border-radius: 24px;
  background-color: #100d12;
}

.custom-query {
  background-color: #1e1a23;
  padding: 8px;
  border-radius: 8px;
}