.content-wrapper {
  --bg: var(--color-surface-container-lowest);
  --shape: var(--shape-corner-none);
  
  & .panes {
    margin-block: calc(var(--scale-fibonacci) * var(--spacing-panes));
    --bg: var(--color-surface-container-lowest);
    --shape: var(--shape-corner-none);
    
    & .pane {
      --bg: var(--color-surface);
      --shape: var(--shape-corner-m);
    }
  }
}

.page-header {
  --bg: var(--color-surface-container-low);
  --shape: var(--shape-corner-xl-bottom);
}

.page-navigation {
  --bg: var(--color-surface-container-low);
  --shape: var(--shape-corner-xl-top);
}

.page-links {
  --bg: var(--color-surface-container-low);
  --shape: var(--shape-corner-none);
}

header,
footer {
  background-color: var(--color-surface-container);
  border-radius: var(--shape-corner-none);
}

.layout {
  margin: 0 auto;
}
