.page-header {
  --bg: var(--color-surface-container-low);
  --shape: var(--shape-corner-none);
  margin-bottom: var(--spacing-panes);
}

.page-navigation {
  --bg: var(--color-surface-container-low);
  --shape: var(--shape-corner-none);
  margin-top: var(--spacing-panes);
}

.page-links {
  --bg: var(--color-surface-container-low);
  --shape: var(--shape-corner-none);
}

header,
footer {
  background-color: var(--color-surface-container-lowest) !important;
  border-radius: var(--shape-corner-none);
}
