hr.divider,
.divider {
  display: flex;
  flex-flow: row nowrap;
  color: var(--color-outline-variant);
  height: 1px;
  width: 100%;
  
  &.mid,
  &.start {
    padding-inline-start: var(--size-4);
  }
  
  &.mid,
  &.end {
    padding-inline-end: var(--size-4);
  }
  
  &::before {
    content: "";
    background: currentColor;
    height: 100%;
    width: 100%;
  }
  
  &.vertical {
    display: flex;
    flex-flow: column nowrap;
    color: var(--color-outline-variant);
    width: 1px;
    height: 100%;
    align-items: center;
    
    &.mid,
    &.start {
      padding-inline-start: unset;
      padding-block-start: var(--size-4);
    }
    
    &.mid,
    &.end {
      padding-inline-end: unset;
      padding-block-end: var(--size-4);
    }
  }
}

@media (forced-colors: active) {
  hr.divider::before,
  .divider::before {
    background: CanvasText;
  }
}