.swatch {
  --container-display: flex;
  --container-flex-flow: column nowrap;
  --container-shape: unset;

  & div {
    display: grid;
    grid-template-rows: repeat(13, 1fr);

    & span {
      display: flex;
      flex-flow: row wrap;
      padding: var(--size-3);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      
      &:nth-child(1) {
        background-color: var(--bg-color);
        color: var(--icon-color);
        grid-row: span 8;
      }
  
      &:nth-child(2) {
        background-color: var(--icon-color);
        color: var(--bg-color);
        grid-row: span 5;
      }
    }

  }
}

.swatches-admonitions,
.swatches-classic {
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-2);

  & .swatch {
    flex: 1 1 0;
    min-width: fit-content;
  }
}