.tabs:not(.sub-tabs) {
  position: relative;
  align-self: center;

  --container-width: calc(100% - var(--size-5));
  --container-height: 48px;
  --container-shape: var(--shape-corner-xl);
  --container-padding: 0;
  
  --container-display: flex;
  --contianer-flex-flow: row nowrap;
  --container-align-items: stretch;
  --container-justify-content: stretch;
  --container-gap: var(--size-2);
  overflow: visible;

  & .tab {
    flex: 1 1 0;
    min-width: fit-content;

    --container-width: auto;
    --container-height: 48px;
    --container-shape: var(--shape-corner-xl-top);
    --container-padding: 0 var(--size-2);
    
    --container-display: flex;
    --container-flex-flow: row nowrap;
    --container-justify-content: center;
    --container-align-items: center;
    --container-gap: var(--size-2);

    --icon-color: var(--color-on-surface-variant);
    --text-color: var(--color-on-surface-variant);
    --bg-color: var(--color-surface-container-high);

    &.active {
      --icon-color: var(--color-primary);
      --text-color: var(--color-primary);
      --bg-color: var(--color-surface);
    }
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 9999;
      bottom: 0;
      left: 42.5%;
      width: 15%;
      height: var(--size-1);
      border-radius: var(--shape-corner-xl-top);
      background-color: var(--color-primary);
    }

    &:not(.active)::before {
      display: none;
    }
  }
}

/* Custom */
.tabs.sub-tabs {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 0;
  width: 100%;
  height: auto;
  
  & .tab {
    flex: 1 1 auto;
    justify-content: flex-start;
    border-radius: unset;
    background-color: var(--color-surface-container-highest);
    margin-left: var(--size-4);
    padding: var(--size-5);
    border-bottom: 3px solid var(--color-outline-variant);
    border-inline: 1px solid var(--color-outline);

    &::before {
      display: none;
    }

    &.active {
      color: var(--color-on-secondary-container);
      background-color: var(--color-secondary-container);
      border-bottom: 3px solid var(--color-primary);
    }
  }
}

.sub-tabs-container {
  flex: 1 1 0;
  position: relative;

  &:hover .sub-tabs,
  &:focus .sub-tabs {
    display: flex;
  }
}