.box {
  flex: 1 1 0;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface-container-highest);
  width: fit-content;

  &.skeleton {
    background-color: var(--color-surface-bright);
    animation: pulse calc(var(--motion-duration-extra-long4) * 1.5) infinite;
    min-height: var(--size-25);
  }
}

.box-container {
  display: flex;
  flex-flow: column nowrap;
  padding: var(--spacing-panes);
  align-items: stretch;
}

@keyframes pulse {
  0% {
    background-color: var(--color-surface-bright);
  }
  50% {
    background-color: var(--color-surface-dim);
  }
  100% {
    background-color: var(--color-surface-bright);
  }
}
