.box {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface-container-highest);

  &.skeleton {
    background-color: var(--color-surface-bright);
    animation: pulse calc(var(--motion-duration-extra-long4) * 1.5) infinite;
    min-height: var(--size-25);
  }
}

.box.translate {
  width: 10%;
  height: 100%;
  padding: var(--size-4) var(--size-3);
  justify-content: flex-end;
  color: var(--color-on-secondary-container);
  background-color: var(--color-secondary-container);
  border-radius: var(--shape-corner-s);
  min-width: fit-content;
  
  &:hover,
  &:focus,
  &:active {
    width: 100%;
    color: var(--color-on-primary-container);
    background-color: var(--color-primary-container);
    border-radius: var(--shape-corner-xl);
    transition-property: all;
  }
}

.box-container {
  display: flex;
  flex-flow: column nowrap;
  padding: var(--spacing-panes);
  gap: var(--size-2);
}

@keyframes pulse {
  0% {
    background-color: var(--color-surface-bright);
  }
  50% {
    background-color: var(--color-surface-dim);
  }
  100% {
    background-color: var(--color-surface-bright);
  }
}
