{{- define "main" }}
{{- if .Title }}
    <header class="page-header">
        <h1>{{ .Title }}</h1>
        {{- if .Description }}
        <div class="post-description">
            {{ .Description }}
        </div>
        {{- end }}
    </header>
{{- end }}
 
<ul class="terms">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.ByCount }}
        {{- $name := .Name }}
        {{- $count := .Count }}
        {{- with $.Site.GetPage (printf "/%s/%s" $type $name) }}
            <li>
                <a href="{{ "/category/" }}{{ .Name | urlize }}" class="terms {{ .Name | urlize }}" aria-label="term link to {{ .Name | urlize }}">{{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
            </li>
        {{- end }}
    {{- end }}
</ul>

{{- end }}{{/* end main */ -}}
