.basic-singlepane .pane {
  --flex: 1 1 auto;
  --width: 100%;
}

.basic-splitpane .pane {
  --flex: 1 1 0;
  --width: calc(50% - var(--spacing-panes) / 2);
}

.basic-fixedflex {
  --flex-flow: row nowrap;
  
  & .pane {
    --flex: 1 1 0;
    
    &.fixed-pane {
      --flex: 0 0 var(--fixed-pane-width);
      --width: var(--fixed-pane-width);
    }
  }

  &#single {
    --flex-flow: column-reverse nowrap;
    
    & .pane,
    & .pane.fixed-pane {
      --flex: 1 1 auto;
      --width: 100%;
    }
  }
}

/* Compact: 0px-599px */
@media screen and (max-width: 600px) {
  .basic-fixedflex:not(#single) {
    & .pane {
      --display: none;
    }
    
    &::before {
      content: "Compact: do not use this layout on screens smaller than 600px wide.";
      display: flex;
      color: var(--color-error);
      padding: 1em;
    }
  }
}

/* Large: 1200px-1599px */
@media screen and (min-width: 1200px) {
  .basic-fixedflex,
  .basic-fixedflex#single {
    --flex-flow: row nowrap;
    
    & .pane {
      --flex: 1 1 0;
      
      &.fixed-pane {
        --flex: 0 0 var(--fixed-pane-width);
        --width: var(--fixed-pane-width);
      }
    }
  }
}
