.canonical-feed .pane {
  --gap: var(--size-2);
  --display: flex;
  --flex-flow: row wrap;
  
  & .card {
    flex: 1 1 100%;
  }
}


.canonical-list-detail .pane.detail-pane,
.canonical-list-detail .pane.list-pane {
  --flex: 1 1 0;
}

.panes.canonical-supporting-pane {
  --flex-flow: column nowrap;
}

/* Compact: 0px-599px */
@media (max-width: 599px) {
  .canonical-list-detail .pane.detail-pane {
    --display: none;
  }
}

/* Medium: 600px-839px */
@media screen and (min-width: 600px) {
  .canonical-feed .pane .card {
    flex: 1 1 calc(100% / 2 - var(--spacing-panes));
  }
  .canonical-feed .pane .card img {
    max-height: 50%;
  }
}

/* Expanded: 840px-1199px */
@media screen and (min-width: 840px) {
  .canonical-feed .pane .card {
    flex: 1 1 calc(100% / 3 - var(--spacing-panes));
  }  

  .canonical-feed .pane .card img {
    max-height: 33%;
  }

  .panes.canonical-supporting-pane {
    --flex-flow: row nowrap;
  }
    
  .panes.canonical-supporting-pane .focus-pane {
    --flex: 2 1 0;
  }

  .panes.canonical-supporting-pane .supporting-pane {
    --flex: 1 2 0;
  }
}

/* Large: 1200px-1599px */
@media screen and (min-width: 1200px) {
  .canonical-feed .pane .card {
    flex: 1 1 calc(100% / 4 - var(--spacing-panes));
  }

  .canonical-feed .pane .card img {
    max-height: 25%;
  }
}

/* Extra large: 1600px+ */
@media screen and (min-width: 1600px) {
  .canonical-feed .pane .card {
    flex: 1 1 calc(100% / 5 - var(--spacing-panes));
  }
  
  .canonical-feed .pane .card img {
    max-height: 20%;
  }
}
