.set {
  --flex:             initial;
  --display:          initial;
  --flex-flow:        initial;
  --align-items:      initial;
  --align-content:    initial;
  --justify-content:  initial;
  --width:            initial;
  --gap:              initial;
  --overflow:         initial;
}

.set {
  flex:             var(--flex);
  display:          var(--display);
  flex-flow:        var(--flex-flow);
  align-items:      var(--align-items);
  align-content:    var(--align-content);
  justify-content:  var(--justify-content);
  width:            var(--width);
  gap:              var(--gap);
  overflow:         var(--overflow);
}
