/* Component Template */
/* .component {
/*  --container-display: initial;
/*  --container-flex-flow: initial;
/*  --container-justify-content: initial;
/*  --container-align-items: initial;
/*  --container-gap: initial;
/*  --container-height: initial;
/*  --container-width: initial;
/*  --container-padding: initial;
/*
/*  --container-outline: initial;
/*  --container-elevation: initial;
/*  --container-shape: initial;
/*
/*  --bg-color: initial;
/*
/*  --text-color: initial;
/*  --icon-color: initial;
/* }
*/

.component {
  display:          var(--container-display, auto);
  flex-flow:        var(--container-flex-flow, auto);
  justify-content:  var(--container-justify-content, auto);
  align-items:      var(--container-align-items, auto);
  gap:              var(--container-gap, auto);
  height:           var(--container-height, auto);
  width:            var(--container-width, auto);
  padding:          var(--container-padding, auto);

  border:           var(--container-outline, auto);
  border-radius:    var(--container-shape, auto);
  box-shadow:       var(--container-elevation, auto);

  background-color: var(--bg-color, auto);

  color:            var(--icon-color, var(--text-color, auto));
}

.component {
  position: relative;

  * {
    z-index: 2;
  }

  a:first-child {
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: 3;
  }
}

@media (prefers-reduced-motion) {
  :root {
    animation: none;
  }
}
