/* TODO Focus ring */
.component:focus-visible {
  --active-width: var(--size-1);
  --duration: var(--motion-duration-long2);

  --width: 2px;

  color: var(--color-secondary);

  animation-delay: 0s, calc(var(--duration) * 0.25);
  animation-duration: calc(var(--duration) * 0.25), calc(var(--duration) * 0.75);
  animation-timing-function: var(--motion-easing-emphasized);

  animation-name: outward-grow, outward-shrink;

  outline: var(--width) solid currentColor;
  outline-offset: calc(-2 * var(--width));
} 

.component::-moz-focus-inner {
  outline: none;
}

@keyframes outward-grow {
  from {
    outline-width: 0px;
  }
  to {
    outline-width: var(--active-width);
  }
}

@keyframes outward-shrink {
  from {
    outline-width: var(--active-width);
  }
}