.button {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-justify-content: center;
  --container-align-items: center;

  min-width: var(--size-10);

  --container-height: var(--size-10);
  --container-shape: calc(var(--container-height) / 2);
  --container-padding: 0 var(--size-6);

  transition: transform var(--motion-duration-short3),
    border-radius var(--motion-duration-short3),
    padding var(--motion-duration-short3);
  user-select: none;
  background-color: none;
  
  font-size: var(--typescale-label-large-size);
  line-height: var(--typescale-label-large-line-height);
  font-weight: var(--typescale-label-large-weight);
  font-family: var(--typescale-label-large-font);
}

/* Common Buttons */
.button.common {
  padding: 0 var(--spacing-m);
  gap: var(--spacing-s);

  --bg-color: none;
  --icon-color: var(--color-primary);

  i {
    font-size: 18px;
  }

  &.with-icon {
    padding-right: var(--spacing-l);
  }

  &.filled,
  &.filled-tonal,
  &.elevated,
  &.outlined {
    padding: 0 24px;

    &.with-icon {
      padding-left: 24px;
    }
  }

  &.filled {
    --bg-color: var(--color-primary);
    --icon-color: var(--color-on-primary);
  }

  &.filled-tonal {
    --bg-color: var(--color-secondary-container);
    --icon-color: var(--color-on-secondary-container);
  }

  &.elevated {
    --bg-color: var(--color-surface-container-low);
    --icon-color: var(--color-primary);
  }

  &.outlined {
    --container-outline: 1px solid var(--color-outline);
    --container-outline-hover: 1px solid var(--color-outline);
    --container-outline-focus: 1px solid var(--color-primary);
    --container-outline-press: 1px solid var(--color-outline);
  }
}
