{{ define "main" }}

<article class="layout panes canonical-feed">
    <section class="layout pane">
        <div class="component card" elevated>Lorem ipsum</div>
        <div class="component card" elevated>Lorem ipsum</div>
        <div class="component card" elevated>Lorem ipsum</div>
        <div class="component card" filled>Lorem ipsum</div>
        <div class="component card" filled>Lorem ipsum</div>
        <div class="component card" filled>Lorem ipsum</div>
        <div class="component card" outlined>Lorem ipsum</div>
        <div class="component card" outlined>Lorem ipsum</div>
        <div class="component card" outlined>Lorem ipsum</div>
    </section>
</article>

{{ end }}