{{- define "main" }}

<article class="layout panes canonical-feed" style="border: 1px solid">
    <section class="layout pane" style="border: 1px dashed">
        <div class="component card outlined">lorem ipsum</div>
        <div class="component card outlined">lorem ipsum</div>
        <div class="component card outlined">lorem ipsum</div>
        <div class="component card outlined">lorem ipsum</div>
        <div class="component card outlined">lorem ipsum</div>
        <div class="component card outlined">lorem ipsum</div>
        <div class="component card outlined">lorem ipsum</div>
        <div class="component card outlined">lorem ipsum</div>
        <div class="component card outlined">lorem ipsum</div>
    </section>
</article>

{{ end }}