.page-header {
  --display: flex;
  --flex-flow: column nowrap;
  --align-items: stretch;
  --align-content: initial;
  --justify-content: initial;
  --width: 100%;
  --height: auto;
  --min-height: auto;
  --border: inherit;
  --padding: var(--size-8);
  --gap: var(--size-8);
  
  & .title,
  & .description {
    display: inline;
    word-wrap: break-word;
    white-space: normal;
  }
  
  & .description {
    white-space: normal;
    overflow-wrap: break-word;   
  }
  
  & .metadata {
    color: var(--color-on-surface-variant);
  }
}
