.page-links {
  --flex: initial;
  --display: flex;
  --flex-flow: column nowrap;
  --align-items: stretch;
  --align-content: initial;
  --justify-content: flex-start;
  --width: 100%;
  --height: auto;
  --min-height: auto;
  --padding: var(--spacing-panes);
  --margin: 0;
  --gap: var(--size-2);

  --border: inherit;
  
  & #share-links,
  & #backlinks,
  & #related-pages {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    
    border-radius: var(--shape-corner-m);
    padding: var(--size-2) var(--size-5);
    
    & h5 {
      margin-top: var(--spacing-panes);
      margin-bottom: var(--size-2);
    }
  }

  & #backlinks,
  & #related-pages {
    & a {
      display: flex;
      flex-flow: row wrap;
      min-height: 42px;
      align-items: center;
    }
  }

  & #share-links {    
    gap: var(--size-3);

    & .share-buttons,
    & .action-buttons {
      display: flex;
      flex-flow: row wrap;
      gap: var(--size-2);
      padding: var(--size-3);

      & .button {
        flex: 1 1 0;
        min-width: fit-content;
      }
    }
  }
}

.share-buttons a svg {
  padding: var(--size-1) !important;
  margin: 0 !important;
}