.page-header {
  --display: flex;
  --flex-flow: column nowrap;
  --align-items: stretch;
  --align-content: initial;
  --justify-content: space-between;
  --width: 100%;
  --height: max-content;
  --border: inherit;
  --padding: var(--size-14) var(--spacing-panes);
  --gap: var(--size-5);

  background-color: var(--color-surface-container-lowest);
  
  & .title,
  & .description {
    display: inline;
    word-wrap: break-word;
    white-space: normal;
  }
  
  & .metadata {
    color: var(--color-on-surface-variant);
  }
}
