.token-set {
  --flex: initial;
  --display: flex;
  --flex-flow: column nowrap;
  --align-items: stretch;
  --align-content: initial;
  --justify-content: initial;
  --width: 100%;
  --height: initial;
  --min-height: initial;
  --padding: initial;
  --margin: initial;
  --gap: initial;

  --shape: initial;
  --border: initial;

  --bg: var(--color-token-set-container);

  margin-top: var(--size-3);
  overflow-x: auto;

  & .token-set-title {
    flex: 1 1 0;
    display: flex;
    flex-flow: row nowrap; 
    width: 100%;
    font-family: var(--typescale-title-large-font);
    font-size: var(--typescale-title-large-size);
    font-weight: var(--typescale-title-large-weight);
    line-height: var(--typescale-title-large-line-height);
    color: var(--color-on-surface);
    background-color: var(--color-surface-container-high);

    &:hover {
      background-color: var(--color-surface-container-highest);
    }
  }
}
