/* Surface */
.surface {
  --bg-color: var(--color-surface);
}

.surface-bright {
  --bg-color: var(--color-surface-bright);
}

.surface-dim {
  --bg-color: var(--color-surface-dim);
}

/* Surface containers */
.surface-container-lowest {
  --bg-color: var(--color-surface-container-lowest);
}

.surface-container-low {
  --bg-color: var(--color-surface-container-low);
}

.surface-container {
  --bg-color: var(--color-surface-container);
}

.surface-container-high {
  --bg-color: var(--color-surface-container-high);
}

.surface-container-highest {
  --bg-color: var(--color-surface-container-highest);
}

/* On surface */
.on-surface {
  --icon-color: var(--color-on-surface);
  --text-color: var(--color-on-surface);
}

.on-surface-variant {
  --icon-color: var(--color-on-surface-variant);
  --text-color: var(--color-on-surface-variant);
}

/* Primary */
.primary {
  --bg-color: var(--color-primary);

  --icon-color: var(--color-on-primary);
  --text-color: var(--color-on-primary);
}

.primary-container {
  --bg-color: var(--color-primary-container);

  --icon-color: var(--color-on-primary-container);
  --text-color: var(--color-on-primary-container);
}

/* Secondary */
.secondary {
  --bg-color: var(--color-secondary);

  --icon-color: var(--color-on-secondary);
  --text-color: var(--color-on-secondary);
}

.secondary-container {
  --bg-color: var(--color-secondary-container);

  --icon-color: var(--color-on-secondary-container);
  --text-color: var(--color-on-secondary-container);
}

/* Tertiary */
.tertiary {
  --bg-color: var(--color-tertiary);

  --icon-color: var(--color-on-tertiary);
  --text-color: var(--color-on-tertiary);
}

.tertiary-container {
  --bg-color: var(--color-tertiary-container);

  --icon-color: var(--color-on-tertiary-container);
  --text-color: var(--color-on-tertiary-container);
}

/* Inverse */
.inverse-surface {
  --bg-color: var(--color-inverse-surface);

  --icon-color: var(--color-inverse-on-surface);
  --text-color: var(--color-inverse-on-surface);
}

.inverse-primary {
  --bg-color: var(--color-inverse-surface);

  --icon-color: var(--color-inverse-primary);
  --text-color: var(--color-inverse-primary);
}

/* Error */
.error {
  --bg-color: var(--color-error);

  --icon-color: var(--color-on-error);
  --text-color: var(--color-on-error);
}

.error-container {
  --bg-color: var(--color-error-container);

  --icon-color: var(--color-on-error-container);
  --text-color: var(--color-on-error-container);
}

/* || Add on color roles */

/* Scrim and shadow */
.scrim {
  --bg-color: var(--color-scrim);
}

.shadow {
  --bg-color: var(--color-shadow);
}

/* Outlines */
.outline {
  border: 1px solid var(--color-outline);
}

.outline-variant {
  border: 1px solid var(--color-outline-variant);
}

/* Fixed accent colors */

/* Primary */
.primary-fixed {
  --bg-color: var(--color-primary-fixed);
}

.on-primary-fixed {
  --icon-color: var(--color-on-primary-fixed);
  --text-color: var(--color-on-primary-fixed);
}

.primary-fixed-dim {
  --bg-color: var(--color-primary-fixed-dim);
}

.on-primary-fixed-variant {
  --icon-color: var(--color-on-primary-fixed-variant);
  --text-color: var(--color-on-primary-fixed-variant);
}

/* Secondary */
.secondary-fixed {
  --bg-color: var(--color-secondary-fixed);
}

.on-secondary-fixed {
  --icon-color: var(--color-on-secondary-fixed);
  --text-color: var(--color-on-secondary-fixed);
}

.secondary-fixed-dim {
  --bg-color: var(--color-secondary-fixed-dim);
}

.on-secondary-fixed-variant {
  --icon-color: var(--color-on-secondary-fixed-variant);
  --text-color: var(--color-on-secondary-fixed-variant);
}

/* Tertiary */
.tertiary-fixed {
  --bg-color: var(--color-tertiary-fixed);
}

.on-tertiary-fixed {
  --icon-color: var(--color-on-tertiary-fixed);
  --text-color: var(--color-on-tertiary-fixed);
}

.tertiary-fixed-dim {
  --bg-color: var(--color-tertiary-fixed-dim);
}

.on-tertiary-fixed-variant {
  --icon-color: var(--color-on-tertiary-fixed-variant);
  --text-color: var(--color-on-tertiary-fixed-variant);
}

.sub180 {
  background-color: var(--color-sub180);
  color: var(--color-on-sub180);
}

.sub180-container {
  background-color: var(--color-sub180-container);
  color: var(--color-on-sub180-container);
}

.add180 {
  background-color: var(--color-add180);
  color: var(--color-on-add180);
}

.add180-container {
  background-color: var(--color-add180-container);
  color: var(--color-on-add180-container);
}

.sub30 {
  background-color: var(--color-sub30);
  color: var(--color-on-sub30);
}

.sub30-container {
  background-color: var(--color-sub30-container);
  color: var(--color-on-sub30-container);
}

.add30 {
  background-color: var(--color-add30);
  color: var(--color-on-add30);
}

.add30-container {
  background-color: var(--color-add30-container);
  color: var(--color-on-add30-container);
}

.sub60 {
  background-color: var(--color-sub60);
  color: var(--color-on-sub60);
}

.sub60-container {
  background-color: var(--color-sub60-container);
  color: var(--color-on-sub60-container);
}

.add60 {
  background-color: var(--color-add60);
  color: var(--color-on-add60);
}

.add60-container {
  background-color: var(--color-add60-container);
  color: var(--color-on-add60-container);
}

.sub90 {
  background-color: var(--color-sub90);
  color: var(--color-on-sub90);
}

.sub90-container {
  background-color: var(--color-sub90-container);
  color: var(--color-on-sub90-container);
}

.add90 {
  background-color: var(--color-add90);
  color: var(--color-on-add90);
}

.add90-container {
  background-color: var(--color-add90-container);
  color: var(--color-on-add90-container);
}

.sub120 {
  background-color: var(--color-sub120);
  color: var(--color-on-sub120);
}

.sub120-container {
  background-color: var(--color-sub120-container);
  color: var(--color-on-sub120-container);
}

.add120 {
  background-color: var(--color-add120);
  color: var(--color-on-add120);
}

.add120-container {
  background-color: var(--color-add120-container);
  color: var(--color-on-add120-container);
}

.sub150 {
  background-color: var(--color-sub150);
  color: var(--color-on-sub150);
}

.sub150-container {
  background-color: var(--color-sub150-container);
  color: var(--color-on-sub150-container);
}

.add150 {
  background-color: var(--color-add150);
  color: var(--color-on-add150);
}

.add150-container {
  background-color: var(--color-add150-container);
  color: var(--color-on-add150-container);
}

.complementary {
  background-color: var(--color-complementary);
  color: var(--color-on-complementary);
}

.complementary-container {
  background-color: var(--color-complementary-container);
  color: var(--color-on-complementary-container);
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem;
  border-radius: var(--shape-corner-none);

  * {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: inherit;

    padding: 1rem;
  }

  .primary-test {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    grid-column: span 2;
  }
  
  .primary-container-test {
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
    grid-column: span 2;
  }
  
  .complementary {
    grid-column: span 2;
  }
  
  .complementary-container {
    grid-column: span 2;
  }
}
