.debug-config {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    margin: 32px;
    border-radius: 16px;
    gap: 16px;

    section {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        padding: 16px;
        border-radius: 16px;
    }
}

.debug-config h6 {
    padding: 16px;
    background-color: var(--color-surface-container-highest);
    margin-block: 16px;
}

.debug-config pre {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--color-surface-container-high);
}

.debug-config pre:nth-child(even) {
    background-color: var(--color-surface-container);
}

.debug-config tbody {
    display: table;
    width: 100%;
}

.debug-config th, 
.debug-config td {
    text-align: left;
    padding: 12px;
    border: 1px solid var(--color-surface-container-high);
}

.debug-config th {
    background-color: var(--color-surface-container-highest);
}