header {
  background-color: var(--color-surface-container);
}

.layout.content-wrapper {
  --bg: var(--color-surface-container-lowest);

  .layout.panes {
    --bg: var(--color-surface-container-lowest);

    .layout.pane {
      --bg: var(--color-surface);
    }
  }

  .layout.page-header {
    --bg: var(--color-surface-container-low);
  }

  .layout.page-links {
    --bg: var(--color-surface-container-low);
  }

  .layout.page-navigation {
    --bg: var(--color-surface-container-low);
  }
}

footer {
  background-color: var(--color-surface-container);
}
