header {
  border-radius: var(--shape-corner-none);
}

.layout.content-wrapper {
  --shape: var(--shape-corner-none);

  .layout.panes {
    --shape: var(--shape-corner-none);

    .layout.pane {
      --shape: var(--shape-corner-none);
    }
  }

  .layout.page-header {
    --shape: var(--shape-corner-xl-bottom);
  }

  .layout.page-links {
    --shape: var(--shape-corner-xl-top);
  }

  .layout.page-navigation {
    --shape: var(--shape-corner-none);
  }
}

footer {
  border-radius: var(--shape-corner-none);
}
