a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }

  &:not(.component) {
    &:hover {
      text-decoration: underline;
    }
    
    &.internal-link {
      color: var(--color-primary);
    }

    &.external-link {
      color: var(--color-tertiary);
    }
  }
}