p {
  font-size: var(--typescale-body-large-size);
  line-height: var(--typescale-body-large-line-height);
  font-weight: var(--typescale-body-large-weight);
  font-family: var(--typescale-body-large-font);
}

label {
  font-size: var(--typescale-label-large-size);
  line-height: var(--typescale-label-large-line-height);
  font-weight: var(--typescale-label-large-weight);
  font-family: var(--typescale-label-large-font);
}

h1 {
  font-size: var(--typescale-display-large-size);
  line-height: var(--typescale-display-large-line-height);
  font-weight: var(--typescale-display-large-weight);
  font-family: var(--typescale-display-large-font);
}

h2 {
  font-size: var(--typescale-display-medium-size);
  line-height: var(--typescale-display-medium-line-height);
  font-weight: var(--typescale-display-medium-weight);
  font-family: var(--typescale-display-medium-font);
}

h3 {
  font-size: var(--typescale-display-small-size);
  line-height: var(--typescale-display-small-line-height);
  font-weight: var(--typescale-display-small-weight);
  font-family: var(--typescale-display-small-font);
}

h4 {
  font-size: var(--typescale-headline-large-size);
  line-height: var(--typescale-headline-large-line-height);
  font-weight: var(--typescale-headline-large-weight);
  font-family: var(--typescale-headline-large-font);
}

h5 {
  font-size: var(--typescale-headline-medium-size);
  line-height: var(--typescale-headline-medium-line-height);
  font-weight: var(--typescale-headline-medium-weight);
  font-family: var(--typescale-headline-medium-font);
}

h6 {
  font-size: var(--typescale-headline-small-size);
  line-height: var(--typescale-headline-small-line-height);
  font-weight: var(--typescale-headline-small-weight);
  font-family: var(--typescale-headline-small-font);
}

strong,
b {
  font-weight: var(--typeface-weight-bold);
}

em {
  font-style: italic;
}

p {
  margin-block: 1em;
}

p,
ul,
ol,
li,
strong,
b,
em {
  max-width: 60ch;
  white-space: normal;
  overflow-wrap: break-word;
}

.highlight {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  overflow: auto;
  padding-block: var(--size-2);
}

pre,
code {
  color: var(--color-on-surface-variant);
  text-shadow: 0 1px 1px var(--color-surface);
  
  direction: ltr;
  text-align: left;
  
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.5;
  font-size: var(--typescale-body-medium-size);
  
  background: none;
  border: 0;

  tab-size: 2;
  hyphens: none;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.strike-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.highlight {
  font-family: var(--typeface-mono);
  margin-block: var(--size-2);
}

#post-content {  
  h2:not(:first-child),
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 1.618em;
    margin-block-end: 0.618em;
  }

  ul,
  ol,
  li {
    list-style-type: disc;
    margin-inline-start: 1rem;
  }
}

:not(pre) > code {
  display: inline flex;
  flex-flow: row nowrap;
  font-family: var(--typeface-mono);
  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
  padding: 0.125em 0.5em;
  margin-block: 0 0.125em;
  margin-inline: 0.125em;
  border-radius: var(--shape-corner-xs);
}