/* 404 Page */
.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    font-size: 4rem;
    font-weight: 700;
}

.go-home {
    font-size: 1.5rem;
    color: var(--secondary);
    margin: var(--gap);
}

.go-home:hover {
    color: var(--link);
    text-decoration: underline;
}