/* 404 Page */
.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: calc(var(--gap) * 2);
}

.page-not-found-header {
    font-weight: bold;
    font-size: 4rem;
}

.page-not-found {
    font-weight: bold;
    font-size: 2rem;
}

.go-home {
    width: fit-content;
    padding: 1rem;
    border-radius: calc(var(--radius) * 4);
    background: var(--entry);
}
.go-home a {
    color: var(--primary);
}

.go-home:hover {
    filter: brightness(1.1);
}