/* 404 Page */
div.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--large-gap);
    
    & h1.page-not-found-header {
    }
    
    & p.page-not-found {
    }
    
    & h3.go-home {
        
        & a {
            padding: 1rem;
            border-radius: var(--btn-rad);
            background: var(--color-secondary);
            color: var(--color-on-secondary);
        }
    }
}
