/* || HOME PAGE - PROFILE MODE */
div.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  padding: 4rem;
  gap: var(--large-gap);

  & img {
    display: inline-table;
    border-radius: 50%;
    align-self: center;
  }

  & h1 {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  & div.home-button-container {
    display: flex;
    flex-flow: column wrap;


    & a.home-button {
      font-size: 1.5rem;
      cursor: pointer;
      pointer-events: fill;
      padding: 1rem;
      align-self: center;
      width: fit-content;
      color: var(--color-on-surface);
      border-bottom: 1px solid var(--color-border);
      
      &:hover {
        text-decoration: none;
        color: var(--color-primary);
        background: var(--el2);
        border-bottom: 1px solid var(--color-primary);
        box-shadow: var(--shadow2);
      }
    }
  }
}

  