/* POSTS CONTAINER - GRID */
div.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10rem, auto);
    padding: 2rem;
    
    & article.post-entry {
        display: flex;
        flex-direction: column;
        background: var(--el1);
        box-shadow: var(--shadow1);
        border-radius: var(--radius);
        overflow: hidden;
        position: relative;

        & a.entry-link {
            position: absolute;
            top: 0;
            left: 0; 
            width: 100%;
            height: 100%;
            z-index: 1;                
        }

        & img.entry-cover {
            object-fit: cover;
            width: 100%;
            height: 8rem;
        }

        & div.contained-post {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            /* Entry Footer */
            & footer.entry-footer {
                font-size: 0.8rem;
            }
    
            /* Entry Header */
            & header.entry-header {
                padding: 1rem 0 0.5rem 0;
                overflow: hidden;
    
                & h2 {
                    font-size: 1rem;
                    padding: 0;
                    margin: 0;
                }
            }
        }

    }
}
