
/* || SINGLE HEADER */
header.post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem;
    
    /* Meta */
    & div.post-meta-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
        font-size: 0.9rem;
        
        & div.post-meta {
          color: var(--color-on-surface-low);
            
            & .i18n_list li {
                list-style: none;
            }
        }
    }
  
        
    /* Description */
    & p.post-description {
        display: inline;
        width: 100%;
        color: var(--color-on-surface);
        text-align: center;
        text-wrap: pretty;
    }
  
    /* GitHub Button */
    & div.post-github-button {
      display: flex; 
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--color-border);
      padding: 1rem;
      
      & .github-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--btn-rad);
            white-space: nowrap; /* Prevent the text from wrapping */
            background: var(--color-secondary-900);
            color: var(--color-on-surface);
            box-shadow: var(--shadow1);
            padding: 1rem;
          
            & .repo-name-link {
                font-family: 'IBM Plex Mono', monospace;
                color: var(--color-secondary-100);
            }
            
            &:hover {
                text-decoration: none;
                background: var(--color-secondary-800);
                box-shadow: var(--shadow2);
            }
        }
    }
  }