/* Subsections */
section.subsections {
    display: flex;
    flex-flow: column wrap;

    & h2.subsection {
        display: flex;
        flex-flow: column wrap;
        margin: 0;
        padding: 1rem; 
        background: var(--el1);
        box-shadow: var(--shadow1);
        border-bottom: 1px solid var(--color-border);
        width: 100%;
        flex-shrink: 0;
        justify-content: center;
        align-items: stretch;

        &:hover {
            background: var(--el2);
            box-shadow: var(--shadow2);
            border-bottom: 1px solid var(--color-primary);
        }
        
        & a {
            color: var(--color-on-surface);
            font-style: normal;
            text-align: left;

            &:hover {
                text-decoration: none;
            }
        }
        
    }
}

