div.single-grid {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

div.post-footer-div {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    padding: 0 8rem;
}

div.pre-div {
    flex: 1 1;
}

article.post-single {
    flex: 4 1;
}

/* Post Content */
div.post-content {
    & a {
        & code {
            border-radius: 0;
        }
    }

    & strong {
        color: var(--color-on-surface);
    }

    & p {
        color: var(--color-on-surface-low);
        padding: 0 1rem;
        line-height: 1.5;

    }
    
    & ul,
    & li {
        line-height: 1;
        padding: 0;
        margin: 0 1rem;

        & p {
            margin: 0;
            padding: 0;
        }
    }

    & del {
        text-decoration: none;
        background: linear-gradient(to right, var(--color-on-surface) 100%, transparent 0) 0 50%/1px 1px repeat-x;
    }
    
    & dl {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    
    & dt {
        width: 25%;
        font-weight: 700;
    }
    
    & dd {
        width: 75%;
        margin-inline-start: 0;
        padding-inline-start: 10px;
    }
    
    & dd ~ dd,
    & dt ~ dt {
        margin-top: 10px;
    }
    
    & table {
        margin-bottom: 32px;
    }
    
    & table th,
    & table:not(.highlighttable, .highlight table, .gist .highlight) td {
        min-width: 80px;
        padding: 12px 8px;
        line-height: 1.5;
        border-bottom: 1px solid var(--color-primary-variant);
    }
    
    & table th {
        font-size: 14px;
        text-align: start;
    }
    
    & table:not(.highlighttable) td code:only-child {
        margin: auto 0;
    }
    
    & .highlight table {
        border-radius: var(--radius);
    }
    
    & .highlight:not(table),
    & pre {
        margin: 10px auto;
        background: var(--hljs-bg) !important;
        border-radius: var(--radius);
    }
    
    & li > .highlight {
        margin-inline-end: 0;
    }
    
    
    & .highlight pre {
        margin: 0;
    }
    
    & .highlighttable {
        table-layout: fixed;
    }
    
    & .highlighttable td:first-child {
        width: 40px;
    }
    
    & .highlighttable td .linenodiv {
        padding-inline-end: 0 !important;
    }
    
    & .highlighttable td .highlight,
    & .highlighttable td .linenodiv pre {
        margin-bottom: 0;
    }
    
    & .highlighttable td .highlight pre code::-webkit-scrollbar {
        display: none;
    }
    
    & code {
        margin: auto 4px;
        padding: 4px 6px;
        font-size: 0.78em;
        line-height: 1.5;
        border-radius: 2px;
        background: var(--code-bg);
    }
    
    & pre code {
        display: block;
        margin: auto 0;
        padding: 10px;
        background: 0 0;
        border-radius: 0;
        overflow-x: auto;
        word-break: break-all;
    }
    
    & blockquote {
        margin: 20px 0;
        padding: 0 14px;
        border-inline-start: 3px solid var(--color-on-surface);
    }
    
    & hr {
        margin: 1rem;
        padding: 0;
        background: var(--color-border);
        height: 0.0625rem;
        border-top: 0;
        border-bottom: 0;
    }
    
    & iframe {
        max-width: 100%;
    }
    
    & img[src*="#center"] {
        margin: 1rem auto;
    }
    
    & figure.align-center {
        text-align: center;
    }
    
    & figure > figcaption {
        color: var(--color-on-surface);
        font-size: 16px;
        font-weight: bold;
        margin: 8px 0 16px;
    }
    
    & figure > figcaption > p {
        color: var(--color-on-surface);
        font-size: 14px;
        font-weight: normal;
    }

    /* Scrollbar Styling */
    & :not(table) ::-webkit-scrollbar-thumb {
        border: 2px solid var(--hljs-bg);
        background: rgb(113, 113, 117);
    }

    & :not(table) ::-webkit-scrollbar-thumb:hover {
        background: rgb(163, 163, 165);
    }

    & table::-webkit-scrollbar-thumb {
        border-width: 2px;
    }
}

h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
h5 .anchor,
h6 .anchor {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-on-surface);
    margin-inline-start: 8px;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;
    font-size: smaller;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    display: inline-block;
}