/*  Backlinks & Related Posts */
aside.backlinks {
    background: var(--el1);
    box-shadow: var(--shadow1);
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    margin: 2rem 0;

    & h2 {
        width: 90%;
        align-self: center;
        text-align: center;
    }

    & ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin: 1rem 0;
        padding: 0 1rem;
        
        & li {
            list-style: none;
            padding: 1rem;
            background: var(--el2);
            box-shadow: var(--shadow2);
        }
    }
}