/* || HEADER PAGE - SPECIFIC TO PAGES */
header.header-page {
  background: var(--color-surface);
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  padding: 1rem 8rem;

  /* BREADCRUMBS */
  & .nav-breadcrumb {
    margin: 1rem 0;

      & a {

        &:hover {
          border-bottom: 1px solid;
        }
      }

      & ol {
        list-style: none;
      }

      & li {
        display: inline;
        
        &:not(:last-child)::after {
          content: ">";
          padding: 0 0.4rem;
        }
      }

      &:not(.active) {
        & a {
          text-decoration: none;
        }
      }
  }

  /* PAGE HEADER - Title */
  & .page-header {
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-wrap: balance;
    text-align: center;
  }
}
