/* || SITEWIDE */
*,
::after,
::before {
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

/* || GENERAL STYLES */

/* HTML */
html {
    -webkit-tap-highlight-color: transparent;
    overflow-y: scroll;
    font-size: 16px;
}

/* BODY */
body {
    margin: 0;


    display: flex;
    flex-flow: column wrap;
    background: var(--background-theme);
    color: var(--bg-text);
    min-height: 100vh;

    align-items: stretch;
    justify-content: center;
 
    &.dark #moon {
        display: none;
    }
    
    &:not(.dark) #sun {
        display: none;
    }
}

main {
    background: var(--theme);
    display: flex; 
    flex-flow: column wrap;
    width: 100vw;
    padding: 0 5rem 5rem 5rem;
    flex: 1;
}

/* Links */
a {
    text-decoration: none;
    color: var(--primary);
}

img {
    max-width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
}

/* Tables */
table {
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    word-break: keep-all;
}

/* Form Elements */
button {
    border: 0;
    cursor: pointer;
}

input,
textarea,
button {
    background: var(--background-theme);
    color: var(--primary);
    border-radius: var(--radius);
}

input[type="button"],
input[type="submit"] {
    cursor: pointer;
}

.list {
    &:not(.dark)::-webkit-scrollbar-track {
        background: var(--code-bg);
    }

    &:not(.dark)::-webkit-scrollbar-thumb {
        border: 5px solid var(--code-bg);
    }
}

/* || UTILITIES */
::-webkit-scrollbar-track {
    background: 0 0;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border: 5px solid var(--theme);
    border-radius: var(--radius);

    &:hover {
        background: var(--secondary);
    }
}

/* Gist Table */
.gist table {
    &::-webkit-scrollbar-thumb {
        border: 2px solid rgb(255, 255, 255);
        background: rgb(173, 173, 173);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(112, 112, 112);
    }
}