/* Archive */
.archive-posts {
    font-size: 1rem;
    width: 100%;
}

/* Archive Year */
.archive-year {
    margin-top: 40px;
    
    &:not(:last-of-type) {
        border-bottom: 2px dotted var(--border);
    }
}

/* Archive Month */
.archive-month {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    
    &:not(:last-of-type) {
        border-bottom: 1px dotted var(--border);
    }
}

.archive-month-header {
    margin: 25px 0;
    width: 200px;
}

/* Archive Entry */
.archive-entry {
    position: relative;
    padding: 1rem;
    margin: 1rem;

    & a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    &:hover {
        background: var(--entry);
        filter: brightness(1.1);
        border-radius: var(--radius);
    }
}

.archive-entry-title {
    margin: 5px 0;
    font-weight: 400;
}

/* Archive Count */
.archive-count,
.archive-meta {
    color: var(--secondary);
    font-size: 14px;
}


div.sort-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: fit-content;
    position: absolute;
    right: 5rem;
    z-index: 1;

    
    & button#sort-button {
        font-family: 'IBM Plex Mono';
        background: var(--background-theme);  
        border-radius: var(--btn-rad);
        padding: 1rem;
        width: max-content;

        &:hover {
            filter: brightness(1.1);
            text-decoration: underline;
        }
    }
    
    &::before {
        content: "Sort by: ";
    }

}
