/* || HOME PAGE - PROFILE MODE */
div.profile {
  display: flex;
  align-self: center;
  justify-self: center;
  padding: 8rem;

  .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      display: inline-table;
      border-radius: 50%;
    }

    .subtitle {
      font-size: 1.3em;
      text-wrap: balance;
      font-style: italic;
    }

    a {
      color: var(--link);
    }
  }
}

/* Project Buttons */
.buttons {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;

  .button {
    background: var(--tertiary);
    color: var(--theme);
    cursor: pointer;
    pointer-events: fill;
    font-size: 1.4em;
    border-radius: calc(var(--radius) * 15);
    text-align: center;
    font-weight: bold;
    width: fit-content;
    padding: 1rem;
    margin: 1rem;

    &:hover {
      filter: brightness(1.05) hue-rotate(100deg);
    }

    .button-inner {
      color: rgb(0, 0, 0);
    }

    &.university-coursework-projects {
      background-color: var(--university-bg);
    }

    &.software-development-projects {
      background-color: var(--software-bg);
    }
  }
}
  