/* Admonitions */
.warning,
.caution,
.note,
.example,
.tip,
.important,
.pinned,
.quote,
.comment,
.query,
.export,
.verse {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: var(--radius);

  &::before {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border-radius: 50%;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
  }
}

.warning {
  background: var(--warning-bg);
  color: var(--warning-text);

  &::before {
    content: "\26A0";
    background: var(--warning-text);
    color: var(--warning-bg);
  }
}

.caution {
  background: var(--caution-bg);
  color: var(--caution-text);

  &::before {
    content: "\2612";
    background: var(--caution-text);
    color: var(--caution-bg);
  }
}

.note {
  background: var(--note-bg);
  color: var(--note-text);

  &::before {
    content: "\269B";
    background: var(--note-text);
    color: var(--note-bg);
  }
}

.example {
  background: var(--example-bg);
  color: var(--example-text);

  &::before {
    content: "\2692";
    background: var(--example-text);
    color: var(--example-bg);
  }
}

.tip {
  background: var(--tip-bg);
  color: var(--tip-text);

  &::before {
    content: "\2611";
    background: var(--tip-text);
    color: var(--tip-bg);
  }
}

.important {
  background: var(--important-bg);
  color: var(--important-text);

  &::before {
    content: "\2605";
    background: var(--important-text);
    color: var(--important-bg);
  }
}

.pinned {
  background: var(--pinned-bg);
  color: var(--pinned-text);

  &::before {
    content: "\1F876";
    background: var(--pinned-text);
    color: var(--pinned-bg);
  }
}

.quote {
  background: var(--quote-bg);
  color: var(--quote-text);

  &::before {
    content: "\267B";
    background: var(--quote-text);
    color: var(--quote-bg);
  }
}

.comment {
  background: var(--comment-bg);
  color: var(--comment-text);

  &::before {
    content: "\27A4";
    background: var(--comment-text);
    color: var(--comment-bg);
  }
}

.query {
  background: var(--query-bg);
  color: var(--query-text);

  &::before {
    content: "\27B6";
    background: var(--query-text);
    color: var(--query-bg);
  }
}

.export {
  background: var(--export-bg);
  color: var(--export-text);

  &::before {
    content: "\21B3";
    background: var(--export-text);
    color: var(--export-bg);
  }
}

.verse {
  background: var(--verse-bg);
  color: var(--verse-text);

  &::before {
    content: "\2B19";
    background: var(--verse-text);
    color: var(--verse-bg);
  }
}
