/* Archive */
.archive-posts {
    width: 100%;
    font-size: 16px;
}

/* Archive Year */
.archive-year {
    margin-top: 40px;
}

.archive-year:not(:last-of-type) {
    border-bottom: 2px solid var(--border);
}

/* Archive Month */
.archive-month {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

.archive-month-header {
    margin: 25px 0;
    width: 200px;
}

.archive-month:not(:last-of-type) {
    border-bottom: 1px solid var(--border);
}

/* Archive Entry */
.archive-entry {
    position: relative;
    padding: 5px;
    margin: 10px 0;
}

.archive-entry:hover {
    background: var(--entry);
    filter: brightness(1.1);
    border-radius: var(--radius);
}

.archive-entry-title {
    margin: 5px 0;
    font-weight: 400;
}

/* Archive Count */
.archive-count,
.archive-meta {
    color: var(--secondary);
    font-size: 14px;
}

.filter-and-sort {
    display: flex;
    justify-content: space-between;
    gap: calc(var(--content-gap) / 4);
    margin: 1vh 0 0 0;
    width: 100%;
    padding-top: var(--content-gap);
    font-weight: bold;
}

.filter-and-sort select {
    border-radius: calc(var(--radius) * 2);
    color: var(--theme);
    background: var(--secondary);
    padding: 0.5vh 1vw 0.5vh 1vw;
    vertical-align: auto;
}

.filter-category {
    display: inline-flex;
    gap: var(--content-gap);
}
.sort-order {
    display: inline-flex;
    gap: var(--content-gap);
}

