/*  Backlinks & Related Posts */
.backlinks {
    & a {
        display: inline-block;
        color: var(--link);

        &:hover {
            text-decoration: underline;
        }
    }
}

.related {
    & a {
        display: inline-block;
        color: var(--link);
        
        &:hover {
            text-decoration: underline;
        }
    }
}