.breadcrumb {
    & ol {
        padding-left: 0;
    }

    & li {
        display: inline;
        
        &:not(:last-child)::after {
            content: ">";
            padding: 0 0.5rem;
        }
    }

    &:not(.active) { 
        & a {
            color: var(--link);
            text-decoration: none;
        }
    }
}