.breadcrumbs {
    color: var(--secondary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.breadcrumbs {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.breadcrumbs a {
    color: var(--link);
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs span {
    font-weight: bold;
}
