.breadcrumb ol {
    padding-left: 0;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li:not(:last-child)::after {
    content: ">";
    padding: 0 0.5rem;
}

.breadcrumb:not(.active) a {
    color: var(--link);
    text-decoration: none;
}
