/* Top-Link: Scroll to Top Button */
a#top-link.top-link {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: fixed;
    bottom: 8rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 100;
    padding: 0.6rem;
    border-radius: var(--btn-rad);
    color: var(--color-on-primary);
    background: var(--color-primary);
    
    &:focus {
        outline: 0;
    }
}
