/* Category */
.category {
    display: inline-flex;

    border-radius: var(--radius); /* Increased border-radius for more rounded corners */

    margin: 1em -1em 0 2em; /* Reduced margin for categories to be closer together */
    padding: 0.5vw 1vw;
    
    font-size: 12px;
    font-weight: bold;

    position: relative;
    pointer-events: auto;
    z-index: 2;
    color: rgb(0, 0, 0);
}

/* Category hover effect */
.category:hover {
    filter: brightness(1.1);
}

/* Category colors for unique categories*/
.category.lists {
    background-color: var(--lists-bg);
}

.category.software-development-projects {
    background-color: var(--software-bg);
}

.category.university-coursework-projects {
    background-color: var(--university-bg);
}

.category.meta {
    background-color: var(--meta-bg);
}