/* Footer */
.footer {
    font-size: 14px;
    color: var(--primary);
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    margin: 2vh 0 1vh 0;
    text-align: center;
    flex-direction: column;
}

/* */
.footer.front {
    z-index: 1;
    display: none;
}

.footer a {
    color: var(--link);
}

.footer span a:hover {
    border-bottom: 1px solid var(--primary);
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.social-icons a svg {
    width: 24px;
    height: 24px;
    margin: 0 8px;
    transition: transform 0.3s;
    color: var(--content);
}

.social-icons svg:hover {
    color: var(--link);
}
