.footer,
.top-link {
    font-size: 13px;
    color: var(--primary);
}

.footer {
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer span {
    margin: 0 1px;
}

.footer span:last-child {
    white-space: nowrap;
}

.footer a {
    color: var(--link);
}

.footer a:hover {
    border-bottom: 1px solid var(--primary);
}

/* Scroll to top button */
.top-link {
    visibility: hidden;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    background: var(--theme);
    color: var(--link);
    box-shadow: 1px 1px 8px 0 var(--shadow);
    width: 42px;
    height: 42px;
    padding: 12px;
    border-radius: 64px;
    transition: visibility 0.5s, opacity 0.8s linear;
}

.top-link,
.top-link svg {
    filter: drop-shadow(0px 0px 0px var(--theme));
}

.footer a:hover,
.top-link:hover {
    color: var(--secondary);
}

.top-link:focus,
#theme-toggle:focus {
    outline: 0;
}
