/* Footer */
.footer {
    font-size: 14px;
    color: var(--primary);
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    margin: 2vh 0 1vh 0;
    text-align: center;
    flex-direction: column;
}

/* */
.footer.front {
    z-index: 1;
    display: none;
}

.footer a {
    color: var(--link);
}

.footer span a:hover {
    border-bottom: 1px solid var(--primary);
}

/* Scroll to Top */
.top-link {
    font-size: 14px;
    visibility: hidden;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    background: var(--theme);
    color: var(--link);
    box-shadow: 1px 1px 8px 0 var(--shadow);
    width: 42px;
    height: 42px;
    padding: 12px;
    border-radius: 64px;
    transition: visibility 0.5s, opacity 0.8s linear;
}

.top-link,
.top-link svg {
    filter: drop-shadow(0px 0px 0px var(--theme));
}

.footer a:hover,
.top-link:hover {
    color: var(--secondary);
}

.top-link:focus,
#theme-toggle:focus {
    outline: 0;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.social-icons a svg {
    width: 24px;
    height: 24px;
    margin: 0 8px;
    transition: transform 0.3s;
    color: var(--content);
}

.social-icons svg:hover {
    color: var(--link);
}
