/* Gist Table */
.gist table {
    &::-webkit-scrollbar-thumb {
        border: 2px solid rgb(255, 255, 255);
        background: rgb(173, 173, 173);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(112, 112, 112);
    }
}
