/* GitHub Button */
.github-button {
    display: inline-flex;
    padding: calc(var(--gap)) var(--gap);
    margin: 1vh 0 0 0;
    background-color: var(--entry);
    border-radius: var(--radius);
    font-weight: bold;
    font-size: var(--content-gap);
    filter: saturate(180%) brightness(110%);
    white-space: nowrap; /* Prevent the text from wrapping */
    box-shadow: 0.2vh 0.2vh 0.5vh 0 rgba(0, 0, 0, 0.5);
}

.github-button:hover, .github-button:focus {
    filter: brightness(90%);
}
