.main {
    position: relative;
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
}

.page-header h1 {
    font-size: 40px;
}

/* Page Footer */
.page-footer {
    text-align: center;
    padding: 40px 0;
    font-size: 14px;
    font-weight: bold;
}

/* Pagination */
.pagination a,
.pagination span {
    padding: 1vh 1vw;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--gap);
    filter: brightness(1.1);
}

.pagination a:hover {
    transform: scale(0.9);
}

.pagination .disabled {
    pointer-events: none;
    filter: grayscale(1) opacity(0.3);
    font-weight: normal;
    border: transparent;
}

/* Social Icons */
.social-icons a svg {
    height: 48px;
    width: 48px;
}

/* Code Highlight */
code {
    direction: ltr;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    padding: 4px 8px;
    user-select: none;
}

/* Copy Code on Hover */
div.highlight,
pre {
    position: relative;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}
