/* Main Sections Container */
.main-sections-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap)*2);
    margin: 4rem 0;
}

/* Main Section Entry */
.main-section-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    color: var(--category-text);
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 0 0.5rem 0;
}

.main-section-entry:hover {
    filter: brightness(1.05);
}

/* Main Link */
.main-section-entry-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: auto;
    z-index: 1;
}

/* Main Section Entry Cover */
.main-section-entry-cover {
    display: inline-block; /* show entry cover on hover, replacing the rest of the post entry */
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 100%;
    object-fit: cover;
}

/* Main Section Entry colors */
.main-section-entry.lists {
    background: var(--lists-bg);
}

.main-section-entry.university-coursework-projects {
    background: var(--university-bg);
}

.main-section-entry.software-development-projects {
    background: var(--software-bg);
}

.main-section-entry.meta {
    background: var(--meta-bg);
}