/* Menu */
.menu-icon {
    font-size: 2rem;
    color: var(--primary);
    cursor: pointer;
    display: none;
}

#menu {
    list-style: none;
}

#menu li {
    display: inline-block;
}

#menu li a:hover {
    text-decoration: underline;
}

#menu li ul {
    display: none;
    position: absolute;
    z-index: 100;
}

#menu li:hover ul {
    display: block;
}

#menu li ul li {
    display: block;
    margin: 0;
    padding: 0;
}

#menu li.active a {
    filter: brightness(1.8);
}

#menu li a:hover {
    filter: brightness(1.8);
}

#menu ul.sub-menu {
    display: none;
    position: absolute;
    background-color: var(--toc-background-color);
    z-index: 100;
}

#menu ul.sub-menu li {
    padding: 0 1vw 0 1vw;
    border-top: 1px dotted var(--primary);
}

#menu ul.sub-menu li:hover {
    background-color: var(--entry);
    filter: brightness(1.1);
}

#menu ul.sub-menu li.active {
    background-color: var(--entry);
    text-decoration: underline;
}