.paginav {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    white-space: nowrap;
    filter: contrast(80%);
    a {
        padding-inline-start: 1vw;
        padding-inline-end: 1vw;
        padding-block-start: 0.5vw;
        padding-block-end: 0.5vw;
        background-color: var(--entry);
        overflow-inline: hidden;
        text-overflow: ellipsis;
    }
    .title {
        text-transform: uppercase;
        font-size: smaller;
        font-family: 'IBM Plex Mono', monospace;
    }
    .prev,
    .next {
        width: 50%;
    }
    a:hover {
        filter: contrast(100%) saturate(2) brightness(1.1);
    }
    span:not(.title) {
        color: var(--link);
    }
    span:hover:not(.title) {
        text-decoration: underline;
        color: var(--link);
    }
    .next {
        text-align: right;
        border-radius: 0 var(--radius) var(--radius) 0;
    }
    .prev {
        text-align: left;
        border-radius: var(--radius) 0 0 var(--radius);
        border-right: 1px solid var(--border);
    }
}

[dir="rtl"] .paginav .next {
    text-align: left;
    border-radius: var(--radius) 0 0 var(--radius);
}

[dir="rtl"] .paginav .prev {
    text-align: right;
    border-radius: 0 var(--radius) var(--radius) 0;
    border-left: 1px solid var(--border);
}