/* First Entry */
.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.first-entry .entry-header {
    overflow: hidden;
}

.first-entry .entry-header h1 {
    font-size: 34px;
}

.first-entry .entry-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    line-height: 8vh;
}

.first-entry .entry-footer {
    font-size: 14px;
}

/* Post Entry */
.post-entry {
    background: var(--entry);
    border-radius: var(--radius);
    padding-bottom: 8%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.post-entry:hover {
    filter: brightness(1.05);
}


/* Entry Header */
.entry-header h2 {
    font-size: 16px;
    padding-left: 5%;
}

/* Entry Content */
.entry-content {
    margin: 8px 0;
    font-size: 13px;
    overflow: hidden;
    color: var(--primary);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-left: 5%;
}

/* Entry Footer */
.entry-footer {
    color: var(--secondary);
    font-size: 12px;
    padding-left: 5%;
}

/* Entry Link */
.entry-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: auto;
    z-index: 1;
}

/* Entry Cover */
.entry-cover,
.entry-isdraft {
    display: inline-block;
}

.entry-cover {
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: calc(var(--gap) / 4);
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0;
}

/* General button styling */
#toggleViewBtn {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 0 0 var(--gap) auto;
    background-color: var(--theme);
    color: var(--primary);
    border: 1px solid var(--tertiary);
    border-radius: var(--radius);
    height: 1.5em;
    width: 1.5em;
    filter: opacity(0.8);
}

#toggleViewBtn:hover {
    background-color: var(--tertiary);
    filter: opacity(1);
}

/* Container for the posts */
.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    flex-direction: column;
    gap: var(--gap);
}

/* List View for posts-container not in grid mode */
.posts-container:not([style*="grid"]) {
    display: flex;
    flex-direction: column;
}

/* Adjust the post entry styles for list view */
.posts-container:not([style*="grid"]) .post-entry {
    padding-bottom: 3%; /* remove padding for list view */
    border-radius: var(--radius);
}

/* Adjust the entry cover styles for list view */
.posts-container:not([style*="grid"]) .entry-cover {
    display: inline-block; /* show entry cover on hover, replacing the rest of the post entry */
    position: absolute;
    top: 0;
    left: 0;
    width: 11vw;
    height: 100%;
    object-fit: cover;
    padding: 1%;
}

/* Adjust the entry content styles for list view */
.posts-container:not([style*="grid"]) .entry-content {
    -webkit-line-clamp: 1; /* increase number of lines if necessary */
    padding-left: 12vw; /* remove padding for list view */
}

/* Adjust the entry header styles for list view */
.posts-container:not([style*="grid"]) .entry-header h2 {
    padding-left: 12vw; /* remove padding for list view */
}

/* Adjust the entry footer styles for list view */
.posts-container:not([style*="grid"]) .entry-footer {
    margin-top: 1vw;
    padding-left: 12vw; /* remove padding for list view */
}

/* Adjust the tag styles for list view */
.posts-container:not([style*="grid"]) .tag {
    margin: 0 -11vw 0 12vw; /* reduced margin for tags to be closer together */
}

/* Hover effect for list view */
.posts-container:not([style*="grid"]) .post-entry:hover {
    filter: brightness(1.05); /* slightly brighter on hover */
    transform: none; /* remove scale on hover */
}