/* Pagination */
.paginav {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    white-space: nowrap;
    filter: contrast(80%);
}

.paginav a {
    padding-inline-start: 1vw;
    padding-inline-end: 1vw;
    padding-block-start: 0.5vw;
    padding-block-end: 0.5vw;
    background-color: var(--entry);
    overflow-inline: hidden;
    text-overflow: ellipsis;
}

.paginav .title {
    text-transform: uppercase;
    font-size: smaller;
    font-family: 'IBM Plex Mono', monospace;
}

.paginav .prev,
.paginav .next {
    width: 50%;
}

.paginav a:hover {
    filter: contrast(100%) saturate(2) brightness(1.1);
}

.paginav span:not(.title) {
    color: var(--link);
}

.paginav span:hover:not(.title) {
    text-decoration: underline;
    color: var(--link);
}

/* Page Nav */
.paginav .next {
    text-align: right;
    border-radius: 0 var(--radius) var(--radius) 0;
}

.paginav .prev {
    text-align: left;
    border-radius: var(--radius) 0 0 var(--radius);
    border-right: 1px solid var(--border);
}

/* RTL */
[dir="rtl"] .paginav .next {
    text-align: left;
    border-radius: var(--radius) 0 0 var(--radius);
}

[dir="rtl"] .paginav .prev {
    text-align: right;
    border-radius: 0 var(--radius) var(--radius) 0;
    border-left: 1px solid var(--border);
}
