.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

/* Profile */
.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

.profile img {
    display: inline-table;
    border-radius: 50%;
    pointer-events: none;
}

/* Buttons */
.buttons {
    display: grid;
    gap: var(--gap);
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    color: var(--theme);
    cursor: pointer;
    pointer-events: fill;
    padding: 1vh 2vw;
    font-size: 1.5em;
    font-weight: bold;
}

.button:hover {
    filter: brightness(1.05);
}

.button-inner {
    padding: 0 8px;
    color: rgb(0, 0, 0);
}

.button.university-coursework { 
    background-color: var(--university-bg);
}

.button.software-development { 
    background-color: var(--software-bg);
}

.button.first-lego-league-challenge-q-learning-event-scheduler { 
    background-color: var(--primary);
}
