.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

/* Profile */
.main .profile {
    align-items: center;
    text-align: center;
    margin-bottom: var(--content-gap);
}

.profile .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--content-gap);
}

.profile img {
    display: inline-table;
    border-radius: 50%;
}

/* Buttons */
.buttons {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 1.1);
    width: 80%;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    color: var(--theme);
    cursor: pointer;
    pointer-events: fill;
    padding: 1vh 1vw;
    font-size: 1.4em;
    font-weight: bold;
    border-radius: calc(var(--radius) * 15);
}

.button:hover {
    filter: brightness(1.05) hue-rotate(100deg);
}

.button-inner {
    color: rgb(0, 0, 0);
}

.button.university-coursework-projects { 
    background-color: var(--university-bg);
}

.button.software-development-projects { 
    background-color: var(--software-bg);
}

.button.first-lego-league-challenge-q-learning-event-scheduler { 
    background-color: var(--primary);
}

.profile_inner a {
    color: var(--link);
}

.profile .profile_inner .subtitle {
    font-size: 1.3em;
    text-wrap: balance;
    margin: 2vh 0 2vh 0; 
    font-style: italic;
}