a.random-page-button {
    display: inline-block;
    padding: 0 1rem;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    margin: auto;
}

& svg.die-icon {
    flex: 1;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    stroke: var(--color-on-surface);
    
    &:hover {
        stroke: var(--color-primary);
    }
}
  