.utilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.inline-searchbox input {
    display: flex;
    align-items: center;
    background: var(--entry);
    color: var(--primary);
    border-radius: 5px;
    padding: 5px 10px;
}

.inline-searchbox input::pre {
    content: '🔍';
}