/* Subsections */
.subsections {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.subsection {
    width: 50%;

    & h2 { 
        & a {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.5rem;
            text-decoration: none;
            margin: 1rem;
            padding: 1rem;
            background-color: var(--entry);
            border-radius: var(--radius);

            &:hover {
                color: var(--link);
                filter: brightness(1.1);
            }
        }
    }
}