.terms {
    flex-wrap: nowrap;
    justify-content: space-between;
    white-space: nowrap;
    width: fit-content;
    list-style: none;
}

.terms li {
    font-weight: bold;
    padding: var(--gap) 0 0 0;
}

.terms a {
    display: block;
    padding: 3px 10px;
    background: var(--primary);
    color: var(--theme);
    border-radius: var(--radius);
    transition: transform 0.1s;
    color: rgb(0, 0, 0);
}

/* Terms colors for unique terms*/
.terms .lists {
    background-color: var(--lists-bg);
}

.terms .software-development-projects {
    background-color: var(--software-bg);
}

.terms .university-coursework-projects {
    background-color: var(--university-bg);
}

.terms .meta {
    background-color: var(--meta-bg);
}