.categories li {
    display: inline-block;
    margin: 10px;
    font-weight: 500;
}

.categories a {
    display: block;
    padding: 3px 10px;
    background: var(--primary);
    color: var(--theme);
    border-radius: 6px;
    transition: transform 0.1s;
}

.categories a:active {
    background: var(--theme);
    transform: scale(0.96);
}
