.categories li {
    display: inline-block;
    margin: 10px;
    font-weight: 500;
}

.categories a {
    display: block;
    padding: 3px 10px;
    background: var(--primary);
    color: var(--theme);
    border-radius: var(--radius);
    transition: transform 0.1s;
    color: rgb(0, 0, 0);
}

/* Categories colors for unique categories*/
.categories .lists {
    background-color: var(--lists-bg);
}

.categories .software-development-projects {
    background-color: var(--software-bg);
}

.categories .university-coursework-projects {
    background-color: var(--university-bg);
}

.categories .meta {
    background-color: var(--meta-bg);
}