/* Table of Contents */
.toc {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    color: var(--toc-text-color);
    border-radius: var(--radius);
    width: 100%;
    background-color: var(--toc-background-color);
    padding: 1vh 1vw 1vh 1vw;
    cursor: pointer;
    pointer-events: fill;
}

.toc .inner summary:hover {
    filter: brightness(1.1);
    background-color: var(--toc-background-color);
}

.toc .inner ul li:hover {
    filter: brightness(1.1);
    background-color: var(--toc-background-color);

}

.toc .inner a:hover {
    filter: brightness(1.1);
    text-decoration: underline;
    color: var(--link);
}

/* The title of the table of contents */
.toc summary {
    font-weight: bold;
    font-size-adjust: 0.8;
}

/* The list of links */
.toc ul, .toc ol {
    list-style: none;
    padding-left: 1.5em;
    border-left: 1px solid var(--toc-text-color);
    margin-left: var(--gap);
}

/* The list items */
.toc li {
    position: relative;
    margin: 1vh 0 0 0;
}

/* The list item icon */
.toc li::before {
    content: '';
    position: absolute;
    left: -1.5em;
    width: 1em;
    height: 0.1em;
    top: 0.8em;
    background-color: var(--toc-text-color);
}

/* The last list item icon */
.toc li:last-child::after {
    content: '';
    position: absolute;
    left: -1.5em;
    width: 0.1em;
    top: 0.8em;
    bottom: 0;
    background-color: var(--toc-background-color);
}

@media (max-width: 768px) {
    .toc {
        margin-bottom: 1rem;
    }
}
