.toc {
    width: 85%;
    display: inline-flex;
    flex-direction: column;
    border-radius: var(--radius);
    background-color: var(--toc-background-color);
    color: var(--toc-text-color);
    padding: 1rem;
    cursor: pointer;
    pointer-events: fill;

    summary {
        font-weight: bold;
        outline: none;

        &:hover {
            filter: brightness(1.1);
            background-color: var(--theme);
        }

        &:before {
            color: var(--link);
            transition: all 0.1s ease-in-out;
            vertical-align: text-top;
            margin-right: 0.5em;
            font-size: 1.2em;
        }

        &:hover:before {
            filter: brightness(1.5);
        }
    }

    .inner {
        summary {
            font-weight: bold;
            font-size-adjust: 0.6;
        }
    }

    ul, ol {
        list-style: none;
        padding-left: 1.5em;
        border-left: 1px solid var(--toc-text-color);
        margin-left: 1vw;
    }

    li {
        position: relative;
        margin: 0.4rem 0 0 0;
        font-size-adjust: 0.5;

        &::before {
            content: '';
            position: absolute;
            left: -1.5em;
            width: 1em;
            height: 0.1em;
            top: 0.8em;
            background-color: var(--toc-text-color);
        }

        &:last-child::after {
            content: '';
            position: absolute;
            left: -1.5em;
            width: 0.1em;
            top: 0.8em;
            bottom: 0;
            background-color: var(--toc-background-color);
        }

        &:first-child::after {
            content: '';
            position: absolute;
            left: -1.5em;
            width: 0.1em;
            top: 0.8em;
            bottom: 0;
            background-color: var(--toc-background-color);
        }
    }

    .collapse-expand {
        display: inline-flex;
        margin: 0.8rem 0 0 0;
        background-color: var(--toc-background-color);
        cursor: pointer;
        pointer-events: fill;
        position: relative;
        font-size: 1rem;
        font-weight: bold;
        justify-content: left;
    }

    .collapse, .expand {
        border: 1px solid var(--toc-text-color);
        border-radius: var(--radius);
        padding: 0.2rem 0.5rem;
        margin: 0 0.5rem 0 0;

        &:hover {
            filter: brightness(1.1);
            background-color: var(--theme);
            color: var(--link);
        }
    }

    .collapse::after {
        content: " ▲";
        font-size: 1rem;
    }

    .expand::before {
        content: "▼ ";
        font-size: 1rem;
    }
}