.tabs {
  align-self: center;

  --container-width: calc(100% - var(--size-5));
  --container-height: 48px;
  --container-shape: var(--shape-corner-xl);
  --container-padding: 0;
  
  --container-display: flex;
  --contianer-flex-flow: row nowrap;
  --container-align-items: stretch;
  --container-justify-content: stretch;
  --container-gap: var(--size-2);
  
  --active-indicator-height: 3px;
  --active-indicator-shape: 3px 3px 0 0;
  --active-indicator-color: var(--color-primary);

  --bg-color: var(--color-surface-container-low);

  & .tab {
    flex: 1 1 0;
    min-width: fit-content;

    --container-width: auto;
    --container-height: 48px;
    --container-shape: none;
    --container-padding: 0 var(--size-2);
    
    --container-display: flex;
    --container-flex-flow: row nowrap;
    --container-justify-content: center;
    --container-align-items: center;
    --container-gap: var(--size-2);

    --icon-color: var(--color-on-surface-variant);
    --text-color: var(--color-on-surface-variant);
    --bg-color: var(--color-surface-container-high);

    &.active {
      background-color: var(--color-surface-container-lowest);
      color: var(--color-primary)
    }
  }
}

/* Custom */
.tabs,
.tab {
  border-radius: var(--shape-corner-xl-top);
}

.tabs {
  flex: 1 1 0;
}