:root {
  /* Fonts */
  --typeface-brand:               var(--typeface-brand), 'Raleway', system-ui, sans-serif;
  --typeface-plain:               var(--typeface-plain), 'Rubik', system-ui, sans-serif;
  --typeface-mono:                var(--typeface-mono), 'SomeType Mono', system-ui, monospace;

  /* Icons */
  --typeface-icon-outlined:       'Material Symbols Outlined';
  --typeface-icon-rounded:        'Material Symbols Rounded';
  --typeface-icon-sharp:          'Material Symbols Sharp';

  /* Weights */
  --typeface-weight-regular:      400;
  --typeface-weight-medium:       500;
  --typeface-weight-bold:         700;
}
