:root {
  /* Fonts */
  --typeface-brand:               'Raleway', system-ui, sans-serif;
  --typeface-plain:               'Rubik', system-ui, sans-serif;
  --typeface-mono:                'SomeType Mono', system-ui, monospace;

  /* Icons */
  --typeface-icon-outlined:       'Material Symbols Outlined';
  --typeface-icon-rounded:        'Material Symbols Rounded';
  --typeface-icon-sharp:          'Material Symbols Sharp';

  /* Weights */
  --typeface-weight-thin:         100;
  --typeface-weight-extra-light:  200;
  --typeface-weight-light:        300;
  --typeface-weight-regular:      400; /* Default */
  --typeface-weight-medium:       500; /* Default */
  --typeface-weight-semi-bold:    600;
  --typeface-weight-bold:         700; /* Default */
  --typeface-weight-extra-bold:   800;
  --typeface-weight-black:        900;
}
